-extends "smartmin/list.html"
-load i18n contacts smartmin humanize

-block page-title
  {{ title }}

-block title
  {{ title }}

-block subtitle
  %a(href="{{ source_url }}")
    {{ source.name }}

-block table
  %table.list.lined
    %tbody
    -for obj in object_list
      %tr(class="{% if obj.is_error %}warning{% endif %}")
        %td.w-full.clickable
          %a(href='{% url "request_logs.httplog_read" obj.id %}')
            {{ obj.get_log_type_display }}

        %td(style='text-align: right' nowrap='true')
          {{ obj.request_time|default:"0"|intcomma }}ms

        %td(style='text-align: right' nowrap='true')
          {{ obj.created_on }}
