{% extends "smartmin/read.html" %}
{% load i18n compress humanize %}

{% block title-text %}
  {% if object.flow %}
    {% trans "Flow Event" %}
  {% elif object.classifier %}
    {% trans "Classifier Event" %}
  {% elif object.channel %}
    {% trans "Channel Event" %}
  {% endif %}
{% endblock title-text %}
{% block content %}
  <div class="card flex mt-0 flex-shrink-0 flex-wrap">
    <div class="inline-flex font-normal mr-8">{{ object.get_log_type_display }}</div>
    <div class="inline-flex mr-8">
      {% if object.flow %}
        <div class="font-normal mr-2">{% trans "Flow" %}</div>
        <div>
          <a href="{% url "flows.flow_editor" object.flow.uuid %}" class="linked">{{ object.flow.name }}</a>
        </div>
      {% endif %}
    </div>
    <div class="inline-flex mr-8">
      <div class="font-normal mr-2">{% trans "Date" %}</div>
      {{ object.created_on|datetime }}
    </div>
  </div>
  {% include "includes/http_log.html" with log=object.get_display %}
{% endblock content %}
{% block extra-script %}
  {{ block.super }}
  <script type="text/javascript">
    onSpload(function() {
      prettyPrint();
    });
  </script>
{% endblock extra-script %}
{% block extra-style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}rest_framework/css/prettify.css" />
  <style type="text/css">
    .page-content {
      max-width: 100%;
    }

    pre.prettyprint {
      margin: 0;
      border: 0;
      max-height: none !important;
      padding: 1.5rem;
    }

    pre.prettyprint.request {
      background: #ffffff;
    }
  </style>
{% endblock extra-style %}
