{% extends "smartmin/read.html" %}
-load i18n compress humanize

-block page-title
  HTTP Log - {{ object.get_log_type_display }}

-block title
  -if object.classifier
    -trans "Classifier Event"
  -if object.channel
    -trans "Channel Event"
-block subtitle
  {{object.get_log_type_display}}


-block content

  .card.flex.mt-0
    .inline-flex.mr-8
      .font-normal.mr-2
        -if object.classifier
          Classifier
      -if object.classifier
        %a{href:'{% url "classifiers.classifier_read" object.classifier.uuid %}'}
          {{object.classifier.name}}
      -if object.channel
        %a{href:'{% url "channels.channel_read" object.channel.uuid %}'}
          {{object.channel.name}}

    .inline-flex.mr-8
      .font-normal.mr-2
        -trans "Date"
      {{object.created_on|date:"M j, Y g:i:s a"}}

  %table.list
    %tbody
      %tr.border-b
        -if object.status_code
          %td(style="width: 30px;")
            .font-normal.text-2xl
              {{ object.status_code }}

        %td
          .font-normal.inline.mr-1
            %span.method= object.method
          {{ object.url }}

        %td
          .text-right.whitespace-no-wrap
            {{log.created_on|date:"M j, Y g:i:s a"}}

        %td
          .text-right.whitespace-no-wrap.mr-3
            -trans "Took"
            {{ object.request_time|default:"0"|intcomma }}ms

      %tr
        %td(colspan="99" style="padding:0;")
          %pre.prettyprint.request<
            :plain
              {{ object.request.strip }}

      -if object.response
        %tr
          %td(colspan="4" style="padding:0;")
            %pre.prettyprint.response<
              :plain
                {{ object.response }}
      -elif object.is_error
        %tr
          %td(colspan="4" style="padding:0;")
            %pre.prettyprint.response<
              -trans "Connection Error"

-block extra-script
  {{ block.super }}
  <script src="{{ STATIC_URL }}rest_framework/js/prettify-min.js"></script>
  :javascript
    $(function(){
      prettyPrint();
    });

-block extra-style
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}rest_framework/css/prettify.css"/>

  :css
    .page-content {
      max-width: 100%;
    }


-block extra-less
  {{block.super}}
  -compress css inline
    {% lessblock %}
      :plain
        table.list {
          tbody {
            tr:first-child {
              td {
                padding: 1.5rem;
              }
            }
          }
        }

        pre.prettyprint {
          margin: 0;
          border: 0;
          max-height: none !important;
          padding: 1.5rem;

          &.request {
            background: #f7f7f9 + 111;
          }
        }
    {% endlessblock %}
