{% extends "smartmin/read.html" %}
-load i18n compress humanize

-block page-title
  HTTP Log - {{ object.get_log_type_display }}

-block title
  .medium-help.icon-cloud-upload{ style:'float:left;' }
  %h2.header-margin
    -trans "Classifier Event"
  %h5.header-margin
    {{object.get_log_type_display}}

-block above-bar
  -if object.classifier
    %a.btn.btn-secondary{ href: '{% url "request_logs.httplog_list" "classifier" object.classifier.uuid %}' } Classifier Log

-block content

  .log-details
    .detail.classifier
      .header
        Classifier
        %a{href:'{% url "classifiers.classifier_read" object.classifier.uuid %}'}
          {{object.classifier.name}}
    %div(style="float:right")
      .detail.started
        .header
          Date
        {{object.created_on|date:"M j, Y g:i:s a"}}

  .log<
    .summary
      .time.pull-right
        {{log.created_on|date:"M j, Y g:i:s a"}}

      .request-time.pull-right
        Request time:
        %span.request-time-value
          {{ object.request_time|default:"0"|intcomma }}ms

      -if object.status_code
        %span.status-code
          {{ object.status_code }}
      %span.url
        %span.method= object.method
        {{ object.url }}

    .details
      %pre.prettyprint.request<
        :plain
          {{ object.request }}

      -if object.response
        %pre.prettyprint.response<
          :plain
            {{ object.response }}
      -elif object.is_error
        %pre.prettyprint.response<
          -trans "Connection Error"

-block extra-script
  {{ block.super }}
  <script src="{{ STATIC_URL }}rest_framework/js/prettify-min.js"></script>
  :javascript
    $(function(){
      prettyPrint();
    });

  :javascript
    $('document').ready(function(){
      $('.summary :first').click();
    });

-block extra-style
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}rest_framework/css/prettify.css"/>

-block extra-less
  {{block.super}}
  -compress css inline
    {% lessblock %}
      :plain
        .result {
          clear: both;
          margin-bottom: 10px;
        }

        .result-status {
          float: left;
          margin-top: 10px;
          font-size: 32px;
          color: #666;
        }

        .result .result-summary {
          margin-left: 70px;
        }

        .log {
          padding: 0px;
          border: 1px solid #f7f7f9 - #111;
          margin-bottom:10px;

          pre, .prettyprint {
            border: 0;
            margin-bottom: 0px;
          }

          .request-time {
            margin-right: 50px;

            .request-time-value {
              font-weight: bold
            }
          }

          .status-code {
            margin-right: 5px;
          }

          .summary {
            border: 1px solid #f7f7f9 - #111;
            padding: 10px;
            color: @flat-grey;
            cursor: pointer;
            word-break: break-all;
            word-wrap: break-word;

            .method {
              font-weight: bold;
            }
          }
          .prettyprint {
            padding: 10px;
            border-radius: 0;

            &.request {
              background: #f7f7f9 + 111;
              border-bottom: 1px solid @flat-white;
            }
          }
        }

        .log-details {
          padding: 10px;
          margin-bottom:10px;
          border: 1px solid #f7f7f9 - #111;
          font-size: 80%;

          .header {
            display: inline-block;
            font-weight: 400;
            margin-right: 2px;
          }

          .detail {
            display: inline-block;
            margin-right: 16px;
          }
        }
    {% endlessblock %}
