-extends "smartmin/list.html"
-load i18n temba smartmin humanize

-block page-title
  {{ title }}

-block title
  {{ title }}

-block subtitle
  %a(href="{{ source_url }}")
    {{ source.name }}

-block table
  %table.list.lined
    %tbody
    -for obj in object_list
      %tr(class="{% if obj.is_error %}warning{% endif %}")
        %td.w-full.clickable
          %a(href='{% url "request_logs.httplog_read" obj.id %}')
            {{ obj.get_log_type_display }}
        %td.clickable
          %a(href='{% url "request_logs.httplog_read" obj.id %}')
            {{ obj.status_code|default:"--" }}
        %td.whitespace-nowrap
          -if obj.request_time
            {{ obj.request_time|intcomma }}ms
          -else
            {{ "--" }}
        %td.text-right.whitespace-nowrap
          {% format_datetime obj.created_on seconds=True %}
