-extends "smartmin/list.html"
-load i18n contacts smartmin humanize

-block page-title
  {{ title }}

-block title
  .medium-help.icon-cloud-upload(style="float:left")
  %h2.header-margin
    {{ title }}

  %h5.header-margin
    -trans "From"
    %a(href="{{ source_url }}")
      {{ source.name }}


-block table
  %table.list-table.table.table-condensed
    %thead
      %tr
        %th
        %th(style='width:160px;text-align:right;')
        %th(style='width:160px;text-align:right;')

      -for obj in object_list
        %tr(class="{% if obj.is_error %}warning{% endif %}")
          %td.clickable
            %a(href='{% url "request_logs.httplog_read" obj.id %}')
              {{ obj.get_log_type_display }}

          %td{ style:'text-align: right', nowrap:'true' }
            -trans "Request time:"
            %span
              {{ obj.request_time|default:"0"|intcomma }}ms

          %td(style='text-align: right' nowrap='true')
            {{ obj.created_on }}
