{% extends "smartmin/list.html" %}
{% load i18n temba smartmin humanize %}

{% block subtitle %}
{% endblock subtitle %}
{% block extra-style %}
  {{ block.super }}
  <style type="text/css">
    td {
      padding-bottom: 0.25em;
      padding-right: 1em;
      padding-left: 1em;
    }
  </style>
{% endblock extra-style %}
{% block table %}
  <table class="rounded-b-lg shadow bg-white w-full">
    <tbody>
      {% for obj in object_list %}
        <tr class="{% if obj.is_error %}warning{% endif %}">
          <td class="w-full clickable">
            <a href="{% url "request_logs.httplog_read" obj.id %}" class="linked">{{ obj.get_log_type_display }}</a>
          </td>
          <td class="clickable">
            <a href="{% url "request_logs.httplog_read" obj.id %}" class="linked whitespace-nowrap">{{ obj.status_code|default:"--" }}</a>
          </td>
          <td class="whitespace-nowrap">
            {% if obj.request_time %}
              {{ obj.request_time|intcomma }}ms
            {% else %}
              {{ "--" }}
            {% endif %}
          </td>
          <td class="text-right whitespace-nowrap">{{ obj.created_on|datetime }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="99" class="text-center">{% trans "No sync events yet" %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock table %}
