-extends "smartmin/list.html"
-load i18n temba smartmin humanize

-block subtitle

-block extra-style
  {{block.super}}
  :css
    td { 
      padding-bottom: 0.25em;
      padding-right: 1em;
      padding-left: 1em;
    }

-block table
  %table.rounded-b-lg.shadow.bg-white
    %tbody
      %tr
        %td.p-1
      -for obj in object_list
        %tr(class="{% if obj.is_error %}warning{% endif %}")
          %td.w-full.clickable
            .linked(onclick="goto(event, this)" href='{% url "request_logs.httplog_read" obj.id %}')
              {{ obj.get_log_type_display }}
          %td.clickable
            .linked.whitespace-nowrap(onclick="goto(event, this)" href='{% url "request_logs.httplog_read" obj.id %}')
              {{ obj.status_code|default:"--" }}
          %td.whitespace-nowrap
            -if obj.request_time
              {{ obj.request_time|intcomma }}ms
            -else
              {{ "--" }}
          %td.text-right.whitespace-nowrap
            {% format_datetime obj.created_on seconds=True %}
      %tr
        %td.p-1
    