-extends "channels/channel_claim_form.html"
-load i18n


-block pre-form
  -blocktrans trimmed
    You can connect your <a href="http://verboice.instedd.org/">Verboice</a> number by entering your credentials here.
