#splash {
  margin-top: -30px;
  background: url('/sitestatic/brands/rapidpro/splash.jpg') 0px 0px !important;
  background-size: cover !important;
  width: 100%;
  height: 0px;
  padding-bottom: 40%;

  h1.description {
    color: #f3f3f3;
    position:absolute;
    font-weight: 100;
    width: 350px;
    font-size: 38px;
    line-height: 110%;
    padding-left:50px;
    padding-top:50px;
    text-shadow: 1px 1px 8px #111;
  }
}

h5.contact-signup {
  position: absolute;
  width:100%;
  color: #f3f3f3;
  text-shadow: 1px 1px #000;
  text-align:right;
  margin-top:-40px;
  a {
    color: #eee;
  }
}

a.logo {
  margin-left: -45px;
  margin-top: 15px;
  font-size: 65px;
}

/* component styling */
html {
  --primary-rgb: 12, 101, 150;
  --secondary-rgb: 0, 77, 129;
}

@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');

// Weni Announcement

.weni-announcement {

  background-color: var(--color-warning);
  display: flex;
  flex-direction: row;
  min-height: 3rem;
  align-items: center;

  &__content {
    flex: 1;
    text-align: center;
    margin-right: 0.5rem;
    padding: 1rem;
    font-family: 'Aleo', 'Roboto';
    margin-top: -3px;

    &--highlight {
      font-weight: bold;
    }
  }

  &__collapse {
    margin-left: auto;
    margin-right: 1rem;
    font-size:24px;
    font-weight: 400;
    

    &:focus {
      outline: none;
    }
  }

  @media all and (max-width: 1291px) {
  }

}

.org-header {
  &.collapsed {
    top: -7px !important;
  }

  top: 3.7rem !important;
}

.logo {
  top: auto !important;
}

#menu {

  top: calc(40px + 3.7rem) !important;

  @media all and (max-width: 767px) {
    top: calc(50px + 3.7rem) !important;
  }

  &.collapsed {
    top: calc(40px) !important;

    @media all and (max-width: 767px) {
      top: calc(50px) !important;
    }
  }

}

.unnnic-icon-large {
  display: inline-block;
  background-color: #67738B;
  width: 32px;
  height: 32px;
}

.unnnic-icon-delete-1-1 {
  mask: url('/sitestatic/brands/rapidpro/icons/delete-1-1.svg');
  mask-size: cover;

  -webkit-mask: url('/sitestatic/brands/rapidpro/icons/delete-1-1.svg');
  -webkit-mask-size: cover;
}