#splash {
  margin-top: -30px;
  background: url('/sitestatic/brands/rapidpro/splash.jpg') 0px 0px !important;
  background-size: cover !important;
  width: 100%;
  height: 0px;
  padding-bottom: 40%;

  h1.description {
    color: #f3f3f3;
    position:absolute;
    font-weight: 100;
    width: 350px;
    font-size: 38px;
    line-height: 110%;
    padding-left:50px;
    padding-top:50px;
    text-shadow: 1px 1px 8px #111;
  }
}

h5.contact-signup {
  position: absolute;
  width:100%;
  color: #f3f3f3;
  text-shadow: 1px 1px #000;
  text-align:right;
  margin-top:-40px;
  a {
    color: #eee;
  }
}

a.logo {
  margin-left: -45px;
  margin-top: 15px;
  font-size: 65px;
}

/* component styling */
html {
  --primary-rgb: 12, 101, 150;
  --secondary-rgb: 0, 77, 129;
}

@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');

// Weni Announcement

.weni-announcement {

  background-color: #CDF2F2;

  .weni-announcement-container {
    justify-content: center;
  }

  .weni-announcement-collapse {
    line-height: 50%;
    margin-left: auto;
    margin-right: 20px;
    transform: rotate(180deg);

    &:focus {
      outline: 0;
    }
  }

  .weni-left {
    padding: 1rem 0.5rem;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Aleo', Roboto;
    letter-spacing: 0.03em;
    box-sizing: content-box;
    white-space: nowrap;
    margin-left: auto;
  }

  .weni-right {
    padding: 1rem 1rem;
    font-weight: 400;
    white-space: nowrap;
  }

  .weni-divider {
    width: 1px;
    margin: 1rem 0 1rem 1rem;
    background-color: black;
  }

  .weni-button {
    background-color: #128982;
    align-self: center;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    color: whitesmoke;
    letter-spacing: 0.02em;
    font-weight: 700;
    font-family: 'Aleo', Roboto;
    font-size: 16px;
    min-width: 8rem;

    &:focus {
      outline: 0;
    }
  }

  @media all and (max-width: 1000px) {

    .weni-announcement-container {
      justify-content: unset;
      margin: 0 25vw;
    }

    .weni-announcement-collapse {
      margin-left: unset;
      right: 20px;
    }

    .weni-left {
      margin: 0;
    }

    .weni-right {
      display: none;
    }

    .weni-button {
      margin: 0rem 1rem;
    }
  }

}

.org-header {
  &.collapsed {
    top: -7px !important;
  }

  top: 3.7rem !important;
}

.logo {
  top: auto !important;
}

#menu {

  top: calc(40px + 3.7rem) !important;

  @media all and (max-width: 767px) {
    top: calc(50px + 3.7rem) !important;
  }

  &.collapsed {
    top: calc(40px) !important;

    @media all and (max-width: 767px) {
      top: calc(50px) !important;
    }
  }

}