{% extends "smartmin/list.html" %}
{% load smartmin i18n %}

{% block content %}
  <div id="pjax">
    {% block pjax %}
      <table class="list lined mb-6">
        <thead>
          <tr>
            <th colspan="2">{% trans "Ongoing" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in ongoing %}
            <tr>
              <td>{% include obj.template with incident=obj %}</td>
              <td class="text-right whitespace-nowrap">{% format_datetime obj.started_on %}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="2">{% trans "None" %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <table class="list lined">
        <thead>
          <tr>
            <th colspan="2">{% trans "Previous" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in object_list %}
            <tr>
              <td>{% include obj.template with incident=obj %}</td>
              <td class="text-right whitespace-nowrap">{% format_datetime obj.started_on %}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="2">{% trans "None" %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "includes/pagination.html" %}
    {% endblock pjax %}
  </div>
{% endblock content %}
