-extends "smartmin/read.html"
{% load smartmin i18n%}

-block title-text
  %h1= org.name

-block content
 #pjax
   -block pjax
    - if with_changes
      %h3
       Change List
      %div
         %h4
           Added Actions
         %table.list-table.object-list.table.alert-success
          %thead
            %th{"style":"background:white"}
              Relative to
            %th{"style":"background:white"}
              Offset
            %th{"style":"background:white"}
              Action
          %tbody
            - for r,o,a in added_actions
              %tr
                %td
                  {{r}}
                %td
                  {{o}}
                %td
                  {{a}}
            -empty
              %tr
                %td
                  -trans "No Actions"

       %div
        %h4
          Deleted Actions
        %table.list-table.object-list.table.alert-danger
          %thead
            %th{"style":"background:white"}
              Relative to
            %th{"style":"background:white"}
              Offset
            %th{"style":"background:white"}
              Action
          %tbody
            - for r,o,a in deleted_actions
              %tr
                %td
                  {{r}}
                %td
                  {{o}}
                %td
                  {{a}}
            -empty
              %tr
                %td
                  -trans "No Actions"

    - else
      %h4
       Campaign without changes compared with the production campaign

{%block form-buttons%} {%endblock%}
-block extra-style
  {{block.super}}
  :css
    .form-horizontal .controls {
      margin-left: 180px;
    }

    .form-horizontal .smartmin-form-buttons {
      padding-left: 180px;
      margin-bottom: 20px;
    }

    .form-horizontal .control-label {
      width: 160px;
    }
