{% extends "base.html" %}

{% load smartmin %}

{% block temba-login %}{% endblock %}

{% block content %}
<div class="row">
  <div class="span7 offset2">
    <div class="page-header"><h2>Sign in</h2></div>

    <form method="post" class="form-stacked" id="login-form">
      {% for field, errors in form.errors.items %}
      {% if field == '__all__' %}
      <div class="alert alert-error form-errors">
        <h3>Error</h3>
        {{ errors }}
      </div>
      {% endif %}
      {% endfor %}

      <fieldset>

        <div class="clearfix ">
          <label for="username">Email Address</label>
          <div class="input"><input id="id_username" type="text" name="username" maxlength="254"></div>
          {% if field.error %}
          <span class="help-inline">{{ field.error }}</span>
          {% endif %}
        </div>

        <div class="clearfix ">
          <label for="password">Password</label>
          <div class="input"><input type="password" name="password" id="id_password"></div>
        </div>
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Login">
        <span style="margin-left:170px;"><a href="/users/user/forget/">Forgot Password?</a></span>
      </fieldset>
    </form>
  </div>

</div>
{% endblock %}

{% block extra-style %}
<style>
hr.top-bar {
  display: none;
}

li {
  list-style: none;
  margin-left: 0px;
}
</style>
{% endblock %}
