{% extends "base.html" %}

{% load smartmin %}

{% block temba-login %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-7 col-md-offset-2">
    <div class="page-header"><h2>Sign in</h2></div>

    <form method="post" class="form-stacked" id="login-form" role="form">
      {% for field, errors in form.errors.items %}
      {% if field == '__all__' %}
      <div class="alert alert-error form-errors">
        <h3>Error</h3>
        {{ errors }}
      </div>
      {% endif %}
      {% endfor %}

      {% csrf_token %}
        <div class="form-group">
          <label for="username">Email Address</label>
          <input id="id_username" class="form-control" type="text" name="username" maxlength="254">
          {% if field.error %}
          <span class="help-inline">{{ field.error }}</span>
          {% endif %}
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password" id="id_password">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
        <span style="margin-left:170px;"><a href="/users/user/forget/">Forgot Password?</a></span>
      </fieldset>
    </form>
  </div>

</div>
{% endblock %}

{% block extra-style %}
<style>
hr.top-bar {
  display: none;
}
li {
  list-style: none;
  margin-left: 0px;
}
.form-group > input {
    height: 35px;
}
.form-group {
    margin: 0px;
    max-width: 350px;;
}
</style>
{% endblock %}