-extends "smartmin/update.html"

-load smartmin i18n temba

- block pre-form
  .pull-right
    %a.btn.btn-alert.delete
      -with user.get_owned_orgs as orgs
        -if orgs
          -trans "Delete "
          -for org in orgs
            %span.org
              {{org.name}}{{forloop|oxford}}
        -else
          -trans "Delete"

- block post-form

  - with user.get_owned_orgs as orgs
    .deletion.hide
      .title
        -if orgs
          -trans "Delete Workspace"
        -else
          -trans "Delete Login"

      .body
        - with user.get_owned_orgs as orgs
          -if orgs
            .delete-warning
              .attn
                -trans "Whoa, whoa, whoa!"
              .orgs
                -trans "By deleting this login,"
                -for org in orgs
                  %span.org
                    {{org.name}}{{forloop|oxford}}
                -blocktrans
                  will also be deleted. All workspace data will be deleted and there is no
                  going back. This includes all flows, contacts, messages, etc.
          - else
            -blocktrans with user.username as name
              Are you sure you want to delete the login {{name}}?

    %a#delete-form.posterize{href:'{% url "orgs.user_delete" user.id %}?delete=true'}

- block extra-script
  :javascript

    $(document).ready(()=>{
      $('.delete').live('click', () => {
        modal = new ConfirmationModal($('.deletion > .title').html(), $('.deletion > .body').html());
        modal.addClass('alert');
        modal.setListeners({onPrimary: function(){
          $('#delete-form').click();
        }}, false);
        modal.setPrimaryButton('{{ _("Delete")|escapejs }}');
        modal.show();

      });
    });

- block extra-style
  {{block.super}}
  :css

    .attn {
      font-weight: 500;
    }

    .delete-warning {
      margin-top: 10px;
    }

    .form-horizontal .controls {
      margin-left: 160px;
    }

    .controls #id_groups {
      margin-left: 0px;
    }

