-load i18n

%h4
  -blocktrans
    To finish configuring your Start connection you'll need to notify Start of the following receiving URL.

%hr

%h4
  -trans "Inbound URL"

%p
  -blocktrans
    This endpoint should be called by Start when new messages are received to your number.

%code
  https://{{ channel.callback_domain }}{% url 'courier.st' channel.uuid 'receive' %}

