  -load i18n

%h4
  -blocktrans
    To finish configuring your Chikka connection you need to set the following URLs in your Chikka account API settings.

%hr

%h4
  -trans "Notification Receiver URL"

%code
  https://{{ channel.callback_domain }}{% url 'courier.ck' channel.uuid %}

%hr

%h4
  -trans "Message Receiver URL"

%code
  https://{{ channel.callback_domain }}{% url 'courier.ck' channel.uuid %}
