<div class="control-group field_{{ name }}">
  <div class="controls">
    <div class="field">
      <label class="control-label" for="{{ name }}">
        {{ label }}
      </label>
      <div class="input-container" style="height: auto;">
        <input class="textinput jscolor" name="{{ name }}" id="id_{{ name }}" type="text" placeholder="" value="{{ value }}">
      </div>
    </div>
  </div>
</div>