-load i18n
<temba-contact-search 
  name="{{widget.name}}"
  placeholder="{% trans 'Enter a query'%}"
  error="{{widget.error}}"
  matches-text="{% trans 'Found ${count} for ${query}'%}"
  {% include "django/forms/widgets/attrs.html" %}
>

</temba-contact-search>
