-load i18n
<rp-contact-search 
  name="{{widget.name}}"
  endpoint="/contact/search/?samples=3&search=" 
  placeholder="{% trans 'Enter a query'%}"
  query="{% if widget.value %}{{widget.value}}{%endif%}"
  error="{{widget.error}}"
  matches-text="{% trans 'Found ${count} for ${query}'%}"
  {% include "django/forms/widgets/attrs.html" %}
>
</rp-contact-search>
