<temba-omnibox
  {% include "django/forms/widgets/attrs.html" %}  
  name="{{widget.name}}"
  {% if widget.value %}value="{{widget.value}}"{%endif%}
  endpoint="/contact/omnibox/?v=2"
></temba-omnibox>