<rp-omnibox
  {% include "django/forms/widgets/attrs.html" %}  
  name="{{widget.name}}"
  value="{% if widget.value %}{{widget.value}}{%endif%}"
  endpoint="/contact/omnibox/?types=cgu&v=2&search="
></rp-omnibox>