{% extends "smartmin/form.html" %}
{% load compress temba smartmin i18n %}

{% block summary %}
  {% if integration_connected %}
    <div class="flex items-center">
      <div class="flex-grow mr-4">{% trans "Connected to your DT One account." %}</div>
    </div>
  {% else %}
    {% trans "Connect your DT One account." %}
  {% endif %}
{% endblock summary %}
{% block pre-form %}
  <div class="mb-4">
    {% if not integration_connected %}
      {% blocktrans trimmed with link='<a target="_new" href="https://www.dtone.com/">DT One</a>' %}
      Adding a DT One account will allow you to send airtime credit over 400+ operators in over 100 countries.
      Once connected you can transfer airtime credit within your flows. To signup for an account, visit {{ link }}.
    {% endblocktrans %}
  {% endif %}
</div>
{% endblock pre-form %}
{% block fields %}
  {% if not integration_connected %}
    {% render_field 'api_key' %}
    {% render_field 'api_secret' %}
    <div class="my-4">
      {% blocktrans trimmed with link='<a target="_new" href="https://dtshop.dtone.com/account">account settings</a>' %}
      You can find your credentials on the Developer tab on your {{ link }} page.
    {% endblocktrans %}
  </div>
{% endif %}
{% endblock fields %}
{% block form-buttons %}
  <div class="form-actions">
    {% if not integration_connected %}
      <input type="submit" class="button-primary" value="{% trans "Connect" %}">
    {% endif %}
  </div>
{% endblock form-buttons %}
{% block post-form %}
  {% if integration_connected %}
    <div class="mt-4">
      {% trans "Your account is connected to a DT One account." %}
      <div class="buttons inline float-right">
        <a href="{% url "airtime.airtimetransfer_list" %}" class="button-light">{% trans "Transfer Log" %}</a>
      </div>
    </div>
    <div class="my-4">
      {% blocktrans trimmed with disconnect_url='javascript:confirmDTOneDisconnect();' %}
        If you no longer want it connected, you can
        <button type="button" class="linked focus:outline-none" onclick="{{ disconnect_url }}">disconnect</button>
        it.
        Doing so will cause the payment actions in your flows to no longer be processed.
      {% endblocktrans %}
    </div>
    <div class="disconnect-dtone hide">
      <div class="title">{% trans "Disconnect DT One" %}</div>
      <div class="body">
        {% blocktrans trimmed %}
          This will disconnect your DT One account. Payment actions will no longer be processed. Are you sure you want to proceed?
        {% endblocktrans %}
      </div>
    </div>
    <div href="{% url 'integrations.dtone.account' %}?disconnect=true" id="disconnect-dtone-form"></div>
  {% endif %}
{% endblock post-form %}
{% block extra-script %}
  {{ block.super }}
  <script type="text/javascript">
    function confirmDTOneDisconnect() {
      removalConfirmation("disconnect-dtone", "Disconnect");
    }
  </script>
{% endblock extra-script %}
