-load i18n

%h4
  -blocktrans
    To finish configuring your TwiML REST API channel you'll need to add the following URL in your TwiML REST API instance.

%hr

%h4
  -trans "TwiML REST API Host"

%p
  -blocktrans
    The endpoint which will receive Twilio API requests for this channel

%code
  {{ channel.config_json.send_url }}

%h4
  -trans "Request URL"

%p
  -blocktrans
    Incoming messages for this channel will be sent to this endpoint.

%code
  https://{{ channel.callback_domain }}{% url 'handlers.twiml_api_handler' channel.uuid %}

%hr

