{% extends "channels/channel_read.html" %}
{% load smartmin temba compress humanize channels %}
{% load i18n tz %}

{% block fields %}
{% endblock fields %}
{% block subtitle %}
  {{ object.get_channel_type_display }}
  {% trans "Templates Events" %}
{% endblock subtitle %}
{% block content %}
  {% if sync_logs %}
    <table class="list table table-condensed">
      <thead>
        <tr>
          <th style="width:150px"></th>
          <th></th>
          <th style="width:160px;text-align:right;"></th>
          <th style="width:160px;text-align:right;"></th>
        </tr>
      </thead>
      {% for obj in sync_logs %}
        <tr class="{% if obj.is_error %}warning{% endif %}">
          <td>{{ obj.channel.name }}</td>
          <td class="clickable">
            <a href="{% url "request_logs.httplog_read" obj.id %}">{{ obj.get_log_type_display }}</a>
          </td>
          <td style="text-align: right" nowrap="true">
            Request time:
            <span>{{ obj.request_time|default:"0"|intcomma }}ms</span>
          </td>
          <td style="text-align: right" nowrap="true">{{ obj.created_on }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <div class="text-xl">{% trans "No syncs yet. Check back later." %}</div>
  {% endif %}
{% endblock content %}
