{% extends "smartmin/list.html" %}
{% load i18n smartmin %}

{% block title-text %}
  {{ channel.name }} - {% trans "Templates" %}
{% endblock title-text %}
{% block subtitle %}
  {% trans "Templates are refreshed every 15 minutes." %}
{% endblock subtitle %}
{% block content %}
  <div class="shadow rounded-lg rounded-bl-none rounded-br-none bg-white">{% include "includes/short_pagination.html" %}</div>
  <div class="card border-t-2 rounded-tl-none rounded-tr-none mt-0 p-0 overflow-y-scroll">
    {% for translation in object_list %}
      {% ifchanged translation.template.name %}
        <div class="p-4 font-bold max-w-6xl truncate">{{ translation.template.name }}</div>
      {% endifchanged %}
      <div max-width="100%" class="flex translation">
        <div width="70%" class="flex-grow p-4">
          {% for comp in translation.components %}
            <div width="100%" class="my-1">
              {% if comp.type == "header" or comp.type == "header/text" %}
                <div class="text-lg font-normal">{{ comp.content }}</div>
              {% elif comp.type == "header/media" %}
                {% if comp.content %}
                  <div class="text-lg font-normal">{{ comp.content }}</div>
                {% else %}
                  <span class="inline-block p-2 bg-gray-200 rounded-lg">{{ translation.variables.0.type|upper }}</span>
                {% endif %}
              {% elif comp.type == "body" or comp.type == "body/text" %}
                <div>{{ comp.content }}</div>
              {% elif comp.type == "footer" or comp.type == "footer/text" %}
                <div class="text-sm">{{ comp.content }}</div>
              {% endif %}
            </div>
          {% endfor %}
          <div class="my-4 flex">
            {% for comp in translation.components %}
              {% if comp.type|slice:":7" == "button/" %}
                <div width="100%" class="border mr-2 p-2 rounded-lg">{{ comp.display|default:comp.content }}</div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="p-4 whitespace-nowrap">
          <temba-label icon="language">
            {{ translation.locale }}
          </temba-label>
          <temba-label icon="{{ status_icons|field:translation.status }}" class="ml-2">
            {{ translation.get_status_display }}
          </temba-label>
        </div>
      </div>
    {% empty %}
      <tr class="empty">
        <td>{% trans "No synced templates at this time." %}</td>
      </tr>
    {% endfor %}
  </div>
{% endblock content %}
{% block extra-style %}
  {{ block.super }}
  <style type="text/css">
    .translation {
      border-bottom: 1px solid #e6e6e6;
    }
  </style>
{% endblock extra-style %}
