{% extends "smartmin/list.html" %}
{% load i18n %}

{% block title-text %}
  {{ channel.name }} - {% trans "Templates" %}
{% endblock title-text %}
{% block subtitle %}
  {% trans "Templates are refreshed every 15 minutes." %}
{% endblock subtitle %}
{% block content %}
  <div class="card p-0 overflow-y-scroll" id="templates">
    {% for translation in object_list %}
      {% ifchanged translation.template.name %}
        <div class="p-4 font-bold">{{ translation.template.name }}</div>
      {% endifchanged %}
      <div max-width="100%" class="flex translation">
        <div width="70%" class="flex-grow p-4">
          {% for comp in translation.components %}
            {% if comp.type == "header" %}
              <div width="100%" class="my-1 text-lg font-normal">{{ comp.content }}</div>
            {% elif comp.type == "body" %}
              <div width="100%" class="my-1">{{ comp.content }}</div>
            {% elif comp.type == "footer" %}
              <div width="100%" class="my-1 text-sm">{{ comp.content }}</div>
            {% endif %}
          {% endfor %}
          <div class="my-4 flex">
            {% for comp in translation.components %}
              {% if comp.type|slice:":7" == "button/" %}
                <div width="100%" class="border mr-2 p-2 rounded-lg">{{ comp.display|default:comp.content }}</div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="p-4 locale">{{ translation.locale }}</div>
        <div class="tr-{{ translation.get_status_display }} p-4 font-mono">{{ translation.get_status_display }}</div>
      </div>
    {% empty %}
      <tr class="empty">
        <td>{% trans "No synced templates at this time." %}</td>
      </tr>
    {% endfor %}
  </div>
{% endblock content %}
{% block extra-style %}
  {{ block.super }}
  <style type="text/css">
    .translation {
      border-bottom: 1px solid #e6e6e6;
    }

    .tr-pending {
      color: #faa732;
    }

    .tr-rejected {
      color: #b81900;
    }

    .tr-approved {
      color: #4ca20b;
    }
  </style>
{% endblock extra-style %}
