-load i18n

%h4
  -blocktrans with number=channel.address
    To finish configuring your Shaqodoon connection you'll need to provide Shaqodoon with the following delivery
    URL for incoming messages to {{ number }}.

%code
  https://{{ channel.callback_domain }}{% url 'courier.sq' channel.uuid 'receive' %}

%hr
