-extends "channels/channel_claim_form.html"
-load i18n

-block pre-form
  -if not verified_status
    %p#fb-status
      -blocktrans trimmed
        Before clicking the button below, make sure you have access to the phone where you can read the verification code send by SMS message
  -else
    #fb-guide
      %ul.steps
        %li
          -trans "To reset the Verification Code, check the guide below and make sure to Turn off two-step verification"

        %li
          %a(target="_blank" href="https://developers.facebook.com/docs/whatsapp/phone-numbers#resetting-verification-code-in-whatsapp-manager")
            -trans "Resetting Verification Code in WhatsApp Manager"


-block form
  -if verified_status
    .card
      %temba-alert.my-4.p-4(level="info")
        -trans "Number already verified"
  -else
     {{ block.super }}