-extends 'smartmin/list.haml'
-load i18n policies

-block title
  -trans "Your Privacy"
-block content

  -blocktrans with brand.name as name
    {{name}} cares deeply about your privacy. We've designed this privacy page to help guide you through what kind of
    data we collect and what we do with it. Please take the time to review the following policies
    as your consent is required to continue to use {{name}}.

  .policies

    -if needs_consent
      .item.needs-consent
        .px-6.py-4.border-primary.border.rounded-lg.bg-white
          - blocktrans with brand.name as name
            Ahoy! We've updated our policies. Before you continue to use {{name}} you will first need to agree to
            the updated policies below. Don't worry, you can revoke your consent at any time.

    -elif consent_date
      .item.has-consent
        .px-6.py-4.border-primary.border.rounded-lg.bg-white
          %a.pull-right.posterize{href:'{% url "policies.policy_give_consent" %}?consent=false'}
            -trans "Revoke"
          - blocktrans with brand.name as name and consent_date|date:"M d, Y" as day
            You agreed to the these policies on {{day}}

    -for policy in object_list
      .item.policy.collapsed.card{data-policy:'{{policy.id}}', onclick:'javascript:toggle({{policy.id}});'}

        .summary

          .consent
            -if not policy|has_consent:user
              Needs Consent

          .name
            {{policy.get_policy_type_display}}
          .updated
            Updated {{policy.created_on|date:"M d, Y"}}

        -if policy.summary and not policy|has_consent:user
          .preview.bleed-x.bleed-b.bg-gray-100.p-6.-mb-20
            {{ policy.get_rendered_summary }}
            .more-link.pull-right
              See all changes
              %span.icon-arrow-down
        .body.mt-6.bleed-x.border-t
          .py-6.px-6
            {{policy.get_rendered_body}}
          .px-6
            -include "policies/addendum.haml"

  -if needs_consent
    .give-consent
      .button-primary.inline-block.posterize.lift{href:'{% url "policies.policy_give_consent" %}?consent=true{% if next %}&next={{next}}{%endif%}'}
        -trans "I agree to the above policies"

-block extra-script
  :javascript
    function toggle(policy) {
      var ele = $('.policy[data-policy="' + policy + '"]');
      if (ele.hasClass('collapsed')) {
        ele.removeClass('collapsed')
      } else {
        ele.addClass('collapsed');
      }
    }

-block extra-style
  :css

    .more-link {
      display:none;
      margin-top: -20px;
      color: #999;
      font-size: 12px;
    }

    .collapsed .more-link {
      display: block;
    }

    .icon-arrow-down {
      padding-left:3px;
      padding-top:3px;
      font-size: 8px;

    }
    .revoke {
      color: #5ca869;
    }


    .give-consent {
      margin-top: 30px;
    }

    .policies {
      margin-top: 20px;
    }

    .collapsed .body {
      display: none;
    }

    .consent {
      color: var(--color-primary-dark);
      float: right;
      font-size: 12px;
      margin-top: 8px;
    }

    .needs-consent {
      border-color: var(--color-primary-dark);
      color: var(--color-primary-dark);
      background: #fff;
    }

    .has-consent {
      border-color: var(--color-primary-dark);
      color: var(--color-primary-dark);
      background: #fff;
    }

    .policy:hover {
      cursor: pointer;
      box-shadow: var(--widget-box-shadow-focused);
    }

    .updated {
      font-size: 9px;
      text-transform: uppercase;
      letter-spacing: 0.15em;
    }

