- extends 'smartmin/read.html'
- load i18n

- block top-bar

- block title
  %h3
    {{brand.name}} {{title}}

- block content
  #policy
    .created
      - trans "Updated"
      {{object.created_on|date:"M d, Y"}}

    .policy
      {{object.get_rendered_body}}

  - include "policies/addendum.haml"

  %a{href:'{% url "policies.policy_list" %}'}<
    -trans "Privacy Center"

