- extends 'smartmin/read.html'
- load i18n

- block title
  %a{href:'{% url "policies.policy_list" %}'}<
    -trans "Policies"
  > {{title}}

  %h1
    {{title}}



- block content
  #policy
    .created
      - trans "Updated"
      &nbsp;{{object.created_on|date:"M d, Y"}}

    .policy
      {{object.get_rendered_body}}