.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-rocketchat {
  width: 1.13671875em;
}

.icon-thinq {
  width: 1.0654296875em;
}

.icon-rapidpro {
  width: 4.71875em;
}

.icon-facebook {
  width: 0.857421875em;
}

.icon-jiochat {
  width: 1.001953125em;
}

.icon-line {
  width: 1.001953125em;
}
