.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-rocketchat {
  width: 1.13671875em;
}

.icon-zendesk {
  width: 1.3203125em;
}

.icon-thinq {
  width: 1.0654296875em;
}

.icon-bubbles2 {
  width: 1.125em;
}

.icon-bubbles-2 {
  width: 1.125em;
}

.icon-connection {
  width: 1.25em;
}

.icon-tags {
  width: 1.0625em;
}

.icon-tags-2 {
  width: 1.0625em;
}

.icon-archive {
  width: 1.0625em;
}

.icon-temba {
  width: 1.412109375em;
}

.icon-bubbles {
  width: 1.125em;
}

.icon-logo {
  width: 4.71875em;
}

.icon-user-block {
  width: 1.0625em;
}

.icon-user-delete {
  width: 1.0625em;
}

.icon-channel-kannel {
  width: 0.7734375em;
}

.icon-chatbase {
  width: 1.474609375em;
}

.icon-quick-reply {
  width: 0.9990234375em;
}

.icon-facebook-official {
  width: 0.857421875em;
}

.icon-jiochat {
  width: 1.001953125em;
}

.icon-line {
  width: 1.001953125em;
}
