-load i18n

%h4
  -blocktrans
    To finish configuring your connection you'll need to notify M3Tech of the following callback URLs:

%h4
  -trans "Received URL"
%code
  https://{{ channel.callback_domain }}{% url 'courier.m3' channel.uuid 'receive' %}

%p
  -blocktrans
    When a new message is received by M3Tech, it should notify us with a POST to the following URL, passing
    the following parameters: 'from' and 'text'
%pre.prettyprint.example<
  :plain
    POST https://{{ channel.callback_domain }}{% url 'courier.m3' channel.uuid 'receive' %}
    from=%2B250788123123&text=Love+is+patient.+Love+is+kind.
%hr

%h4
  -trans "Sent URL"
%code
  https://{{ channel.callback_domain }}{% url 'courier.m3' channel.uuid 'sent' %}

%p
  -blocktrans
    When M3Tech successfully sends a message, it should notify us with a POST to the following URL, passing
    the id of the message as the parameter 'id' (reporting sent messages is optional)
%pre.prettyprint.example<
  :plain
    POST https://{{ channel.callback_domain }}{% url 'courier.m3' channel.uuid 'sent' %}
    id=2599235
%hr

%h4
  -trans "Delivered URL"
%code
  https://{{ channel.callback_domain }}{% url 'courier.m3' channel.uuid 'delivered' %}

%p
  -blocktrans
    When M3Tech successfully delivers a message, it should notify us with a POST to the following URL, passing
    the id of the message as the parameter 'id' (reporting deliveries is optional)
%pre.prettyprint.example<
  :plain
    POST https://{{ channel.callback_domain }}{% url 'courier.m3' channel.uuid 'delivered' %}
    id=2599235
%hr

%h4
  -trans "Failed URL"
%code
  https://{{ channel.callback_domain }}{% url 'courier.m3' channel.uuid 'failed' %}

%p
  -blocktrans
    If M3Tech fails to send an outgoing message, it should notify us with a POST to the following URL, passing
    the id of the message as the parameter 'id' (reporting failed sends is optional)
%pre.prettyprint.example<
  :plain
    POST https://{{ channel.callback_domain }}{% url 'courier.m3' channel.uuid 'failed' %}
    id=2599235
%hr
