# .coveragerc to control coverage.py
[run]
source = ./temba

[report]
ignore_errors = True
precision = 0
show_missing = True
skip_covered = True
exclude_lines = 
    pragma: no cover
    pragma: needs cover
    pragma: can't cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

omit =
    */gen/*
    */tests*
    *__init__*
    *settings*
    temba/api/management/commands/webhook_stats.py
    temba/channels/management/commands/reactivate_fb_channels.py
    temba/contacts/management/commands/audit_es_group.py
    temba/flows/management/commands/run_audit.py
    temba/msgs/management/commands/msg_console.py
    temba/orgs/management/commands/update_analytics_consent.py
    temba/orgs/management/commands/update_analytics_orgs.py
    temba/utils/management/commands/mailroom_db.py
    temba/utils/management/commands/migrate_flows.py
    temba/utils/management/commands/test_db.py
    temba/utils/management/commands/perf_test.py

[html]
directory = coverage_html_report
