# .coveragerc to control coverage.py
[run]
source = ./temba

[report]
ignore_errors = True
precision = 0
show_missing = True
skip_covered = True
exclude_lines = 
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:


omit =
    */migrations/*
    */gen/*
    */tests*,
    *__init__*,
    *settings*,
    *management/commands*
    temba/perf_tests.py
    temba/celery_autoscaler.py
    temba/wsgi.py

[html]
directory = coverage_html_report
