# .coveragerc to control coverage.py
[run]
source = ./temba

[report]
ignore_errors = True
precision = 0
show_missing = True


omit =
    */migrations/*
    */tests*,
    *__init__*,
    *settings*,
    *management/commands*
    temba/perf_tests.py

[html]
directory = coverage_html_report



