# General
.DS_Store
.idea
*~
.envrc
.devcontainer
.direnv
.commit
.ruff_cache
.vscode/
.venv
*.sublime*
manage.sh

.coverage
coverage.xml
celerybeat-schedule.db
celerybeat-schedule
deploy
fabfile.py
node_modules
screenshots
sitestatic
temba/settings.py

# Exclude media folder except files used for import testing
media/apks
media/avatars
media/contacts
media/csv_imports
media/contact_imports
media/org_imports
media/flow
media/messages
media/orgs
media/recordings
media/test_orgs
media/tmp
media/attachments
media/blog

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
