-load i18n

%html
  %body
    .modal{class:'[[type]]', data-dismiss:"modal"}
      .modal-header
        %button{data-dimiss:"modal",type:"button",class:"pull-right close",aria-hidden:"true"}
        %h3
          .icon
          %span{id:"modal-title"}><
            [[title]]
      .modal-body
        [[body]]

        .details.hide
          [[details]]
      .modal-footer
        %button.pull-left{ng-show:'subtext', ng-class:'{"show-help":showHelp}', ng-click:"showHelpWidget()", class:"btn btn-secondary",ng-hide:"hideCancel"}
          -trans "Help"
        %button{ng-click:"cancel()",class:"btn btn-secondary",ng-hide:"hideCancel"}
          -trans "Cancel"
        %button{ng-click:"ok()",class:"btn btn-primary"}
          [[okButton]]
