-load i18n

.flip
  .card{ ng-class:'{"flipped":isFlipped}'}
    .face{ng-class:'{"back":nodeType=="actions","front":nodeType!="actions"}'}
      .rule-editor.modal.translation.wide-dialog{ class:'[[formData.rulesetConfig.type]]', data-dismiss:'modal'}
        .flip-button{ng-click:'isFlipped=!isFlipped', ng-show:'showFlip()'}
          .icon-menu-2
        .rules
          -include 'partials/split_editor.haml'
    .face{ng-class:'{"front":nodeType=="actions","back":nodeType!="actions"}'}
      .action-editor.modal{ class:'[[config.type]]', data-dismiss:'modal'}
        .flip-button{ng-click:'isFlipped=!isFlipped', ng-show:'showFlip()'}
          .icon-flow
        -include 'partials/action_editor.haml'
