-load i18n

%html
  %body
    .modal.{class:'[[type]]', data-dismiss:"modal"}
      .modal-dialog
        .modal-content
          .modal-header
            %button{data-dimiss:"modal",type:"button",class:"pull-right close",aria-hidden:"true"}
            %h3
              .icon
              %span{id:"modal-title"}><
                -trans "Call Webhook"
          .modal-body
            %div
              %p{class:"description"}
                -blocktrans
                  Using a Webhook you can fetch data from an external database
                  and use it in this flow.
                  Enter the URL to call out to at this point in the flow.

              %select{ng-model:"ruleset.webhook_action",ng-options:"method for method in methods",style:"height:34px;width:95px",class:"method",select2:""}
              %input{ng-model:"ruleset.webhook",name:"url",placeholder:"http://yourwebsite.com/endpoint",auto-complete:"",flow:"[[flowId]]",ng-required:"true",type:"url",class:"url", maxlength:"255"}
              .help-text
                -blocktrans
                  We'll include the message text along with data specified in
                  the
                  %a{href:"/api/v1/webhook/#flow"}<
                    Webhook Flow Event API
                  .

              .help-text
                 -blocktrans
                  This step will be identified as [[ruleset.uuid]]

              %p{class:"description response"}
                -blocktrans
                  If your server responds with JSON, each property will be added
                  to the flow.

              .example
                .code
                  &#x7B;
                  %br
                  &nbsp;&nbsp;product: "Solar charging kit",
                  %br
                  &nbsp;&nbsp;stock_level: 32
                  %br
                  &#x7D;

              .help-text
                -blocktrans
                  In this example @extra.product and @extra.stock_level would be
                  added for all future steps.

          .modal-footer
            %button{ng-click:"cancel()",class:"btn btn-secondary"}
              -trans "Cancel"
            %button{ng-click:"ok()",class:"btn btn-primary"}
              -trans "Ok"