-load i18n

%html
  %body
    .translation.modal{data-dismiss:"modal"}
      .modal-header
        %button{data-dimiss:"modal",type:"button",class:"pull-right close",aria-hidden:"true"}
        %h3
          .icon
          %span{id:"modal-title"}><
            -trans "Translation"
      .modal-body
        .translate-text.translate-from{ng-show:"translation.from"}
          [[translation.from]]
        %h5
          -trans "[[language.name]] Translation"
        %label
          %textarea{ng-model:"translation.to",auto-complete:"",class:"translation"}

          
        .quick-reply{ng-show:"translation.toQuickReply.length"}
          .modal-quick-reply-header
            .quick_reply-title
              -trans "Text"
              
          .modal-quick-reply{ng-repeat:"response in translation.toQuickReply", class:""}
            .quick_reply-title.center-translate
              .translate-from{ng-show:"translation.fromQuickReply[$index].title"}
                -trans "[[translation.fromQuickReply[$index].title]]"
              %input{type:"text", name:"quick-reply-title", auto-complete:"", ng-model:"response.title", ng-required:"true"}
              
        .quick-reply{ng-show:"translation.toButtonsReply.length"}
          .modal-quick-reply-header
            .url_buttons-title
              -trans "Text"
            .url_buttons-value
              -trans "URL"
              
          .modal-quick-reply{ng-repeat:"response in translation.toButtonsReply", class:""}
            .url_buttons-title.center-translate
              .translate-from{ng-show:"translation.fromButtonsReply[$index].title"}  
                -trans "[[translation.fromButtonsReply[$index].title]]"                
              %input{type:"text", name:"quick-reply-title", auto-complete:"", ng-model:"response.title", ng-required:"true"}
            .url_buttons-value.center-translate
              .translate-from{ng-show:"translation.fromButtonsReply[$index].url"}
                -trans "[[translation.fromButtonsReply[$index].url]]"           
              %input{type:"url", name:"quick-reply-value", auto-complete:"", ng-model:"response.url", ng-required:"true"}
        
      .modal-footer
        %button{ng-click:"cancel()",class:"btn btn-secondary"}
          -trans "Cancel"
        %button{ng-click:"ok(translation)",class:"btn btn-primary"}
          -trans "Ok"