-load i18n

%html
  %body
    .translation.modal{data-dismiss:"modal"}
      .modal-header
        %button{data-dimiss:"modal",type:"button",class:"pull-right close",aria-hidden:"true"}
        %h3
          .icon
          %span{id:"modal-title"}><
            -trans "Translation"
      .modal-body
        .translate-text.translate-from{ng-show:"translation.from"}
          [[translation.from]]
        %h5
          -trans "[[language.name]] Translation"
        %label
          %textarea{ng-model:"translation.to",auto-complete:"",class:"translation"}


        .quick-response{ng-show:"fromQuickReply.length"}
          .modal-quick-response-header
            .modal-quick-response-value
              -trans "Text"
            .modal-quick-response-value
              -trans "Payload"
              
          .modal-quick-response{ng-repeat:"response in translate.frofromQuickReply", class:""}
            .translate-text.translate-from{ng-show:"translation.from"}
              [[translation.from]]
            .translate-text.translate-from{ng-show:"translation.from"}
              [[translation.from]]  
            .modal-quick-response-value  
              %input{ng-model:"response.title", ng-required:"true"} 
            .modal-quick-response-value 
              %input{ng-model:"response.payload", ng-required:"true"}
            
            .icon.icon-close{ng-click:"RemoveElementArray(actions_quick_responses, $index)"}
          %a{ng-click:"AddNewQuickResponse()", class:"cursor-pointer", ng-hide:"actions_quick_responses.length == 3"}
            -trans "Add new quick response"

        // .quick-response{ng-show:"actions_buttons_reply.length"}
        //   .modal-quick-response-header
        //     .modal-quick-response-value
        //       -trans "Text"
        //     .modal-quick-response-value
        //       -trans "Url"
              
        //   .modal-quick-response{ng-repeat:"response in actions_buttons_reply", class:""}
        //     .modal-quick-response-value  
        //       %input{ng-model:"response.title", ng-required:"true"} 
        //     .modal-quick-response-value 
        //       %input{ng-model:"response.url", ng-required:"true", ng-pattern:"patternUrl"} 
        //     .icon.icon-close{ng-click:"RemoveElementArray(actions_buttons_reply, $index)"}
        
      .modal-footer
        %button{ng-click:"cancel()",class:"btn btn-secondary"}
          -trans "Cancel"
        %button{ng-click:"ok(translation.to)",class:"btn btn-primary"}
          -trans "Ok"