-load i18n

.split-header-inner
  %p
    Add text:

.split-margin
  %textarea{ng-model:"ruleset.config.ussdText",name:"ussd",auto-complete:"",flow:"[[flowId]]",class:"ussd-add-text"}

.split-header-inner
  %p
    Add menu:

%form{name:'menuForm'}
  %span
    %div{ui-sortable:"sortableOptions",ng-model:"ruleset.config.ussdMenu"}
      .rule{ng-repeat:"item in ruleset.config.ussdMenu"}
        .ng-form{name:"menuItem"}
          .icon.icon-menu
          .ordinals
            %input{ng-model:"item.number",type:"text",class:"number",placeholder:"#"}
          .operation.wide
            %input{ng-model:"item.label",name:"operand",flow:"[[flowId]]",ng-required:"rule.category._base",ng-change:"updateCategory(item)",type:"text",class:"operand",uuid:"[[ruleset.uuid]]"}

          .categorize
            -trans "categorize as"
            %input{ng-model:"item.category._base",name:"category",ng-required:"rule._config.operands==0 || (rule._config.operands==1 && rule.test._base) || (rule._config.operands==2 && (rule.test.test.min || rule.test.test.max))",ng-change:"item.category._autoName = false",type:"text",class:"category"}
          .icon.icon-close{ng-click:"remove(item)"}
#split-on
  -trans "If the message response..."
