-load i18n

%h4
  -blocktrans
    To finish configuring your connection you'll need to notify HighConnection of the following URL for
    incoming (MO) messages

%hr

%h4
  -trans "Receive URL"

%code
  https://{{ channel.callback_domain }}{% url 'courier.hx' channel.uuid 'receive' %}
