- extends "no_nav.html"
-load smartmin i18n

-block page-top

-block page-title
  {{ brand.name }} - API Explorer

-block content
  -block breadcrumbs
    %ul.breadcrumb
      %li
        %a(href="/")
          {{ brand.name }}
        %span.divider &raquo;
        %a(href="{% url 'api.v2' %}")<
          API v2
        %span.divider &raquo;

      %li.mr-4
        %a.active(href="{% url 'api.v2.explorer' %}")
          -trans "Explorer"

      <li style="flex-grow:1"></li>
      -if api_token
          %li(style="color: #666")
          API Token: {{ api_token }}
      -else
        %li
          -trans "Log in to get your API Token"

  .flex.justify-between.items-center.pb-1.mb-4.px-8(style="position: relative;")
    %h1.page-title.leading-tight API Explorer
    .bg-white.px-4.py-2.border-primary.border.text-primary.font-medium.rounded-lg All operations work against live data

  - for endpoint in endpoints
    .card.mt-4.hover-box
      .cursor-pointer.endpoint-title(onclick="handleToggle(event)" data-slug="{{ endpoint.slug }}" data-method="{{ endpoint.method }}")
        .endpoint-description.my-2(class="md:hidden")
          {{ endpoint.title }}
        .flex.items-center
          .endpoint-method.font-mono.rounded-lg(class="method-{{ endpoint.method|lower }}") {{ endpoint.method }}
          .endpoint-url.flex-grow.font-mono {{ endpoint.url }}.json
          .endpoint-description.hidden{class: "md:block"}
            {{ endpoint.title }}

      .endpoint.bg-white.border-t.mt-6(class="endpoint-{{ endpoint.method|lower }}")
        -if endpoint.params
          .title.my-4
            -trans "Query String Parameters"
          %table
            .tbody
              -for item in endpoint.params
                %tr
                  %td.field.text-right.font-medium.text-gray-600.px-4.py-2(class="{% if item.required %}field-required{% endif %}") {{ item.name }}
                  %td.font-light {{ item.help }}
                    -if item.required
                      (required)
                    -else
                      (optional)
        -if endpoint.fields
          .title.my-4
            -trans "Post Body Fields"
          %table
            .tbody
              -for item in endpoint.fields
                %tr
                  %td.field.text-right.font-medium.text-gray-600.px-4.py-2(class="{% if item.required %}field-required{% endif %}")  {{ item.name }}
                  %td.font-light {{ item.help }}
                    -if item.required
                      (required)
                    -else
                      (optional)

        .request-form.rounded-lg.border.p-6.bg-gray-100.mt-4
          .request-header.font-mono.mb-4
            <b class="font-bold">{{ endpoint.method }}</b>
            .whitespace-nowrap.text-sm(class="md:text-base md:inline")
              {{brand.link}}{{ endpoint.url }}.json<span class="query-display"></span><br/>
            <b class="font-bold">Authorization:</b>
            .whitespace-nowrap.text-sm(class="md:text-base md:inline")
              Token {{ api_token }}
          -if endpoint.params
            .form-group.mt-4.items-center(class="md:flex")
              %label.control-label.self-start.pt-4.w-56.pr-6(class="md:text-right")
                -trans "Query String"
              .flex-grow
                %textarea.textinput.p-2.rounded.request-query(oninput="handleQueryInput(event)" id="request-query-{{ endpoint.slug }}" rows="1" )<
                  {{ endpoint.example.query }}

          -if endpoint.fields
            .form-group.mt-4.items-center(class="md:flex")
              %label.control-label.self-start.pt-4.w-56.pr-6(class="md:text-right")
                -trans "Post Body"
              .flex-grow
                %textarea.textinput.p-2.rounded.request-body(id="request-body-{{ endpoint.slug }}" rows="5")<
                  {{ endpoint.example.body }}

        .request-buttons.flex.justify-between.items-center.mt-4.h-12
          .pull-left
            %a{ href: '{{ endpoint.url }}' }
              -trans "View Full Documentation"

          -if api_token
            .button-primary(onclick='javascript:handleRequest("{{ endpoint.slug }}", "{{ endpoint.method }}", "{{ endpoint.url }}.json")') {{ endpoint.method|upper }}
          -else
            %span
              -trans "Log in to use the Explorer"

        %pre.prettyprint.result.mb-0.mt-4.p-4(id="result-{{ endpoint.slug }}" style="margin-bottom:0;" )

-block extra-script
  {{ block.super }}
  :javascript
    function handleToggle(event) {
      event.currentTarget.parentElement.classList.toggle("expanded");
    }

    function handleQueryInput(event) {
      var query = event.currentTarget.value;
      query = ensureQueryPrefix(query);
      var display = event.currentTarget.closest(".request-form").querySelector(".query-display");
      display.innerText = query;
    }

    function ensureQueryPrefix(query) {
      if (query && !query.startsWith('?')) {
        return '?' + query;
      } else {
        return query
      }
    }

    function handleRequest(slug, method, url) {
      var queryEditor = document.querySelector("#request-query-" + slug);
      var bodyEditor = document.querySelector("#request-body-" + slug);

      var query = queryEditor ? ensureQueryPrefix(queryEditor.value) : '';
      var body = bodyEditor ? bodyEditor.value : '';

      var results = document.querySelector("#result-" + slug);
      results.style.display = "block";
      results.innerHTML = "Requesting...";

      var store = document.querySelector("temba-store");

      var headers = {
        "Accept" : "application/json; charset=utf-8; indent=4;",
        "Content-Type": "application/json; charset=utf-8; indent=4;"
      }

      if (method == "GET") {
        store.getUrl(url+query, { "headers": headers }).then(function(response) {
          console.log(response);
          results.innerText =  "HTTP/1.0 " + response.status + " " + "\n" + response.body;
        });
      } else {
        store.postUrl(url+query, body, headers).then(function(response) {
          results.innerText = "HTTP/1.0 " + response.status + " " + "\n" + response.body;
        });
      }
    }

-block extra-style
  {{ block.super }}
  :css
    .content-card {
      width: 80%;
    }

    .breadcrumb {
      display: flex;
      flex-wrap: wrap;
    }

    .token {
        white-space: nowrap;
    }
    
    .card {
      padding: 0;
      margin: 1em 2em;
    }

    .page-content {
      max-width: 100%;
    }

    .expanded .endpoint {
      display: block;
    }

    .endpoint-title {
      padding: 1em;
    }

    .endpoint {
      display: none;
      padding: 2em;
    }

    .method-get {
      background-color: #058C40;
      color: #fff;
      padding: 3px;
      text-align: center;
      width: 60px;
      display: inline-block;
      margin-right: 15px;
    }

    .method-delete {
      background-color: #952624;
      color: #fff;
      padding: 3px;
      text-align: center;
      width: 60px;
      display: inline-block;
      margin-right: 15px;
    }

    .method-post {
      background-color: #1793cd;
      color: #fff;
      width: 60px;
      text-align: center;
      padding: 3px;
      display: inline-block;
      margin-right: 15px;
    }

    table.list tr td:first-child {
      width: 14rem;
    }

    .result {
      display: none;
    }

    .request-form {
      overflow-x: hidden;
    }

    .request-query {
      font-family: monospace;
      min-height: 30px;
      max-width: 700px;
      width: 100%;
    }

    .request-body {
      font-family: monospace;
      max-width: 700px;
      width: 100%;
      min-height: 100px;
      height: 110px;
    }
