- extends "frame.html"
- load smartmin i18n

- block page-top

-block page-title
  {{ brand.name }} - API Explorer

-block content
  -block breadcrumbs
    %ul.breadcrumb
      %li
        %a{href:"{% url 'api.v2' %}"}
          {{ brand.name }} API v2
        %span.divider &raquo;

      %li
        %a.active{href:"{% url 'api.v2.explorer' %}"} Explorer

      -if request.user.api_token
        %li.pull-right{style:"color: #666"}
          API Token: {{ request.user.api_token }}
      -else
        %li.pull-right Log in to get your API Token

  .flex.justify-between.items-center.pb-2.mb-6.border-b{ style: "position: relative;" }
    %h1.page-title.leading-tight API Explorer
    %span.bg-dark-alpha-100.p-4.border-primary.border.text-primary.font-medium.rounded-lg All operations work against live data

  - for endpoint in endpoints
    .flex.items-center.rounded-lg.border.p-4.mt-4.bg-gray-200.endpoint-title{ data-slug: "{{ endpoint.slug }}", data-method: "{{ endpoint.method }}" }
      .endpoint-method.font-mono.rounded-lg{ class:"method-{{ endpoint.method|lower }}" }= endpoint.method
      .endpoint-url.flex-grow.font-mono {{ endpoint.url }}.json
      .endpoint-description
        {{ endpoint.title }}

    .endpoint.border.rounded-lg.border-t-0.p-2.-mt-4{ class: "endpoint-{{ endpoint.method|lower }}" }
      -if endpoint.params
        .field-title.font-bold.text-lg.p-1.mt-2
          -trans "Query String Parameters"
        %table.list.lined
          .tbody
            -for item in endpoint.params
              %tr
                %td.field.text-right.font-medium.text-gray-600{ class:"{% if item.required %}field-required{% endif %}" }= item.name
                %td.font-light {{ item.help }}
                  -if item.required
                    (required)
                  -else
                    (optional)
      -if endpoint.fields
        .field-title.font-bold.text-lg.p-1
          -trans "Post Body Fields"
        %table.list.lined
          .tbody
            -for item in endpoint.fields
              %tr
                %td.field.text-right.font-medium.text-gray-600{ class:"{% if item.required %}field-required{% endif %}" }= item.name
                %td.font-light {{ item.help }}
                  -if item.required
                    (required)
                  -else
                    (optional)

      .request-form.rounded-lg.border.p-4.bg-gray-200.mt-4
        .request-header.font-mono.mb-4
          <b class="font-bold">{{ endpoint.method }}</b> {{brand.api_link}}{{ endpoint.url }}.json<span class="query-display"></span><br/>
          <b class="font-bold">Authorization:</b> Token {{ request.user.api_token }}

        -if endpoint.params
          .form-group.mt-4.flex.items-center
            %label.control-label.self-start.pt-4.w-56.text-right.pr-6
              -trans "Query String"
            .flex-grow
              %textarea.textinput.p-2.rounded.request-query{ id:"request-query-{{ endpoint.slug }}", rows:"1" }<
                {{ endpoint.example.query }}

        -if endpoint.fields
          .form-group.mt-4.flex.items-center
            %label.control-label.self-start.pt-4.w-56.text-right.pr-6
              -trans "Post Body"
            .flex-grow
              %textarea.textinput.p-2.rounded.request-body{ id:"request-body-{{ endpoint.slug }}", rows:"5" }<
                {{ endpoint.example.body }}

      .request-buttons.flex.justify-between.items-center.mt-4.h-12
        .pull-left
          %a{ href: '{{ endpoint.url }}' }
            -trans "View Full Documentation"

        -if user.api_token
          .button-primary{ onclick:'javascript:onRequest("{{ endpoint.slug }}", "{{ endpoint.method }}", "{{ endpoint.url }}.json")' }= endpoint.method|upper
        -else
          %span Log in to use the Explorer

      %pre.prettyprint.result.mb-0.mt-4(id="result-{{ endpoint.slug }}" style="margin-bottom:0;" )

-block extra-script
  {{ block.super }}
  :javascript
    $(function() {
        $(".endpoint-title").click(function(){
          $(this).next(".endpoint").toggle();
        });

        $('.request-query').on("input", function(){
          var query = ensureQueryPrefix($(this).val());
          $(this).parents('.request-form').find('.query-display').text(query);
        })
    });

    function ensureQueryPrefix(query) {
      if (query && !query.startsWith('?')) {
        return '?' + query;
      } else {
        return query
      }
    }

    function onRequest(slug, method, url) {
      var queryEditor = $("#request-query-" + slug);
      var bodyEditor = $("#request-body-" + slug);

      var query = queryEditor.length ? ensureQueryPrefix(queryEditor.val()) : '';
      var body = bodyEditor.length ? bodyEditor.val() : null;

      $("#result-" + slug).text("Requesting...");

      $.ajax({
        type: method,
        url: url + query,
        data: body,
        headers: {
          Accept : "application/json; charset=utf-8; indent=4;",
          "Content-Type": "application/json; charset=utf-8; indent=4;"
        },
        dataType: "text",
        success: function(data, textStatus, xhr){
          var trace = "HTTP/1.0 " + xhr.status + " " + textStatus.toUpperCase() + "\n" + data;
          $("#result-" + slug).show().text(trace);
        },
        error: function(request, status, error){
          var trace = "HTTP/1.0 " + request.status + " " + error + "\n" + request.responseText;
          $("#result-" + slug).show().text(trace);
        }
      });
    }


-block extra-style
  {{ block.super }}
  :css
    .page-content {
         max-width: 100%;
    }

    .endpoint {
      display: none;
    }

    .method-get {
      background-color: #058C40;
      color: #eee;
      padding: 3px;
      text-align: center;
      width: 60px;
      display: inline-block;
      margin-right: 5px;
    }

    .method-delete {
      background-color: #952624;
      color: #eee;
      padding: 3px;
      text-align: center;
      width: 60px;
      display: inline-block;
      margin-right: 5px;
    }

    .method-post {
      background-color: #1793cd;
      color: #eee;
      width: 60px;
      text-align: center;
      padding: 3px;
      display: inline-block;
      margin-right: 5px;
    }

    table.list tr td:first-child {
      width: 14rem;
    }

    .result {
      display: none;
    }

    .request-query {
      font-family: monospace;
      min-height: 40px;
      width: 700px;
    }

    .request-body {
      font-family: monospace;
      width: 700px;
      min-height: 100px;
      height: 110px;
    }
