-extends "channels/channel_claim_form.html"
-load i18n compress temba

-block title
  .medium-help.float-left{class:"{{ view.channel_type.icon }}"}

  %h2.font_normalize.header-margin
    {{ title }}

-block pre-form
  .info
    %p
      -blocktrans with brand_name=brand.name
        In order to connect your public Viber page to {{ brand_name }} you will need to create a public channel and follow the steps
        necessary to get an authentication token. Please consult the
        <a href="https://developers.viber.com/?b_id=15145">Viber developers documentation</a> on how to create your own
        public account.

    %p
      -blocktrans with brand_name=brand.name
        Once you have your authentication token, enter it below to connect your public channel to {{ brand_name }}


-block extra-style
  {{ block.super }}

  :css
    .info {
      width: 800px;
      margin-bottom: 20px;
    }

    .header-margin {
      margin-left: 60px;
    }

    .medium-help {
      font-size: 50px;
      height: 50px;
    }

    .form-horizontal input + .help-block, .form-horizontal select + .help-block, .form-horizontal .uneditable-input + .help-block {
      margin-left: 150px;
    }

