-extends "channels/channel_claim_form.html"
-load i18n compress temba

-block pre-form
  -blocktrans trimmed with brand_name=brand.name
    In order to connect your public Viber page to {{ brand_name }} you will need to create a public channel and follow the steps
    necessary to get an authentication token. Please consult the
    <a href="https://developers.viber.com/?b_id=15145">Viber developers documentation</a> on how to create your own
    public account.

  -blocktrans trimmed with brand_name=brand.name
    Once you have your authentication token, enter it below to connect your public channel to {{ brand_name }}
