-load i18n

%h4
  -blocktrans
    Your Viber channel is connected. If needed the webhook endpoints are listed below.

%hr

%h4
  -trans "Webhook URL"

%code
  https://{{ channel.callback_domain }}{% url 'courier.vp' channel.uuid %}
