.show-all {
  margin-top: -10px;
  margin-right: 18px;
  color: #d1d1d1;
}
.show-all.expanded .icon-arrow-down {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari and Chrome */
  -o-transform: rotate(180deg);
  /* Opera */
  filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=@rotations)";
}
.show-all .icon-arrow-down {
  margin-top: 2px;
  margin-right: 3px;
}
.show-all:hover {
  color: #c1c1c1;
  cursor: pointer;
}
table.activity {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}
table.activity tr.since {
  border-bottom: none;
}
table.activity tr.since td {
  text-align: center;
  border-top: 1px solid #bbbbbb;
  padding-top: 15px;
}
table.activity tr.since td .date {
  border: 0px solid red;
}
table.activity tr.since td .btn {
  margin-top: 15px;
}
table.activity tr.end-call {
  background: #ddd;
  color: #000;
}
table.activity tr.end-call td {
  text-align: center;
  padding: 5px;
}
table.activity.pending {
  color: #ccc;
}
table.activity.pending tr.non-msg {
  background: inherit;
}
table.activity.pending .icon {
  text-align: center;
}
table.activity.pending .icon .glyph.icon-bubble-right,
table.activity.pending .icon .glyph.icon-tree-2 {
  color: #ddd;
}
table.activity.pending a {
  color: #ddd;
}
table.activity tr {
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  width: 100%;
}
table.activity tr.msg td.icon .icon-bubble-right,
table.activity tr.msg td.icon .icon-bubble-check,
table.activity tr.msg td.icon .icon-bullhorn,
table.activity tr.msg td.icon .icon-call-outgoing {
  color: #51a351;
}
table.activity tr.msg td.icon .icon-bubble-user,
table.activity tr.msg td.icon .icon-call-incoming {
  color: #0c6596;
}
table.activity tr.msg td.icon .icon-bubble-notification {
  color: #da4f49;
}
table.activity tr.non-msg {
  background: #fafafa;
}
table.activity tr.non-msg .icon {
  color: rgba(0, 0, 0, 0.2);
}
table.activity td {
  vertical-align: middle;
  padding: 2px 20px;
}
table.activity td.icon {
  border: 0px solid;
  width: 30px;
  padding: 2px 0px;
  padding-left: 10px;
  text-align: center;
}
table.activity td.icon .glyph {
  margin-top: 16px;
  font-size: 14px;
  line-height: 0;
  color: rgba(0, 0, 0, 0.2);
  padding: 5px;
}
table.activity .created_on {
  width: 180px;
  font-size: 13px;
  line-height: 13px;
  border: 0px solid;
  text-align: right;
}
table.activity .created_on .repeats {
  font-size: 90%;
}
table.activity .details {
  border: 0px solid;
  padding: 14px;
}
table.activity .details .summary {
  font-size: 11px;
  font-weight: 500;
  line-height: 10px;
  color: #34495e;
}
.contact-urn {
  display: inline-block;
  margin-right: 10px;
}
.contact-urn .glyph {
  margin-right: 3px;
}
.contact-fields {
  background: #f9f9f9;
  font-size: 12px;
  color: #666;
  border: 1px solid #f1f1f1;
  margin-bottom: 15px;
}
.contact-fields .show-more {
  padding: 10px;
  display: block;
}
.contact-fields .contact-field {
  display: inline-block;
  width: 260px;
  padding: 2px 10px;
}
.contact-fields .contact-field .contact-field-label {
  font-weight: normal;
  color: #444;
  font-size: 12px;
  margin-right: 2px;
  padding-top: 5px;
  font-size: 95%;
  display: block;
}
.contact-fields .contact-field .contact-field-value {
  font-weight: bold;
  color: #666;
  padding-top: -5px;
  cursor: pointer;
  display: inline-block;
}
.contact-fields .contact-field .contact-field-value:hover {
  text-decoration: underline;
}
