-extends "channels/channel_claim_form.html"
-load i18n compress temba

-block title
  .medium-help.float-left{class:"{{ view.channel_type.icon }}"}

  %h2.font_normalize.header-margin
    {{ title }}

-block pre-form
  .info
    %p
      -blocktrans with name=brand.name
        In order to connect your Facebook page to {{ name }} you will need to
        <a href="https://developer.facebook.com/">create a new Facebook application</a> that
        has messaging permissions.

    %p
      -blocktrans
        On the Messenger section of your application, you can create a Page Access Token for the page you wish
        to connect. Enter that Page Access Token below.

    .important
      %p
        -blocktrans
          Until your Facebook application is approved by Facebook you will only be able to send and receive messages
          with administrators of your application.

      %p
        -blocktrans
          When submitting your application for approval, make sure to include the <code>pages_messaging</code>
          and <code>pages_messaging_subscriptions</code> permissions so that you are able to initiate conversations with your contacts.

-block extra-style
  {{ block.super }}

  :css
    .info {
      width: 800px;
      margin-bottom: 20px;
    }

    .important {
      background-color: #efefef;
      border: 1px solid #ccc;
      padding: 10px 10px 0px 10px;
      margin-bottom: 10px;
    }

    .medium-help {
      font-size: 50px;
      height: 50px;
    }

    .header-margin {
      margin-left: 60px;
    }

