-load i18n

%h4
  -blocktrans
    To finish configuring your Facebook connection, you'll need to enter the following webhook URL and token on your application's
    Messenger settings page. Make sure to check all boxes within the 'Webhooks' section to subscribe to all incoming Facebook events
    and referral parameters (<code>messaging_referrals</code>), within the same section, select the page whose events you'd like the
    webhook to subscribe to.

.important
  %p
    -blocktrans
      It may take up to ten minutes for a new webhook to take effect after being set on your Facebook application. Remember,
      until your Facebook application is approved by Facebook you will only be able to send and receive messages
      with administrators of your application.

  %p
    -blocktrans
      When submitting your application for approval, make sure to include the <code>pages_messaging</code>
      and <code>pages_messaging_subscriptions</code> permissions so that you are able to initiate conversations with your contacts.

%hr

%h4
  -trans "Webhook URL"

%code
  https://{{ channel.callback_domain }}{% url 'courier.fb' channel.uuid %}

%h4
  -trans "Verify Token"

%code
  {{ channel.config.secret }}
