-load i18n

.span3
  #big-help.glyph.icon-feed

.span7
  %h2
    -trans "Trigger a Flow"

  #little-help
    %p
      -blocktrans
        Triggers let users initiate flows by sending in a message. You can configure triggers to start flows based on keywords
        users send.  A keyword is the first word in a message, think of it as a command name for the message.

    %p
      -trans "You can configure triggers to start flows or add contacts to groups."

    - if org_perms.triggers.trigger_create
      %a.btn.btn-primary{href:'{% url "triggers.trigger_create" %}'}
        -trans "Create Trigger"
