-extends 'includes/modax.html'
-load i18n temba smartmin humanize

-block modal-script
  {{ block.super }}
  :javascript
    var body = document.querySelector("#update-trigger").getBody();
    var repeatPeriod = body.querySelector("#id_repeat_period");
    if (repeatPeriod) {
      repeatPeriod.addEventListener("change", function(event){
        var currentRepeat = event.currentTarget.values[0].value;
        if (currentRepeat == 'W') {
          body.querySelector(".weekly-repeat-options").classList.remove("hidden");
        } else {
          body.querySelector(".weekly-repeat-options").classList.add("hidden");
        }
      });
    }
