-extends "smartmin/base.html"
-load i18n

-block extra-style
  :css
    .help-block {
      font-size: 85%;
      color: #ccc;
    }

    .submit-button {
      margin-top:15px;
    }

    #embedded-data, #embedded-data-keyword, #embedded-data-schedule {
      width: 538px;
    }

-block content

  %p.instructions
    -trans "Triggers allow users to start flows based on user actions or schedules."

  -include "formax.haml"

-block extra-script
  {{ block.super }}
  <script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
  <script src="{{ STATIC_URL }}js/flow-parameters.js"></script>
  :javascript
    {% if trigger %}
    $(document).ready(function() {
      var trigger = '{{trigger}}';
      var flow = parseInt('{{flow}}');

      setTimeout(function () {
        switch(trigger) {
          case "keyword":
            $('#id-trigger-keyword')[0].scrollIntoView({behavior: 'smooth'});
            $('#id-trigger-keyword>.formax-icon').trigger('click');
            $('#id_keyword_flow').val(flow);
            $('#id_keyword_flow').trigger('change.select2');
            if (flow) {
              var api_url = "{% url 'flows.flow_flow_parameters' %}?flow_id=" + flow;
              $.getJSON(api_url).done(function(data) {
                buildTriggerFlowParams(data.results);
              });
            } else {
              buildTriggerFlowParams();
            }
            break;
          case "schedule":
            $('#id-trigger-schedule')[0].scrollIntoView({behavior: 'smooth'});
            $('#id-trigger-schedule>.formax-icon').trigger('click');
            $('#id_schedule_flow').val(flow);
            $('#id_schedule_flow').trigger('change.select2');
            if (flow) {
              var api_url = "{% url 'flows.flow_flow_parameters' %}?flow_id=" + flow;
              $.getJSON(api_url).done(function(data) {
                buildTriggerFlowParams(data.results, [], 'schedule');
              });
            } else {
              buildTriggerFlowParams([], [], 'schedule');
            }
            break;
        }
      }, 1000)
    });
    {% endif %}
