-extends 'smartmin/form.html'
-load i18n

-block summary
  -trans "Create a message keyword that launches a flow."

-block fields
  {{ block.super }}

  %h5.embedded-data-keyword.hide
    -trans "Flow Parameters"
  #embedded-data-keyword.hide
    .embed-row.embed-header-keyword.hide
      .embed-field-keyword
        %label
          -trans "Field"
      .embed-value-keyword
        %label
          -trans "Value"
    #embed-container-keyword.hide

-block extra-script
  {{block.super}}
  %script
    $(document).ready(function() {
      $('#id_keyword_match_type').select2({containerCssClass: "select2-temba-field", minimumResultsForSearch: -1});
      select2div("#id_keyword_flow", "520px", '{% trans "Flow to start" %}');
      $('#id_keyword_groups').select2({
        containerCssClass: "select2-temba-field"
      });

      $('#id_keyword_flow').on('change', function (e) {
        var flowId = (e.added.id !== '' ? parseInt(e.added.id) : null);
        if (flowId) {
          var api_url = "{% url 'flows.flow_flow_parameters' %}?flow_id=" + flowId;
          $.getJSON(api_url).done(function(data) {
            buildTriggerFlowParams(data.results);
          });
        } else {
          buildTriggerFlowParams();
        }
      });

      $('li#id-trigger-keyword input[type="submit"]').on('click', function(event) {
        var form = $(this).parent('form');
        var error = validateFlowParams(form);
        if (error) {
          event.preventDefault();
          $(this).removeClass('disabled');
        }
      });

      {% if param_fields %}
        var flowParamsFields = "{{ flow_parameters_fields }}".split(",");
        var flowParamsValues = "{{ flow_parameters_values }}".split(",");
        buildTriggerFlowParams(flowParamsFields, flowParamsValues);
      {% endif %}

    });
