-extends 'smartmin/form.html'
-load i18n

-block summary
  -trans "Start a flow when Facebook refers a contact."

-block extra-script
  {{block.super}}
  %script
    $(document).ready(function() {
      select2div("#id_referral_channel", "520px", '{% trans "Restrict to channel" %}');
      select2div("#id_referral_flow", "520px", '{% trans "Flow to start" %}');
    });
