-extends 'smartmin/form.html'
-load i18n

-block summary
  -trans "Start a flow after receiving a message not handled elsewhere."


-block extra-script
  {{block.super}}
  %script
    $(document).ready(function() {
      select2div("#id_catchall_flow", "365px", '{% trans "Flow to start" %}');
      $('#id_catchall_groups').select2({
        containerCssClass: "select2-temba-field"
      });
    });
