-extends 'smartmin/form.html'
-load i18n

-block summary
  -trans "USSD mobile initiated flow"

-block extra-script
  {{block.super}}
  %script
    $(document).ready(function() {
      select2div("#id_ussd_flow", "520px", '{% trans "Flow to start" %}');
      select2div("#id_ussd_channel", "365px", '{% trans "USSD channel" %}');
    });
