-extends 'smartmin/form.html'
-load i18n

-block summary
  -trans "Create a message keyword that launches a flow."

-block fields
  {{ block.super }}
  %h5.embedded-data-keyword.hidden
    -trans "Flow Parameters"
  #embedded-data-keyword.hidden
    #embed-container-keyword

  %temba-dialog#confirm-keyword-trigger.hide(header='{{ _("Trigger Confirmation")|escapejs }}' primaryButtonName='{{ _("Confirm")|escapejs }}' destructive='true')
    .p-6


-block extra-script
  :javascript
    function onKeywordSuccess(form, htmlString, status, jqXHR) {
      const requiredFields = ['div.field_keyword', 'div.field_flow']
      handleSubmissionResponse(requiredFields, form, { htmlString, status, jqXHR });
    }

    document.addEventListener("DOMContentLoaded", function() {
      const options = {
        formContainerId: '#id-trigger-keyword',
        confirmationBoxId: '#confirm-keyword-trigger',
        flowFieldId: '#id_keyword_flow',
        postUrl: '{% url "triggers.trigger_create_keyword" %}',
        successFunc: onKeywordSuccess
      };
      initForm(options);
    });
