-extends 'smartmin/form.html'
-load i18n

-block summary
  -trans "Start a flow when a conversation is started by a contact."


-block extra-script
  {{block.super}}
  %script
    $(document).ready(function() {
      select2div("#id_new_conversation_channel", "365px", '{% trans "Social media channel" %}');
      select2div("#id_new_conversation_flow", "365px", '{% trans "Flow to start" %}');
    });
