-extends 'smartmin/form.html'
-load i18n

-block extra-style
  {{block.super}}
  :css
    #id_register_action_join_group {
      width: 100%;
    }


-block extra-script
  {{block.super}}
  -load compress
  -compress js
    <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}scripts/at/jquery.caret.coffee" />
    <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}scripts/at/jquery.atwho.coffee" />

  %script
    $(document).ready(function() {
      select2div("#id_register_action_join_group", "520px", '{% trans "Group to join" %}', '{% trans "Add Group: " %}');
      select2div("#id_register_flow", "520px", '{% trans "Flow to start" %}');
      new AutoComplete({{completions|safe}}, {{function_completions|safe}}).bind($('#id_register_response'));
    });

-block summary
  -trans "Create a message keyword that allows people to join a group."
