-extends 'smartmin/form.html'
-load i18n temba

-block extra-style
  {{block.super}}
  :css
    #id_register_action_join_group {
      width: 100%;
    }

    #id_register_response {
      width: 520px;
      height: 120px;
    }

-block extra-script
  {{block.super}}

  %script
    $(document).ready(function() {
      select2div("#id_register_action_join_group", "520px", '{{ _("Group to join")|escapejs }}', '{{ _("Add Group: ")|escapejs }}');
      select2div("#id_register_flow", "520px", '{{ _("Flow to start")|escapejs }}');
    });

-block summary
  -trans "Create a message keyword that allows people to join a group."
