-extends 'smartmin/form.html'
-load i18n

-block summary
  -trans "Start a flow after receiving a call."

-block extra-script
  {{block.super}}
  %script
    $(document).ready(function() {
      select2div("#id_inbound_call_flow", "520px", '{{ _("Flow to start")|escapejs }}');
      $('#id_inbound_call_groups').select2({
        containerCssClass: "select2-temba-field"
      });
    });
