-extends "smartmin/list.html"
-load smartmin sms temba compress humanize
-load i18n

-block page-title
  -trans "Triggers"

-block page-top

-block top-form
  - if view.search_fields
    - block search-form
      %form
        %input.input-medium.search-query{type:'text', placeholder:'{% trans "Search" %}', name:"search", value:"{{search}}"}
        -if request.REQUEST.status
          %input{type:'hidden', name:'status', value:'{{request.REQUEST.status}}'}

-block content
  -if not org_has_triggers
    -include "triggers/empty_include.html"
  -else

    #pjax
      -block pjax
        .lp-frame
          .left
            .flex.flex-col
              -if org_perms.triggers.trigger_create
                .w-64.mr-5
                  .button-primary{onclick:"goto(event)", href:"{% url 'triggers.trigger_create' %}"}
                    -trans "Create Trigger"
            
            .lp-nav.upper
              -for folder in folders
                .lp-nav-item{'class': '{% if folder.url == request_url %}font-normal{% endif %}' }
                  .name{onclick:"goto(event)", href:'{{folder.url}}'}
                    {{folder.label}}
                  .count{onclick:"goto(event)", href:'{{folder.url}}'}
                    {{ folder.count | intcomma }}      
                
          .right
            .flex.w-full.items-end.mb-4
              -block action-buttons
                -if org_perms.triggers.trigger_update
                  .action-buttons.list-buttons-container.h-full.mr-2.flex-grow
                    .list-buttons.flex.items-center.-mx-2.h-full
                        -if 'restore' in actions
                          .button-action.object-btn-restore
                            .-mt-1.mr-2.glyph.icon-checkmark
                            -trans "Activate"

                        -if 'archive' in actions
                          .button-action.object-btn-archive
                            .-mt-1.mr-2.glyph.icon-box
                            -trans "Archive"
              .flex-grow.ml-2.items-center
                -block title-text
                  .page-title.leading-tight
                    {{title}}
              .gear-links
                -include "gear_links_include.haml"

            %form#search-form.mb-4{method:"get"}
              %temba-textinput{onsubmit:'document.querySelector("#search-form").submit();', type:'text', placeholder:'{% trans "Search" %}', name:"search", value:"{{search}}"}
              -if request.REQUEST.status
                %input{type:'hidden', name:'status', value:'{{request.REQUEST.status}}'}

            -block trigger-list
                %table.list.trigger-list.lined{class: '{% if org_perms.flows.flow_update %}selectable{% endif %}'}
                  %tbody
                    -for obj in object_list
                      %tr.trigger.object-row{ data-object-id: "{{ obj.id }}" }
                        - if org_perms.triggers.trigger_update
                          %td.trigger.checkbox.object-row-checkbox
                            .glyph.icon-checkbox-unchecked.contact-checkbox.object-row-checkbox
                        %td{onclick:"handleRowSelection(this)"}
                          -if obj.trigger_type == 'K'
                            -trans "The keyword"
                            %span.attn{style:"{% if not org_perms.triggers.trigger_update %}font-weight:bold;{% endif %}"}
                              - if org_perms.triggers.trigger_update
                                .linked.inline{onclick:"updateTrigger(event, {{obj.id}})"}= obj.keyword
                              - else
                                =obj.keyword
                          -elif obj.trigger_type == 'M'
                            A
                            %span.attn{style:"{% if not org_perms.triggers.trigger_update %}font-weight:bold;{% endif %}"}
                              - if org_perms.triggers.trigger_update
                                .linked.inline{onclick:"updateTrigger(event, {{obj.id}})"}><
                                  -trans "missed call"
                              - else
                                -trans "missed call"

                          -elif obj.trigger_type == 'C'
                            An
                            %span.attn{style:"{% if not org_perms.triggers.trigger_update %}font-weight:bold;{% endif %}"}
                              - if org_perms.triggers.trigger_update
                                .linked.inline{onclick:"updateTrigger(event, {{obj.id}})"}><
                                  -trans "uncaught message"
                              - else
                                -trans "uncaught message"

                          -elif obj.trigger_type == 'V'
                            An
                            %span.attn{style:"{% if not org_perms.triggers.trigger_update %}font-weight:bold;{% endif %}"}
                              - if org_perms.triggers.trigger_update
                                .linked.inline{onclick:"updateTrigger(event, {{obj.id}})"}><
                                  -trans "inbound call"
                              - else
                                -trans "inbound call"

                          -elif obj.trigger_type == 'N'
                            A new
                            %span.attn{style:"{% if not org_perms.triggers.trigger_update %}font-weight:bold;{% endif %}"}
                              - if org_perms.triggers.trigger_update
                                .linked.inline{onclick:"updateTrigger(event, {{obj.id}})"}><
                                  -trans "conversation"
                              - else
                                -trans "conversation"
                            -if obj.channel
                              on
                              %span.attn
                                %a{href:'{%url "channels.channel_read" obj.channel.uuid %}'}= obj.channel

                          -elif obj.trigger_type == 'R'
                            The referrer id
                            %span.attn{style:"{% if not org_perms.triggers.trigger_update %}font-weight:bold;{% endif %}"}
                              - if org_perms.triggers.trigger_update
                                .linked.inline{onclick:"updateTrigger(event, {{obj.id}})"}><
                                  "{{obj.referrer_id}}"
                              - else
                                "{{obj.referrer_id}}"
                            -if obj.channel
                              on
                              %span.attn
                                %a{href:'{%url "channels.channel_read" obj.channel.uuid %}'}= obj.channel

                          -if obj.schedule
                            -trans "The"
                          -else
                            -trans "starts the"
                          %span.attn
                            %a{href:'{%url "flows.flow_editor" obj.flow.uuid %}'}= obj.flow
                          -trans "flow"

                          -if obj.schedule
                            -if obj.schedule.next_fire and not obj.is_archived
                              %span.attn{style:"{% if not org_perms.triggers.trigger_update %}font-weight:bold;{% endif %}"}
                                - if org_perms.triggers.trigger_update and false
                                  .linked.inline{onclick:"updateTrigger(event, {{obj.id}})"}><
                                    {{ obj.schedule.get_display }}
                                - else
                                  {{ obj.schedule.get_display }}
                            -else
                              -trans "is"
                              %span.attn{style:"{% if not org_perms.triggers.trigger_update %}font-weight:bold;{% endif %}"}
                                - if org_perms.triggers.trigger_update and false
                                  .linked.inline{onclick:"updateTrigger(event, {{obj.id}})"}
                                    -trans "not scheduled"
                                - else
                                  -trans "not scheduled"

                        %td{onclick:"handleRowSelection(this)", width: "250px" }
                          -include "includes/recipients.haml" with groups=obj.groups.all contacts=obj.contacts.all

                      -empty
                        %tr.empty_list
                          %td{colspan:3}
                            -trans "No matching triggers."

                  -block extra-rows

                -block paginator
                  -include "includes/pagination.haml"
  
  %temba-modax#update-trigger
-block extra-script
  {{ block.super }}

  :javascript
    function updateTrigger(event, id) {
      event.preventDefault();
      event.stopPropagation();
      var modal = document.querySelector("#update-trigger");
      modal.endpoint = '/trigger/update/' + id + '/';
      modal.header = '{{ _("Update Trigger")|escapejs }}';
      modal.open = true;
    }
    
