{% extends "orgs/base/list.html" %}
{% load smartmin temba i18n %}

{% block modaxes %}
  <temba-modax id="update-trigger">
  </temba-modax>
  <temba-dialog header="{{ _("Delete All Triggers") |escapejs }}"
                primaryButtonName="{{ _("Delete") |escapejs }}"
                destructive="true"
                class="hide"
                id="delete-all-confirmation">
    <div class="p-6">
      {% blocktrans trimmed with count=paginator.count %}
        Are you sure you want to delete all {{ count }} archived triggers? This cannot be undone.
      {% endblocktrans %}
      {% if paginator.count > 50 %}
        <br>
        <br>
        {% blocktrans trimmed %}
          This operation can take a while to complete. Triggers may remain in this view during the process.
        {% endblocktrans %}
      {% endif %}
    </div>
  </temba-dialog>
  <temba-dialog header="{{ _("Delete Selected Triggers") |escapejs }}"
                primaryButtonName="{{ _("Delete") |escapejs }}"
                destructive="true"
                class="hide"
                id="delete-confirmation">
    <div class="p-6">{% trans "Are you sure you want to delete the selected triggers? This cannot be undone." %}</div>
  </temba-dialog>
{% endblock modaxes %}
{% block table %}
  <table class="{% if actions %}selectable{% endif %} list scrolled lined selectable">
    <tbody>
      {% for obj in object_list %}
        <tr data-object-id="{{ obj.id }}"
            onclick="updateTrigger(event, {{ obj.id }})"
            class="trigger object-row">
          {% if org_perms.triggers.trigger_update %}
            <td onclick="checkInner(event);" class="trigger checkbox object-row-checkbox" width="32px">
              <temba-checkbox onclick="handleRowSelection(this)">
              </temba-checkbox>
            </td>
          {% endif %}
          <td>
            <div>
              <div style="max-width:80%" class="flex flex-grow items-center">
                <div class="flex items-center mr-2">
                  <temba-icon name="trigger_{{ obj.type.slug }}" class="text-gray-600">
                  </temba-icon>
                </div>
                <div class="flex-grow">
                  {% with "triggers/types/"|add:obj.type.slug|add:"/desc.html" as type_template %}
                    {% include type_template with trigger=obj %}
                  {% endwith %}
                </div>
              </div>
              {% if obj.channel or obj.contacts.all or obj.groups.all or obj.exclude_groups.all %}
                <div class="text-sm mt-2">
                  {% if obj.channel %}
                    {# djlint:off #}
                      <a href="{% url 'channels.channel_read' obj.channel.uuid %}" onclick="goto(event, this)"><temba-label icon="{{ obj.channel.type.icon }}" clickable class="mr-1 mb-1">{{ obj.channel }}</temba-label></a>
                    {# djlint:on #}
                  {% endif %}
                  {% include "includes/recipients.html" with contacts=obj.contacts.all groups=obj.groups.all exclude_groups=obj.exclude_groups.all groups_as_filters=True %}
                </div>
              {% endif %}
            </div>
          </td>
          <td>
            <div class="text-right">
              <a href="{% url 'flows.flow_editor' obj.flow.uuid %}" onclick="goto(event, this)">
                <temba-label icon="flow" primary clickable class="mx-1 my-1">
                  {{ obj.flow.name }}
                </temba-label>
              </a>
            </div>
          </td>
        </tr>
      {% empty %}
        <tr class="empty_list">
          <td colspan="99" class="text-center">{% trans "No triggers" %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock table %}
{% block extra-script %}
  {{ block.super }}
  <script type="text/javascript">
    onSpload(function() {
      var menu = document.querySelector("temba-content-menu");
      if (menu) {
        menu.addEventListener("temba-selection", function(event) {
          var item = event.detail.item;
          if (item.id == "triggers_delete_all") {
            confirmDeleteAllArchivedTriggers();
          }
        });
      }
    });

    function updateTrigger(event, id) {
      if (event.target.tagName == "TEMBA-CHECKBOX") {
        return;
      }

      event.preventDefault();
      event.stopPropagation();
      var modal = document.querySelector("#update-trigger");
      modal.endpoint = '/trigger/update/' + id + '/';
      modal.header = '{{ _("Update Trigger")|escapejs }}';
      modal.open = true;
    }

    function confirmDeleteAllArchivedTriggers() {
      var deleteAllConfirmation = document.querySelector('#delete-all-confirmation');

      deleteAllConfirmation.classList.remove("hide");
      deleteAllConfirmation.open = true;

      deleteAllConfirmation.removeEventListener("temba-button-clicked", deleteAllArchivedTriggers);
      deleteAllConfirmation.addEventListener("temba-button-clicked", deleteAllArchivedTriggers);
    }

    function deleteAllArchivedTriggers(event) {
      var deleteAllConfirmation = document.querySelector('#delete-all-confirmation');

      if (event.detail.button.attributes.destructive) {
        var url = "{% url 'triggers.trigger_archived' %}";

        const formData = new FormData();
        formData.append("action", "delete");
        formData.append("all", "true");
        spaPost(url, {
          postData: formData
        });
      }
      deleteAllConfirmation.classList.add("hide");
      deleteAllConfirmation.open = false;
    }

    function onDeleteClicked() {
      var deleteConfirmation = document.querySelector("#delete-confirmation");
      deleteConfirmation.classList.remove("hide");
      deleteConfirmation.open = true;

      deleteConfirmation.addEventListener("temba-button-clicked", function(event) {
        if (!event.detail.button.secondary) {
          runActionOnObjectRows("delete", wireTableListeners);
        }
        deleteConfirmation.open = false;
      });
    }
  </script>
{% endblock extra-script %}
