-extends 'smartmin/form.html'
-load i18n

-block summary
  -trans "Start a flow after being followed by a new contact."


-block extra-script
  {{block.super}}
  %script
    $(document).ready(function() {
      select2div("#id_follow_channel", "520px", '{% trans "Social media channel" %}');
      select2div("#id_follow_flow", "520px", '{% trans "Flow to start" %}');
    });
