-extends 'smartmin/form.html'
-load i18n smartmin

-block extra-script
  {{ block.super }}  
  <script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

  :javascript
    document.addEventListener("DOMContentLoaded", function(){
      var repeatPeriod = document.querySelector("#id_schedule_repeat_period");
      if (repeatPeriod) {
        repeatPeriod.addEventListener("change", function(event){
          
          var currentRepeat = event.currentTarget.values[0].value;
          if (currentRepeat == 'W') {
            document.querySelector(".weekly-repeat-options").classList.remove("hidden");
          } else {
            document.querySelector(".weekly-repeat-options").classList.add("hidden");
          }
        });
      }

  
    });
-block fields
  #trigger_flow
    - render_field 'flow'
  #trigger_omnibox
    - render_field 'omnibox'
  #schedule-options
    -render_field 'start_datetime'
  #recurrence
    .repeat-period
      -render_field 'repeat_period'
    .weekly-repeat-options{class:'{% if form.repeat_period.value == "W" %}{% else%}hidden{%endif%}'}
      -render_field 'repeat_days_of_week'    

-block summary
  -trans "Start a flow in the future or on a schedule."
