-extends 'smartmin/form.html'
-load i18n smartmin

-block summary
  -trans "Start a flow in the future or on a schedule."

-block extra-script
  {{ block.super }}
  :javascript
    document.addEventListener("DOMContentLoaded", function(){
      var repeatPeriod = document.querySelector("#id_repeat_period");
      if (repeatPeriod) {
        repeatPeriod.addEventListener("change", function(event){
          
          var currentRepeat = event.currentTarget.values[0].value;
          if (currentRepeat == 'W') {
            document.querySelector(".weekly-repeat-options").classList.remove("hidden");
          } else {
            document.querySelector(".weekly-repeat-options").classList.add("hidden");
          }
        });
      }
    });
