-extends "channels/channel_claim_form.html"
-load i18n

-block pre-form
  -blocktrans trimmed
    After entering your endpoint URL below, we'll provide you with the configuration details for your Kannel configuration file.
