{% load i18n %}

{% blocktrans trimmed %}
  To finish configuring your Novo connection you'll need to set the following callback URLs on your
  Novo account.
{% endblocktrans %}
<div class="card">
  <div class="subtitle">{% trans "Received URL" %}</div>
  <div class="code inline-block">https://{{ channel.callback_domain }}{% url 'courier.nv' channel.uuid 'receive' %}</div>
  <div class="mt-2">
    {% blocktrans trimmed %}
      When a new message is received by your service, it should notify us with a POST to the following URL, passing
      the following parameters: 'from' and 'text'.
    {% endblocktrans %}
  </div>
  <div class="bleed-x bleed-b text-white bg-black">
    <div class="code p-0 break-all bg-black text-white">
      <b>
        POST
      </b>
      https://{{ channel.callback_domain }}{% url 'courier.nv' channel.uuid 'receive' %}
      <div class="mt-3 text-gray-400">from=%2B250788123123&text=Love+is+patient.+Love+is+kind.</div>
    </div>
  </div>
</div>
<div class="mt-4 card">
  <div class="subtitle">{% trans "Token" %}</div>
  <div class="code inline-block">{{ channel.config.secret }}</div>
  <div class="mt-2">
    {% blocktrans trimmed %}
      Use this Token as Authorization when sending incoming messages
    {% endblocktrans %}
  </div>
</div>
