<!DOCTYPE HTML>
-load humanize smartmin
{% block html-tag %}
<!--[if lte IE 8]><html class="ie" lang="en">    <![endif]-->
<!--[if !IE]><!--><html lang="en">              <!--<![endif]-->
{% endblock %}
  
  %head
    %title
      {% block page-title %}
        {{ brand.name }} - Visually build your own chatbots
      {% endblock %}

    %meta{charset:"utf-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %meta{name:"description", content:"{% block page-description %}{{brand.name}} lets you visually build interactive SMS applications and launch them anywhere in the world.{% endblock %}"}
    %meta{name:"author", content:"Nyaruka Ltd"}
    %meta{http-equiv:"X-UA-Compatible", content:"IE=10"}
    %input{type:"hidden", id:"csrf_token", value:"{{csrf_token}}"}

    -load compress
    :javascript
      window.supportEmail = '{{brand.support_email}}';
    
    -include "components-head.html"

    -if brand.favico
      %link{type:"image/ico", rel:"shortcut icon", href:"{{ STATIC_URL }}{{ brand.favico }}"}
    -else
      %link{type:"image/ico", rel:"shortcut icon", href:"{{ STATIC_URL }}images/favicon.ico"}

    -load smartmin sms
    -load i18n

    -compress js
      :javascript
         var static_url = '{{STATIC_URL}}';

    %script{src:"{{ STATIC_URL }}js/temba.js"}
    -block extra-script

    -block styles
      %link{rel:'stylesheet', href:'https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto:300,400,500'}
      %link{rel:"stylesheet", href:"{{ STATIC_URL }}css/temba-components.css", type:"text/css"}
      %link{rel:"stylesheet", href:"{{ STATIC_URL }}css/tailwind.css", type:"text/css"}

      %style{"text/css"}
        :plain
          html {
            --curvature: 6px;
            --curvature-widget: 6px;
            --color-focus: transparent;
            --color-widget-bg: #fff;
            --color-widget-bg-focused: #fff;
            --color-widget-border: rgb(224, 224, 224);
            --widget-box-shadow-focused: 0px 0px 0px 2px rgba(var(--primary-rgb), 0.4);
          }

          .active > .submenu {
            display: block;
          }

      -block extra-style
      -compress css
        %link{type:'text/css', rel:'stylesheet', href:"{{ STATIC_URL }}fonts/temba/style.css", media:'all'}
        %link{type:'text/css', rel:'stylesheet', href:"{{ STATIC_URL }}fonts/icons/style.css", media:'all'}

        {% lessblock %}
          :plain
            // any brand styling tweaks
            @import (optional, reference) "../brands/style.less";
            @import (optional) "../brands/{{brand.slug}}/less/style.less";

        {% endlessblock %}
        
         // any additional brand styling such as fonts, etc
        -for style in brand.styles
          -if 'less' in style
            %link{type:'text/less', rel:'stylesheet', href:'{{STATIC_URL}}{{style}}', media:'all'}
          -else
            %link{type:'text/css', rel:'stylesheet', href:"{{ STATIC_URL }}{{style}}", media:'all'}

    -for incl in brand.head_includes
      -include incl
    -block extra-head

-block body
  %body
    -include "components-body.html"

    #frame-body.min-h-screen
      .flex
        .left.py-2.pl-6.bg-white.w-64.shadow-lg
          %a#big-logo.text-primary.text-6xl.logo.icon-logo{href:"/", title:"{{brand.name}}"}
          .nav.text-gray-700.mt-4
            -for nav_item in nav
              .nav-item.pt-3{class:'{{nav_item.tag}}'}
                .flex.flex-col{class:"{% active request nav_item.active %}"}
                  %a{href:"{% ssl_brand_url nav_item.href %}"}
                    .flex.items-center
                      .icon.text-xl.text-primary{class:"icn-{{nav_item.icon}}"}
                      .title.ml-3.font-normal.text-lg.text-gray-700.linked
                        {{nav_item.title}}
                  .hidden.submenu.py-5.pr-4.-ml-6.pl-6.mt-4.mb-4.bg-gray-100
                    -block submenu
                    
        .right.flex-grow.bg-dark-alpha-50

          .flex.flex-col.min-h-screen
            .px-6.flex-grow
              -block frame-body

            #frame-footer
              -block frame-footer
                .bg-gray-100.text-gray-400.py-12.border-t.self-center.text-center.min-h-full.mt-8
                  #copyright {{ request.branding.credits|safe }}

  -block extra-body

</html>
