-load compress
-compress css
  {% lessblock %}
  :plain
    .more {
      &:hover {
        .submenu-container {
          visibility: visible;
          max-height: 500px;
          .nav-item {
            opacity: 1;
          }
        }
      }
    }

    .submenu-container {     
       
      .nav-item {
        transition: all 100ms ease-in-out;
        opacity: 0;
        font-size: 28px;
        margin-bottom: 20px;
        .title {
          margin-top: -3px;
        }
      }

      /** The arrow caret at the top of the submenu */
      .submenu::before {
        position: absolute;
        top: -7px;
        left: 22px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #CCC;
        border-left: 7px solid transparent;
        border-bottom-color: #ffffff;
        content: '';
      }
    }
    {% endlessblock %}


#nav.flex.flex-row.items-stretch.px-6.py-12
  .nav-item.flex-grow

  -for nav_item in nav
    -include "vanilla/partials/nav_item.html"

  -if nav_overflow
    .more.nav-item.text-5xl.mx-2
      %a.icon-menu-4{href:""}
      .submenu-container.trans-lined-box.invisible.right-0.mr-6.z-10
        .submenu
          -for nav_item in nav_overflow
            -include "vanilla/partials/nav_item.html"

