###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
#### http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file client_max_body_size in nginx by adding a hook
###################################################################################################

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/12_add_nginx_configuration.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      /bin/echo "client_max_body_size 500M;" > /etc/nginx/conf.d/proxy.conf
      /bin/sed -i "/use\sepoll;/d" /etc/nginx/nginx.conf
      /bin/sed -i "/multi_accept\son;/d" /etc/nginx/nginx.conf
      /bin/sed -i "/worker_rlimit_nofile\s150000;/d" /etc/nginx/nginx.conf
      /bin/sed -i "/worker_processes\s/c\worker_processes auto;" /etc/nginx/nginx.conf
      /bin/sed -i "/worker_connections\s/c\    worker_connections 53192;\n    use epoll;\n    multi_accept on;" /etc/nginx/nginx.conf
      /bin/echo "worker_rlimit_nofile 150000;" >> /etc/nginx/nginx.conf
      /sbin/service nginx reload