files:
  "/etc/security/limits.conf":
    mode: "00644"
    owner: "root"
    group: "root"
    content: |
      root         hard    nproc       20000500
      root         soft    nproc       20000500
      root         hard    nofile      20000500
      root         soft    nofile      20000500

commands:
  01restart_docker:
    command: /sbin/service docker stop && ulimit -n 20000500 && /sbin/service docker start