-extends "channels/channel_claim_form.html"
-load i18n compress temba

-block pre-form
  This channel type uses the new <a href="https://developer.twitter.com/en/docs/accounts-and-users/subscribe-account-activity/overview">Twitter Activity API.</a>
  You will need to <a href="https://developer.twitter.com/en/apply-for-access">apply for access</a> and
  <a href="https://developer.twitter.com/en/docs/accounts-and-users/subscribe-account-activity/guides/getting-started-with-webhooks">create a
  Twitter application</a>. Make sure your Twitter application has "Read, Write and Direct Message" permissions.

  .mt-2
    -blocktrans trimmed with name=brand.name
      After connecting your account, any incoming direct messages will automatically be read by {{ name }},
      you'll also be able to send direct messages to contacts you know using their twitter handle.

  .mt-2
    -blocktrans trimmed
      Note that Twitter places a limit of 250 direct messages sent or received per day, so if you expect to exceed
      this number you'll want to contact Twitter directly to task for them to lift the limits on your account.

  .alert-warning
    -blocktrans trimmed
      In order to receive direct messages from new followers, you'll need to update your Twitter account to enable
      the option to <b>Receive Direct Messages from anyone</b>. You can do so from your <a href="https://twitter.com/settings/security">
      Twitter Security Settings</a>.

    .mt-2
      -blocktrans trimmed
        Check the box (as seen below) then click "Save Changes".

    .mt-2
      <img src="{{STATIC_URL}}images/twitter_settings.png"/>
