{% extends "channels/email/base.html" %}

{% load tz %}
{% load i18n %}

{% block body %}
    <p>
      {% blocktrans with org_name=org.name brand=branding.name %}
        We've noticed that the Android phone for {{ org_name }} hasn't contacted the {{ brand }} servers since
      {% endblocktrans %}

      <strong>{% timezone org.timezone %}{{ last_seen|date:"g:i A" }}{% endtimezone %}</strong>.
      {% trans "This is usually due to your phone being unable to connect to the internet." %}
    </p>

    <p>
      {% blocktrans %}
        Please check on your phone to make sure it is connected to a WiFi network or cellular data.
        If problems persist you may want to try turning the phone off then back on.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans with channel_name=channel.get_name %}
        You can check the current status of your {{ channel.get_name }} by visiting its
      {% endblocktrans %}
      <a href="{{ branding.link }}/channels/channel/read/{{ channel.uuid }}/">
        {% trans "status page." %}
      </a>
    </p>

    <p>{% trans "Thanks!" %}</p>

    <p>{% blocktrans with brand=branding.name %}The {{ brand }} Team{% endblocktrans %}</p>
{% endblock %}
