{% extends "channels/email/base.html" %}
{% load i18n %}

{% block body %}
    <p>
      {% blocktrans with org_name=org.name %}
        We've noticed that the Android phone for {{ org_name }} is now charging the battery.
      {% endblocktrans %}
    </p>

    <p>
      {% trans "This email is to announce that your android phone battery low reported last time was resolved. Now the battery is charging." %}
    </p>

    <p>
      {% blocktrans with channel_name=channel.get_name %}
        You can check the current status of your {{ channel_name }} by visiting its
      {% endblocktrans %}
      <a href="{{ branding.link }}/channels/channel/read/{{ channel.uuid }}/">
        {% trans "status page." %}
      </a>
    </p>

    <p>{% trans "Thanks!" %}</p>

    <p>{% blocktrans with brand=branding.name %}The {{ brand }} Team{% endblocktrans %}</p>
{% endblock %}
