{% extends "channels/email/base.html" %}
{% load i18n %}

{% block body %}
    <p>
      {% blocktrans trimmed with channel_type=channel.get_channel_type_name %}
        Please check on your {{ channel_type }} to make sure it has sufficient credit and can send text messages.
        There are messages that have failed to send in your account.
      {% endblocktrans %}
    </p>
    <p>
      {% trans "Go to" %}
      <a href="{{ branding.link }}/channels/channel/read/{{ channel.uuid }}/">
        {% trans "status page" %}
      </a>
      {% trans "to see more detail in the failure logs." %}
    </p>

    <p>{% trans "Thanks!" %}</p>

    <p>{% blocktrans with brand=branding.name %}The {{ brand }} Team{% endblocktrans %}</p>
{% endblock %}
