-extends "smartmin/form.html"
-load i18n

-block title-text
  -trans "Connect Vonage"

-block pre-form
  .mb-4
    -blocktrans trimmed with settings_url='https://dashboard.nexmo.com/settings'
      To connect your Vonage Account you will need to provide us your API key and secret. Both values can be found
      on your <a target="vonage" href="{{ settings_url }}">Vonage settings</a> page in the API Settings section.

-block extra-script
  {{block.super}}
  :javascript
    $(document).ready(function() {
      $("form.smartmin-form").attr('autocomplete', 'off');
    });

