-extends "channels/channel_read.html"

-load smartmin temba compress humanize channels
-load i18n tz

-block fields

-block subtitle
  {{ object.get_channel_type_display }}
  -trans "Templates are synced from your account every 15 minutes."

-block content
  .card.p-0.overflow-y-scroll#templates
    -for translation in translations
      -ifchanged translation.template.name
        .block.template-name
          .truncate.block.p-4(width="100%")
            {{ translation.template.name }}

      .flex.translation(max-width="100%")
        .flex.p-4.content(width="70%")
          {{ translation.content }}

        .flex-1.p-4.language
          {{ translation.language }}

        .flex-1.p-4.country
          {{ translation.country }}

        .flex.p-4.status{class:"tr-{{translation.get_status_display}}"}
          {{ translation.get_status_display }}

      -empty
        %tr.empty
          %td
            -trans "No synced templates at this time."

-block extra-style
  {{ block.super }}

  :css
    .page-content {
      max-width: 100%;
    }

    #templates {
      width: 100%;
    }
    .template-name div {
      font-weight: bold;
      border-bottom: 1px solid #e6e6e6;
    }
    .translation div {
      border-bottom: 1px solid #e6e6e6;
    }
    .translation .language {
      font-family: monospace;
      color: #666;
    }
    .translation .country {
      font-family: monospace;
      color: #666;
    }
    .translation .status {
     font-family: monospace;
    }
    .content {
      font-style: italic;
      width: 70%;
    }
    .tr-pending {
      color: #faa732;
    }
    .tr-rejected {
      color: #b81900;
    }
    .tr-approved {
      color: #4ca20b;
    }
    .empty div {
      font-style: italic;
    }