-extends "smartmin/base.html"
-load i18n

-block page-top

-block content
  #pjax
    -block pjax
      .lp-frame
        .right
          .flex.w-full.mb-4.items-end.flex-wrap.justify-end{style:"min-height:41px"}
            .flex-grow.ml-1.self-end.items-end
              .flex.flex-col.pr-12
                .page-title.leading-tight
                  -block title
                    - trans "Download"
                  .subtitle
                    -block subtitle

          .flex.w-full.mb-4
            .flex-grow.ml-1
              - if not file_error
                .mb-12
                  - blocktrans trimmed
                    Your download should start automatically. If it doesn't start in a few seconds, use the button below to download.
                %a.button-primary{ href: "{{ download_url }}" }
                  - trans "Download Now"
              - else
                .alert.alert-warning
                  {{ file_error }}

-block extra-script
  :javascript
    {% if not file_error %}
    $(document).ready(function() {
      window.location.href = "{{ download_url }}";
    });
    {% endif %}