-extends "smartmin/base.html"
-load i18n

-block page-top

-block title
  {{ title }}

-block page-title
  {{ title }}

-block content
  #pjax
    -block pjax
      .lp-frame
        .right
          .flex.w-full.mb-4
            .flex-grow.ml-1
              -if not file_error
                .mb-12
                  -blocktrans trimmed
                    Your download should start automatically. If it doesn't start in a few seconds, use the button below to download.
                %a.button-primary{ href: "{{ download_url }}" }
                  -trans "Download Now"
              -else
                .alert.alert-warning
                  {{ file_error }}

-block extra-script
  :javascript
    {% if not file_error %}
    $(document).ready(function() {
      window.location.href = "{{ download_url }}";
    });
    {% endif %}