// *****************************************************
// NOTE NOTE NOTE NOTE!!
//
// This file exists only to carry over non-less styles
// Do not add to this file, ultimately everything here
// needs to be moved into a page's extra-less block
// or should be converted into a master style in the
// main style.less file.
//
// *****************************************************

.recompile_2 {}

input {
  &#id_min_value { width:  60px; }
  &#id_max_value { width:  60px; }
}

// The dropdown options
.glyph.message-label.checked:before {
  content: "\e05a";
}

.glyph.message-label.partial:before {
  content: "\e003";
}

.glyph.message-label.checked-child:before {
  content: "\e003";
}


.glyph.checked:before {
  content: "\e05a";
}


.glyph.message-label:before {
  content: "\e004";
}
.glyph.message-label.checked:before {
  content: "\e05a";
}


.dropdown-submenu:hover>a:after {
  border-left-color: #CCC;
}


.label-menu .glyph {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  color: #999;
  font-size: 12px;
  margin-top: 2px;
  width: 12px;
}

.label-menu.dropdown-menu a {
  padding-left: 10px;
  padding-right: 10px;

}

.dropdown-submenu > a::after {
  margin-right: -5px;
}

// the message list
td.value-received {
  text-align: right;
}

td.checkbox .glyph {
  font-size: 14px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.radio, .checkbox {
  min-height: 18px;
  padding-left: 18px;
}

tr.sms:hover {
  cursor: pointer;
}

tr.sms.checked .glyph.message-checkbox:before {
  content: "\e05a";
}

.sms_list tbody td.checkbox {
  color: #777;
}

.glyph.message-checkbox:before {
  content: "\e004";
}

.glyph.message-checkbox, .glyph.message-label {
  font-family: 'temba';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  float: left;
  margin-top: 3px;
  margin-right: 5px;
}

// overrides just for windows
.windows {
  .title-text > h1, .title-text {

  }
}

a:hover.clear-link {
  text-decoration: none;
}

.value-labels {
  float: right;
}

// android page
.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.float-left {
  float: left;
}

// contact read page

.send-form {
  width: 682px;
  padding-bottom: 10px;
  background-color: #efefef;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-top: 1px solid #eee;
}

#id_text {
  width: 510px;
  height: 50px;
  padding: 10px;
  margin-right: 15px;
}

#id_send {
  vertical-align: bottom;
  margin-bottom: 10px;
}

td.clickable a {
  color: rgb(51, 51, 51);
}

// *****************************************************
// NOTE NOTE NOTE NOTE!!
//
// This file exists only to carry over non-less styles
// Do not add to this file, ultimately everything here
// needs to be moved into a page's extra-less block
// or should be converted into a master style in the
// main style.less file.
//
// *****************************************************