// *****************************************************
// NOTE NOTE NOTE NOTE!!
//
// This file exists only to carry over non-less styles
// Do not add to this file, ultimately everything here
// needs to be moved into a page's extra-less block
// or should be converted into a master style in the
// main style.less file.
//
// *****************************************************

input {
  &#id_min_value { width:  60px; }
  &#id_max_value { width:  60px; }
}

// The dropdown options
.glyph.message-label.checked:before {
  content: "\e05a";
}

.glyph.message-label.partial:before {
  content: "\e003";
}

.glyph.message-label.checked-child:before {
  content: "\e003";
}


.glyph.checked:before {
  content: "\e05a";
}


.glyph.message-label:before {
  content: "\e004";
}
.glyph.message-label.checked:before {
  content: "\e05a";
}


.dropdown-submenu:hover>a:after {
  border-left-color: #CCC;
}


.label-menu .glyph {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  color: #999;
  font-size: 12px;
  margin-top: 2px;
  width: 12px;
}

.label-menu.dropdown-menu a {
  padding-left: 10px;
  padding-right: 10px;

}

.dropdown-submenu > a::after {
  margin-right: -5px;
}

// the message list
td.value-received {
  text-align: right;
}

td.checkbox .glyph {
  font-size: 14px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.radio, .checkbox {
  min-height: 18px;
  padding-left: 18px;
}

tr.sms:hover {
  cursor: pointer;
}

tr.sms.checked .glyph.message-checkbox:before {
  content: "\e05a";
}

.sms_list tbody td.checkbox {
  color: #777;
}

.glyph.message-checkbox:before {
  content: "\e004";
}

.glyph.message-checkbox, .glyph.message-label {
  font-family: 'temba';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  float: left;
  margin-top: 3px;
  margin-right: 5px;
}

// overrides just for windows
.windows {
  .title-text > h1, .title-text {

  }
}

a:hover.clear-link {
  text-decoration: none;
}

.value-labels {
  float: right;
}

// android page
.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
}

.float-left {
  float: left;
}

// contact read page

.send-form {
  width: 682px;
  padding-bottom: 10px;
  background-color: #efefef;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-top: 1px solid #eee;
}

#id_text {
  width: 510px;
  height: 50px;
  padding: 10px;
  margin-right: 15px;
}

#id_send {
  vertical-align: bottom;
  margin-bottom: 10px;
}

td.clickable a {
  color: rgb(51, 51, 51);
}

// *****************************************************
// styles.less purge 013117
// *****************************************************

// tweak toastr
.toast-bottom-full-width {
  margin-bottom: 20px;
}

.toast-info {
  background-color: rgba(0, 0, 0, 0.85);
}

// style all placeholder text

.force-wrap {
  word-break: break-all;
}

.spin {
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

#page-container {
  .placeholder-text(#e6e6e6, 200);
}

// Tweaking bootstrap styling

[class^="icon-"], [class*=" icon-"] {
  background-image: none;
}

.btn, .btn-group, .dropdown, .dropdown-toggle, .dropdown-menu,
.btn-group > .btn:first-child, .btn-group > .btn:last-child {
  .rounded-corners(0);
}

.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
  .rounded-corners(0);
}

.btn {
  &.btn-mini {
    padding: 1px 6px;
    margin-right: 0;
    margin-left: 0;
    float: left;
  }

  &.remove {
    margin-right: 5px;
  }

  &.disabled, &[disabled] {
    opacity: 0.15;
  }
}

.table-condensed th, .table-condensed td {
  padding: 7px 6px;
}

.label, .badge {
  text-shadow: none;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  background: @color-selected;
  color: @color-selected-font;
  text-shadow: none;
}

.nav > li > a {

  text-shadow: none;

  &:hover {
    background: @color-hovered;
    color: @color-hovered-font;
    text-shadow: none;
    margin-right: -15px;
  }
}

.nav-list {
  .active {
    > a {
      background: @color-selected;
      color: @color-selected-font;
      text-shadow: none;

      &:hover {
        background: @color-selected;
        color: @color-selected-font;
        text-shadow: none;
      }
    }
  }
}

.nav-list.level2 a {
  margin-right: -30px;

  &:hover {
    margin-right: -30px;
  }
}

li {
  list-style-type: none;
}

ul.recipients-list {
  li {
    padding: 0;
  }
  padding: 0;
  margin: 0;
}

// form stylig

form, input {
  margin: 0;
}

.input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn {
  margin-left: -1px;
  vertical-align: top;
  .rounded-corners(0);
}

.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input {
  position: relative;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 14px;
  vertical-align: top;
  .rounded-corners(0);
}

.input-append .add-on, .input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 25px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  background-color: #eee;
  border: 1px solid #ccc;
}

.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
  .rounded-corners(0);
}

input, textarea {
  width: 350px;
}

.controls .uneditable-input {
  width: 350px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  display: inline-block;
  height: 25px;
  padding: 4px 6px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
  .rounded-corners(0);
}

.uneditable-input {
  line-height: 25px;
}

form.form-horizontal textarea, form.form-vertical textarea {
  height: auto;
  margin-bottom: 5px;
}

.form-horizontal .controls, .form-horizontal .form-control {
  margin-left: 10px;
}

.formax-form .form-horizontal .form-control {
  margin-left: 0px;
}

.form-horizontal .formax-vertical .form-control {
  margin-left: 0px;
}

.form-horizontal .control-label {
  float: left;
  width: 150px;
  padding-top: 5px;
  margin-right: 10px;
  text-align: right;
}

.smartmin-form-buttons, .form-actions {
  background-color: transparent;
  border: 0;
}

.form-horizontal .smartmin-form-buttons {
  padding-left: 160px;
}

// nav styling

.nav > li > a {
  display: block;
  font-weight: 200;
  color: @color-links;
}

.nav-list > li > a {
  padding: 6px 15px;
}

.pagination ul > li > a, .pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 0px solid #dddddd;
  border-left-width: 0;
}

.pagination ul {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
  .rounded-corners(0);
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: none;
}

.pagination a, .pagination span {
  float: left;
  padding: 0 14px;
  line-height: 48px;
  text-decoration: none;
  background-color: #fff;
  // border: 1px solid #ddd;
  border-left-width: 0;
}

// pagination
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 48px;
  text-decoration: none;
  border: 0;
  border-left-width: 0;
}

.pagination a {
  line-height: 30px;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
  border-left-width: 0px;
  .rounded-corners(0);
}

.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
  .rounded-corners(0);
}

body.modal-open {
  overflow: hidden;
}

.btn.disabled {
  opacity: 0.2;
}

.recompile_3 {
}

// *******************************
// Primary widget styling
// *******************************

html, body {
  height: 100%;
}

body {
  font-family: @primary-font;
  font-weight: 200;
  text-transform: none;
}

.container {
  min-height: 100%;
  padding-top: -130px; // height of the header
  position: relative;
}

a {
  color: @color-links;
}

h1, h2, h3, h4, h5 {
  font-family: @helvetica, @roboto-thin, sans-serif;
  letter-spacing: 1px;
  padding: 0;
  text-transform: none;
  font-weight: 100;
  color: @color-font-grey;
}

h1 {
  font-size: 44px;
  line-height: 40px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 26px;
}

h4 {

}

h5 {
  font-weight: 300;
  color: @color-font-lightgrey;
  margin-bottom: 5px;
}

// All site buttons
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-image: none;
  border: 0;
  padding: 8px 20px;
  font-weight: 300;
  margin-right: 0px;
}

.btn-group .btn {
  margin-right: 0;
}

.btn-group .tooltip {
  top: -38px !important;
}

.btn-group.open {
  .btn.dropdown-toggle {
    background-color: @color-button - #222;
    color: @color-button-font;
    // text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    text-shadow: none;
  }
}

.btn-colored(@bg, @font) {
  border: 1px solid @bg - #060606;
  background-color: @bg;
  background-image: -webkit-linear-gradient(top, @bg, @bg - #101010);
  background: -moz-linear-gradient(top, @bg, @bg - #101010);
  color: @font;
  text-shadow: none;
  &:hover, &:focus, &:active, &.open {
    background-color: @bg - #111;
    background-image: none;
    color: @font;
    text-shadow: none;
  }
}

.btn {
  .btn-colored(@color-button, @color-button-font)
}

.btn-primary {
  .btn-colored(@color-button-primary, @color-button-primary-font);
}

.group-membership {
  display: inline-block;

  .btn.btn-primary {
    border: 0px;
  }
}

.btn-danger {
  .btn-colored(@color-button-danger, @color-button-danger-font);
}

.btn-success {
  .btn-colored(@color-button-success, @color-button-success-font);
}

.btn-tiny {
  padding: 3px 8px;
  font-size: 12px;
}

.label-info, .badge-info {
  background-color: @color-label;
}

// label badges
.label {
  border: 1px solid @color-label - #111;
  .rounded-corners(0);
  font-weight: 200;
  font-size: 10px;
  padding: 2px 4px 0px 4px;
  margin-right: 0px;
  height: 16px;
  line-height: 16px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: baseline;
  color: @color-font-white;
  padding-top: 0px;
  &.label-success {
    border: 1px solid @flat-mutedgreen - #333;
    background-color: @flat-mutedgreen - #222;
  }

  &.label-group {
    margin-right: -4px;
    margin-left: 0;
    padding: 2px 6px;

    &.remove {
      line-height: 14px;
      font-size: 14px;
      text-align: match-parent;
      padding: 2px 6px;
      margin-right: 1px;
      margin-top: 0px;
    }
  }
}

.label {
  &.btn {
    border: 0;
  }
}

.glyph {
  // default icon size
  line-height: 1;
  text-decoration: none;
  font-size: 16px;

  &.success {
    color: @color-font-success;
  }
  &.warning {
    color: @color-font-warning;
  }
}

a.logo {
  color: #fff;
  font-size: 96px;
  margin-top: -2px;
  text-decoration: none;

  .name {
    display: none;
  }
}

.spacer-right-10 {
  padding-right: 10px;
}

.spacer-bottom-12 {
  margin-bottom: 12px;
}

// *******************************
// The list tables we use on messages, contacts etc..
// *******************************

.search-details {
  float: left;
  width: 650px;
  padding-top:20px;
  margin-bottom:-10px;
}


.list-container {
  .scroll-x();
}

table.list-table {
  td.value-phone {
    width: 100px;
  }

  td.value-received {
    width: 50px;
    text-align: right;
  }

  td.value-icon {
    width: 20px;
    text-align: right;
    padding-right: 0px;
  }

  tr:hover td {
    color: #000;
  }

  tr td.checkbox {
    cursor: pointer;
    color: @color-font-lightgrey;
  }

  tr:hover td.checkbox {
    color: @color-font-lightgrey;
  }

  tr:hover td.checkbox:hover {
    color: @flat-blue;
  }
}

.empty-message {
  padding: 30px 20px;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: .1em;
  p {
    padding-top: 0;
    margin-top: 0;
  }
}

// *******************************
// Frame styling
// *******************************

.logo {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  padding-left: 30px;
  padding-top: 20px;
}

#top-menu {
  //border: 1px solid purple;
  position: absolute;
  width: 600px;
  z-index: 1025;
  height: 60px;
  top: 38px;
  text-align: right;
  right: 20px;
  padding-right: 37px;

  // Main menu ring buttons
  li {
    border: 0px solid red;
    display: inline-block;
    position: relative;
    font-size: 40px;
    margin-left: 10px;
    z-index: 20;
    width: 55px;

    &.more {

      width: 5px;
      margin-left: 10px;
      padding-left: -5px;
      padding-right: -5px;

      a {
        width: 5px;
      }

      &:hover {
        .submenu {
          // display:block;
          // visibility: visible;
        }

        a.icon-more {
          &:before {
            content: "\e0be";
          }
          padding-bottom: 25px;
        }
      }
    }

    .submenu-container {
      position: absolute;
      top: 35px;
      left: -12px;
      width: 55px;
      padding: 10px 5px;
      padding-bottom: 40px;
      z-index: 2000;
      // border: 1px solid red;

      .submenu {
        position: relative;

        width: 50px;

        top: 10px;
        background: #fff;
        .drop-shadow(0, 1px, 1px, 3px, .1, 0);
        .rounded-corners(5px);
        border: 1px solid @color-navbar;
        //border: 1px solid green;

        &::before {
          position: absolute;
          top: -7px;
          left: 19px;
          display: inline-block;
          border-right: 7px solid transparent;
          border-bottom: 7px solid #CCC;
          border-left: 7px solid transparent;
          border-bottom-color: rgba(255, 255, 255, 1);
          content: '';
        }

        a {
          font-size: 28px;
          color: @color-navlink;
          padding-top: 5px;
          display: inline-block;
          width: 50px;
          height: 50px;
          // border: 1px solid red;
          position: relative;
          margin-bottom: 10px;
          margin-top: 10px;
          margin-left: 0px;

          .title {
            border: 0px solid green;
            color: @color-navbar;
            padding: 0px;
            width: 50px;
            margin: 0;
            margin-left: 0px;
            margin-top: 8px;
          }
        }

      }
    }

    .title {
      font-family: @primary-font;
      font-size: 12px;
      text-align: center;
      width: 60px;
      height: 10px;
      margin-top: 5px;
      color: @color-menu;
      border: 0px solid green;
    }

    .notification {
      position: absolute;
      padding: 3px 3px;
      font-family: @primary-font;
      font-size: 12px;
      background: @color-notification;
      color: @color-menu;
      line-height: 12px;
      left: 34px;
      top: -10px;
      text-align: center;
      border-radius: 2px;
      -moz-border-radius: 2px;
      box-shadow: 1px 1px 0px @color-bg-grey;
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8);

      border: 0px solid maroon;

      &.icon-warning {
        font-family: temba;
      }
    }

    a {
      color: @color-menu;
      text-decoration: none;
      text-transform: lowercase;
      display: inline-block;
      border: 0px solid black;
      height: 50px;
      width: 60px;
      text-align: center;

      &.icon-nav-messages {
        &.active:before {
          content: "\e085";
        }
        &:hover:before {
          content: "\e085";
        }
      }

      &.icon-nav-learn {
        &.active:before {
          content: "\e0b9";
        }
        &:hover:before {
          content: "\e0b9";
        }
      }

      &.icon-nav-docs {
        &.active:before {
          content: "\f15c";
        }

        &:hover:before {
          content: "\f15c";
        }
      }

      &.icon-nav-analytics {
        &.active:before {
          content: "\e087";
        }
        &:hover:before {
          content: "\e087";
        }
      }

      &.icon-more {
        &.active:before {
          content: "\e0be";
        }
        &:hover:before {
          content: "\e0be";
        }
      }

      &.icon-nav-orgs {
        &.active:before {
          content: "\e0ad";
        }
        &:hover:before {
          content: "\e0ad";
        }
      }

      &.icon-nav-flows {
        &.active:before {
          content: "\e08c";
        }
        &:hover:before {
          content: "\e08c";
        }
      }

      &.icon-nav-contacts {
        &.active:before {
          content: "\e081";
        }
        &:hover:before {
          content: "\e081";
        }
      }

      &.icon-nav-channels {
        &.active:before {
          content: "\e098";
        }
        &:hover:before {
          content: "\e098";
        }
      }

      &.icon-nav-home {
        &.active:before {
          content: "\e083";
        }
        &:hover:before {
          content: "\e083";
        }
      }

      &.icon-nav-login {
        &:hover:before {
          content: "\e090";
        }
        &.active:before {
          content: "\e090";
        }

      }

      &.icon-nav-channels {

        &:hover:before {
          content: "\e098";
        }
        &.active:before {
          content: "\e098";
        }
      }

      &.icon-nav-pricing {
        &:hover:before {
          content: "\e09e";
        }
        &.active:before {
          content: "\e09e";
        }
      }

      &.icon-nav-groups {
        &.active:before {
          content: "\e08e";
        }
        &:hover:before {
          content: "\e08e";
        }
      }

      &.icon-nav-dashboard {
        &.active:before {
          content: "\e0a3";
        }
        &:hover:before {
          content: "\e0a3";
        }
      }

      &.icon-nav-triggers {
        &.active:before {
          content: "\e0a5";
        }
        &:hover:before {
          content: "\e0a5";
        }
      }

      &.icon-nav-locations {
        &.active:before {
          content: "\e601";
        }
        &:hover:before {
          content: "\e601";
        }
      }

      &.icon-nav-campaigns {

        &:hover:before {
          content: "\e0bc";
        }
        &.active:before {
          content: "\e0bc";
        }
      }

      &.icon-nav-blog {
        &.active:before {
          content: "\e0b7";
        }
        &:hover:before {
          content: "\e0b7";
        }
      }

      &.icon-nav-logout {
        &.active:before {
          content: "\e0c8";
        }
        &:hover:before {
          content: "\e0c8";
        }
      }

    }
  }

  @media all and (max-width: 767px) {
    // border:1px solid green;
    text-align: right;
    left: 0;
    top: 110px;
    width: 350px;
    text-align: left;
    padding: 0;



    li {
      // border:1px solid pink;
      width: 25px;
      height: 25px;
      font-size: 24px;
      text-align: left;
      padding-bottom: 10px;
      margin: 0;
      margin-right: 10px;

      &.more {
        .submenu-container {
          text-transform: lowercase;
          left: -20px;
          top: 14px;
          .submenu {
            .drop-shadow(0);
            a {
              height: 22px;
              font-size: 24px;
            }
          }
        }
      }

      .notification {
        font-size: 8px;
        left: 15px;
        top: -8px;
        line-height: 8px;
        width: 12px;
        height: 12px;
        padding: 1px;
        padding-top: 3px;
        padding-bottom: 0px;
      }

      a {
        width: 25px;
        height: 25px;
        padding: 0;
        .title {
          display: none;
        }
      }
    }
  }
}

.nav-alert {
  a {
    color: #fff;
    &:hover {
      text-decoration: none;
      color: #f3f3f3;
    }
  }

  &.interrupted {
    background: rgb(178, 23, 26)
  }

  .icon-warning {
    margin-right: 1px;
  }

  position: absolute;
  top: 110px;
  right: 30px;
  display: none;
  text-align: center;
  float: right;
  color: #fff;
  background: rgba(0, 0, 0, .15);
  margin-top: -0px;
  height: 20px;
  padding: 1px 20px;
  .border-radius(3px, 3px, 0px, 0px);
  font-size: 11px;
  font-weight: 200;

  @media all and (max-width: 767px) {
    .rounded-corners(3px);
    margin-top: 10px;
    right: 50px;
    top: 25px;
    width: 170px;
    background: none;
    text-align: left;
    font-size: 12px;
    padding: 0;
  }
}

a.org-choose {
  padding: 5px;
  background: #eee;
  margin-bottom: 10px;
  display: block;
  color: #333;
  line-height: 50px;
  width: 500px;
  height: 50px;

  .name {
    margin-left: 50px;
  }

  .icon-home {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    float: left;
  }

  &:hover {
    color: #f5f5f5;
    text-decoration: none;
    background-color: @flat-blue;
  }
}

.org-header {

  z-index: 1039;
  position: absolute;
  top: -7px;
  right: 30px;
  text-align: center;
  float: right;
  background: rgba(0, 0, 0, .15);
  margin-top: -0px;
  padding-top: 6px;
  font-size: 11px;
  max-width: 180px;
  .rounded-corners(3px);

  cursor: pointer;
  color: #fff;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: #f3f3f3;
  }

  .toggle {
    margin-top: 1px;
    padding: 0px 5px;
  }

  .icon-warning {
    color: @color-notification;
  }

  .org {
    line-height: 14px;
    padding: 3px 10px 5px;
    width: 160px;
  }

  .other-orgs {
    width: 180px;
    .account-details {
      padding: 5px 0px;
      border-bottom: 1px solid #ccc;

      a {
        color: @color-navbar;
      }

      margin: 0 10px 3px;

      .org {
        padding: 0;
      }
    }

    .org {

      a {
        color: @color-navbar;

        &:hover {
          color: @color-navbar - #222;
        }
      }
      max-width: 200px;
    }

    background: #fff;
    margin: -2px -10px -10px;
    text-align: left;
    border: 1px solid @color-navbar - #111;
  }

  &.expanded {
    .other-orgs {
      display: inline-block;
      .border-radius(0, 0, 3px, 3px);
    }
    .drop-shadow(0, 1px, 1px, 3px, .1, 0);
  }

}

#header {

  background-color: @color-navbar;
  padding-top: 32px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border: 0px solid pink;
  z-index: 0;
  position: relative;
  height: 80px;

  @media all and (max-width: 940px) and (min-width: 767px) {
    min-width: 940px;
  }

  @media all and (max-width: 767px) {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
  }

  #menu-right-container {
    height: 60px;
    // border: 1px solid purple;
    position: absolute;
    width: 600px;
    right: 0px;

    top: 10px;
    right: 0px;
    overflow-x: hidden;

    #menu-right {
      float: right;
      border: 1px solid yellow;
      height: 60px;
      width: 600px;
    }
  }

  #menu-left {
    height: 70px;
    border: 0px solid yellow;
  }
}

#print-header {
  text-align: right;
  font-size: 32px;
  margin-right: 20px;
  color: #666;
  display: none;
}

.instructions {
  font-size: 16px;
  margin-bottom: 20px;
  color: #999;
  line-height: 25px;
  width: 80%;
}

.instructions {
  @media screen {
    display: gone;
  }
}

// *******************************
// Form styling
// *******************************

form.smartmin-form {
  .help-block {
    margin-top: 0px !important;
  }

  .uneditable-input {
    margin-bottom: 5px;
  }

  select {
    margin-bottom: 9px;
  }

  .select2-container {
    margin-bottom: 5px;
  }

  ul.errorlist {
    margin: 0;

    li {
      color: @color-alert-error;
    }
  }

  .alert-error {
    .rounded-corners(0px);
  }
}

form.smartmin-form.form-horizontal {
  ul.errorlist {
    margin-left: 150px;
  }
}

.sort-placeholder {
  border-top: 1px solid @flat-white - #111;
  border-bottom: 1px solid @flat-white - #111;
  background-color: @flat-white + #090909;
  width: 94%;

}

input[type='text'].search-query {
  .rounded-corners(12px);
  width: 200px;
  padding: 5px 15px;
  padding-top: 2;
  font-size: 14px;
  font-weight: 200;

}

// *******************************
// Main content styling
// *******************************

.top-bar {
  margin-top: 5px;
  border-top: 0px;
}

.top-form {
  margin-top: 15px;
}

// main page header icon
.title-icon {
  .glyph {
    margin-top: 22px;
    font-size: 56px;
    line-height: 0;
    color: #999;
    float: left;
  }

  .glyph.icon-bubble-notification {
    margin-top: 35px;
  }

  + .title-text {
    margin-left: 85px;
  }
}

.title-text {
  h2 {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  h5 {
    margin-bottom: 0px;
    margin-top: 2px;
  }
}

#gear-container {

  height: 46px;
  display: inline-block;

  .gear-menu {

    .dropdown-menu {
      left: -96px;

      li > a {
        padding: 8px 8px;
        &:hover {

        }
      }
    }

    .btn {
      padding: 8px 20px;
    }

    .glyph {
      color: @color-button-font;
    }

    .caret {
      border-top-color: @color-button-font;
    }
  }
}

// the big help treatment
#big-help {
  font-size: 250px;
  color: @flat-darkwhite;
  margin-top: 20px;

  @media (max-width: 2000px) {
    font-size: 180px;
    height: 200px;
    margin-left: 25px;
  }

  @media (max-width: 768px) {
    font-size: 80px;
    height: 200px;
    margin-left: 25px;
    display: none;
  }

  &.icon-vcard {
    margin-top: -30px;
  }
}

.medium-help {
  color: #999;
  height: 90px;
  font-size: 72px;
}

.medium-glyph {
  line-height: 1;
  font-size: 18px;
  text-decoration: none;
}

.italics {
  font-style: italic;
}

// *******************************
// List views
// *******************************

#sidebar-nav {
  border: 1px solid #e6e6e6;
  .nav.nav-list:not(.level2) {
    .scroll-y();
    height: 450px;
    li {
      a {
        font-size: 13px;
      }
    }
  }
}

// buttons at the top of the list
.message-buttons {
  margin-bottom: 0px;
}

tr.checked {
  td {
    background-color: @color-selected;
    color: @color-selected-font;
  }
}

// *******************************
// Select2, Omnibox
// *******************************

#omni {

  #omni-select2 {
    margin-top: 30px;
  }

  #loading {
    font-size: 14px;
    border: 1px solid @color-bg-lightgrey;
    padding: 10px 0;
    color: @color-font-lightestgrey;
    margin-top: 30px;
    background-image: url('../images/loader-bars.gif');
    background-repeat: no-repeat;
    background-position: 97% 50%;

    &:after {
      content: 'Loading recipients..';
      padding-left: 10px;
    }
  }
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #fff url('../images/loader-bars.gif?asdfasdf') no-repeat 100% !important;
}

.select2tag {
  width: 50%;
}

.select2-match {
  text-decoration: underline;
}

// the input box inside, which guides the height of the unselected
.select2-container-multi .select2-choices .select2-search-field input {
  margin: 0 0;
  font-family: sans-serif;
  font-size: 14px;
  height: 20px;
  width: 100%;
  padding: 8px 4px;
}

// the item buttons that are selected
.select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 6px;
  margin-bottom: -2px;
  line-height: 14px;
  font-size: 14px;
  height: 16px;
  color: #333;
  cursor: default;
}

.select2-container-multi .select2-choices {
  position: static;
}

.select2-container .select2-choice .select2-arrow {
  .rounded-corners(0);
}

.select2-choices, .select2-results {
  .omni-option:before {
    font-family: temba;
    color: #999;
    font-size: 14px;
    margin-right: 5px;
  }

  .omni-group:before {
    content: "\e03c";
  }

  .omni-contact:before {
    content: "\e03b";
  }

  .omni-tel:before {
    content: "\e04a";
  }

  .omni-twitter:before {
    content: "\e007";
  }

  .omni-telegram:before {
    content: "\e900";
    padding-top: 5px;
  }
}

.select2-temba-field, .select2-temba-user-group-field {
  width: 520px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 0px;
  -webkit-border-radius: 0px;
  margin-bottom: 5px;

}

.select2-no-search {
  .select2-search {
    display: none;
  }
}

.select2-container .select2-choice {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  padding: 3px 5px;
  background: #FFFFFF;
  overflow: inherit;
  font-weight: 200;

  div {
    width: 20px;
    padding: 2px 5px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-color: @color-bg-lightgrey;
    background-image: none;
  }
}

.select2-container {
  font-size: 14px;
}

.select2-highlighted {
  .omni-option:before {
    color: #eee;
  }
}

.select2-container .select2-choice .select2-arrow b {
  margin-top: 3px;
  margin-left: 3px;
}

.select2-container .select2-choice .select2-arrow {
  width: 23px;
}

#send-message {
  label {
    margin-top: 0px;
    color: #666;
  }

  #id_text {
    width: 96%;
    min-height: 80px;
  }

  #counter {
    font-size: 12px;
    float: right;
  }

  #errors {
    margin-top: 10px;
  }

}

// *******************************
// Smartmin
// *******************************
form.smartmin-form ul.errorlist li {
  color: #b94a48;
}

.form-horizontal .form-actions {
  padding-left: 160px;
}

.form-actions {
  padding: 0px;
  margin-top: 0px;
}

// *******************************
// Modals
// *******************************
#modal-container {

  .smartmin-form-buttons, .form-actions {
    display: none;
  }

  .span12 {
    width: 100%;
    margin-left: 0;
  }

}

.modal, .send-message {

  .span12 {
    width: 100%;
    margin-left: 0;
  }

  .smartmin-form-buttons, .form-actions {
    display: none;
  }

  .modal-header {
    padding: 10px 15px 8px 15px;
    border-bottom: 1px solid @color-bg-blue - #111;
    background: @color-alert-notice;
    color: @color-font-white;

    .title {
      color: @color-font-white;
    }

    #modal-title {
      color: @color-font-white;
      font-size: 22px;
      font-weight: 200;
      bottom: 15px;
      top: -2px;
      position: relative;
    }

    .glyph {
      color: @color-font-white;
      font-size: 23px;
      margin-right: 15px;

      &.icon-bubble-3 {
        margin-top: 4px;
      }
    }
  }

  .modal-body {

    overflow-x: hidden;
    padding: 20px;
    max-height: 430px;

    .details {
      color: #ccc;
      margin-top: 15px;
      font-size: 14px;
      font-style: italic;
    }

    #send-form {
      #counter {
        margin-right: 3px;
      }

      .error {
        padding-left: 5px;
        border: none;
      }

    }

    .control-group, .form-group {
      margin-bottom: 0;
    }

    .control-label {
      width: auto;
      text-align: left;
      display: block;
      float: none;
    }
    .controls, .form-control {
      display: block;
      margin-left: 0;
      float: none;
    }

    .help-block {
      color: @color-font-lightgrey !important;
      font-size: 13px !important;
      margin-top: -5px !important;

      ul.errorlist {
        li {
          color: #952624 !important;
        }
      }
    }

    #modal-message {
      color: @flat-darkgrey;
    }
  }

  .modal-footer {
    .rounded-corners(0);
    background-color: @color-bg-lightgrey;
    border-top: 1px solid @color-font-lightestgrey;
    padding-top: 10px;

    .primary {
      float: right;
      margin-left: 10px;
    }

    .ussd-counter {
      float: left;
      margin: 12px 0 0;
      font-size: 13px;
      line-height: 18px;
    }
  }

  &.airtime-warning {
    .modal-header {
      background: @flat-grey + #333;
      border-bottom-color: @flat-grey + #111;
    }

    #modal-title {
      color: @flat-white;
      text-shadow: none;
    }

    .modal-footer {
      .primary {
        background: @flat-grey + #333;
        border-bottom-color: @flat-grey + #111;
      }
    }

  }

  &.alert {
    color: @color-font-black;
    padding: 0px;

    .modal-header {
      background: @color-alert-error;
      border-bottom: 1px solid @color-alert-error - #111;

      #modal-title {
        color: @flat-white;
        text-shadow: none;
      }

      .close {
        margin-right: 20px;
      }
    }

    .modal-footer {
      .primary {
        background: @color-alert-error;
        border: 1px solid @color-alert-error - #111;
      }
    }

    .glyph {
      color: @color-alert-error - #444;
    }

  }

  .error {
    color: @color-alert-error;
    font-size: 14px;
  }
}

.weight-200 {
  font-weight: 200;
}

.weight-100 {
  font-weight: 100;
}

// Styles used primarily in our API explorer

code {
  color: @color-bg-blue;
  padding: 1px 4px;
}

// style for the tooltip

div.tooltip.in {
  opacity: 1;
}

.header-margin {
  margin-left: 100px;
  margin-top: 4px;
}

// *******************************
// Time picker styling
// *******************************
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}

.ui-timepicker-div dl {
  text-align: left;
}

.ui-timepicker-div dl dt {
  width: 0px;
  margin-bottom: -25px;
  display: none;
}

.ui-timepicker-div dl dd {
  margin: 0 10px 10px 10px;
}

.ui-timepicker-div td {
  font-size: 90%;
}

.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.ui-timepicker-rtl {
  direction: rtl;
}

.ui-timepicker-rtl dl {
  text-align: right;
}

.ui-corner-all {
  .rounded-corners(0);
}

#posterizer {
  display: none;
}

.loader-circles {
  background-image: url('../images/loader-circles.gif');
  width: 150px;
  height: 14px;
}

/*.btn-primary {
background: #997ad1;

&.hover {
background: #624e87;
}
}*/

// some surgery for IE
.ie {

  #big-help {
    font-size: 190px;
  }

  #header {
    a.charm {
      .glyph {
        position: absolute;
        font-size: 17px;
        margin-top: -21px;
      }
    }
  }

  .formax {
    .formax-container {
      .formax-form {

        margin-left: 60px;
        .category-input input {
          height: 25px;
        }

        .icon-link {
          margin-top: -4px;
        }

        #later-option {
          margin-top: -5px;
        }
        #start-datetime {
          margin-left: -5px;
          margin-top: 10px;
        }

      }
    }
  }

}

.select-row:hover {
  cursor: pointer;
}

.span9 .list-table {
  margin-top: 48px;
}

.modal-body {
  .row {
    margin-left: 0px;
  }

  input, textarea {
    width: 505px;
  }

  .select2-container {
    /* Headsup this is select2 the style for width is inline this is the only way for now. */
    // width: 520px !important;
    width: 520px;
    margin-bottom: 5px;
  }

  .loader {
    display: none;
    width: 270px;
    margin: 0 auto;
    padding: 30px 0;
  }
}

/*.empty-list
.icon.icon-feed
.message
%h2 Triggering your Flows
.details
*/

.empty-list {
  position: relative;
  .icon {
    position: absolute;
    font-size: 180px;
    color: @flat-white;
    left: 30px;
    top: 5px;
  }
  .message {
    position: absolute;
  }
}

/* Schedules UI */
#start-datetime {
  width: 400px;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  color: #999;
  background-color: transparent;
  border: 0px solid #999;
  cursor: text;
}

.weekly-repeat-options {
  .btn-group {
    z-index: 0;
    .btn {
      padding: 2px 8px;
    }
  }
}

#start-datetime-value {
  display: none;
}

#modal .repeat-peroid, .repeat-period {

  select {
    width: 100px;
    margin-top: 5px;
  }

  .control-label {
    float: left;
    text-align: left;
    margin-right: 5px;
    margin-top: 2px;
    width: 50px;
    display: block;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    color: #999;
  }
}

input[type='radio'] {
  margin-top: -5px;
  margin-right: 6px;
  margin-left: 6px;
}

#schedule-next-run > #start-datetime {
  color: #2E8BCC;

}

#start-datetime.hasDatepicker {
  &:focus {
    outline: none;
    text-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
  }
}

#schedule-next-run > #start-datetime:hover {
  text-decoration: underline;
}

[data-handler=today] {
  display: none;
}

#id-schedule.fixed .formax-container {
  margin-left: 115px;
  margin-top: 15px;
}

#id-schedule .formax-container .formax-form input[value='Save'] {
  display: none;
}

.stop-button {
  margin-top: 20px
}

.fixed #form-buttons {
  border-top: 0px solid #ddd;
  margin-top: 20px;
  margin-left: -70px;
}

#schedule-options {
  font-size: 14px;
}

.schedule-options-label {
  display: initial;
  font-weight: 200;
}

.error {
  color: @color-font-white;
  background-color: @color-alert-error + #222;
  border: 1px solid @color-alert-error;
  text-shadow: none;
  width: 560px;

  ul.errorlist {
    margin: 0px;
  }
  &.control-group, &.form-group {
    // padding:0;
    color: @color-alert-error;
    background-color: #fff;
    border: 0;
    box-shadow: none;
  }
}

.modal {
  .error {
    // padding:0;
    background-color: #fff;
    border: 1px solid @color-alert-error;

    &.control-group, &.form-group {
      // padding:0;
      background-color: #fff;
      border: 0;
      box-shadow: none;
    }
  }
}

.select2-container.error {
  background-color: #fff;
  padding: 0px;
}

.login {
  margin-top: 0px;

  width: 150px;

  padding: 3px 8px;
  margin: 0;

  &.TIER_249 {
    background: #EAE180;
  }

  &.TIER1 {

  }

  &.TIER_39 {
    background: #CB8D56;
    color: #fff;
  }

  &.FREE {
    background: #fff;
    color: @flat-blue;
  }

  &.TRIAL {
    background: #75AE82;
    color: #fff;
  }

}

// connect and disconnect in orgs
.disconnect-help {
  font-size: 16px;
  line-height: 20px;

  .account_details {
    padding: 15px 30px 0px 0px;

    .account_key {
      float: left;
      width: 140px;
      text-align: right;
      font-weight: 400;
    }

    .account_value {
      margin-left: 150px;
    }
  }
}

.org-button {
  width: 130px;
}

.glyph.notif-checkbox:before {
  content: "\e004";
}

.field-input.checked .glyph.notif-checkbox:before, .view_toggle.checked .glyph.notif-checkbox:before {
  content: "\e05a";
}

.field-input .help-block {
  padding-top: 4px !important;
}

.glyph.notif-checkbox {
  font-family: 'temba';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  float: left;
  margin-top: 6px;
  margin-right: 5px;
}

.font-checkbox {
  padding: 10px 0px 5px 0px;
  #checkbox-label {
    display: none;
  }
}

.help-block {
  label {
    color: #333 !important;
  }
}

.span9 {

  .table {
    td {
      border-top: 0;
      border-bottom: 1px solid #ddd;
    }

    tr:first-child {
      border-top: 1px solid #ddd;
    }
  }

  .object-list {
    margin-top: 14px;

    tbody {

      tr.new {
        td {
          font-weight: bold;
        }
      }

      td {

        &.checkbox {
          padding-left: 6px;
          color: #777;
          width: 10px;

          &:hover {
            color: #6885c7;
          }

          .glyph {
            margin-top: 3px;
          }
        }

        &.field_name {
          white-space: nowrap;
        }

        &.value-text {
          width: 75%;

          .value-labels {
            float: right;
            white-space: nowrap;
          }
        }

        &.value-name {
          width: 90%;
          .icon-phone {
            color: @color-font-lightgrey;
            font-size: 16px;
            margin-right: 5px;
            margin-top: -1px;
          }

          .icon-mobile {
            color: @color-font-lightgrey;
            font-size: 16px;
            margin-right: 5px;
          }
        }

        &.value-status {
          white-space: nowrap;
          text-align: right;
        }

        &.value-phone {
          a {
            &:hover {
              text-decoration: none;
            }

          }
        }

        &.value-received {
          text-align: right;
        }

        .last-triggered {
          font-size: 13px;
        }

        .count {
          font-size: 11px;
          margin-left: 5px;
        }
      }
    }
  }

  .list-buttons-container {
    height: 35px;
    visibility: hidden;

    .list-buttons {

      button {
        min-width: 70px;

        .glyph {
          margin-right: 3px;
        }

        .glyph.icon-excel {
          margin-left: -2px;
        }
      }
    }
  }
}

tr.object-row:hover {
  cursor: pointer;
}

tr.object-row {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.glyph.label-checkbox:before {
  content: "\e004";
}

.glyph.object-row-checkbox:before {
  content: "\e004";
}

tr.checked td .glyph.object-row-checkbox:before {
  content: "\e05a";
}

.glyph.label-checkbox.checked:before {
  content: "\e05a";
}

.glyph.label-checkbox.partial:before {
  content: "\e003";
}

.glyph.label-checkebox.checked-child:before {
  content: "\e003";
}

.glyph.checked:before {
  content: "\e05a";
}

.glyph.object-row-checkbox, .glyph.label-checkbox {
  font-family: 'temba';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  float: left;
  margin-top: 6px;
  margin-right: 5px;
}

.form #number {
  width: 150px;
}

a:hover.clar-link {
  text-decoration: none;
}

// labels dropdown

.label-menu.dropdown-menu a {
  padding-left: 10px;
  padding-right: 10px;
}

.label-menu .glyph {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  color: #999;
  font-size: 12px;
  margin-top: 2px;
  width: 12px;
}

li.level1 ul {
  display: none;
}

li.active ul {
  display: block;
}

ul.nav.level2 {
  display: none;
}

li.expanded ul.nav.level2 {
  display: block;
}

ul.level1 li.expanded ul {
  display: block;
}

.dropdown-submenu > a::after {
  margin-right: -5px;
}

.level2 li a {
  padding-left: 10px;
  margin-right: -30px;
}

// trigger list modal

.modal-body #stop-option, .modal-body #later-option {
  width: auto;
}

.modal-body .repeat-period .control-label {
  float: left;
  width: 55px;
}

.modal-body .repeat-period {
  margin-top: 10px;
}

.modal-body .instructions {
  margin-bottom: 0px;
}

span.label a {
  color: #fff;
  text-decoration: none;
  margin: 0px;
}

.label-responses {
  background-color: #aaa;
  border-color: #aaa;
}

// Styling to mimic iOS messaging client

.imsg {
  .rounded-corners(12px);
  margin: 0 10px 5px;
  padding: 8px 20px;
  position: relative;
  word-wrap: break-word;
  min-height: 15px;
}

.imsg.to {
  background-color: #2095FE;
  color: #fff;
  margin-left: 30px;
}

.imsg.from {
  background-color: #E5E4E9;
  color: #363636;
  margin-right: 30px;
}

.imsg.to + .message.to,
.imsg.from + .message.from {
  margin-top: -7px;
}

.imsg:before {
  border-color: #2095FE;
  border-radius: 50% 50% 50% 50%;
  border-style: solid;
  border-width: 0 20px;
  bottom: 0;
  clip: rect(20px, 35px, 42px, 0px);
  content: " ";
  height: 40px;
  position: absolute;
  right: -50px;
  width: 30px;
}

.imsg.from:before {
  border-color: #E5E4E9;
  left: -50px;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

// completion custom styles

.atwho-view {
  width: 280px;
  max-width: 300px;
  color: #555555;

  .atwho-view-ul {
    color: #555555;

    .cur {
      background: #efefef;
      color: #555555;

      small {
        color: #555555;
      }

    }
  }
}

.completion-dropdown {

  .option-name {
    font-size: 1em;
  }

  .option-example {
    display: none;
  }

  .option-display {
    display: none;
  }

  .display-labels {
    display: none;
  }

  .cur > & {
    .option-display {
      display: block;
    }
  }

  .cur:first-child:last-child > & {
    .option-example {
      display: block;
      margin-top: 5px;
    }

    .display-labels {
      display: block;
      font-size: 0.75em;

    }

    .option-display {
      display: block;
      margin-top: 5px;
    }

  }

}

#intercom-container .intercom-launcher {
  bottom: 60px;
  right: 12px;
}

.featherlight .featherlight-image {
  max-width: 100%;
  max-height: 500px;
  width: auto;
}

.image-preview {
  max-height: 200px;
}

.image-full {
  // max-width:800px;
}

.download-link {
  position: absolute;
  right: 50px;
  bottom: 15px;
  font-size: 30px;
  color: @color-font-white;
}

.video-js {
  min-width: 300px;
  @big-play-bg-color: #ff00b7;
  @big-play-bg-alpha: 1;
}

.download {
  margin-top: 5px;
  padding: 5px;
  background: @color-font-lightestgrey;

  .icon {
    margin-right: 5px;
    margin-top: 2px;
  }

}

.select2-hidden-accessible {
  display: none;
}

.wrapped {
  /* forces wrapping of messages with no spaces, see http://stackoverflow.com/questions/26292408/ */
  max-width: 0;
  word-wrap: break-word; /* IE 10 */
  overflow-wrap: break-word;
}

#indicator {
  .loader {
    height: 1px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: -200px;
      width: 200px;
      height: 1px;
      background-color: #2980b9;
      animation: loading 2s linear infinite;
    }
  }
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}

.nobreak {
  white-space: nowrap;
}

.breaks {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@-moz-keyframes rotate {
  100% {
    -moz-transform: rotate(180deg);
  }
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(180deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.greyed {
  color: rgba(0,0,0,.4);
}

.box-sizing {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box          /* Opera/IE 8+ */
}

/* Message Bubble Colors */
.queued {
  color: @color-status-queued
}
.queued_instantly {
  color: @color-status-queued-instantly
}
.pending {
  color: @color-status-pending
}
.pending_instantly{
  color: @color-status-pending-instantly
}
.sent {
  color: @color-status-sent
}
.delivered {
  color: @color-status-delivered
}
.handled {
  color: @color-status-handled
}
.errored {
  color: @color-status-errored
}
.failed {
  color: @color-status-failed
}

/* Message table stylings */
.glyph {

  &.green {
    color: @color-status-green;
  }

  &.orange {
    color: @color-status-orange;
  }

  &.red {
    color: @color-status-red;
  }

  &.grey {
    color: @color-status-grey;
  }

  &.blue {
    color: @color-status-blue;
  }

  &.primary {
    color: @color-primary;
  }
}

[class^="icon-"], [class*=" icon-"] {
  transition: transform 400ms;
  -webkit-transition: -webkit-transform 400ms;
}

img.image-full.featherlight-inner {
  max-height: 80%;
}
// *****************************************************
// NOTE NOTE NOTE NOTE!!
//
// This file exists only to carry over non-less styles
// Do not add to this file, ultimately everything here
// needs to be moved into a page's extra-less block
// or should be converted into a master style in the
// main style.less file.
//
// *****************************************************