// styles layered over bootstrap site for refresh before redesign


// Smartmin erros
form.smartmin-form {
  .alert-error {
    background: rgba(255, 181, 181, .17);
    border: none;
    border-left: 0px solid var(--color-error);
    color: var(--color-error);
    padding: 10px;
    margin-bottom: 10px;
  }

  ul.errorlist {
    font-size: 12px;

    li {
      text-shadow: none;
      line-height: inherit;
    }
  }
}