@flat-lightblue: #80b9fb;
@flat-blue: #3498db;
@flat-darkblue: #2980b9;
@flat-grey:#34495e;
@flat-darkgrey:#2c3e50;
@flat-green:#2ecc71;
@flat-darkgreen:#27ae60;
@flat-purple:#9b59b6;
@flat-darkpurple:#8e44ad;
@flat-white:#ecf0f1;
@flat-darkwhite:#bdc3c7;
@flat-red:#e74c3c;
@flat-darkred:#c0392b;
@flat-orange:#e67e22;
@flat-darkorange:#f39c12;
@flat-yellow:#f1c40f;

@flat-mutedblue: #86a9ca;
@flat-mutedgreen: #5ca869;
@flat-mutedpurple: #80668d;
@flat-mutedred: #c14c46;
@flat-mutedorange: #e68628;

@color-collision: rgba(167, 19, 29, 0.74);

@color-primary: #0c6596;
@color-secondary: @color-primary + #111;

// main color components
@color-navbar: @color-primary;
@color-navlink: @color-navbar;
@color-links: @color-secondary;
@color-disabled: @flat-darkwhite;

// buttons
@color-button: @flat-white;
@color-button-font: @flat-white - #888;
@color-button-primary: @color-primary + #222;
@color-button-primary-font: #fff;
@color-button-danger: @flat-red;
@color-button-danger-font: #fff;
@color-button-success: @flat-green;
@color-button-success-font: #fff;

// hovering and selection
@color-hovered: #e4eff8;
@color-hovered-font: @flat-darkblue;
@color-selected: #e4eff8;
@color-selected-font: @flat-darkgrey;
@color-formax-hovered: @flat-blue;

// labels
@color-label: @flat-blue;
@color-label-poll: @flat-white;
@color-label-poll-font: @flat-grey;


@color-bg-blue: #2980b9;
@color-bg-darkblue: #2c3e50;
@color-bg-grey: #666;
@color-bg-lightgrey: #f6f6f6;
@color-bg-red: #952624;
@color-bg-white: #fff;
@color-bg-orange: #C67C32;
@color-bg-yellow: #fff6c0;

@color-font-success: @flat-mutedgreen;
@color-font-warning: @flat-mutedorange;
@color-font-black:#444;
@color-font-grey:#666;
@color-font-lightgrey: #999999;
@color-font-lightestgrey: #CCC;
@color-font-blue: #2E8BCC;
@color-font-light-blue: #8ABFD9;
@color-font-white: #FFF;
@color-font-red:#da4f49;

@color-status-green:#51a351;
@color-status-orange:#faa732;
@color-status-red:#da4f49;
@color-status-grey:#ccc;
@color-status-blue: #49afcd;

@color-alert-error: @color-bg-red;
@color-alert-warning: @color-bg-yellow;
@color-alert-notice: @color-bg-blue;

@color-notification: @color-status-red;
@color-menu: @color-bg-white;

@color-status-queued: @color-status-orange;
@color-status-queued-instantly: @color-status-blue;
@color-status-pending: @color-status-orange;
@color-status-pending-instantly: @color-status-green;
@color-status-sent: @color-status-green;
@color-status-delivered: @color-status-green;
@color-status-handled: @color-status-green;
@color-status-errored: @color-status-red;
@color-status-failed: @color-status-red;

@helvetica: 'Helvetica Neue';
@roboto-thin: 'RobotoThin';
@roboto: 'RobotoLight';
@roboto-bold: 'RobotoMedium';
@logo: 'logo';

@primary-font: @helvetica, sans-serif;

@footer-height: 200px;
