<header>
  <div class="inner">
    <a id="big-logo" class="logo icon-logo" href="/" title="RapidPro"></a>
    <h2>A hosted service to visually build interactive messaging applications.</h2>
    <a href="https://github.com/rapidpro/rapidpro" class="button"><small>View project on</small> GitHub</a>

    <ul id="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/docs/">Docs</a></li>
      <li><a href="/contribute/">Contribute</a></li>
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </div>
</header>
