<header>
  <div class="inner">
    <a id="big-logo" class="logo icon-logo" href="{{site.baseurl}}/" title="RapidPro"></a>
    <h2>A hosted service to visually build interactive messaging applications.</h2>
    <a href="https://github.com/rapidpro/rapidpro" class="button"><small>View project on</small> GitHub</a>

    <ul id="navbar">
      <li><a href="{{site.baseurl}}/">Home</a></li>
      <li><a href="{{site.baseurl}}/docs/">Docs</a></li>
      <li><a href="{{site.baseurl}}/contribute/">Contribute</a></li>
      <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
      <li><a href="{{site.baseurl}}/supporters/">Supporters</a></li>
      <li><a href="{{site.baseurl}}/about/">About</a></li>
    </ul>
  </div>
</header>
