-load i18n

%h4
  -blocktrans
    To finish configuring your Globe Labs connection you'll need to set the following notify URI for SMS on your
    application configuration page.

%hr

%h4
  -trans "Notify URI"

%code
  https://{{ channel.callback_domain }}{% url 'courier.gl' channel.uuid 'receive' %}
