-extends "channels/channel_claim_number.html"

-load compress temba
-load i18n


-block country-select
  %temba-select#country(name="country" label='{{_("Country")|escapejs}}')
    -for country in search_countries
      %temba-option(name="{{country.label}}" value="{{country.key}}")