-extends "smartmin/form.html"

-load compress temba i18n

-block title
  -trans "Connect Plivo"

-block pre-form
  -trans "To connect your Plivo Account you will need to provide us your Plivo AUTH ID and AUTH TOKEN."
  .mt-1.mb-4
    -trans "Both values can be found on your"
    <a target="plivo" href="https://manage.plivo.com/dashboard/">
    -trans "Plivo Dashboard"
    </a>

-block extra-script
  {{block.super}}
  :javascript
    $(document).ready(function() {
      $("form.smartmin-form").attr('autocomplete', 'off');
    });
