{% extends "smartmin/list.html" %}
{% load i18n %}

{% block title-text %}
  {% trans "Workspaces" %}
{% endblock title-text %}
{% block page-header %}
  <div class="hidden" id="title-text">{{ title }}</div>
{% endblock page-header %}
{% block extra-style %}
  {{ block.super }}
  <style type="text/css">
    a:hover,
    a:hover * {
      text-decoration: none;
      color: var(--color-link-primary);
    }

    .field_created_on {
      white-space: nowrap;
      width: 64px;
    }
  </style>
{% endblock extra-style %}
{% block pre-table %}
  <div class="flex mb-4 items-center">
    <div class="search-box flex-grow">
      <form method="get" id="search-form">
        <temba-textinput name="search" value="{{ search }}" placeholder="Search Workspaces">
        </temba-textinput>
        <input type="submit" value="Submit" class="hidden">
      </form>
    </div>
  </div>
{% endblock pre-table %}
