{% extends "smartmin/read.html" %}
{% block content %}
  <div class="card">
    <div class="text-xl">{{ object.email }}</div>
    <div class="text-normal">{{ object.date_joined }}</div>
  </div>
  <temba-tabs collapses="true" class="mt-4">
    <temba-tab icon="workspace" name="Workspaces">
      <div class="p-4">
        {% for org in object.get_orgs %}
          <div class="member">
            <a href="{% url 'orgs.org_read' org.id %}" class="linked">{{ org.name }}</a>
          </div>
        {% endfor %}
      </div>
    </temba-tab>
  </temba-tabs>
{% endblock content %}
