 
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/opensans.eot);
    src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(../fonts/opensans.woff) format('woff');
}

.pagination {
    margin-top: 0;
    line-height: 30px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.header-margin {
    margin-left: 100px;
}

.pagination a {
    line-height: 30px;
}


body {
    font-family:'Helvetica Neue', sans-serif;
    font-weight:200;
    letter-spacing:normal;
    text-transform: none;
}

h1,h2,h3,h4,h5,h6 {
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    padding:0;
    text-transform: none;
}

.divPanel.page-content {
    margin-top:8px;
}

.title-icon.glyph {
    font-size:56px;
    line-height: 0;
    color: #999;
    float:left;
}

.title-icon + .title-text {
    margin-left:72px;
}

.btn {
    font-weight: 200;
    letter-spacing:normal;
}

#big-help {
    font-size: 250px;
    color: #666;
    margin-left:15px;
}

.ie #big-help {
    font-size: 190px;
}

@media (max-width:1200px)
{
    #big-help {
        font-size: 180px;
        height: 200px;
        margin-left:25px;
    }

}
.medium-help{
    color: #999;
    height: 90px;
    font-size: 72px;
}

.medium-help{
    color: #999;
    height: 90px;
    font-size: 72px;
}

.medium-glyph{
    line-height: 1;
    font-size: 18px;
    text-decoration: none;
}

.big-glyph .glyph {
    height: 90px;
    font-size: 72px;
}

.weight-200{
    font-weight: 200;
}

@media (max-width: 979px){
    #big-help {
        font-size: 130px;
        height: 200px;
        margin-left:25px;
    }
}


@media (max-width: 768px){
    #big-help {
        font-size: 80px;
        height: 200px;
        margin-left:25px;
    }
}


#little-help {
    font-size: 14px;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 0px 60px 0px 60px;
    text-align: center;
}
.label {
    font-weight: 200;
    font-size: 10px;
    padding: 2px 4px 2px 4px;
    margin-right: 4px;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.marketing {
    margin-top: 30px;
}

.marketing h4 {
    font-weight: 400;
}

.table-buttons {
    margin-bottom: 20px;
}
.top-bar {
    margin-top:5px;
}

.top-form {
    margin-top:15px;
}

.message-buttons {
    margin-bottom: 5px;
}

#header {
    background-color: #4890CE;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#footer {
    background: #f6f6f6;
    color:#999;
    margin-top:70px;
    padding-top:20px;
}

.nav > li > a {
    display: block;
    font-weight: 200;
    color: #2E8BCC;
}

#divFooter a {
    font-weight: 500;
    color:#8ABFD9;
}

.btn-primary {
    background-color: #2E8BCC ;
}


.nav-pills > .active > a, .nav-pills > .active > a:hover {
    color: white;
    background-color: #2E8BCC;
    font-weight: 200;
}

.page-content {
    min-height: 500px;
}

.buttons {
    margin-bottom:20px;
}

#secret {
    margin:0;
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-image: none;
    border: 0;
    padding: 5px 20px;
}

input {
    margin:0;
}
/*form {
    margin-top:20px;
    display:block;
}*/

/*.nav-list>.active>a,.nav-list>.active>a:hover{
    color:#999;
    border-left:5px solid #6985AB;
    background-color:#f6f6f6;
    font-weight: normal;
    text-shadow: 0 0;
}*/

#sidebar-nav {
    border: 1px solid #e6e6e6;
}

h1 {
    color: #666;
    font-size:54px;
    line-height: 54px;
}

h3 {
    font-size:26px;
}


form {
    margin:0;
}

.form-actions {
    background-color:transparent;
    border:0;
}

.form-horizontal .control-label {
    width:140px;
}

.form-horizontal .controls {
    margin-left:150px;
}

.form-search {
    margin-bottom: 20px;
}

.btn-secondary .glyph {
    color: #708090;
    margin-right:5px;
}

.dropdown-menu {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}


.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background:#e4eff8;
    color:#333;
}

.dropdown-submenu:hover>a:after {
    border-left-color:#CCC;
}

/* Contact */
ul#contact-info .glyph {font-size:20px;float:left;line-height:25px;margin-right:15px;margin-bottom: 30px;}
ul#contact-info .field {font-weight:bold;}
ul#contact-info {list-style:none;}

/* Blog */
ul#blog-posts {overflow:hidden;margin: 0;}
ul#blog-posts li {list-style-type:none;clear:both; margin-bottom: 15px;}
ul#blog-posts li div.head {float:left;width:100%;min-height:30px;}
ul#blog-posts li div.head h3 {float:left;}
ul#blog-posts li div.head .meta {float:right;padding-top:10px;font-size:11px;text-transform:uppercase;}
ul#blog-posts li div.head .meta a {font-size:11px;text-transform:uppercase;}
ul#blog-posts li div.thumb {float:left;margin:0 15px 10px 3px;}

/* Icons */

.glyph {
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
}

a.glyph {
    text-decoration: none;
}
/* Social Bookmark Links */
p#bookmarks a {
    margin-right:20px;text-decoration:none;
}

p#bookmarks .glyph {
    margin-right:5px;
}

#copyright {
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
}

.top-info-block h3,h4 {
    margin:0;
    padding:0;
    display:block;
}

.top-info-block h3 {
    font-size:20px;
    line-height: 29px;
}

.top-info-block h4 {
    font-size:16px;
    line-height: 16px;
    font-weight: 400;

}

#top-info .glyph {
    font-size:30px;
}



/* Charms */
.charm {
    float:left;
    position:relative;
    margin-left:30px;
    font-size:37px;
    font-family: textit,serif;
}

.ie .charm .glyph {
    position: absolute;
    font-size:19px;
    margin-top: 0px;
    margin-left: -37px;
}

.charm .glyph {
    position: absolute;
    font-size:19px;
    margin-top: -22px;
    margin-left: 9px;
}

.charm > .notification {
    position: absolute;
    padding:3px 3px;

    font-size:12px;
    font-weight:bold;
    background: #ff9524;
    color:#fff;
    line-height: 12px;
    z-index: 1000;
    left:25px;
    top:-14px;
    font-family: 'helvetica neue' sans-serif;
    text-align: center;
    border-radius:2px;
    -moz-border-radius:2px;
    box-shadow: 1px 1px 0px #666;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8);

}

a.charm {
    color:#fff;
    text-decoration:none;
}

a.charm:before {
    content: "\e000";
}

a.charm:hover:before {
    content: "\e105";
}

a.charm.active:before {
    content: "\e105";
}

a.charm:hover>.glyph{
    color:#4890CE;
}

a.charm.active>.glyph{
    color:#4890CE;
}


.title {
    font-family: "Segoe UI Light","Helvetica Neue","Segoe UI","Segoe WP",sans-serif;
    font-size:12px;
    text-align:center;
    width:65px;
    margin-top:15px;
    margin-left:-24px;
    color:#fff;
}

#top-info {
    display: block;
}
#top-info a {
    display: inline-block;
    height: 46px;
    color: #5A5A5A;
}
#top-info a:hover {
    color: #000;
}
.top-info-block {
    display: block;
    float: left;
    margin-left: 8px;
}
#top-info b {
    display: inline-block;
    font-size: 38px;
    height: 46px;
    line-height: 46px;
    vertical-align: top;
    width: 46px;
    text-align: center;
}
#top-info hr.separator {
    background-color: #7B7B7B;
    border: 0 none;
    display: inline-block;
    height: 42px;
    margin: 2px 10px;
    padding: 0;
    vertical-align: top;
    width: 1px;
}

input, textarea {
    width: 350px;
}

.message-icon {
    font-size: 120%;
    color: #666;
}

/* Contact detail page styles */

.msg-arrow-sent {
    font-size: 25px;
    text-align: right;
}

.msg-arrow-received {
    font-size: 25px;
    text-align: left;
}

.contact {
    height: 15px; 
    font-size: 12px; 
    font-style: italic; 
    padding-top: 0px;
}

.color-right {
    color: #468847;
}

.color-left {
    color: #3a87ad;
}

.messages {
    font-size: 15px;
    margin-top: 3px;
}

.msg-time {
    height: 15px; 
    font-size: 10px; 
    font-style: italic; 
    padding-top: 3px;
}

.msg-text-right {
    text-align: right; 
    padding: 10px 20px 10px 30px; 
    background-color: #eee; 
    border: 1px solid #468847; 
    border-right: 4px solid #468847;
}


.msg-text-left {
    text-align: left; 
    padding:10px 30px 10px 20px; 
    background-color: #eee; 
    border: 1px solid #3a87ad; 
    border-left: 4px solid #3a87ad;
}

.select2tag {
    width:250px;
}

.logo {
    margin-top:10px;
}

.font_normalize {
    text-transform: none;
}

.mini-status {
    line-height: 1;
    font-size: 40px;
    margin-top: 30px;
    margin-left: -10px;
    text-decoration: none;
}

td.align-right {
    text-align: right;
}

td.align-center, th.align-center {
    text-align: center;
}

.rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* Message Bubble Colors */
.queued{
    color: #faa732;
}
.queued_instantly{
    color: #49afcd;
}
.pending{
    color: #faa732;
}
.pending_instantly{
    color: #51a351;
}
.sent{
    color: #5bb75b;
}
.delivered{
    color: #51a351;
}
.handled{
    color: #5bb75b;
}
.errored{
    color: #da4f49;
}
.failed{
    color: #da4f49;
}

/* SMS Table stylings */

table.sms_list tbody td {

}

.glyph.green {
    color: #51a351;
}

.glyph.orange {
    color: #faa732;
}

.glyph.red {
    color: #c6211e;
}

.glyph.grey {
    color: #ccc;
}

td.clickable a {
  color: rgb(51, 51, 51);
}

td.clickable a:hover {
  text-decoration: none;
}

td.value-status {
    width: 20px;
    font-size: 14px;
}

td.value-received {
    width: 25px;
}

td.value-phone {
    width: 75px;
}

td.value-text {
    width: 75%;
}

.send-form {
    width:682px;
    padding-bottom:10px;
    background-color:#efefef;
    padding-left:20px;
    padding-right:20px;
    padding-top:18px;
    border-left:1px solid #dedede;
    border-right:1px solid #dedede;
    border-top:1px solid #eee;
}

#id_text {
    width:510px;
    height:50px;
    padding:10px;
    margin-right:15px;
}

#id_send {
    vertical-align:bottom;
    margin-bottom:10px;
}

#id_contact {
    width: 520px;
    margin-right: 15px;
    padding: 5px;
}
