body {
    margin-left: 5px;
    margin-right: 5px;
    font-family: sans-serif;
    font-size: 13px;
    color: #333;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#footer {
    margin-top: 100px;
    text-align: right;
    font-style: italic;
    color: #aaa;
    font-size: 10px;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

h1 {
    font-size: 20px;
    margin-bottom: 0px;
}

h2 {
    font-size: 18px;
    margin-bottom: 0px;
}

h3 {
    font-size: 16px;
    margin-bottom: 0px;
}

h1.docs, h1.section-header {
    page-break-before: always;
    color: rgb(24, 112, 193);
    margin-left: -5px;
    border-bottom: 5px solid rgb(24, 112, 193);
    text-align: right;
    padding: 5px 10px 5px 5px;
    font-weight: 200;
    line-height: 90%;
    font-size: 28px;
}

h1.section-header {
    text-align: left;
}

h2.docs {
    margin-top: 30px;
    margin-left: -5px;
    border-bottom: 1px solid #111;
    color: #111;
    padding: 5px;
    font-weight: 200;
    line-height: 80%;
    font-size: 22px;
    margin-bottom: 20px;
}

img.logo {
    margin: 50px auto 100px auto;
    display: block;
}

a {
    text-decoration: none;
    color: rgb(24, 112, 193);
}

a:hover {
    text-decoration: underline;
    color: rgb(24, 112, 193);
}

.right {
    float: right;
}

.left {
    float: left;
}

ol.topics {
    list-style-type: none;
    counter-reset: topics;
}

li.topic {
    font-size: 15px;
}

li.topic:before {
    content: counter(topics) ". ";
    counter-increment: topics;
}

li.article {
    font-size: 13px;
}

ol.articles {
    list-style-type: none;
    counter-reset: articles;
    margin-bottom: 10px;
}

li.article:before {
    content: counter(topics) "." counter(articles) " ";
    counter-increment: articles;
}