
/**
 * Grid container
 */
#tiles {
list-style-type: none;
position: relative; /** Needed to ensure items are laid out relative to this container **/
margin: 0;
}

/**
 * Grid items
 */
#tiles li {
width: 200px;
background-color: #ffffff;
border: 1px solid #dedede;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
/**display: none; YSW Hide items initially to avoid a flicker effect **/display: none;
cursor: pointer;
padding: 4px;
margin-right:7px;margin-bottom:7px;float:left;/* YSW */
}

#tiles li img {
display: block;
}

/**
 * Grid item text
 */
#tiles li p {

font-size: 11px;
line-height: 16px;
margin: 5px 1px 1px 3px;
}

#tiles li a {
font-size: 11px;
}


/** Loader **/
  
#loader {
  height: 16px;
  text-align: center;
  padding: 25px 0 25px 0;
}
  
#loaderCircle {
  width: 16px;
  height: 16px;
margin: 0 auto;
  background-image: url('../images/loader.gif');
}