-extends "smartmin/read.html"
-load smartmin sms temba compress humanize contacts i18n

-block page-title
  -if object.offset < 0
    {{object.abs_offset}} {{object.get_unit_display|slice:"-1"}}{{object.offset|pluralize}} Before
  -elif object.offset == 0
    On
  -else
    {{object.abs_offset}} {{object.get_unit_display|slice:"-1"}}{{object.offset|pluralize}} After
  {{object.relative_to|title}}

-block title-icon
  .title-icon
    %span.glyph.icon-instant

-block title-text
  .title-text
    %h2
      %a{href:"{% url 'campaigns.campaign_read' object.campaign.pk %}"}
        {{object.campaign}}
    %h4
      -if object.offset < 0
        {{object.abs_offset}} {{object.get_unit_display|slice:"-1"}}{{object.offset|pluralize}} Before
      -elif object.offset == 0
        On
      -else
        {{object.abs_offset}} {{object.get_unit_display|slice:"-1"}}{{object.offset|pluralize}} After
      {{object.relative_to|title}}

      // Event for {{object.campaign.name}}

    -if object.event_type == 'M'
      .message
        .icon-left-quote
        .text
          {{object.get_message}}
    -else
      .start-flow
        Start the
        %a.href{ href: "{% url 'flows.flow_editor' object.flow.uuid %}" }= object.flow.name
        Flow

-block content
  -if not scheduled_event_fires
    %h4
      Upcoming Events
    %table.table
      %body
        %tr.empty_list
          %td
            .no-messages
              No events yet
  -else

    %h4
      Next {{scheduled_event_fires|length|intcomma}} Event{{scheduled_event_fires|length|pluralize}}
    %table.table
      %body
        -for fire in scheduled_event_fires
          %tr.event_fire
            %td
              .name
                %a.href{ href: "{% url 'contacts.contact_read' fire.contact.uuid %}" }= fire.contact|name_or_urn:user_org

              .relative-to
                {{object.relative_to}} - {{fire.get_relative_to_value|date:"M d, Y \a\t h:ia"|slice:"-3"}}

            %td.event_date
              -if fire.is_firing_soon
                soon
              -else
                {{fire.scheduled|naturaltime}}

        -if scheduled_event_fires_count
          %tr
            %td{colspan: 2}
              .total
                {{scheduled_event_fires_count}} more


  -if not fired_event_fires
    %h4
      Recent Events

    %table.table
      %body
        %tr.empty_list
          %td
            .no-messages
              No events yet
  -else
    %h4
      Last {{fired_event_fires|length|intcomma}} Event{{fired_event_fires|length|pluralize}}

    %table.table
      %body
        -for fire in fired_event_fires
          %tr.event_fire
            %td
              .name
                %a.href{ href: "{% url 'contacts.contact_read' fire.contact.uuid %}" }= fire.contact.name

              .relative-to
                {{object.relative_to}} of {{fire.get_relative_to_value}}

            %td.event_date
              {{fire.fired|naturaltime}}

        -if fired_event_fires_count
          %tr
            %td{colspan: 2}
              .total
                {{fired_event_fires_count}} more

  -if org_perms.campaigns.campaignevent_delete
    .deletion.hide
      .title
        Remove

      .body
        %p Are you sure you want to remove this event? Once the event is removed, it will be gone forever. This cannot be undone.
      %a#delete-form.posterize{}


-block extra-script
  {{block.super}}
  -if org_perms.flows.flow_update
    :javascript
      {% if org_perms.campaigns.campaignevent_update %}
        $(".update-event").live('click', function(){
          var modal = new Modax('Update Event', '{% url "campaigns.campaignevent_update" object.pk %}');
          modal.setIcon('icon-instant');
          modal.setListeners({
            onSuccess: function(data) {location.reload(); },
          });
          modal.show();
        });
      {% endif %}

-block extra-less
  -compress css
    {% lessblock %}
      :plain

        h2 a {
          text-decoration: none;
          color: inherit;

          &:hover {
            text-decoration: none;
            color: inherit;
          }
        }

        h4 {
          margin-bottom:6px;
        }

        .title-icon {
          // margin-bottom: -30px;
        }

        .title-text {
          // margin-top:20px;
        }

        .total {
          color: #999;
          font-size:12px;
          text-align:right;
          margin-top:-5px;
        }

        .name {
          display: inline-block;
          width:150px;
        }

        .relative-to {
          display:inline-block;
          color: #999;
          margin-left:10px;
        }
        .message {
          font-size:15px;
          line-height:17px;
          border: 0px solid green;
          color: #999;
          margin-left:-13px;

          .text {
            position:relative;
            z-index:1;
            letter-spacing:.1em;
            top:-10px;
            left:14px;
            right:-14px;
            margin-right:25px;
          }

          .icon-left-quote {
            position:relative;
            z-index:0;
            top:-5px;
            font-size:28px;
            color: #eee;
            margin-right:4px;
          }
        }

        .no-messages {
          color: #bbb;
        }
    {% endlessblock %}

-block extra-style
  :css
    span.strong {
      font-weight:400;
    }
    
    tr.event-fire td {
      margin-bottom: 5px;
    }

    tr.empty_list td {
      border-bottom: 0px solid #ccc;
      padding:10px;
    }    

    table .event_date {
      text-align: right;
    
    }
