-extends "smartmin/read.html"
-load smartmin sms temba compress humanize i18n

-block page-title
  {{object.name}}
  -if object.is_archived
    -trans "(Archived)"

-block title
  {{object.name}}

-block subtitle
  .flex.flex-col
    .summary
      -if object.group.is_active
        .lbl-group.linked(onclick="goto(event)" href="{% url 'contacts.contact_filter' object.group.uuid %}")
          {{object.group.name}}
      -else
        -trans "No group assigned to this campaign"

-block post-title
  -if object.is_archived
    .labels
      .lbl.linked{onclick:"goto(event)", href:"{%url 'campaigns.campaign_archived' %}"}
        -trans "Archived"

-block content
  -if not object.events.all
    %table.list
      %body
        %tr.empty_list
          %td
            -trans "No events in this campaign yet."

  -else
    %table.list
      -for event in object.get_sorted_events
        -ifchanged
          %tr
            %th{colspan:99}
              {{event.relative_to}}

        %tr.campaign-event{valign:'center', data-event-id:'{{event.pk}}'}

          %td.whitespace-no-wrap
            %a{href:"{% url 'campaigns.campaignevent_read' event.pk %}"}
              -if event.offset == 0
                ON
              -else
                {{event.abs_offset|intcomma}}
              -if event.offset != 0
                {{event.single_unit_display|lower}}{{event.abs_offset|pluralize:"s"}}
                  -if event.offset < 0
                    -trans "before"
                  -else
                    -trans "after"
              {{ event.relative_to }}

          %td.w-full
            -if event.event_type == 'M'
              .message
                .text
                  {{event.get_message}}
            -else
              .start-flow
                Start the
                %a.href{ href: "{% url 'flows.flow_editor' event.flow.uuid %}" }= event.flow.name
                flow.
