-extends "smartmin/list.html"
-load smartmin sms temba compress i18n humanize

-block extra-style
  {{block.super}}
  :css
    temba-button {
      display: block;
    }

-block page-title
  -trans "Campaigns"

-block title-icon
  .title-icon
    %span.glyph.icon-campaign

-block page-top

-block content
    #pjax
      -block pjax

        .lp-frame

          .left

            .flex.flex-col
              -if org_perms.flows.flow_create
                .w-64.mr-5
                  %temba-modax{ header:"Create Campaign", endpoint:"/campaign/create/" }
                    .button-primary
                      -trans "Create Campaign"
              
              .lp-nav.upper
                -for folder in folders
                  .lp-nav-item{'class': '{% if folder.url == request_url %}font-normal{% endif %}' }
                    .name{onclick:"goto(event)", href:'{{folder.url}}'}
                      {{folder.label}}
                    .count{onclick:"goto(event)", href:'{{folder.url}}'}
                      {{ folder.count | intcomma }}

          .right

            .flex.w-full.items-end.mb-4
              -block action-buttons
                -if org_perms.campaigns.campaign_update
                  .action-buttons.list-buttons-container.h-full.mr-2.flex-grow
                    .list-buttons.flex.items-center.-mx-2.h-full
                      -if 'restore' in actions
                        .button-action.object-btn-restore
                          .-mt-1.mr-2.glyph.icon-checkmark
                          -trans "Activate"

                      -if 'archive' in actions
                        .button-action.object-btn-archive
                          .-mt-1.mr-2.glyph.icon-box
                          -trans "Archive"

              .flex-grow.ml-2.items-center
                -block title-text
                  .page-title.leading-tight
                    {{title}}
              .gear-links
                -include "gear_links_include.haml"

            %form#search-form.mb-4(method="get" action="{% url 'campaigns.campaign_list'%}")
              %temba-textinput(type='text' placeholder='{% trans "Search" %}' name="search" value="{{search}}")
            %table.list.lined.selectable
              %tbody
                -for obj in object_list
                  %tr.campaign.object-row.select-row{ data-object-id: "{{ obj.id }}", onrowclick:'gotoLink("{% url "campaigns.campaign_read" obj.id%}")'}
                    - if org_perms.campaigns.campaign_update
                      %td.campaign.checkbox.object-row-checkbox
                        %temba-checkbox{onclick:"handleRowSelection(this)"}
                    %td.w-full
                      {{obj.name}}

                    %td.whitespace-no-wrap
                      %span.linked{onclick:'goto(event)', href:"{% url 'contacts.contact_filter' obj.group.uuid%}"}
                        {{ obj.group.name }}

                    %td.whitespace-no-wrap
                      {{ obj.get_events|length }} event{{ obj.get_events|length|pluralize }}

                - empty
                  %tr.empty_list
                    %td{ colspan:'99' }
                      -trans "No matching campaigns"

                - block extra-rows
            
            .flex.flex-col.mx-4.mt-3.mb-16
              .flex.flex-wrap
                .text-gray-700
                  -include "includes/results_count.html"
                .flex-grow
                  -include "includes/pages.html"
