-extends 'smartmin/update.html'

-block modal-script
  {{block.super}}

  :javascript
    $(document).ready(function() {
      //add select2 to contact group
      $('#id_group').select2({
        containerCssClass: "select2-temba-field"
      });
    });
