-extends "smartmin/list.html"
-load smartmin sms temba compress i18n

-block page-title
  -trans "Campaigns"

-block title-icon
  .title-icon
    %span.glyph.icon-instant

-block page-top
  {% render as page_top %}
    {{block.super}}
  {% endrender %}
  {{page_top}}

-block content
    #pjax
      -block pjax
        .row-fluid
          .span3.sidebox
            %div{style:"margin-bottom: 10px"}
              - if org_perms.campaigns.campaign_create
                %a#create-campaign.btn.btn-primary.btn-block{ href:"#" } Create Campaign

            #sidebar-nav
              %ul.nav.nav-list.level1
                %li.nav-header Campaigns
                - for folder in folders
                  %li{'class':"{% if folder.url == request_url %}active{% endif %}" }
                    %a{'href':'{{folder.url}}'}
                      {{ folder.label }} ({{ folder.count }})

          -block campaign-list
            .span9
              - block buttons
                .pull-right
                  -block buttons-right

                - if org_perms.campaigns.campaign_update
                  .list-buttons-container
                    .list-buttons
                      -if 'restore' in actions
                        %span.btn-group
                          %a.object-btn-restore{'href':'#'}
                            %button.btn{data-toggle:'tooltip', data-trigger:'hover', data-delay:"800", data-placement:'top', data-original-title:'Activate'}
                              .glyph.icon-instant

                      -if 'archive' in actions
                        %span.btn-group
                          %a.object-btn-archive{'href':'#'}
                            %button.btn{data-toggle:'tooltip', data-trigger:'hover', data-delay:"800", data-placement:'top', data-original-title:'Archive'}
                              .glyph.icon-box

              %table.list-table.campaign-list.object-list.table.table-condensed{style: '{% if not org_perms.campaigns.campaign_update %}margin-top:10px{% endif %}'}
                <tbody>
                {% for obj in object_list %}
                  %tr.campaign.object-row{ data-object-id: "{{ obj.id }}" }
                    - if org_perms.campaigns.campaign_update
                      %td.campaign.checkbox.object-row-checkbox
                        .glyph.icon-checkbox-unchecked.contact-checkbox.object-row-checkbox
                    %td= obj.name

                    %td
                      {{ obj.group.name }}

                    %td
                      .pull-right
                        {{ obj.get_events|length }} event{{ obj.get_events|length|pluralize }}

                  {% empty %}
                  <tr class="empty_list">
                    <td colspan=3>No matching campaigns.</td>
                  </tr>
                {% endfor %}

                {% block extra-rows %}
                {% endblock extra-rows %}
                </tbody>

              - block paginator
                - if object_list.count
                  .paginator
                    - include "smartmin/sidebar_pagination.haml"

-block extra-script
  {{ block.super }}

  :javascript
    {% if org_perms.campaigns.campaign_create %}
      $("#create-campaign").live('click', function(){
        var modal = new Modax('Create Campaign','{% url "campaigns.campaign_create" %}');
        modal.setIcon('icon-instant');
        modal.setRedirectOnSuccess(true);
        modal.show();
      });
    {% endif %}

    $('.object-row').live('mouseover', function(){
      url = '/campaign/read/' + $(this).data('object-id') + '/';

      $(this).find('td').not(':first-child').each(function(){
        $(this).attr('onClick', "document.location.href=url;");
      });
    });

    {% if org_perms.campaigns.campaign_update %}
      $(document).on('click', '.update-campaign', function(e){
         var modal = new Modax('Update Campaign', '/campaign/update/' + $(this).data("object-id") + '/');
         modal.setIcon('icon-feed');
         modal.setRedirectOnSuccess(true);
         modal.show();
      });
    {% endif %}
