-extends "smartmin/form.html"

-load smartmin temba i18n

-block extra-script
  {{ block.super }}
  :javascript


-block modal-script
  {{ block.super }}

  :javascript

    var modax = document.querySelector("#event-add, #event-update");
    var body = modax.shadowRoot.querySelector(".modax-body");
    var languageLinks = body.querySelectorAll(".show_language");
    var deliveryHourOptions = body.querySelector("#send-at");
    var unitSelect = body.querySelector("rp-select[name='unit']");
    var eventTypeSelect = body.querySelector("rp-select[name='event_type']");
    var flowSection = body.querySelector("#flow-section");
    var messageSection = body.querySelector("#message-section");

    var display = 'block';
    for (var link of languageLinks) {
      link.addEventListener('click', function(event) {
        for (var section of body.querySelectorAll(".language")) {
          section.style.display = 'none';
        }
        body.querySelector("." + event.target.dataset.iso).style.display = 'block';
      });

      // initial value
      body.querySelector("." + link.dataset.iso).style.display = display;
      display = 'none';

    }

    eventTypeSelect.addEventListener('rp-selection', function(event){
      var type = event.detail.selected.value;
      if (type == 'F') {
        flowSection.style.display = 'block';
        messageSection.style.display = 'none';
      } else {
        flowSection.style.display = 'none';
        messageSection.style.display = 'block';
      }
    });

    // whenever our units update, update the hour visibility
    unitSelect.addEventListener('rp-selection', function(event) {
      var selectedUnit = event.detail.selected.value;
      if (selectedUnit == "W" || selectedUnit == "D") {
        deliveryHourOptions.style.display = 'flex';
      } else {
        deliveryHourOptions.style.display = 'none';
      }
    });

    // set our initial values according to the form
    {% if form.event_type.value == 'F' %}
      flowSection.style.display = 'block';
      messageSection.style.display = 'none';
    {% else %}
      flowSection.style.display = 'none';
      messageSection.style.display = 'block';
    {% endif %}

    {% if form.unit.value == 'M' or form.unit.value == 'D' %}
      deliveryHourOptions.style.display = 'flex';
    {% else %}
      deliveryHourOptions.style.display = 'none';
    {% endif %}



-block modal-extra-style
  {{ block.super }}

  :css

    .control-group.field_event_type {
      margin-bottom: 8px;
    }

    #languages{
      position: relative;
      text-align: right;
    }

    #schedule-section {
      display: flex;
    }
    
    #message-section {
      display: none;
    }

    #flow-section {
      display: none;
      padding-top:5px;
    }

    #field-offset {
      margin-right: 8px;
      width: 54px;
    }

    #field-unit {
      margin-right: 8px;
    }

    #field-direction {
      margin-right: 8px;
    }

    #field-relative {
      flex-grow: 1;
    }

    #field-hour {
      flex-grow: 1;
    }

    .start-mode-help {
      display: inline-block;
      width:262px;
      margin-bottom: 6px;
    }

    .delivered {
      padding-top:10px;
      margin-right: 12px;
      vertical-align: center;
    }

    #send-at {
      display: flex;
    }

    rp-completion {
      height: 125px;
      margin: 10px 0px 20px 0px;
    }

-block fields

  -render_field 'event_type'

  #message-section

    #languages

      -if form.languages|length > 1
        -for field in form.languages
          {%if forloop.counter0 > 0%} | {% endif %}
          -if field.language.name
            %a.show_language{data-iso:"{{field.language.iso_code}}", href:"javascript:void(0);"}><
              {{field.language.name}}

    -for field in form.languages
      .language{class:'{{field.language.iso_code}} {%if forloop.counter0 > 0%}hide{%endif%}'}
        -render_field field.language.iso_code

    #event-message-start-mode
      .start-mode-help
        - trans "If the contact is already active in a flow"
      -render_field 'message_start_mode'

  #flow-section
    -render_field 'flow_to_start'

    #event-flow-start-mode
      .start-mode-help
        -trans "If the contact is already active in a flow"
      -render_field 'flow_start_mode'

  #schedule-section
    #field-offset
      -render_field 'offset'
    #field-unit
      -render_field 'unit'
    #field-direction
      -render_field 'direction'
    #field-relative
      -render_field 'relative_to'

  #send-at.hide
    .delivered
      -trans "Delivered"
    #field-hour
      -render_field 'delivery_hour'

