-load i18n

.card
  -blocktrans trimmed
    To complete the configuration you will need to enter a few things on your VK account.
  -blocktrans trimmed with option='<div class="code inline-block py-1">Message received</div>'

    .code.mt-4
      Manage > API Usage > Callback API > Server Settings

    .mt-2  
      Enter the Webhook URL below for the
      .code.inline.py-1<
        URL
      field and the Verify Token in the 
      .code.inline.py-1<
        Secret Key
      field.

    .code.mt-6
      Manage > API Usage > Callback API > Event Types

    .mt-2  
      Check the option {{option}}

.card
  .subtitle
    -trans "Webhook URL"

  .code
    https://{{ channel.callback_domain }}{% url 'courier.vk' channel.uuid %}

  .subtitle.mt-4
    -trans "Verify Token"

  .code
    {{ channel.config.secret }}
