-extends "smartmin/base.html"
-load i18n compress temba

-block title
  -trans "Connect a Classifier"

-block content
  -blocktrans trimmed
    Classifiers let you interpret words and phrases into intents you can act on. Various services let you
    train your own classifier which you can then use in your flows to draw meaning from the unstructured text your
    contacts send you.

  .mt-2
    -blocktrans trimmed
      Select your provider below to get started.

  .classifier-options
    -for cl_type in classifier_types

      .card.link(onclick="goto(event, this)" href="{% url 'classifiers.types.'|add:cl_type.slug|add:'.connect' %}")
        .relative
          .text-base.absolute.text-gray-100.bg-icon(class="{{ cl_type.icon }}")
        
        .flex.flex-col.mx-20.relative
          .title
            {{ cl_type.name }}

          .mt-2
            {% include cl_type.get_connect_blurb %}


-block extra-style
  :css
    .bg-icon {
      font-size: 90px;
      transform: translate(-45px, 10px) rotate(-15deg);
    }
