@font-face {
	font-family: 'logo';
	src:url('logo.eot');
	src:url('logo.eot?#iefix') format('embedded-opentype'),
		url('logo.woff') format('woff'),
		url('logo.ttf') format('truetype'),
		url('logo.svg#logo') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'logo';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="textit-"]:before {
*/
.textit-textit:before, .textit-textit-extended:before {
	font-family: 'logo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.textit-textit:before {
	content: "\e001";
}
.textit-textit-extended:before {
	content: "\e000";
}
