  -load i18n

%h4
  -blocktrans
    To finish configuring your Blackmyna connection you'll need to notify Blackmyna of the following URLs.

%hr

%h4
  -trans "Inbound URL"

%p
  -blocktrans
    This endpoint should be called by Blackmyna when new messages are received to your number.

%code
  https://{{ channel.callback_domain }}{% url 'courier.bm' channel.uuid 'receive' %}

%hr

%h4
  -trans "DLR URL"

%p
  -blocktrans
    This endpoint should be called by Blackmyna when the message status changes. (delivery reports)

%code
  https://{{ channel.callback_domain }}{% url 'courier.bm' channel.uuid 'status' %}
