-load temba i18n

.dependencies-of-type.mb-2
  -if not hide_type_name
    %span.font-normal
      {{ dependencies|first|verbose_name_plural }}

  .mt-1.ml-8
    %ul.list-disc
      -for obj in dependencies|slice:":5"
        %li
          %a(href="{{ obj|object_url }}")
            {{ obj.name }}
      -if dependencies|length > 5
        %li
          %i
            -with num_more=dependencies|length|add:"-5"
              -if num_more > 0
                -blocktrans trimmed with count=num_more
                  and {{ count }} more