.flatpickr{class: "{{ parent_classes }}"}
  %input{type: "text", class: "custom-date-field", name: "{{ field_name }}", placeholder: "{{ field_placeholder }}", value: "{{ field_value }}", data-input}
  %button{type: "button", class: "close clear-btn", aria-label: "Close", data-clear}
    %span{aria-hidden: "true"}
      &times;