-load i18n humanize temba

.bg-white.rounded-lg.shadow.flex.flex-col
  .px-6.py-3
    .flex.flex-wrap.items-center
      .fetch.flex-nowrap.flex.truncate.items-center
        .status.text-xl.font-normal
          -if log.status_code > 0 and log.status_code < 200
              .log-error.mr-4
                -trans "Error"
          
          -else
            -if log.status_code >= 400
              .log-error.mr-4
                -trans "Error"
            -else
              -if log.status_code
                .mr-4
                  {{ log.status_code|default:"" }}

        .time.text-xl.elapsed(class="{% if log.elapsed_ms > 3000%}log-error{%endif%}")
          {{ log.elapsed_ms|intcomma }} ms

      .flex-grow
      .flex
        .time.whitespace-nowrap.text-right.flex-grow

          -if log.retries
            .mr-4
              ({{ log.retries }} retries)

        .text-right.whitespace-nowrap
          {% format_datetime log.created_on|parse_isodate seconds=True %}

  .border-b
  %pre.prettyprint.request<
    {{ log.request }}
  
  %pre.prettyprint.response<
    {% if log.response%}{{ log.response }}{% else %}{% trans "Connection Error" %}{% endif %}
