-extends 'includes/modal.html'
-load i18n temba smartmin

-block modal
  -block pre-form

  -for field, errors in form.errors.items
    -if field == '__all__'
      {{ errors }}  

  %form(method="POST")
    -csrf_token
    -block fields
      -for field in form.fields
        -render_field field

    .hidden
      .form-actions
        -block form-buttons
          %input(type="submit" value="{{submit_button_name}}")
