-load smartmin i18n humanize temba compress

:css
  #sign-in-button {
    --button-bg: rgba(0,0,0,.1);
    --color-button-primary: rgba(0,0,0,.1);
  }

#menu
  .flex-grow
  %temba-button.block#sign-in-button(href="{% ssl_brand_url 'users.user_check_login' %}" name="Sign In")
    Sign In

