{% load humanize %}

{% if paginator and paginator.num_pages > 1 %}
  <div class="flex w-full justify-end text-gray-700 flex-wrap">
    {% if page_obj.has_previous %}
      <div class="prev mr-4">
        <span onclick="goto(event)"
              href="{{ request.path }}{{ url_params|safe }}page={{ page_obj.previous_page_number }}"
              class="linked">
          <div class="icon-arrow-left-8"></div>
        </span>
        <span onclick="goto(event)"
              href="{{ request.path }}{{ url_params|safe }}page={{ page_obj.previous_page_number }}"
              class="linked">Previous</span>
      </div>
    {% else %}
      <div class="prev disabled mr-4 text-gray-400">
        <div class="icon-arrow-left-8"></div>
        Previous
      </div>
    {% endif %}
    {% for page_num in paginator.page_range %}
      {% if page_obj.number < 5 %}
        {% if page_num < 10 %}
          {% if not page_num == page_obj.number %}
            <div class="page-num mx-3">
              <div onclick="goto(event)"
                   href="{{ request.path }}{{ url_params|safe }}page={{ page_num }}"
                   class="linked">{{ page_num }}</div>
            </div>
          {% else %}
            <div class="page-num active mx-3 rounded-full bg-gray-200 px-2">{{ page_num }}</div>
          {% endif %}
        {% endif %}
      {% elif page_num < page_obj.number|add:"5" and page_num > page_obj.number|add:"-5" %}
        {% if not page_num == page_obj.number %}
          <div class="page_num mx-3">
            <div onclick="goto(event)"
                 href="{{ request.path }}{{ url_params|safe }}page={{ page_num }}"
                 class="linked">{{ page_num }}</div>
          </div>
        {% else %}
          <div class="page_num active mx-3 rounded-full bg-gray-200 px-2">{{ page_num }}</div>
        {% endif %}
      {% elif page_obj.number > paginator.num_pages|add:"-5" %}
        {% if page_num > paginator.num_pages|add:"-9" %}
          {% if not page_num == page_obj.number %}
            <div class="page-num mx-3">
              <div onclick="goto(event)"
                   href="{{ request.path }}{{ url_params|safe }}page={{ page_num }}"
                   class="linked">{{ page_num }}</div>
            </div>
          {% else %}
            <div class="page-num active mx-3 rounded-full bg-gray-200 px-2">{{ page_num }}</div>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <div class="next ml-6">
        <div onclick="goto(event)"
             href="{{ request.path }}{{ url_params|safe }}page={{ page_obj.next_page_number }}"
             class="linked">
          Next
          <div class="icon-arrow-right-8"></div>
        </div>
      </div>
    {% else %}
      <div class="next disabled text-gray-400 ml-4">
        Next
        <div class="icon-arrow-right-8"></div>
      </div>
    {% endif %}
  </div>
{% endif %}
