-load contacts

.flex.flex-wrap.max-w-full
  -for group in groups
    -include "includes/recipients_group.haml" with group=group

  -for contact in contacts
    -include "includes/recipients_contact.haml" with contact=contact

  -for urn in urns
    .item.urn.lbl.mr-2.mb-2
      {{ urn|format_urn:user_org }}

  -if query
    .item.query.lbl.linked.mr-2.mb-2(onclick="goto(event)" href="{% url 'contacts.contact_list' %}?search={{ query|urlencode }}")
      .icon.icon-filter.text-dark-alpha-300.-mb-1
      {{ query }}
