-load smartmin

-render_field 'start_datetime'
-render_field 'repeat_period'
.repeat-days-container(class='{% if form.repeat_period.value == "W" %}{% else%}hidden{%endif%}')
  -render_field 'repeat_days_of_week'
