-extends "channels/channel_claim_form.html"
-load i18n compress temba

-block pre-form
  -blocktrans trimmed with name=brand.name
    You can connect a <a href="https://developers.line.biz/en/docs/messaging-api/overview/">LINE Bot</a> to your {{ name }} workspace
    to automate sending and receiving LINE messages.
  -blocktrans trimmed
    To start creating a LINE bot, go to <a href="https://developers.line.biz/en/docs/messaging-api/getting-started/">Getting started with the Messaging API</a>.

  %ol.steps.card


    %li
      -blocktrans trimmed
        Access the <a href="https://developers.line.biz/console/">LINE Developers Console</a> page.</li>

    %li
      -blocktrans trimmed
        Create a Line account using the application on your smartphone

    %li
      -blocktrans trimmed
        Activate the permission to login via web application in the <i>Settings</i> &gt; <i>Account</i> &gt; <i>Allow login</i>

    %li
      -blocktrans trimmed
        Register your email and password via the application <i>Settings</i> &gt; <i>Account</i> &gt; <i>Email Account</i>

    %li
      -blocktrans trimmed
        Create a new account on LINE Developers Console (With Messaging API enabled)

    %li
      -blocktrans trimmed
        Follow the steps on <a href="https://developers.line.biz/en/docs/messaging-api/getting-started/#using-console">Creating a channel on the LINE Developers Console</a>

      %ol
        %li
          -blocktrans trimmed
            Log in to the LINE Developers Console

        %li
          -blocktrans trimmed
            Register as a developer (only on first login)

        %li
          -blocktrans trimmed
            Enter your credentials created through the application and wait for the confirmation code in it.

          .important
            %p
              -blocktrans trimmed
                Note: At this time you must create a LINE Developers Console account and some information, for example, address,
                phone, etc., will be requested.

        %li
          -blocktrans trimmed
            Create a new provider

        %li
          -blocktrans trimmed
            Create a channel

        %li
          -blocktrans trimmed
            After the creation process of the LINE Developers Console account, you will see the page to add a new channel of
            communication <i>Messaging API</i>. Enter the name and select the appropriate category and click OK.

        %li
          -blocktrans trimmed
            In the next step, click the <i>LINE @ Manager</i> and it will redirect you to the API activation page.

        %li
          -blocktrans trimmed
            Click "Enable API" and confirm. (By doing so, the status of your API will be <i>Valid</i>)

        %li
          -blocktrans trimmed
            Enable the option to allow the use of Webhooks and click <i>Save</i>.

    %li
      -blocktrans trimmed
        Set your bot:

      %ol
        %li
          -blocktrans trimmed
            Click on the menu "Accounts" at the top of the page at the link <a href="https://developers.line.biz/console/">https://developers.line.biz/console/</a>

        %li
          -blocktrans trimmed
            In the communication channel of your choice, click on the <i>LINE Developers Console</i> button, accept the terms,
            and it will direct you to a page with the information needed to fill out in the form below
            (Channel ID, Channel Name, Channel Secret and Channel Access Token).

          %p
            -blocktrans trimmed
              Note: To generate the Channel Access Token click on <i>Issue</i> button

-block extra-style
  {{ block.super }}

  :css
    .info {
      width: 800px;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom:15px;
    }

    #id_* {
      width: 340px;
    }
