-load i18n

%h4
  -trans "Your Nexmo configuration URLs are as follows. These should have been set up automatically when claiming your number, but if not you can set them from your Nexmo dashboard."

%h4
  -trans "Callback URL for Inbound Messages"

%p
  -blocktrans
    The callback URL is called by Nexmo when you receive new incoming messages.

%code
  https://{{ channel.callback_domain }}{% url 'courier.nx' channel.uuid 'receive' %}

%h4
  -trans "Callback URL for Delivery Receipt"

%p
  -blocktrans
    The delivery URL is called by Nexmo when a message is successfully delivered to a recipient.

%code
  https://{{ channel.callback_domain }}{% url 'courier.nx' channel.uuid 'status' %}


%h4
  -trans "Callback URL for Incoming Call"

%p
  -blocktrans
    The callback URL is called by Nexmo when you receive an incoming call

%code
  https://{{ channel.callback_domain }}{% url 'handlers.nexmo_call_handler' 'answer' channel.uuid %}



