-extends "channels/channel_claim_form.html"
-load i18n

-block pre-form
  -blocktrans trimmed with name=brand.name
    You can connect your <a href="http://dmarkmobile.com/">DMark Mobile</a> number to {{ name }} using the fields below. You
    will first need to create a DMark Mobile account and receive a username and password from them to use below.

