- load i18n
    
%h4
  -blocktrans
    To finish configuring your DMark channel you need to set DMark to send MO messages to the URL below.

%hr

%h4
  -trans "Receive URL"

%code
  https://{{ channel.callback_domain }}{% url 'courier.dk' channel.uuid 'receive' %}

