-extends "tickets/ticketer_connect_form.html"
-load i18n compress temba

-block pre-form
  %h4.form_blurb
    {{ form_blurb }}

  -blocktrans trimmed with brand=brand.name
    You will need to install the {{ brand }} app in your RocketChat and set a secret token. To do so:

  %ol.instructions
    %li
      -blocktrans trimmed with brand=brand.name
        Install the RapidPro app into your RocketChat from the marketplace.
    %li
      -blocktrans trimmed with secret=object.config.secret
        Open the app details and in its settings, put <code>Secret123XyZ</code> on the secret field and save the changes.
    %li
      -blocktrans trimmed
        TODO: domain and app id.

-block extra-style
  {{ block.super }}

  :css
    ol.instructions {
      padding-top: 1em;
    }
    ol.instructions li {
      list-style-type: decimal;
      margin-top: 0.3em;
    }
