-extends "tickets/ticketer_connect_form.html"
-load i18n compress temba

-block pre-form
  %h4.form_blurb
    {{ form_blurb }}

  -blocktrans trimmed with brand=brand.name
    You will need to enable Omnichannel and setup a {{ brand }} Tickets app on your RocketChat. To do so:

  %ol.instructions
    %li
      -blocktrans trimmed
        On your RocketChat, go to <b>Administration > Omnichannel</b> and enable the Omnichannel.
    %li
      -blocktrans trimmed with brand=brand.name
        Install your {{ brand }} Tickets app from marketplace.
    %li
      -blocktrans trimmed
        Open the app details, at <b>Administration > Apps > app</b>, and in its settings section put the following token on the <b>App's Secret</b> field:

    %p
      -blocktrans trimmed
        Your new secret: <code>{{ secret }}</code>.
    %li
      -blocktrans trimmed with brand=brand.name
        Save the changes, copy the app's URL and back to {{ brand }} by pasting that URL on field below, so try connect.

-block extra-style
  {{ block.super }}

  :css
    ol.instructions {
      padding-top: 1em;
    }
    ol.instructions li {
      list-style-type: decimal;
      margin-top: 0.3em;
    }

-block extra-script
  {{ block.super }}
  -compress js
    :javascript
      function processURI(input) {
        let value = input.val();
        if (value != null) {
          let uri = value.match(/https?:\/\/[^ "]+\/[0-9a-fA-F]{8}(?:\-[0-9a-fA-F]{4}){3}\-[0-9a-fA-F]{12}/);
          if (uri != null) {
            if (value !== uri[0]){
              input.val(uri[0]);
            }
            return uri[0];
          }
        }
        return null;
      }

      $("#{{ form.base_url.id_for_label }}").on("change", function() {
        processURI($(this));
      }).parents("form").on("submit", function(event) {
        let input = $("#{{ form.base_url.id_for_label }}");
        let uri = processURI(input);
        if (uri == null) {
          input.parents(".control-group").addClass("error")
          input.val("");
          event.preventDefault();
        }
      });
