-load i18n

%h4
  -blocktrans
    To finish configuring your Africa's Talking connection you'll need to set the following callback URLs on the
    Africa's Talking website under your account.

.clearfix
  .config-value
    .name
      -trans "Username:"
    .value {{ channel.config_json.username }}
  .config-value
    .name
      -trans "API Key:"
    .value {{ channel.config_json.api_key }}

.clearfix
%hr
 
%h4
  -trans "Callback URL"

%p
  -blocktrans
    You can set the callback URL on your Africa's Talking account by visiting the SMS Dashboard page, then clicking on
    <a href="http://www.africastalking.com/account/sms/smscallback" target="africastalking">Callback URL</a>.

%code
  https://{{ channel.callback_domain }}{% url 'courier.at' channel.uuid 'receive' %}

%hr
 
%h4
  -trans "Delivery URL"

%p
  -trans "You can set the delivery URL on your Africa's Talking account by visiting the SMS Dashboard page, then clicking on"
  <a href="http://www.africastalking.com/account/sms/dlrcallback" target="africastalking">Delivery Reports</a>.

%code
  https://{{ channel.callback_domain }}{% url 'courier.at' channel.uuid 'status' %}

%hr
