-extends 'includes/modax.html'
-load i18n smartmin

-block fields
  -if hard_dependents
    %span.font-normal
      {{ object.name }}
    -trans "can't be deleted as it is still used by the following items:"
    .dependents.mt-4
      -for type_qs in hard_dependents.values
        -include "includes/dependents.haml" with dependents=type_qs

  -elif soft_dependents
    %span.font-normal
      {{ object.name }}
    -trans "is used by the following items but can still be deleted:"
    .dependents.mt-4
      -for type_key, type_qs in soft_dependents.items
        -include "includes/dependents.haml" with dependents=type_qs warning=type_warnings|get:type_key

  -else
    -trans "You are about to delete"
    %span.font-normal
      {{ object.name }}.

  -if not hard_dependents
    .mt-4
      -trans "There is no way to undo this. Are you sure?"

-block form-buttons
  -if not hard_dependents
    %input.btn.btn-primary(type="submit" value="{{ submit_button_name }}")
