-extends "includes/modal.html"
-load i18n

-block modal
  -block pjax
    -if dependents
      -for type_qs in dependents.values
        -include "includes/dependents.haml" with dependents=type_qs
    -else
      -trans "None"
