{% extends "smartmin/base.html" %}
{% load i18n %}

{% block content %}
  <div class="flex-grow">
    <table class="list lined">
      <tr>
        <th>{% trans "Type" %}</th>
        <td>{{ object.type.name }} ({{ extension }})</td>
      </tr>
      <tr>
        <th>{% trans "Created On" %}</th>
        <td>{{ object.created_on|datetime }}</td>
      </tr>
      {% if object.start_date or object.end_date %}
        <tr>
          <th>{% trans "Date range" %}</th>
          <td>{{ object.start_date|day }} &rarr; {{ object.end_date|day }}</td>
        </tr>
      {% endif %}
      {% block "extra-fields" %}
      {% endblock "extra-fields" %}
      <tr>
        <th>{% trans "Number of records" %}</th>
        <td>{{ object.num_records }}</td>
      </tr>
    </table>
  </div>
{% endblock content %}
{% block extra-script %}
  {{ block.super }}
  <script type="text/javascript">
    onSpload(function() {
      document.querySelector("temba-content-menu").addEventListener("temba-selection", function(event) {
        var item = event.detail.item;
        if (item.id === "export_download") {
          location.href = "{% url "orgs.export_download" object.uuid %}?raw=1"
        }
      });
    });
  </script>
{% endblock extra-script %}
