-extends "smartmin/form.html"
-load i18n

-block title
  .page-title= org.name

-block page-top
  -if org.is_active
    -if org.is_suspended
      .alert-warning.mb-4
        -trans "This workspace has been suspended"

    -if org.is_flagged
      .alert-warning.mb-4
        -trans "This workspace has been flagged for possible spamming"

    -if org.is_verified
      .alert-info.mb-4
        -trans "This workspace has been verified"
  -else
    .alert-danger.mb-4
      -trans "This workspace has been scheduled for deletion"

  {{ block.super }}

-block extra-style
  :css
    .org_users {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      flex: 1 0 50%;
      display: flex;
      align-items: flex-start;
      align-content: space-around;
    }
    .org_users_block {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: stretch;
      align-items: stretch;
      justify-content: space-around;
      flex: 1 0 50%;
    }

-block pre-form
  .mb-4.flex.org_users
    -if org.administrators.all
      .mb-3.org_users_block
        .cap-label
          Administrators

        -for user in org.administrators.all
          %a{href:'{% url "users.user_update" user.id %}'}
            {{user.email}}

    -if org.editors.all
      .mb-3.org_users_block
        .cap-label
          Editors

        -for user in org.editors.all
          %a{href:'{% url "users.user_update" user.id %}'}
            {{user.email}}

    -if org.viewers.all
      .mb-3.org_users_block
        .cap-label
          Viewers

        -for user in org.viewers.all
          %a{href:'{% url "users.user_update" user.id %}'}
            {{user.email}}

    -if org.surveyors.all
      .mb-3.org_users_block
        .cap-label
          Surveyors

        -for user in org.surveyors.all
          %a{href:'{% url "users.user_update" user.id %}'}
            {{user.email}}
