- extends 'smartmin/form.html'
- load smartmin temba compress i18n

-block form-span
  span8


-block pre-form

  -if not user.profile.two_factor_enabled

    %canvas#qr

    %br

    %script{src:"{{ STATIC_URL }}bower/qrious/dist/qrious.min.js"}

    :javascript
      (function() {
        var secretUrl = "{{ secret_url }}";
        if (secretUrl) {
          var element = document.getElementById('qr');
          element.style.display = "initial";
          
          var qr = new QRious({
            element: element,
            value: secretUrl,
            background: "#eee"
          });
        }
      })();
    

-block fields
  -if not user.profile.two_factor_enabled
    {{block.super}}
  -else
    -blocktrans trimmed
      These are your backup tokens, save them somewhere safe and use when you
      lose access to the application you used to generate your access code via qrcode.

    %br

    %a.btn.btn-primary.btn-tiny{id:'generate-backup-tokens', style:'margin-top:5px'}

      -trans "Generate Backup Tokens"

   %br
   %br

    %div#backup

    %hr

    -blocktrans trimmed
      You can disable two-factor authentication on your account.

    %br

    %a.btn.btn-primary.btn-tiny{href:"{% url 'orgs.org_home' %}", id:'disable-two-factor-auth', style:'margin-top:5px'}
      -trans "Disable Two Factor"

    :javascript

      $(document).ready(function() {
        $.ajax({
          type: "POST",
          url: "{%url 'orgs.org_two_factor'%}",
          data: {
            "get_backup_tokens": true,
          },
          success: function( backups ) {
            var tokens = '';
            for(token of backups.tokens) {
                tokens = tokens + `<li>${token}</li>`;
            }

            element = `<ul>${tokens}</ul>`

            $('#backup').html(element);
          }
        });
      });

      $('#generate-backup-tokens').click(function() {
        $.ajax({
          type: "POST",
          url: "{%url 'orgs.org_two_factor'%}",
          data: {
            "generate_backup_tokens": true,
          },
          success: function( backups ) {
            var tokens = '';
            for(token of backups.tokens) {
                tokens = tokens + `<li>${token}</li>`;
            }

            element = `<ul>${tokens}</ul>`

            $('#backup').html(element);
          }
        })
      });

      $('#disable-two-factor-auth').click(function() {
        $.ajax({
          type: "POST",
          url: "{%url 'orgs.org_two_factor' %}",
          data: {
            "disable_two_factor_auth": true,
          }
        })
      });

- block form-buttons
  -if not user.profile.two_factor_enabled
    {{block.super}}

- block summary
  -trans "Two Factor Authentication"
