-extends 'smartmin/form.html'
-load smartmin humanize
-load i18n

-block fields
  {% render_field 'name' %}

  {% render_field 'timezone' %}

  {% render_field 'date_format' %}

-block post-form

-block summary
  .flex.items-center
    .text.flex-grow.mr-4
      -blocktrans with org=object.name
        Your workspace is <span class='attn'>{{org}}</span>

      -blocktrans with timezone=object.timezone
        which is in the <span class='attn'>{{timezone}}</span> timezone.

      -if object.is_multi_org and sub_orgs
        .mt-4
          {% blocktrans count sub_orgs|length as org_count%}
            You have <span class='attn'>{{org_count}}</span> child workspaces.
          {% plural %}
            You have <span class='attn'>{{org_count}}</span> child workspaces.
          {% endblocktrans%}


    .buttons
      -if object.is_multi_org
        .button-light(onclick="goto(event)" href='{% url "orgs.org_sub_orgs" %}')
          -trans "Manage Workspaces"



