-extends "smartmin/base.html"
-load i18n smartmin

-block styles
  {{block.super}}
  :css
    .content-card {
      width: 28rem;
    }

-block content
  %form#login-form.mt-6(method="post" action="{% url 'users.user_login' %}?next={% url 'orgs.org_join_accept' secret %}")
    %fieldset
      .control-group
        %temba-textinput#id_username(type="text" name="username" maxlenght="150" label="{% trans 'Email Address' %}" value="{{email}}" disabled)
      .control-group
        %temba-textinput#id_password(type="password" name="password" label="{% trans 'Password' %}" placeholder="{% trans 'Your password, at least eight letters please' %}" password)
    -csrf_token
    %input.button-primary{type:"submit", value:"Login"}
