-extends 'smartmin/form.html'
-load smartmin
-load i18n

-block fields
  .mb-4
    {% blocktrans trimmed with prometheus='<a href="https://prometheus.io/">Prometheus</a>' grafana='<a href="https://grafana.com/">Grafana</a>'%}
    You can monitor contact group counts and channel message counts on your workspace using your {{prometheus}} endpoint. This will let you monitor usage over time using graphs and alerts in a dashboard such as {{grafana}}.
    {% endblocktrans %}

  -if prometheus_url
    %table(style="margin-bottom:15px;")
      %tr.bottom-pad
        %td(align="right")
          {% trans "Endpoint" %}
        %td
          .code.whitespace-normal= prometheus_url
      %tr.bottom-pad
        %td(align="right")
          {%trans "Username" %}
        %td
          .code.whitespace-normal metrics
      %tr.bottom-pad
        %td(align="right")
          {% trans "Password" %}
        %td
          .code.whitespace-normal= prometheus_token

-block form-buttons
  .form-actions
    -if prometheus_url
      %input(type="submit" class="button-primary" value='{% trans "Disable Prometheus" %}')
    -else
      %input(type="submit" class="button-primary" value='{% trans "Enable Prometheus" %}')

-block summary
  -if prometheus_url
    {% blocktrans trimmed with prometheus='<b>Prometheus</b>' %}
    You are monitoring your workspace using {{prometheus}}.
    {% endblocktrans %}
  -else
    {% blocktrans trimmed with prometheus='<b>Prometheus</b>' %}
    You have not enabled {{ prometheus }} monitoring on your workspace.
    {% endblocktrans %}

-block extra-style
  {{ block.super }}
  :css
    tr.bottom-pad  {
      border-top: 0px;
      border-bottom: 12px solid transparent;
    }

