-extends "smartmin/update.html"
-load i18n

-block content
  .flex.w-full.mb-4
    .flex-grow.ml-1
      -blocktrans trimmed with name=org.name
        You have been invited to join {{name}}.
      </br>
      -trans "Please click Join to accept the invitation."

  .flex.w-full.mb-4
    .flex-grow.ml-1
      %form.mb-4{method:"post", encrypt:"multipart/form-data"}
        -csrf_token
        %input.button-primary{type:"submit", value:"{{submit_button_name}}"}