-extends "smartmin/update.html"
-load i18n

-block summary
  -if object.primary_language
    -blocktrans trimmed with lang=object.primary_language.name
      The primary language is <b>{{ lang }}</b>.
    -if languages
      -blocktrans trimmed with lang=languages
        Translations are provided in <b>{{lang}}</b>.
  -else
    -trans "Your workspace is configured to use a single language."


    