{% extends "smartmin/form.html" %}
{% load smartmin temba compress i18n %}

{% block extra-style %}
  {{ block.super }}
  <style type="text/css">
    .role .control-group {
      margin-bottom: 0;
    }

    table.list tr td temba-checkbox {
      --icon-color: #666 !important;
    }
  </style>
{% endblock extra-style %}
{% block fields %}
  {% if has_viewers %}
    <temba-alert level="warning" class="mb-4">
      {% blocktrans trimmed with cutoff="2024-12-31"|day %}
        The <i>Viewer</i> role for users is being removed. Please update any users with that role or remove from your
        workspace. After <b>{{ cutoff }}</b> these users will no longer be able to access the workspace.
      {% endblocktrans %}
    </temba-alert>
  {% endif %}
  <table class="list mb-0">
    <thead>
      <tr>
        <th>{% trans "Login" %}</th>
        <th>{% trans "Role" %}</th>
        <th>
          <div class="text-center">{% trans "Remove" %}</div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in form.user_rows %}
        <tr>
          <td class="login-user">
            {{ row.user.email }}
            {% if row.user.first_name or row.user.last_name %}({{ row.user.first_name }} {{ row.user.last_name }}){% endif %}
          </td>
          <td style="padding-top:6px" class="role">{% render_field row.role_field %}</td>
          <td>
            <div style="width:24px" class="m-auto mt-4">{% render_field row.remove_field %}</div>
          </td>
        </tr>
      {% endfor %}
      <!-- pending invites -->
      {% if has_invites %}
        <tr class="invites-title">
          <th colspan="3">{% trans "Pending Invitations" %}</th>
        </tr>
      {% endif %}
      {% for row in form.invite_rows %}
        <tr>
          <td class="opacity-50">{{ row.invite.email }}</td>
          <td style="padding-top:6px" class="role w-48 opacity-50">{% render_field row.role_field %}</td>
          <td>
            <div style="width:24px" class="m-auto mt-4">{% render_field row.remove_field %}</div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock fields %}
{% block form-buttons %}
  <div class="form-actions mt-4 ml-2">
    <input type="submit" value="{{ submit_button_name }}" class="button-primary">
  </div>
{% endblock form-buttons %}
