-extends "smartmin/list.html"

-load compress temba smartmin humanize i18n

-block extra-less
  {{block.super}}
  :css
    .table-container {
      overflow-x: auto;
      max-width: calc(100vw - 6rem);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
      border-radius: 0.5rem;
      margin: 0 2.5px;
    }

-block extra-script
  {{block.super}}

-block title
  .title-text
    %h1
      =title

-block table
  .table-container
    %table.list.object-list.lined{class: "list_orgs_org list-table table table-striped", cellspacing:"0"}
      %thead
        %tr
          -for field in fields
            %th{class: "header-*", id: "header-*"}
              {{ field }}
      %tbody
        -for obj in object_list
          %tr{class: "{% cycle 'row2' 'row1' %}"}
            -for field in fields
              %td{class: "value"}
                {% temba_get_value obj field %}
        -empty
          %tr.empty_list
            %td{colspan: "{{ fields|length }}"}
              -trans "No data"

        -block extra-rows
