-extends 'smartmin/form.html'
-load smartmin
-load i18n

-block form-span
  span8

-block fields
  .field.api-token(style="padding-bottom: 10px")
    .flex
      .token
        API Token: <span id="api_token">{{api_token}}</span>
    
      <a href="javascript:refreshToken()" class='api-token-refresh'><temba-icon name="retry"></temba-icon></a>

-block form-buttons
  
  %a.button-light.inline-block(target="_blank" href="{% url 'api.v2' %}")
    -trans "API Docs"

  %a.button-light.ml-3.inline-block(target="_blank" href="{% url 'api.v2.explorer' %}")
    -trans "API Explorer"

-block summary
  -blocktrans trimmed with token=api_token
    Your API Token is <b>{{ token }}</b>.

-block extra-script
  {{block.super}}
    :javascript
      function refreshToken(){
         $.post("{% url 'api.apitoken_refresh' %}", function(data){
            $("#api_token").text(data['token']);
         });
      }


-block extra-style
  :css
    .api-token-refresh {
      padding-left: 10px;
      margin-top: 3px;
      display: block;
      color: #999;
    }

    .api-token-refresh:hover {
      text-decoration: none;
    }