-extends "includes/modax.html"
-load i18n

-block fields
  .mb-4
    -trans "You are about to delete"
    %span.font-normal
      {{object}}.

  -blocktrans trimmed
    Are you sure you want to delete everything for this org? This cannot be undone. Any logins which only belong to this workspace will also be deleted.