-extends "orgs/login/login_base.html"
-load i18n

-block login-content
  .page-title.mb-6
    -trans "Choose Workspace"

  .w-64
    -if not orgs
      .my-6
        -trans "Your login is not associated with any workspace. Please contact your administrator to receive an invitation to a workspace."

    .flex.flex-col
      -for org in orgs
        .item
          %a.button-light.m-2.posterize(href="?organization={{ org.id }}" onclick="handlePosterizeClick(event)")
            {{ org.name }}
