-extends "smartmin/users/login_base.html"
-load smartmin temba compress i18n

-block page-top

-block login-title
  -trans "Create Account"

-block login-content
  -blocktrans trimmed with brand.name as brand
    Creating a {{brand}} account is free and only takes a minute.

  %form.my-6(method="post")
    -csrf_token

    {% if form.non_field_errors %}
      <div class="alert alert-error form-errors">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    .flex
      .mr-3
        -render_field 'first_name'
      .flex-grow
        -render_field 'last_name'

    -render_field 'email'
    
    -render_field 'password'
    
    .my-8
      -render_field 'name'
    
    .hidden
      -with form|field:'timezone' as form_field
        {{form_field}}

    .mt-4
      %input.button-primary{type:'submit', value:'Sign Up'}

    .mt-6
      Already have an account?
      %a(href="/users/login/")<
        -trans "Sign In"


-block extra-script
  %script{src:"{{ STATIC_URL }}bower/jsTimezoneDetect/jstz.js"}
  {{ block.super }}

  :javascript
    window.addEventListener("DOMContentLoaded", function (){
      var timezone = jstz.determine().name();
      document.getElementById("id_timezone").value = timezone;
    });


