-extends "smartmin/update.html"
-load i18n

-block summary
  -if object.primary_language
    -blocktrans with lang=object.primary_language.name
      The primary language is <span class='attn'>{{ lang }}</span>.
    -if languages
      -blocktrans with lang=languages
        Translations are provided in <span class='attn'>{{lang}}</span>.
  -else
    -trans "Your workspace is configured to use a single language."


    