-extends 'smartmin/form.html'
-load smartmin
-load i18n

-block form-span
  span8

-block fields
  .field.api-token(style="padding-bottom: 10px")
    API Token: <span id="api_token">{{user.api_token}}</span>
    <a href="javascript:refreshToken()" class='api-token-refresh'><div class="icon-loop"></div></a>

-block form-buttons
  %a.btn(href="{% url 'api.v2' %}" style="width: 100px;")
    -trans "API Docs"

  %a.btn(href="{% url 'api.v2.explorer' %}" style="width: 100px;")
    -trans "API Explorer"

-block summary
  -blocktrans trimmed with token=user.api_token
    Your API Token is <span class="attn">{{ token }}</span>.

-block extra-script
  {{block.super}}
    :javascript
      function refreshToken(){
         $.post("{% url 'api.apitoken_refresh' %}", function(data){
            $("#api_token").text(data['token']);
         });
      }


-block extra-style
  :css
    .api-token-refresh {
      padding-left: 5px;
      color: #999;
    }