-extends "smartmin/form.html"
-load i18n

-block title
  .page-title= org.name

-block page-top
  -if org.is_active
    -if org.is_suspended
      .alert-warning.mb-4
        -trans "This workspace has been suspended"

    -if org.is_flagged
      .alert-warning.mb-4
        -trans "This workspace has been flagged for possible spamming"

    -if org.is_verified
      .alert-info.mb-4
        -trans "This workspace has been verified"
  -else
    .alert-danger.mb-4
      -trans "This workspace has been scheduled for deletion"

  {{ block.super }}

-block pre-form
  .mb-4.grid.grid-cols-3.gap-4
    -for user_role in users_roles
      .mb-2
        .cap-label
          {{user_role.role_display}}
        -for user in user_role.users
          %a{href:'{% url "orgs.user_update" user.id %}'}
            {{user.email}}

