-extends "smartmin/form.html"

-load smartmin
-load i18n humanize

-block title
  %h1
    -trans "Import Flows and Campaigns"

- block pjax

  -if not user_org.get_purchased_credits
    -include "includes/import_disabled.html"


  -else
    #pjax
      .row{style:"height:250px;"}
        .span9
          %p
            -trans "If you have an export file with flows and or campaigns, select it below to import it into your account."

          - block import-status
            %form#import-form.smartmin-form.horizontal-form{method:"post", action:"{% url 'orgs.org_import' %}", enctype:"multipart/form-data"}
              - if form.non_field_errors
                %div.alert.alert-error.form-errors
                  {{ form.non_field_errors }}

              -csrf_token
              -if form.non_field_errors
                %div.alert.alert-error.form-errors
                  {{ form.non_field_errors }}

              -block fields
                %div#import_file_errors
                  {{ form.import_file.errors }}
                #file-upload
                  %input{type:"file", name:"import_file", id:"import_file", onchange:'updateFlowImportFile()'}
                #real_button
                  %input{type:"text", id:"file-field"}
                  %a.btn.btn-primary
                    -trans "Choose File"

              .warning
                .attn
                  -trans "Warning!"

                -trans "If you have flows or campaigns with the same name as the ones you are importing they will be replaced and all history for them will be lost."
                %p
                %b
                  -trans "Do not proceed unless you are willing to replace your existing flows and campaigns."

              .form-buttons
                %input.btn.btn-primary{type:"submit", value:'{% trans "Import" %}'}
                %a.btn{onclick:"javascript:history.go(-1)"}
                  -trans "Cancel"


{% block extra-style %}
:css

  .warning {
    margin-top:20px;
    margin-bottom:20px;
    width: 600px;
    padding: 15px;
    background: #fff6c0;
    border: 1px solid #EFE7B4;
  }

  .warning .attn {
    font-weight: 500;
    margin-bottom:8px;
    font-size:20px;
  }

  .form-buttons {
    margin-top: 10px;
  }

  #update {
    margin-top:-5px;
  }

  label {
    display: inline;
    color: #666;
    margin-left: 2px;

    line-height: 33px;

  }

  #example {
    margin-top: 20px;
    background: #f8f8f8;
  }

  #file-upload {
    position:relative;
  }

  #import_file_errors {
    font-size: 14px;
  }

  #real-button {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    height:35px;
    width:340px;
  }

  #file-field {
    width:255px;
    height:25px;
    font-size:16px;
    border:solid 1px #000;
    margin-bottom: 0px;
  }

  #import_file {
    position:absolute;
    width:340px;
    height:35px;
    top: 0px;
    left: 0px;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
  }
  
  #import-message {
    font-size: 22px;
  }

  #import-message .glyph {
    font-size: 35px;
    margin: 0px 20px;
    color: green;
    line-height: 22px;
  }

  #import-message a {
    text-decoration :none;
  }
{% endblock %}

-block extra-script
  {{block.super}}
  :javascript
    function updateFlowImportFile(){
      var file = $("#import_file").val();
      while (file.indexOf("\\") >= 0){
	    file = file.substring(file.indexOf("\\")+1, file.length);
      }
      $("#file-field").val(file);
    }

    $(document).ready(function() {
      $('#update').on('change', function() {
        if ($(this).attr('checked')) {
          $('.warning').slideDown();
        } else {
          $('.warning').slideUp();
        }
      });
    });