{% extends "smartmin/form.html" %}
{% load i18n smartmin %}

{% block summary %}
  {% blocktrans trimmed with from_email=from_email_custom|default:from_email_default %}
    Emails sent from flows will be sent from <b>{{ from_email }}</b>.
  {% endblocktrans %}
{% endblock summary %}
{% block pre-form %}
  <div class="mb-4">
    {% if from_email_custom %}
      {% blocktrans trimmed with from_email=from_email_custom %}
        If you no longer want to use these SMTP settings to send emails from flows, <a href='javascript:confirmSMTPRemove();'>click here.</a>
      {% endblocktrans %}
    {% else %}
      {% blocktrans trimmed %}
        You can add your own SMTP settings for emails sent from flows.
      {% endblocktrans %}
    {% endif %}
  </div>
  <div class="remove-smtp hide">
    <div class="title">{% trans "Remove SMTP Settings" %}</div>
    <div class="body">
      {% blocktrans trimmed with from_email=from_email_default %}
        Removing these settings will mean that emails sent from flows will come from <b>{{ from_email }}</b>.
        Are you sure you want to continue?
      {% endblocktrans %}
    </div>
    <div href="{% url "orgs.org_flow_smtp" %}?disconnect=true" id="remove-smtp-form"></div>
  </div>
{% endblock pre-form %}
{% block fields %}
  {% render_field 'from_email' %}
  <div class="flex">
    <div class="flex-grow mr-4">{% render_field 'host' %}</div>
    <div>{% render_field 'port' %}</div>
  </div>
  <div class="flex">
    <div class="flex-auto mr-4">{% render_field 'username' %}</div>
    <div class="flex-auto">{% render_field 'password' %}</div>
  </div>
{% endblock fields %}
{% block extra-script %}
  {{ block.super }}
  <script type="text/javascript">
    function confirmSMTPRemove() {
      removalConfirmation("remove-smtp", "Remove");
    }
  </script>
{% endblock extra-script %}
