-extends "smartmin/list.html"

-load compress temba smartmin humanize
-load i18n

-block title-text
  -trans "Workspaces"

-block subtitle
  {{user_org.name|capfirst}}

-block extra-style
  {{block.super}}
  :css
    table.list {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    tr th.header-created_on {
      text-align: right;
      width: 160px;
    }
    tr th.header-manage {
      font-size: 0;
    }
    tr td.field_created_on {
      text-align: right;
    }
    .num-credits {
      text-align: right;
      font-size: 1.5rem;
    }
    .org-timezone {
      font-size: 11px;
      line-height: 11px;
    }

    .delete-icon {
      opacity: 0;
    }

    tr:hover .delete-icon {
      opacity: 1;
    }

    .delete-icon:hover {
      color: var(--color-link)
    }

-block extra-script
  {{block.super}}
  :javascript
    function editWorkspace(event) {
      showModax("{{_('Edit Workspace')|escapejs}}",  "{% url 'orgs.org_edit_sub_org' %}?org=" + event.target.dataset.id);
    }

    function showDelete(id) {
      showModax("{{_('Delete Workspace')|escapejs}}",  "/org/delete_child/" + id + "/");
    }

-block table
  %table.list.lined
    %thead
      %tr
        %th
          -trans "Name"
        %th(style="text-align:right")
          -trans "Users"
        %th(style="text-align:right")
          -trans "Contacts"
        %th(style="text-align:right")
          -trans "Created"
        %th

      %tbody
        - for org in object_list
          %tr
            %td
              -if org.id == user_org.id
                .linked(onclick="goto(event)" href="{% url 'orgs.org_manage_accounts' %}")
                  {{org.name}}           
              -else          
                .linked(onclick="editWorkspace(event)" data-id="{{org.id}}")
                  {{org.name}}
            %td(style="text-align:right")
              -if manage_users
                .linked(onclick="goto(event)" href="{% url 'orgs.org_manage_accounts_sub_org' %}?org={{org.id}}")
                  {{org.users.all|length}}
              -else
                {{org.users.all|length}}
            %td(style="text-align:right")
              {{org.get_contact_count|intcomma}}
            %td(style="text-align:right")
              {{org.created_on|day}}
            %td.w-2
              .delete-icon
                %temba-icon(name="delete_small" clickable="true" linked="true" onclick='showDelete({{org.id}})')
        -empty
          %tr.empty_list
            %td(colspan=5)
