-extends "smartmin/form.html"

-load compress temba smartmin i18n

-block title-icon
  .title-icon
    %span.glyph.icon-twilio

-block form-span

-block title-text
  .title-text
    %h1 Disconnect Twilio Compliant API

-block summary
  -if object.is_connected_to_twiml_api
    Connected to Twilio Compliant API Account {{account_sid}}
  -else
    Disconnected from Twilio Compliant API

-block post-form
  -if object.is_connected_to_twiml_api and request.META.HTTP_X_FORMAX
    If you no longer want it connected, you can
    %a{href:'javascript:confirmTwimlApiDisconnect();'}
      disconnect your Twilio Compliant API Account

  - if org_perms.channels.channel_delete
    .disconnect-twiml-api.hide
      .title
        -trans "Disconnect Twilio Compliant API"
      .body
        -blocktrans
          Disconnecting your Twilio Compliant API will also remove any Twilio Complaint API channels connected to it. Are you sure you want to proceed?
    %a#disconnect-twiml-api-form.posterize{href:'{% url "orgs.org_twiml_api_account" %}?disconnect=true'}

-block form-buttons
  .form-actions
    -if config.TWIML_API_ACCOUNT_SID and config.TWIML_API_ACCOUNT_TOKEN
      %input.btn.btn-danger{type:"submit", value:"={ submit_button_name }"}
    -else
      %a.btn.btn-primary{href:"{% url 'orgs.org_twiml_api_connect'%}"}
        Connect Twilio Compliant API

-block extra-script
  :javascript
    function confirmTwimlApiDisconnect() {
      removalConfirmation("disconnect-twiml-api", "Disconnect");
    }
