-extends "smartmin/update.html"
-load smartmin
-load i18n

-block title
  {{title}}

-block fields
  .control-group
    %temba-textinput#id_username(type="text" name="username" maxlenght="150" label="{% trans 'Email Address' %}" value="{{email}}" disabled)

  -render_field 'password'

  .flex
    .mr-3(class="w-1/2")
      -render_field 'first_name'
    .flex-grow
      -render_field 'last_name'


-block extra-script
  {{ block.super }}
  :javascript
    $(function() {
      $(".formax-icon, .formax-summary").on('click', function(){
        $(this).parents(".formax-section").toggleClass('open');
        $(this).parents(".formax-section").siblings('formax-section').removeClass('open');
      });
    });