-extends "smartmin/update.html"
{% load smartmin i18n  %}

-block title-text
  %h1= org.name
{% block form-span %}col-md-12{% endblock %}
-block above-bar
  .pull-right
    -block buttons-right
      -block gear-menu
        -include "gear_links_include.haml"

-block fields
  <fieldset>
  -for field in fields
    -if field == "administrators"
      <div class ="row" style="margin:20px">
    -if field == "administrators" or field == "viewers" or field == "editors" or field == "surveyors"
      <div class ="span3">
      {% render_field field %}
      </div>
    -else
      {% render_field field %}
    -if field == "viewers"
      </div>
  {% block extra-fields %}{% endblock %}
  </fieldset>




-block post-form
  -if perms.auth.org_clear_cache
    <form class="smartmin-form form-horizontal" action="{% url 'orgs.org_clear_cache' object.id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="control-group">
        <label class="control-label">Cache</label>
        <div class="controls">
          <button type="submit" name="cache" value="2" class="btn btn-primary">Clear Credits</button>
        </div>
      </div>
    </form>



-block extra-script
  <script>
    $(".org-delete-button").live('click', function() {
      $(".gear-menu").removeClass("open");
      modal = new ConfirmationModal($('.deletion > .title').html(), $('.deletion > .body').html());
      modal.addClass('alert');
      modal.setListeners({onPrimary: function(){
        $('#delete-form').click();
      }}, false);
      modal.setPrimaryButton('{% trans "Delete" %}');
      modal.show();
    });
    var window_width       = $(window).width();
    $(".span3").css("width", parseInt(window_width/5));
  </script>

-block extra-style
  {{block.super}}
  :css
    .form-horizontal .controls {
      margin-left: 180px;
    }

    .form-horizontal .smartmin-form-buttons {
      padding-left: 180px;
      margin-bottom: 20px;
    }

    .form-horizontal .control-label {
      width: 160px;
    }
    .field_surveyors .controls,
    .field_administrators .controls,
    .field_viewers .controls,
    .field_editors .controls,
    .field_administrators .controls{
        overflow-y: scroll;
        height: 300px !important;
        min-width: 250px;

    }
