{% extends "smartmin/update.html" %}
{% load smartmin %}
{% load i18n %}

{% block extra-style %}
  {{ block.super }}
  <style type="text/css">
    .content-card {
      max-width: 600px !important;
    }

    .form-actions .button-light {
      display: none;
    }
  </style>
{% endblock extra-style %}
{% block fields %}
  <div class="control-group">
    <temba-textinput type="text"
                     name="username"
                     maxlength="150"
                     label="{% trans 'Email Address' %}"
                     value="{{ email }}"
                     disabled
                     id="id_username">
    </temba-textinput>
  </div>
  {% render_field 'password' %}
  <div class="flex">
    <div class="w-1/2 mr-3">{% render_field 'first_name' %}</div>
    <div class="flex-grow">{% render_field 'last_name' %}</div>
  </div>
{% endblock fields %}
{% block extra-script %}
  {{ block.super }}
  <script type="text/javascript">
    $(function() {
      $(".formax-icon, .formax-summary").on('click', function() {
        $(this).parents(".formax-section").toggleClass('open');
        $(this).parents(".formax-section").siblings('formax-section').removeClass('open');
      });
    });
  </script>
{% endblock extra-script %}
