-extends 'smartmin/form.html'
-load smartmin i18n

-block pre-form

  .mb-4
    -blocktrans trimmed
      You can create flow events which external services can subscribe to. For example, Zapier can subscribe
      to flow events you create and trigger any number of Zapier integrations when they occur in your flows.

  -if brand.guided_zaps|length > 0
    <script type="module" src="https://zapier.com/partner/embed/app-directory/wrapper.js?id=zapier-app-directory&app=textit&theme=light&hide=salesforce-legacy%2Czendesk&zapstyle=row&introcopy=hide"></script>


-block fields
    -if current_resthooks
      %table.list.light.lined
        %thead
          %tr
            %th Flow Event
            %th.permission Remove

        %tbody
          -if current_resthooks
            -for resthook in current_resthooks
              %tr
                %td= resthook.resthook.slug
                %td.resthook-check.permission
                  {{form|field:resthook.field}}

    .my-4
      {% render_field 'new_slug' %}

-block post-form
  {{block.super}}
  .mt-8
    #zapier-app-directory

-block summary
  -with org.get_resthooks as resthooks
    -if resthooks|length == 0
      -blocktrans trimmed
        You have <b>no flow events</b> configured.
    -else
      -blocktrans trimmed count counter=resthooks|length
        You have <b>1 flow event</b> configured.
      -plural
        You have <b>{{ counter }} flow events</b> configured.

-block extra-style
  :css

    #table-resthooks {
      margin: 10px 0px 10px 0px;
    }

    td.resthook-check.checked .glyph.level-checkbox:before {
      content: "\e05a";
    }

    table.list tr td temba-checkbox {
      --icon-color: #333;
      width: inherit;
      height: inherit;
      margin-right: 0px;
    }

    .zap-services {
      display: inline-block !important;
      width: auto !important;
      float: left !important;
      margin-top: 15px !important;
    }

    .zap-description {
      float: left !important;
      display: inline-block !important;
      margin-left: auto !important;
      margin-right: auto !important;
      width: 500px !important;
      margin-top: 20px !important;
    }

    .zap-cta {
      display: inline-block !important;
      width: auto !important;
      float: right !important;
      margin-top: 10px !important;
    }

    .zap {
      padding: .25em 1em !important;
    }
