-extends "includes/modax.html"
-load i18n

-block fields
  .mb-4
    -blocktrans trimmed with org=object.name date=delete_on
      This will schedule deletion of <b>{{ org }}</b> on <b>{{ date }}</b>.

  -blocktrans trimmed
    Are you sure you want to delete everything belonging to this workspace? This cannot be undone. Any logins which
    belong only to this workspace will also be deleted.
