-extends "smartmin/form.html"
-load i18n

-block summary
  -blocktrans trimmed
    Connected to Twilio Account <b>{{ account_sid }}</b>.

-block post-form
  .mt-4
    -if object.is_connected_to_twilio and request.META.HTTP_X_FORMAX
      -blocktrans trimmed with url='javascript:confirmTwilioDisconnect();'
        If you no longer want it connected, you can <a href="{{ url }}">disconnect your Twilio account</a>.

    -if org_perms.channels.channel_delete
      .disconnect-twilio.hide
        .title
          -trans "Disconnect Twilio"
        .body
          -blocktrans trimmed
            Disconnecting your Twilio account will also remove any Twilio channels connected to it. Are you sure you want to proceed?
      %a#disconnect-twilio-form.posterize{href:'{% url "orgs.org_twilio_account" %}?disconnect=true'}

-block extra-script
  {{ block.super }}
  :javascript
    function confirmTwilioDisconnect() {
      removalConfirmation("disconnect-twilio", "Disconnect");
    }
