-extends 'smartmin/form.html'
-load i18n

-block spa-title

-block summary
  .flex.items-center
    .text.flex-grow.mr-4
      -blocktrans trimmed with org=object.name
        Your workspace is <b>{{org}}</b>

      -blocktrans trimmed with timezone=object.timezone
        which is in the <b>{{timezone}}</b> timezone.
