-extends "smartmin/list.html"
-load i18n

-block title-text
  -trans "Workspaces"

-block page-header
  #title-text.hidden
    {{title}}

-block extra-style
  {{block.super}}

  :css
    a:hover, a:hover * {
      text-decoration: none;
      color: var(--color-link-primary);
    }

    .field_created_on {
      white-space: nowrap;
      width: 64px;
    }

-block pre-table
  .flex.mb-4.items-center
    .search-box.flex-grow
      %form#search-form(method='get')
        %temba-textinput(name='search' value='{{ search }}' placeholder="Search Workspaces")
        %input.hidden(type="submit" value="Submit")
