-extends "smartmin/list.html"

-load compress temba smartmin humanize
-load i18n

-block extra-less
  {{block.super}}
  -compress css
    {% lessblock %}
      :plain
        .service {
          margin-top:5px;
        }

        .num-credits {
          text-align:right;

          a {
            color: #333;
            font-size:22px;
            font-weight:100;
          }
        }

        .used-pct {
          text-align:right;
          font-size:18px;
          color: #aaa;
          &.used-warning {
            color: @flat-mutedorange;
          }

          &.used-alert {
            color: @flat-mutedred;
          }
        }

        .suspended {
          color: @flat-mutedred;
        }

        .table td {
          vertical-align:middle
        }

        .value-owner {
          width:280px;
        }

        .owner {
          display:inline;
        }

        .service {
          width: 50px;
          margin-right:20px;
        }

        .owner-email {
          font-size:11px;
          line-height:11px;

        }

        .owner-name {
        }

        .org-timezone {
          font-size: 11px;
          line-height:11px;
        }

        .quick {
          padding: 5px;
        }

        .quick-searches {
          margin-bottom: 20px;
          background: @flat-white + #090909;
          padding:10px;
          .rounded-corners(5px);
        }

    {% endlessblock %}
-block create_object
          .row
           .span3
             <a href="#create_org" data-toggle="modal">
                Crea una organizacion
             </a>

             <!-- Modal -->
             <div id="create_org" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
               <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 %span.title{:style =>"color: rgb(255, 255, 255)! important;"}
                    -trans "Crea una organización"
               </div>
               <div class="modal-body" style="margin-right: 0px;">
                 <form role="form" action="" method="post">
                   {% csrf_token %}
                   <p>
                   {{ create_org_form.name.label}}
                   </p>
                   %h5 Campo Obligatorio:

                   <p>
                   {{ create_org_form.name}}
                   </p>
                   <p>
                   {{create_org_form.plan.label}}
                   </p>
                   <p>
                   {{create_org_form.plan}}
                   </p>
                   <p>
                   {{create_org_form.administrators.label}}
                   </p>
                    %h5 Campo Obligatorio:
                   <p>
                   {{create_org_form.administrators}}
                   </p>
                   <p>
                   {{create_org_form.language.label}}
                   </p>
                   <p>
                   {{create_org_form.language}}
                   </p>

                 <div>
                   <button type="submit" class="btn btn-primary btn-block send-button"style="width: 100px;" >Guardar</button>
                 </div>
                 </form>
               </div><!-- End of Modal body -->
             </div><!-- End of Modal content -->
           </div><!-- End of Modal dialog -->
         </div>


-block extra-script
  {{block.super}}

-block pre-table
  .quick-searches
    -if search == ""
      %span{class:'quick'}
        All
    -else
      %a{class:'quick', href:'?search='} All
    |&nbsp;
    %a{class:'quick', href:'?search="STATUS": "suspended"'}><
      Suspended

    -for s in searches
      |
      -if search == s
        %span{class:'quick'}
          {{ s }}
      -else
        %a{class:'quick', href:'?search={{s}}'}= s
