-extends "smartmin/form.html"

-load smartmin temba compress
-load i18n

-block fields
  .field.formax-vertical
    {% render_field 'emails' %}
  .field.formax-vertical
    {% render_field 'user_group' %}


-block form-buttons
  .form-actions
    %input.btn.btn-primary{type: "submit", value: "{{submit_button_name}}"}


-block summary
  -trans "Add guest viewers to"
  %span.attn= user_org.name


-block extra-script
  {{block.super}}
  :javascript
    $("#id_emails").select2({
      containerCssClass: 'select2-temba-field',
      tags: [],
      placeholder: "{% trans 'Enter emails of people to invite' %}",
    });

    $("#id_user_group").select2({
      containerCssClass: 'select2-temba-user-group-field',
    });

-block extra-less
  -compress css inline
    {% lessblock %}
      :plain
        .select2-temba-user-group-field {
          width: 365px !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          border-radius: 0px;
          -webkit-border-radius: 0px;
          margin-bottom: 9px;
        }
    {% endlessblock %}


