{% extends "smartmin/read.html" %}

-load temba compress smartmin i18n

-block page-title
  {{user_org.name|capfirst}}

-block content
  -for channel in channels
    .mt-2
      {{channel.name}}

  -include "formax.html"
