-extends "smartmin/form.html"
-load i18n compress temba


-block pre-form
  -blocktrans trimmed with name=brand.name
    You can connect your Facebook Business account to {{name}} in just a few simple steps.

  -if claim_error
    .alert-error.my-4
      {{ claim_error }}

-block form
  .mt-4.card
    #fb-guide
      %ol.steps
        %li
          -trans "Click on the button below to get started."

        %li
          -trans "Select the user you want to log in as."

        %li
          -trans "Select all the Facebook Business accounts you want to grant us permissions for."

        %li
          -trans "Approve the permissions, these are required for us to access the API on your behalf."

    #fb-app-connect.flex.mt-4
      .button-primary(onclick="launchWhatsAppSignup()")
        -trans "Add Facebook Business"

    %form#claim-form(style="display:none;" method="POST" action="{{ connect_url }}")
      {% csrf_token %}
      %input#user-access-token(type="text" name="user_access_token")

-block extra-script
  {{ block.super }}
  :javascript
    window.fbAsyncInit = function () {
      // JavaScript SDK configuration and setup
      FB.init({
        appId:    '{{ facebook_app_id }}', // Meta App ID
        cookie:   true, // enable cookies
        xfbml:    true, // parse social plugins on this page
        version:  'v14.0' //Graph API version
      });
    };
    // Load the JavaScript SDK asynchronously
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Facebook Login with JavaScript SDK
    function launchWhatsAppSignup() {
      // Launch Facebook login
      FB.login(function (response) {
        if (response.authResponse) {
          const accessToken = response.authResponse.accessToken;
          if (accessToken) {
            $("#user-access-token").val(accessToken);
            $("#claim-form").submit();
          }
          //Use this token to call the debug_token API and get the shared WABA's ID
        } else {
          console.log('User cancelled login or did not fully authorize.');
        }
      }, {
        scope: 'business_management,whatsapp_business_management,whatsapp_business_messaging',
        extras: {
          feature: 'whatsapp_embedded_signup',
          setup: {
          }
        }
      });
    }
