{% extends "smartmin/update.html" %}
{% load i18n smartmin temba compress %}

{% block extra-style %}
  {{ block.super }}
  <style type="text/css">
    body {
      padding: 0;
      font-size: 16px;
    }

    .attn {
      font-weight: bold;
      font-size: 110%;
    }

    .create-account #header {
      margin: 0;
      color: white;
      padding: 20px;
      height: inherit;
    }

    .create-account #header .title {
      padding-bottom: 10px;
      font-size: 20px;
      font-weight: 500;
    }

    .create-account .content {
      margin-top: 10px;
      padding: 20px;
    }

    .create-account .content form {
      text-align: center;
    }

    .create-account .content form label,
    .create-account .content form p.help-block {
      display: none;
    }

    .create-account .content form .fields input {
      background-color: transparent;
      border: 0px solid;
      border-bottom: 1px solid #ddd;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      outline: none;
      padding-left: 1px;
      font-size: 18px;
      width: 98%;
      margin-top: 8px;
    }

    .create-account .content form .error {
      width: inherit;
      text-align: left;
      font-size: 14px;
    }

    .create-account .content form .errorlist li {
      width: 100%;
    }

    .create-account .content form textarea:focus,
    .create-account .content form input:focus {
      outline: none;
      border-bottom: 1px solid var(--color-primary-dark);
    }

    .create-account .content form input[type="submit"] {
      margin-top: 20px;
      font-weight: 500;
      color: #999;
      font-size: 16px;
      padding: 8px;
      width: 100%;
    }
  </style>
{% endblock extra-style %}
{% block body %}
  <div class="create-account">
    <div id="header">
      {% if step == 1 %}
        <div class="details"></div>
        {% blocktrans trimmed %}
          Enter the password you were provided to continue. If you don't have one, request
          one from your project leader.
        {% endblocktrans %}
      {% elif step == 2 %}
        <div class="details"></div>
        {% blocktrans trimmed %}
          You have been invited to be a surveyor for
        {% endblocktrans %}
        <span class='attn'>{{ org.name }}</span>.
        {% blocktrans trimmed %}
          Enter your details below to create your login.
          This is the email address you will use to login to Surveyor.
        {% endblocktrans %}
      {% endif %}
    </div>
    <div class="content">
      <form method="POST">
        {% csrf_token %}
        <div class="fields">
          {% if step == 1 %}
            {% render_field 'surveyor_password' %}
          {% elif step == 2 %}
            {% render_field 'surveyor_password' %}
            {% render_field 'first_name' %}
            {% render_field 'last_name' %}
            {% render_field 'email' %}
            {% render_field 'password' %}
          {% endif %}
        </div>
        <input type="submit" value="CONTINUE" class="btn btn-secondary btn-tiny">
      </form>
    </div>
  </div>
{% endblock body %}
