-extends 'smartmin/form.html'
-load smartmin humanize
-load i18n

-block fields
  {% render_field 'name' %}

  {% render_field 'timezone' %}

  {% render_field 'date_format' %}

-block post-form

-block summary
  .flex.items-center
    .text.flex-grow.mr-4
      -blocktrans trimmed with org=object.name
        Your workspace is <b>{{org}}</b>

      -blocktrans trimmed with timezone=object.timezone
        which is in the <b>{{timezone}}</b> timezone.

      -if object.is_multi_org and sub_orgs
        .mt-4
          {% blocktrans count sub_orgs|length as org_count%}
            You have <b>{{org_count}}</b> child workspaces.
          {% plural %}
            You have <b>{{org_count}}</b> child workspaces.
          {% endblocktrans%}


    .buttons
      -if object.is_multi_org
        .button-light(onclick="goto(event)" href='{% url "orgs.org_sub_orgs" %}')
          -trans "Manage Workspaces"



