-extends "smartmin/base.html"
-load smartmin i18n humanize

-block summary
  .flex.items-center
    .flex-grow.mr-4
      -if plan_end
        -blocktrans trimmed with plan=plan plan_end=plan_end
          You are currently on the <b>{{plan}}</b> plan which ends <b>{{plan_end}}</b>.
      -else
        -blocktrans trimmed with plan=plan
          You are currently on the <b>{{plan}}</b> plan.
      
