-extends "smartmin/form.html"

-load compress temba smartmin i18n

-block title-icon
  .title-icon
    %span.glyph.icon-nexmo

-block form-span

-block title-text
  .title-text
    %h1
      -trans "Disconnect Nexmo"

-block summary
  -if object.is_connected_to_nexmo
    Connected to Nexmo Account with API key {{ api_key }}
  -else
    Disconnected from Nexmo

-block post-form
  -if object.is_connected_to_nexmo and request.META.HTTP_X_FORMAX
    If you no longer want it connected, you can
    %a{href:'javascript:confirmNexmoDisconnect();'}
      disconnect your Nexmo Account

  - if org_perms.channels.channel_delete
    .disconnect-nexmo.hide
      .title
        -trans "Disconnect Nexmo"
      .body
        -blocktrans
          Disconnecting your Nexmo account will also remove any Nexmo channels connected to it. Are you sure you want to proceed?
    %a#disconnect-nexmo-form.posterize{href:'{% url "orgs.org_nexmo_account" %}?disconnect=true'}


-block form-buttons
  .form-actions
    -if config.NEXMO_KEY and config.NEXMO_SECRET
      %input.btn.btn-danger{type:"submit", value:"{{ submit_button_name }}"}
    -else
      %a.btn.btn-primary{href:"{% url 'orgs.org_nexmo_connect'%}"}
        -trans "Connect Nexmo"

-block extra-script
  :javascript
    function confirmNexmoDisconnect() {
      removalConfirmation("disconnect-nexmo", "Disconnect");
    }