-extends 'smartmin/form.html'
-load smartmin i18n

-block fields
  {% render_field 'country' %}

-block summary
  -if object.country
    .flex.items-center
      .flex-grow.mr-4
        -blocktrans trimmed with country=object.country
          Responses to location questions must be in <b>{{country}}</b>.

      .buttons
        .button-light(onclick="goto(event)" href='{% url "locations.adminboundary_alias" %}')
          -trans "Edit Aliases"

  -else
    -trans "Choose a country to enable location support in your flows."

