-extends "smartmin/form.html"
-load i18n

-block title
  .page-title= org.name

-block page-top
  -if org.is_active
    -if org.is_suspended
      .alert-warning.mb-4
        -trans "This workspace has been suspended"

    -if org.is_flagged
      .alert-warning.mb-4
        -trans "This workspace has been flagged for possible spamming"

    -if org.is_verified
      .alert-info.mb-4
        -trans "This workspace has been verified"
  -else
    .alert-danger.mb-4
      -trans "This workspace has been scheduled for deletion"

  {{ block.super }}

-block pre-form
  .mb-4.flex
    -if org.administrators.all
      .mb-2
        .cap-label
          Administrators

        -for user in org.administrators.all
          %a{href:'{% url "users.user_update" user.id %}'}
            {{user.email}}

    -if org.editors.all
      .mb-2
        .cap-label
          Editors

        -for user in org.editors.all
          %a{href:'{% url "users.user_update" user.id %}'}
            {{user.email}}

    -if org.viewers.all
      .mb-2
        .cap-label
          Viewers

        -for user in org.viewers.all
          %a{href:'{% url "users.user_update" user.id %}'}
            {{user.email}}

    -if org.surveyors.all
      .mb-2
        .cap-label
          Surveyors

        -for user in org.surveyors.all
          %a{href:'{% url "users.user_update" user.id %}'}
            {{user.email}}

  %a#delete-form.posterize{href:'{% url "orgs.org_update" org.id %}?action=delete'}

  -trans 'Delete Org' as confirm_title
  -trans 'Delete' as confirm_button
  %temba-dialog#delete-confirmation.hide{header:"{{confirm_title|escapejs}}", primaryButtonName:"{{confirm_button|escapejs}}", destructive: "true"}
    .p-6
      -trans "Are you sure you want to delete everything for this org? This cannot be undone. Any logins which only belong to this workspace will also be deleted."

-block extra-script
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      var confirm = document.querySelector('#delete-confirmation');
      var deleteButton = document.querySelector(".org-delete-button");
      if (deleteButton) {
        deleteButton.addEventListener("click", function(){
          confirm.classList.remove("hide");
          confirm.open = true;
        });
      }

      var confirmation = document.querySelector("#delete-confirmation");
      confirmation.addEventListener("temba-button-clicked", function(event){
        if (event.detail.button.attributes.destructive){
          document.getElementById("delete-form").click();
        } else {
          confirm.classList.add("hide");
          confirm.open = false;
        }
      })
    });

  </script>