-extends 'smartmin/form.html'
-load smartmin
-load i18n

-block form-span
  span8

-block fields
  .field.subscribed-events
    .field-label
      -trans "Usar mensajes de salida con quickreply?"
    .field-channel
      .hidden-input.hide
      <input type="checkbox" id="use_customize" name="use_customize" {% if org.use_customize %}checked{% endif %}>
      %label{ for:'customize_channel' }
        -trans "Si/No"
-block summary
  -blocktrans
    Personaliza la salida de los mensajes en estos canales.

-block extra-script
  {{block.super}}
    :javascript

-block extra-style
  :css

    .subscribed-events {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .subscribed-events .field-channel {
      font-weight: normal;
      margin-bottom: 3px;
    }

    .subscribed-events .field-channel label {
      display: inline;
      height: 22x;
      font-weight: 200;
      line-height:25px;
    }

    .subscribed-events .field-channel input[type="checkbox"] {
      height: 22px;
      margin-top: 0px;
    }
