-extends "smartmin/base.html"
-load i18n

-block title
  .page-title
    -trans "Choose Workspace"

-block content
  -if not orgs
    .my-6
      -trans "Your login is not associated with any workspace. Please contact your administrator to receive an invitation to a workspace."

  -for org in orgs
    %a.button-light.mr-3.inline-block.posterize(href="?organization={{ org.id }}")
      {{ org.name }}

-block extra-style
  :css
    .glyph.icon-users {
      margin-top: 30px;
    }