-extends "smartmin/form.html"
-load i18n

-block summary
  -blocktrans trimmed
    Connected to Vonage account with API key {{ api_key }}.

-block post-form
  .mt-4
    -if object.is_connected_to_vonage and request.META.HTTP_X_FORMAX
      -blocktrans trimmed with url='javascript:confirmVonageDisconnect();'
        If you no longer want it connected, you can <a href="{{ url }}">disconnect your Vonage account</a>.

    -if org_perms.channels.channel_delete
      .disconnect-vonage.hide
        .title
          -trans "Disconnect Vonage"
        .body
          -blocktrans trimmed
            Disconnecting your Vonage account will also remove any Vonage channels connected to it. Are you sure you want to proceed?
      %a#disconnect-vonage-form.posterize{href:'{% url "orgs.org_vonage_account" %}?disconnect=true'}

-block extra-script
  {{ block.super }}
  :javascript
    function confirmVonageDisconnect() {
      removalConfirmation("disconnect-vonage", "Disconnect");
    }