-extends 'smartmin/form.html'
-load smartmin temba compress i18n

-block title-text
  -trans "Manage Logins"

-block subtitle
  {{org.name|capfirst}}


-block extra-style
  {{block.super}}
  :css
    .role .control-group {
      margin-bottom: 0;
    }
    table.list tr td temba-checkbox {
      --icon-color: #666 !important;
    }

-block fields
  %table.list.mb-0
    %thead
      %tr
        %th
          -trans "Login"
        %th
          -trans "Role"
        %th
          .text-center
            -trans "Remove"

    %tbody
      -for row in form.user_rows
        %tr
          %td.login-user
            {{ row.user.email }}
            -if row.user.first_name or row.user.last_name
              ({{ row.user.first_name }} {{ row.user.last_name }})
          %td.role(style="padding-top:6px")
            {% render_field row.role_field %}
          %td
            .m-auto.mt-4(style="width:24px")
              {% render_field row.remove_field %}

      // pending invites
      -if has_invites
        %tr.invites-title
          %th(colspan=3)
            -trans "Pending Invitations"

      -for row in form.invite_rows
        %tr
          %td.opacity-50
            {{ row.invite.email }} (Invite Sent)
          %td.role.w-48.opacity-50(style="padding-top:6px")
            {% render_field row.role_field %}
          %td
            .m-auto.mt-4(style="width:24px")
              {% render_field row.remove_field %}

  .card
    .title.mb-0.pb-0
      -trans "Invite New Users"

    .flex.w-full.items-end
      .pr-4.flex-grow
        {% render_field 'invite_emails' %}
      .group.w-48
        {% render_field 'invite_role' %}

-block form-buttons
  .form-actions.mt-4.ml-2
    %input.button-primary(type="submit" value="{{ submit_button_name }}")
