-extends 'smartmin/form.html'
-load smartmin humanize i18n

-block summary
  .flex.items-center
    .text.flex-grow.mr-4
      -blocktrans trimmed with org=object.name
        Your workspace is <b>{{org}}</b>

      -blocktrans trimmed with timezone=object.timezone
        which is in the <b>{{timezone}}</b> timezone.

      -if not is_spa and object.is_multi_org and sub_orgs
        .mt-4
          {% blocktrans count sub_orgs|length as org_count%}
            You have <b>{{org_count}}</b> child workspaces.
          {% plural %}
            You have <b>{{org_count}}</b> child workspaces.
          {% endblocktrans%}

    -if not is_spa
      .buttons
        -if object.is_multi_org
          .button-light(onclick="goto(event)" href='{% url "orgs.org_sub_orgs" %}')
            -trans "Manage Workspaces"
