-extends "smartmin/form.html"

-load smartmin
-load i18n humanize

-block title
  -trans "Import Flows and Campaigns"

-block content
  .mb-2
    -trans "If you have an export file with flows and or campaigns, select it below to import it into your workspace."

  -block import-status
    .flex.w-full.mb-4.items-end.flex-wrap{style:"min-height:41px"}
      %form#import-form{method:"post", action:"{% url 'orgs.org_import' %}", enctype:"multipart/form-data"}
        - if form.non_field_errors
          .text-error
            {{ form.non_field_errors }}

        -csrf_token
        -if form.non_field_errors
          .text-error
            {{ form.non_field_errors }}

        -block fields
          .mt-4.mb-4.text-error
            {{ form.import_file.errors }}
          #file-upload
            %input{type:"file", name:"import_file", id:"import_file", onchange:'updateFlowImportFile()'}
          #real_button.flex
            %input{type:"text", id:"file-field"}
            .block.button-primary.ml-4(style="margin-top:-1px")
              -trans "Choose File"

        .my-6.alert-warning
          .font-normal.text-2xl
            -trans "Warning!"
          .mt-2
            -trans "If you have flows or campaigns with the same names or UUIDs as the ones you are importing they will be replaced and all history for them will be lost."
          .mt-4.font-normal
            -trans "Do not proceed unless you are willing to replace your existing flows and campaigns."


        .flex
          %input.button-primary{type:"submit", value:'{% trans "Import" %}'}
          .ml-4.button-light{onclick:"javascript:history.go(-1)"}
            -trans "Cancel"


{% block extra-style %}
:css

  input {
    padding: 9px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 3px 20px 0px, rgba(0, 0, 0, 0.02) 0px 1px 2px 0px;
  }

  #file-upload {
    position:relative;
  }

  #real-button {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    height:35px;
    width:450px;
  }

  #file-field {
    width:300px;
    height:35px;
    font-size:16px;
    margin-bottom: 0px;
    border-radius: 5px;
  }

  #import_file {
    position:absolute;
    width:450px;
    height:35px;
    top: 0px;
    left: 0px;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
  }

{% endblock %}

-block extra-script
  {{block.super}}
  :javascript
    function updateFlowImportFile(){
      var file = $("#import_file").val();
      while (file.indexOf("\\") >= 0){
	    file = file.substring(file.indexOf("\\")+1, file.length);
      }
      $("#file-field").val(file);
    }

    $(document).ready(function() {
      $('#update').on('change', function() {
        if ($(this).attr('checked')) {
          $('.warning').slideDown();
        } else {
          $('.warning').slideUp();
        }
      });
    });
