-extends "smartmin/list.html"

-load compress temba smartmin humanize
-load i18n
-block page-title
  -trans "Manage Workspaces"
  \- {{user_org.name|capfirst}}

-block title
  -trans "Manage Workspaces"

-block subtitle
  {{user_org.name|capfirst}}

-block extra-less
  {{block.super}}
  -compress css
    {% lessblock %}
      :plain

        tr {

          th {
            &.header-created_on {
              text-align: right;
              width: 160px;
            }

            &.header-manage {
              font-size: 0; 
            }
          }

          td {
            &.field_created_on {
              text-align: right;
            }
          }

        }

        .num-credits {
          text-align:right;
          font-size: 1.5rem;
        }

        .org-timezone {
          font-size: 11px;
          line-height:11px;
        }
    {% endlessblock %}

