{% extends "smartmin/update.html" %}
{% load i18n %}

{% block content %}
  <div class="flex w-full mb-4">
    <div class="flex-grow ml-1">
      {% blocktrans trimmed with org=invitation.org.name %}
        You have been invited to join the <b>{{ org }}</b> workspace.
      {% endblocktrans %}
    </div>
  </div>
  <div class="flex w-full mb-4">
    <div class="flex-grow ml-1">
      <form method="post" encrypt="multipart/form-data" class="mb-4">
        {% csrf_token %}
        <input type="submit" value="{{ submit_button_name }}" class="button-primary">
      </form>
    </div>
  </div>
{% endblock content %}
