-extends "smartmin/read.html"
-load i18n smartmin

-block styles
  {{block.super}}
  :css
    .content-card {
      width: 28rem;
    }
    
    .import-result temba-icon {
      display: inline-block;
    }

-block extra-script
  {{block.super}}
  -if not is_finished
    :javascript
      if (gotoURL) {
        setTimeout(function(){
          gotoURL(document.location.href);
        }, 3000);
      }


-block content
  -block pjax
    #pjax
      .card
        .import-result.text-lg.mt-2
          -if object.status == "C"
            %temba-icon.text-success.mr-2(name="check")
          -else
            %temba-icon.spin.mr-2(name="progress_spinner")

          -if object.status == "P"
            -trans "About to start..."
          -elif object.status == "O"
            -trans "In progress..."
          -elif object.status == "F"
            -trans "An error happened, please try again."
          -elif object.status == "C"
            -trans "Finished successfully"
            .import-result.text-lg.mt-2
              %a(href="{% url 'flows.flow_list' %}")
                -trans "View flows"
