-extends "smartmin/base.html"
-load smartmin i18n humanize


-block summary

  -with user_org.get_credits_remaining as credits
    -if credits < 500
      .errored
        -trans "You have"
        %b {{ credits|intcomma }}
        -trans "credits remaining."
    -else
      -trans "You have"
      %b {{ credits|intcomma }}
      -trans "credits remaining."

  .extra
    -trans "You have used"
    {{ user_org.get_credits_used|intcomma }}
    -trans "credits since signing up."
