-extends "smartmin/list.html"
-load compress temba

-block title
  .page-title
    {{ org.name }} TopUps

-block table-controls
  .flex.justify-end.mb-4
    %a.button.button-primary{ style:"float:right; margin-left:10px", href:"{% url 'orgs.topup_create' %}?org={{ org.id }}" } Add TopUp
    %a.button.button-primary{ style:"float:right; margin-left:10px", href:"{% url 'orgs.org_update' org.id %}" } Workspace

-block extra-style
  {{block.super}}
  :css
    #header-credits {
      text-align: right !important;
    }

    td.value-credits {
      text-align: right;
      font-size:18px;
      font-weight:100;
    }
