-extends "smartmin/read.html"

-load humanize
-load smartmin
-load i18n

-block table-buttons

-block title
  -trans "Top Ups"

-block content
  -with user_org.get_credits_remaining as credits
    -if credits < 0
      .alert-warning
        -trans "Your service is interrupted. You have"
        {{ credits|intcomma }}
        -trans "credits."

    -else
      -if credits < 500
        .alert-warning
          -trans "You have"
          {{ credits|intcomma }}
          -trans "credits remaining. Your service will be suspended when they are all used."
      -else
        .alert-warning
          -trans "You have"
          {{ credits|intcomma }}
          -trans "credits remaining. Your service will be suspended when they are all used."

  -for topup in object_list
    .mt-4.border.rounded.p-4
      .flex.font-normal.mb-4.text-xl
        .flex-1
          {{ topup.get_used|intcomma }} {% trans "of" %} {{ topup.credits|intcomma }} {% trans "Credits Used" %}


        .flex-1.text-right
          {{ topup.get_price_display }}

      .flex.mb-4
        .flex-1
          -if topup.expires_on < now
            -trans "Expired on "
            {{ topup.expires_on }}
          -else
            -trans "Expires on "
            {{ topup.expires_on }}

        .flex-1.text-right
          -if topup.price|default_if_none:0 > 5
            %a{ href:"{% url 'orgs.topup_read' topup.id %}" }
              -trans "Added on"
              {{ topup.created_on }}
              -trans " by "
              {{ topup.created_by.first_name }} {{ topup.created_by.last_name }}

      %div.italic
        -if topup.comment
          {{ topup.comment }}
        -else
          -if topup.price|default_if_none:-1 == -1
            -blocktrans trimmed with brand.name as brand
              Thank you for supporting {{ brand }}.

          -elif topup.price == 0
            -blocktrans trimmed with brand.name as brand
              Complementary credits, thanks for trying {{ brand }}.
