-extends "smartmin/list.html"

-block above-bar
  %a.btn.btn-primary{ style:"float:right; margin-left:10px", href:"{% url 'orgs.topup_create' %}?org={{ org.id }}" } Add TopUp
  %a.btn.btn-primary{ style:"float:right; margin-left:10px", href:"{% url 'orgs.org_update' org.id %}" } Organization
