{% extends "smartmin/read.html" %}
-load temba compress smartmin i18n

-block page-title
  -trans "User Account"

-block content
  -if not two_factor_enabled
    %temba-alert.mb-4(level="error")
      {% url "orgs.user_two_factor_enable" as otp_url %}
      -blocktrans with brand=brand.name
        {{brand}} recommends that you enable <temba-anchor href="{{otp_url}}">two factor</temba-anchor> authentication.

  -include "formax.haml"

  .eject.mt-3.ml-3
    .text-xl
      Not ready for the new interface?
    .mt-1
      Go back to the
      %span.linked(onclick="leaveNewInterface()")<
        old one
      for now.
    
