-extends "smartmin/list.html"
-load i18n

-block page-header
  #title-text.hidden
    {{title}}

-block pre-table
  %form#search-form(method='get')
    .flex.mb-4.items-center
      .search-box.flex-grow
        %temba-textinput(name='search' value='{{ search }}' placeholder="Search Users")
        %input.hidden(type="submit" value="Submit")
