-extends 'smartmin/form.html'
-load smartmin i18n

-block content
  .w-128
    {{ block.super }}

-block pre-form
  .mb-6
    -blocktrans trimmed
      To disable two-factor authentication for your login, enter your current password.

-block form-buttons
  .mt-6
    %form(action="{% url 'orgs.user_two_factor_disable'%}" method="POST")
      {% csrf_token %}
      %input.button-primary(type="submit" value='{{_("Disable")|escapejs }}')