{% extends "smartmin/form.html" %}
{% load i18n %}

{% block summary %}
  <div class="flex items-center">
    <div class="flex-grow mr-4 api_token_container">
      {% blocktrans trimmed with token=api_token %}
        Your API token is <b>{{ token }}</b>.
      {% endblocktrans %}
    </div>
    <div class="buttons">
      <a onclick="goto(event)" href="{% url 'api.v2.root' %}" class="button-light">{% trans "API Docs" %}</a>
    </div>
  </div>
{% endblock summary %}
{% block fields %}
  <div class="mb-2">{% trans "This is your personal access token for making calls to the REST API:" %}</div>
  <div class="mb-2 api_token_container">
    <b>{{ api_token }}</b>
  </div>
{% endblock fields %}
