-extends 'smartmin/base.html'
-load smartmin i18n

-block content
  :javascript
    function handleRegenerate() {
      document.querySelector("form").submit();
    }

  .mb-6
    -blocktrans trimmed
      Your account is currently secured with two-factor authentication. 

    .mt-4
      .button-danger(onclick="goto(event)" href="{% url 'orgs.user_two_factor_disable'%}")
        -trans "Disable"

  .title
    -trans "Backup Tokens"
  .mb-2
    -blocktrans trimmed
      Below are your backup tokens which you can use if
      you lose access to the device with which you setup two-factor authentication. Each token can only be used once and
      tokens which have already been used are showed with a line through them. You should record these tokens in a
      secure place.

  .mb-4.p-4.card

    .font-mono.text-center
      -for token in backup_tokens
        .inline-block.px-2(class="{% if token.is_used %}line-through{% endif %}")
          {{ token.token }}
        -if forloop.counter == 5
          %br

  .my-3

    -blocktrans trimmed
      You can generate new backup tokens but remember that the current tokens will be no longer be usable if you do this.

    .mt-3
      %form(action="{% url 'orgs.user_two_factor_tokens'%}" method="POST")
        {% csrf_token %}
        %input.button-primary(type="submit" value='{{_("Regenerate Tokens")|escapejs }}')
