{% extends "smartmin/read.html" %}
-load temba compress smartmin i18n

-block content
  -if not two_factor_enabled
    %temba-alert.mb-4(level="info")
      {% url "orgs.user_two_factor_enable" as otp_url %}
      -blocktrans with brand=brand.name
        {{brand}} recommends that you enable <temba-anchor href="{{otp_url}}">two factor authentication.</temba-anchor>

  -include "formax.haml"
    
