{% extends "orgs/login/login_base.html" %}
{% load smartmin i18n %}

{% block login-title %}
  {% trans "Reset Password" %}
{% endblock login-title %}
{% block login-content %}
  <div class="mb-8">
    {% blocktrans trimmed %}
      Choose a new password and enter it below.
    {% endblocktrans %}
  </div>
  <form method="post">
    {% csrf_token %}
    {% for field, errors in form.errors.items %}
      {% if field == '__all__' %}<div class="alert alert-error my-4">{{ errors }}</div>{% endif %}
    {% endfor %}
    {% render_field 'new_password' %}
    {% render_field 'confirm_password' %}
    <input type="submit" value="{{ _("Reset Password") }}" class="mt-4 button-primary">
  </form>
{% endblock login-content %}
