-extends 'smartmin/form.html'
-load smartmin i18n

-block content
  .flex.justify-center
    .w-128
      .mb-4.page-title
        -trans "Two-factor Authentication"

      {{ block.super }}

-block pre-form
  .mb-6
    -blocktrans trimmed
      Backup tokens can be used if you no longer have access to the authentication application configured for
      your account.

  .mb-4
    #backup.font-mono
      -for token in backup_tokens
        .inline-block.px-2(class="{% if token.is_used %}line-through{% endif %}")
          {{ token.token }}

-block form-buttons
  .mt-6
    %input.button-primary(type="submit" value='{{_("Disable")|escape}}')
    %a.button-light(onclick="alert('TODO')")
      -trans "Regenerate Tokens"
    %a.button-light.float-right(href="{% url 'orgs.org_home' %}")
      -trans "Back"

