-extends 'smartmin/form.html'
-load smartmin i18n

-block page-title
  {{title}}

-block content
  .card.-mt-1
    .flex.pt-6(style="max-width:30em;margin: 0 auto")
      .pl-2.pr-6
        -blocktrans trimmed with ga_url="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" authy_url="https://authy.com/"
          To enable two-factor authentication on your login, use a one-time password (OTP) application such as
          <a href="{{ ga_url }}">Google Authenticator</a> or <a href="{{ authy_url }}">Authy</a> to scan the QR code
          below.
      .px-2
        %canvas#qr
    .flex.pt-4(style="max-width:30em;margin: 0 auto")
      {{ block.super }}
  
-block form-buttons
  .mt-6.text-right
    %input.button-primary(type="submit" value='{{ submit_button_name }}')

-block extra-script
  {{ block.super }}

  :javascript
    (function() {
      var secretUrl = "{{ secret_url }}";
      if (secretUrl) {
        var element = document.getElementById('qr');
        if (element) {
          element.style.display = "initial";
          new QRious({element: element, value: secretUrl, background: "#fff", size: 150});
        }
      }
    })();

-block summary
  -blocktrans trimmed
    Two-factor authentication is <b>disabled</b>.
