-extends 'smartmin/form.html'
-load smartmin
-load i18n

-block fields

  .mb-4
    .field.formax-vertical
      {% render_field 'first_name' %}

    .field.formax-vertical
      {% render_field 'last_name' %}

    .field.formax-vertical
      {% render_field 'language' %}

    .field.formax-vertical
      {% render_field 'email' %}

    .field.formax-vertical
      {% render_field 'new_password' %}

    #current-password.field.formax-vertical.p-4.bg-gray-100.rounded-lg.mt-4.hidden
      .mb-2
        -blocktrans trimmed
          Confirm your current password to save these changes
      {% render_field 'current_password' %}

  
-block summary
  -blocktrans with email=user.username
    Your email address is <b>{{email}}</b>.

-block extra-script
  :javascript

    function wireHandlers() {
      // hide our password field by default
      var passwordContainer = document.getElementById("current-password");
      var passwordField = passwordContainer.querySelector(".field_current_password");

      // but show it if the try to update their email address or password
      var email = document.getElementById("id_email");
      var newPw = document.getElementById("id_new_password");
        
      var listener = function(event) {
        passwordContainer.classList.remove("hidden");
      }

      // if our field has an error, make sure we show it on load
      if (passwordField.classList.contains("error")) {
        passwordContainer.classList.remove("hidden");
      }

      // a change event is fired on initial value, ignore it
      window.setTimeout(function(){
        email.addEventListener("change", listener);
        newPw.addEventListener("change", listener);
      }, 0);
      
    }
    
    window.addEventListener("DOMContentLoaded", function (){
      wireHandlers();

      // also wire them if our formax submits
      document.addEventListener("temba-formax-ready", function(){
        wireHandlers();
      });
    });
