-load i18n

%h4
  -blocktrans
    To finish configuring your JioChat connection, you'll need to enter the following webhook URL and token on JioChat Developer Center configuration

%hr

%h4
  -trans "Webhook URL"

%code
  https://{{ channel.callback_domain }}{% url 'courier.jc' channel.uuid %}

%h4
  -trans "Token"

%code
  {{ channel.config_json.secret }}


