{% extends 'base.html'%}
{% block subtitle %}Creación de usuario{%endblock%}
{%block panel%}

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Aviso</h4>
      </div>
      <div class="modal-body">
        <p>Si se cambia el nombre de usuario se creara una copia en ldap
           con el nuevo nombre de usuario. </p>
         <p> Sin embargo, los cambios existentes
         en las configuraciones de los servicios ligados a ldap pueden perderse </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% if msg_success %}<div class="alert alert-success" role="alert">{{msg_success}}</div>{% endif %}

<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      Datos del nuevo usuario
    </div>
    <div class="panel-body">
      <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
          {% csrf_token %}
      <table>
        {% for hidden_field in form.hidden_fields %}
        {{hidden_field.errors}}
        {{ hidden_field }}
        {% endfor %}

        {% for field in form.visible_fields %}
        <div class="form-group">
          {% if field.errors %}
          <div class="alert alert-danger">
            {{field.errors}}
          </div>
          {% endif %}
          {{ field.label_tag }}
          {{ field }}
        </div>
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}
        </small>
        {% endif %}
        </div>
        {% endfor %}
        </table>

        <input type="submit" value="Guardar" class="btn btn-success" />
        {%if is_update%}
        <a href="{%url 'delete_user' object.id %}" class="btn btn-danger" style="float: right;">Borrar</a>
        {%endif%}
    </div>
    </form>
  </div>
</div>
</div>
<div class="col-md-3">
  <div class="panel panel-default">
    <img src="{{ form.instance.user_image.url }}" class="image_user"/>
  </div>
</div>



{%endblock%}

{%block script%}
var modal_read = ($('#id_username').val() == '')

$("#id_username").click(function(){
    if (!modal_read) {
     $("#myModal").modal();
    }
});
$('#myModal').on('hidden.bs.modal', function () {
   modal_read = true;
});


document.getElementById("menu_inicio").classList.remove("menu-top-active");
document.getElementById("menu_servicios").classList.remove("menu-top-active");
document.getElementById("menu_usuarios").classList.add("menu-top-active");
{%endblock%}
