{% extends base_template %}

{% load smartmin %}

{% block pre-content %}
<div class="page-header"><h2>{{ title }}</h2></div>
{% endblock %}

{% block extra-script %}

<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.url.js"></script>

<script>
  $("td.clickable").hover(function(){
    this.style.cursor='pointer'
  },
  function(){});



  $("td.clickable").click(function(){
    document.location = $(this).children("a").attr("href");
  });


  function fetchPJAXContent(url, container, options) {

      var type = 'GET';
      var data = undefined;
      if (options) {
          if ('postData' in options) {
              type = 'POST';
              data = options['postData'];
          }
      }

      var headers = { 'X-PJAX': true };
      if (options && 'headers' in options) {
          for (key in options['headers']) {
              headers[key] = options['headers'][key];
          }
      }

      var event = new Event("rp-refresh-begin");
      document.dispatchEvent(event);

      $.ajax({
          headers: headers,
          type: type,
          url: url,
          data: data,
          success: function(data, status, jqXHR) {

            var toast = jqXHR.getResponseHeader('Temba-Toast');
            if (toast) {
              toastr.info(toast, '', {"positionClass": "toast-bottom-full-width"});
            }

            if ('followRedirects' in options && options['followRedirects'] == true) {
                var redirect = jqXHR.getResponseHeader('REDIRECT');
                if (redirect) {
                    window.document.location.href = redirect;
                    return;
                }
            }

            var noPJAX = $(container).data('no-pjax');
            if (options) {
                if(!('forceReload' in options) || ('forceReload' in options && !options['forceReload'])) {

                    if (noPJAX || ('shouldIgnore' in options && options['shouldIgnore'](data))) {
                        if ('onIgnore' in options) {
                           options['onIgnore'](jqXHR);
                        }
                        return;
                    }
                }
            }
            $(container).html(data);

            var event = new Event("rp-refresh-complete");
            document.dispatchEvent(event);

            if (options) {
                if ('onSuccess' in options && options['onSuccess']) {
                    options['onSuccess']();
                }
            }
          }
      });
  }


</script>

{# embed refresh script if refresh is active #}
{% if refresh %}
<script>
var refreshTimeout = 10000;
function refresh(onSuccess, forceReload){

  var url = "{{url_params|safe}}"
  {% if page_obj %}
    url += "page={{page_obj.number}}";
  {% endif %}

  if (url == '') {
      url = '?';
  }

  url += '&ts=' + new Date().getTime() + "&refresh=" + refreshTimeout;

  fetchPJAXContent(url, '#pjax', {
      forceReload: forceReload,
      onSuccess: onSuccess,
      onIgnore: function() {
          scheduleRefresh();
      }
  });
}

refreshTimeout = {{ refresh }};
function scheduleRefresh() {
    window.setTimeout(refresh, {{ refresh }});
}

$(document).ready(function(){
    scheduleRefresh();
});
</script>
{% endif %}
{% endblock %}



