{% extends base_template %}

{% load smartmin %}

{% block pre-content %}
<div class="page-header"><h2>{{ title }}</h2></div>
{% endblock %}

{% block extra-script %}

<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.url.js"></script>

<script>
  $("td.clickable").hover(function(){
    this.style.cursor='pointer'
  },
  function(){});



  $("td.clickable").click(function(){
    document.location = $(this).children("a").attr("href");
  });


  function fetchPJAXContent(url, container, options) {
    var type = 'GET';
    var data = undefined;
    if (options) {
      if ('postData' in options) {
        type = 'POST';
        data = options['postData'];
      }
    }

    var headers = { 'X-PJAX': true };
    if (options && 'headers' in options) {
      for (key in options['headers']) {
        headers[key] = options['headers'][key];
      }
    }

    document.dispatchEvent(new Event("temba-pjax-begin"));

    // see if we should skip our fetch
    if (options) {
      if ('shouldIgnore' in options && options['shouldIgnore']()) {
        if ('onIgnore' in options) {
          options['onIgnore']();
        }
        return;
      }
    }

    $.ajax({
      headers: headers,
      type: type,
      url: url,
      data: data,
      success: function(response, status, jqXHR) {
        var toast = jqXHR.getResponseHeader('Temba-Toast');
        if (toast) {
          toastr.info(toast, '', {"positionClass": "toast-bottom-full-width"});
        }

        if ('followRedirects' in options && options['followRedirects'] == true) {
            var redirect = jqXHR.getResponseHeader('REDIRECT');
            if (redirect) {
                window.document.location.href = redirect;
                return;
            }
        }

        // double check before replacing content
        if (options) {
          if (('shouldIgnore' in options && options['shouldIgnore'](response))) {
            if ('onIgnore' in options) {
                options['onIgnore'](jqXHR);
            }

            return;
          }
        }

        $(container).html(response);
        document.dispatchEvent(new Event("temba-pjax-complete"));

        if (options) {
          if ('onSuccess' in options) {
            options['onSuccess']();
          }
        }
      }
    });
  }


</script>

{# embed refresh script if refresh is active #}
{% if refresh %}
<script>
var refreshTimeout = 10000;
function refresh(onSuccess, forceReload){

  var url = "{{url_params|safe}}"
  {% if page_obj %}
    url += "page={{page_obj.number}}";
  {% endif %}

  if (url == '') {
    url = '?';
  }

  url += '&ts=' + new Date().getTime() + "&refresh=" + refreshTimeout;

  document.dispatchEvent(new Event("temba-refresh-begin"));  
  fetchPJAXContent(url, '#pjax', {
      onSuccess: function() {
        if (onSuccess) {
          onSuccess();
        }
        document.dispatchEvent(new Event("temba-refresh-complete"));
        refreshTimeout = Math.floor(refreshTimeout * 1.1)
        scheduleRefresh();
      },
      shouldIgnore: function() {
        if (forceReload) {
          return false;
        }
        return eval(document.querySelector("#pjax").dataset.noPjax);
      },
      onIgnore: function() {
        scheduleRefresh();
      }
  });
}

refreshTimeout = {{ refresh }};
function scheduleRefresh() {
    window.setTimeout(refresh, refreshTimeout);
}

$(document).ready(function(){
  scheduleRefresh();
});
</script>
{% endif %}
{% endblock %}



