{% extends base_template %}

{% load smartmin %}

{% block pre-content %}
<div class="page-header"><h2>{{ title }}</h2></div>
{% endblock %}

{% block extra-script %}

<script>
  $("td.clickable").hover(function(){
    this.style.cursor='pointer'
  },
  function(){});

  $("td.clickable").click(function(){
    document.location = $(this).children("a").attr("href");
  });


  function fetchPJAXContent(url, container, options) {

    options = options || {};

    // hijack an pjax requests made from spa pages and route the content there instead
    if (container == "#pjax" && document.querySelector(".spa-content")) {
      container = ".spa-content";
      options["headers"] = (options["headers"] || {})
      options["headers"]["TEMBA-SPA"] = 1;
    }

    var triggerEvents = true;
    if (!!options["ignoreEvents"]) {
      triggerEvents = false;
    }

    var type = 'GET';
    var data = undefined;
    var processData = true;
    var contentType = 'application/x-www-form-urlencoded; charset=UTF-8';

    if (options) {
      if ('postData' in options) {
        type = 'POST';
        data = options['postData'];
      }
      
      if('formData' in options) {
        type = 'POST';
        processData = false;
        data = options['formData'];
        contentType = false;
      }
    }

    var headers = { 'X-PJAX': true };
    if (options && 'headers' in options) {
      for (key in options['headers']) {
        headers[key] = options['headers'][key];
      }
    }

    if (triggerEvents) {
      document.dispatchEvent(new Event("temba-pjax-begin"));
    }

    // see if we should skip our fetch
    if (options) {
      if ('shouldIgnore' in options && options['shouldIgnore']()) {
        if ('onIgnore' in options) {
          options['onIgnore']();
        }
        return;
      }
    }

    const request = {
      headers: headers,
      type: type,
      url: url,
      contentType: contentType,
      processData: processData,
      data: data,
      success: function(response, status, jqXHR) {
        var toast = jqXHR.getResponseHeader('Temba-Toast');
        if (toast) {
          toastr.info(toast, '', {"positionClass": "toast-bottom-full-width"});
        }

        if ('followRedirects' in options && options['followRedirects'] == true) {
            var redirect = jqXHR.getResponseHeader('REDIRECT');
            if (redirect) {
                window.document.location.href = redirect;
                return;
            }
        }

        // double check before replacing content
        if (options) {
          if (('shouldIgnore' in options && options['shouldIgnore'](response))) {
            if ('onIgnore' in options) {
                options['onIgnore'](jqXHR);
            }

            return;
          }
        }

        $(container).html(response);

        if (triggerEvents) {
          document.dispatchEvent(new Event("temba-pjax-complete"));
        }

        if (options) {
          if ('onSuccess' in options) {
            options['onSuccess']();
          }
        }
      }
    }

    $.ajax(request);
  }


</script>

{# embed refresh script if refresh is active #}
{% if refresh %}
<script>
var refreshTimeout = 10000;


refreshTimeout = {{ refresh }};
function scheduleRefresh() {
  window.setTimeout(refresh, refreshTimeout);
}

</script>
{% endif %}
{% endblock %}



