-extends "smartmin/base.html"
-load smartmin i18n

-block page-top

-block modal-extra-style
  {{block.super}}
  %link{rel:"stylesheet", href:"{{ STATIC_URL }}css/tailwind.css", type:"text/css"}
  %link{type:'text/css', rel:'stylesheet', href:"{{ STATIC_URL }}fonts/temba/style.css", media:'all'}

-block modal
  -block delete-message
    -blocktrans trimmed
      You are about to delete
      %span.font-normal
          {{object}}.
      There is no way to undo this. Are you sure?
    
  -block delete-form
    %form(method="post")
      -csrf_token
      .hidden
        %input(type="submit" value="{{submit_button_name|escapejs}}")

-block content
  -block pjax

    :css
      .icon-warning.confirm {
       font-size:150px;
       color:#888;
      }

    .row
      .span2
        .glyph.icon-warning.confirm
      .span9
        <div class="confirmation">


          <h2>Remove {{ object }}?</h2>
          <p>Are you sure you want to remove <b>{{object}}</b> from your account?</p>
          <p>This cannot be undone.</p>

          <form method="POST">

            {% block delete_form %}{% endblock %}

            <div class="buttons">
              <a class="btn" href="{{ cancel_url }}">Cancel</a>
              {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Remove"/>
            </div>
          </form>

        </div>
