-extends "smartmin/base.html"
-load smartmin

-block top-form
  - if view.search_fields and object_list
    - block search-form
      %form
        %input.input-medium.search-query{type:'text', placeholder:'Search', name:"search", value:"{{search}}"}

-block content
  -block table-controls
    .row
      .span12.table-buttons
        - block table-buttons
          - if view.add_button
            %a.btn.btn-primary.pull-right{ href:"./create/" } Add
  {% block pjax %}
  #pjax
    .row-fluid
      .span12
        - block pre-table

        - block table
          .scroll-x
            %table{ class:'{% get_list_class object_list %} list-table table table-striped', cellspacing:'0'}
              %thead
                %tr
                  - for field in fields
                    %th{ class:'header-{{field}} {% if view|field_orderable:field %}header {% if field == order %}{% if order_asc %}headerSortUp{% else %}headerSortDown{% endif %}{% endif %}{% endif %}', id:'header-{{field}}' }
                      {% get_label field %}

                %tbody
                  - for obj in object_list
                    %tr{ class:'{% cycle "row2" "row1" %} {% if not obj.is_active and obj|is_smartobject %}inactive{% endif %}'}
                      -for field in fields
                        %td{ class:'value-{{field}} {% get_class field obj %}{% if field in link_fields %} clickable{% endif %}'}
                          - if field in link_fields
                            <a {% if pjax %}data-pjax='{{ pjax }}'{% endif %} href="{% get_field_link field obj %}">{% get_value obj field %}</a>
                          - else
                            {% get_value obj field %}

                  - empty
                    %tr.empty_list
                      - for field in fields
                        %td

          - block extra-rows

        - block post-table

  {% block paginator %}
  .row
    - include "smartmin/sidebar_pagination.haml"

{% endblock pjax %}
{% endblock content %}

{% block extra-script %}
{{ block.super }}
:javascript
  {% if current_label.id %}
    current_label_id = {{current_label.id}};
  {% else %}
    current_label_id = 0;
  {% endif %}

<script>
  $(document).ready(function(){
    $("th.header").click(function(evt){
      // build up our ordering
      var field = evt.target.id.substr(evt.target.id.indexOf("-")+1)

      {% if order_asc %}
      if (field == "{{order}}"){
        field = "-" + field;
      }
      {% endif %}

      document.location = "{{url_params|urlencode}}_order=" + field;
    });
  });
</script>

{% endblock %}
