-if success_url
  .success-script
    -block success-script
      -if success_script
        -include success_script
      -else
        :javascript
          document.location.href = '{{ success_url }}';

-else
  -block modal

  -block modal-script

  -block modal-extra-style
    :css
      .select2-container {
        width: 300px;
      }

  -if form
    {{ form.media }}
