-if success_url and success_url != 'hide'
  .success-script
    -block success-script
      -if success_script
        -include success_script
      -else
        :javascript
          document.location.href = '{{ success_url }}';

-else
  -block modal

  -block modal-script

  -block modal-extra-style

  -if form
    {{ form.media }}
