{% load sms %}

{% render as pjax %}
  {% block pjax %}
  {% endblock pjax %}
{% endrender %}
{% render as scripts %}
  {% block extra-script %}
  {% endblock extra-script %}
  {% block extra-style %}
  {% endblock extra-style %}
{% endrender %}
{% if 'HTTP_X_FORMAX' in request.META %}
  {{ scripts }}
  <div class="formax-summary">
    {% block summary %}
    {% endblock summary %}
  </div>
  <div class="formax-form {% if form.errors %}errors{% endif %}">{{ pjax }}</div>
{% else %}
  {{ scripts }}
  {{ pjax }}
{% endif %}
