{% load sms %}

{% render as pjax %}
    {% block pjax %}
    {% endblock %}
{% endrender %}

{% if 'HTTP_X_FORMAX' in request.META %}

    {% block extra-script %}{% endblock %}
    {% block extra-style %}{% endblock %}
    <div class="formax-summary">
        {% block summary %}
        {% endblock %}
    </div>

    <div class="formax-form {% if form.errors %}errors{% endif %}">
        {{ pjax }}
    </div>

{% else %}

    {{ pjax }}

    {% if refresh > 0 %}
    <script>
    refreshTimeout = {{ refresh }};
    window.setTimeout(refresh, {{ refresh }});
    </script>
    {% endif %}
{% endif %}