-extends "smartmin/base.html"

-load smartmin

-block content
  -block pjax-header

  -block pjax
    %div#pjax#read-view
      -block buttons
        %div.row
          %div.span12.buttons
            -block read-buttons
              -if view.edit_button
                %a.btn.btn-primary.pull-right{'href':'../../update/{{ object.id }}/'}
                  Edit

      %div.row
        %div.span12
          -block pre-fields

          -block fields
            %table.table.table-striped
              %tbody
                -for field in fields
                  %tr{ class:"read-{{field}}" }
                    %td.read-label
                      -get_label field
                    %td.read-value
                      -get_value object field 
                        &nbsp;

          -block post-fields