-extends "channels/channel_claim_number.html"
-load compress temba i18n

-block account-warning
  -if account_trial
    %temba-alert.my-4(level="warning")
      -blocktrans trimmed
        You have connected a Twilio Trial Account which has some restrictions.
      %br
      %a{href:"https://www.twilio.com/help/faq/twilio-basics/how-does-twilios-free-trial-work"}
        -trans "Read more about the limits placed on Twilio's Free Trial numbers."

  -if current_creds_account
    .card.mt-6
      -trans "Using account"
      .text-lg.font-bold.inline-block.ml-2
        {{current_creds_account}}
      %a.inline-block.ml-4{href:'{% url "channels.types.twilio.connect" %}?reset_creds=reset&claim_type=twilio'}
        -trans "Change"