-extends "smartmin/create.html"
-load i18n temba smartmin

-block title
  -trans "Connect your Android phone"

-block content

    .flex.flex-row
      .form
        .card.w-96
          %form{method:"post", action:"{% url 'channels.types.android.claim' %}"}
            -csrf_token
            -render_field 'claim_code'
            -render_field 'phone_number'
            %input.mt-4.button-primary{type:"submit", value:"{% trans 'Add Android Channel' %}"}
            %errors
      .p-12
        -blocktrans trimmed with brand.name as brand
          {{ brand }} can use your Android phone to send and receive messages on your behalf.

        .mt-4
          -blocktrans trimmed with brand.name as brand
            Due to restrictions Android has on applications that send SMS messages, we cannot distribute
            the {{ brand }} application through the Play Store. You will need to download the application manually
            and install it using the steps below.

    .mt-4.card 
        -if relayer_app
          .release-header
            {% trans "Version" %} {{relayer_app.version}} {% trans "was released on" %} {% format_datetime relayer_app.created_on %}

          -if relayer_app.description
            .release-description
              {{ relayer_app.markdown_description}}

        %table
          %tr
            %td
              .py-4.px-8.w-96
                %img.step-image{ src: '{{ STATIC_URL }}images/claim0.png' }
            %td
              .py-4.px-8
                .subtitle
                  -trans "Download App"

                .mt-2
                  -blocktrans trimmed
                    On your Android device, open your browser and download the app by entering the URL:
                  .code.inline-block
                    {{ brand.link }}{% url "public.public_android" %}

          %tr
            %td
              .py-4.px-8
                %img.step-image{ src: '{{ STATIC_URL }}images/claim1.png' }      
            %td
              .py-4.px-8
                .subtitle
                  -blocktrans trimmed with brand.name as brand
                    Launch the {{ brand }} installer
                .mt-2
                  -blocktrans trimmed
                    Open the notifications shade by dragging from the top and select the downloaded file.

          %tr
            %td
              .py-4.px-8
                %img.step-image{ src: '{{ STATIC_URL }}images/claim2.png' }
            %td
              .py-4.px-8
                .subtitle
                  -trans "Tap Settings"
                .mt-2
                  -blocktrans trimmed
                    You will be taken to a screen with "allow from this source" toggle

          %tr
            %td
              .py-4.px-8
                %img.step-image{ src: '{{ STATIC_URL }}images/claim3.png' }
            %td
              .py-4.px-8
                .subtitle
                  -trans "Toggle allow from this source"
                .mt-2
                  -blocktrans trimmed
                    Make sure "allow from this source" toggle is in the On position.

          %tr
            %td
              .py-4.px-8
                %img.step-image{ src: '{{ STATIC_URL }}images/claim4.png' }

            %td
              .py-4.px-8
                .subtitle
                  -trans "Go Back"
                .mt-2
                  -trans "Click Install"

          %tr
            %td
              .py-4.px-8
                %img.step-image{ src: '{{ STATIC_URL }}images/claim5.png' }
            %td
              .py-4.px-8
                .subtitle
                  -blocktrans trimmed with brand.name as brand
                    Open {{ brand }}
                .mt-2
                  -blocktrans trimmed with brand.name as brand
                    Once {{ brand }} has been installed, open the app drawer and tap on the {{ brand }} icon to start the app.

          %tr
            %td
              .py-4.px-8
                %img.step-image{ src: '{{ STATIC_URL }}images/claim6.png' }
            %td
              .py-4.px-8
                .subtitle
                  -trans "Enter Claim Code"
                .mt-2
                  -blocktrans trimmed with brand.name as brand
                    When you first open {{ brand }}, the app will register your device with Google and our servers.  Once that is
                    complete, it will display a claim code.  Enter that claim code in the form to the left and click
                    "Add Phone" to connect your device.

-block extra-style
  {{ block.super }}
  :css

    .release-header{
      font-weight: bold;
    }

    .release-description {
      color: #666;
    }

    .release-description ul li {
      list-style-type: circle;
    }
