-extends "channels/channel_claim_form.html"
-load i18n

-block pre-form
  -blocktrans trimmed
    You can add your Twilio Messaging SID as a channel. You can get your messaging Service SID
    or create a new messaging service from <a target="_blank" href="https://www.twilio.com/user/account/messaging/services">Twilio Console</a>.

  .mt-2
    -blocktrans trimmed with brand.name as brand
      After adding your Twilio Messaging Service SID we will provide you with the URL endpoint for Twilio to call
      when they want to push a message to {{ brand }}.

  -if account_trial
    %temba-alert.my-4(level="warning")
      -blocktrans trimmed
        You have connected a Twilio Trial Account which has some restrictions.
      %br
      %a{href:"https://www.twilio.com/help/faq/twilio-basics/how-does-twilios-free-trial-work"}
        -trans "Read more about the limits placed on Twilio's Free Trial numbers."


  -if current_creds_account
    .card.mt-6
      -trans "Using account"
      .text-lg.font-bold.inline-block.ml-2
        {{current_creds_account}}
      %a.inline-block.ml-4{href:'{% url "channels.types.twilio.connect" %}?reset_creds=reset&claim_type=twilio_messaging_service'}
        -trans "Change"