-load i18n

%h4
  -blocktrans
    To finish configuring your Twilio Messaging Service connection you'll need to add the following URL in your Messaging Service Inbound Settings.

%hr

%h4
  -trans "Request URL"

%p
  -blocktrans
    This endpoint should be called by Twilio when new messages are received by your Messaging Service.

%code
  https://{{ channel.callback_domain }}{% url 'courier.tms' channel.uuid 'receive' %}

%hr
