-extends "msgs/message_box.html"
-load smartmin sms temba compress i18n humanize

-block extra-style
  {{block.super}}
  :css

    .broadcast-item .broadcast:hover {
      cursor: pointer;
      box-shadow: 0 0 0 2px var(--color-focus);
    }

-block action-buttons

-block content
  -for object in object_list    
    .broadcast-item(href="{% url 'msgs.broadcast_scheduled_read' object.id %}" onclick="goto(event, this)")
      -include "msgs/broadcast.html" with broadcast=object
