-extends "smartmin/read.html"
-load smartmin sms temba i18n humanize

-block content
  -include "msgs/broadcast.html" with broadcast=object
  -if send_history
    
    .shadow-lg.bg-white.rounded-t-lg.px-4.py-3.border-b.bg-gray-300.font-normal.text-gray-600
      -trans "Send History"
    
    .shadow.overflow-y-auto.rounded-b-lg
      %table.list.bg-white(style='border-radius: 0;{% if not org_perms.msgs.broadcast_send %}margin-top:10px{% endif %}')
        %tbody
          -for object in send_history
            -with translation=object.get_translation
              %tr
                %td
                  -with recipient_count=object.get_message_count
                    %nobr
                      -blocktrans trimmed count counter=recipient_count with count_comma=recipient_count|intcomma
                        {{ count_comma }} recipient
                      -plural
                        {{ count_comma }} recipients
                      
                %td.w-full
                  .flex-grow.inline.flex-wrap.flex-end.items-center.justify-end
                    .value-text.field_text
                      {{ translation.text }}
                      -if translation.attachments
                        -for attachment in translation.attachments
                          .ml-2.inline-block
                            {% attachment_button attachment %}

                %td
                  .text-right
                    %nobr
                      {{object.created_on|duration}}


    .mx-4
      -block paginator
        {{ block.super }}