-extends "msgs/message_box.html"
-load smartmin sms temba compress i18n humanize

-block title-icon
  %span.title-icon
    .glyph.icon-clock

-block action-buttons

-block content
  .mt-4
    %table.list.lined.w-full
      %tbody
        -for object in object_list
          -with translation=object.get_translation
            %tr.select-row.cursor-pointer{class:'{% cycle row1 row1 %}', onclick:'goto(event, this)', href:'{%url "msgs.broadcast_scheduled_read" object.id%}'}

              %td.value-contacts.field_phone
                -include "includes/recipients.haml" with groups=object.groups.all contacts=object.contacts.all

              %td.w-full
                .flex.flex-wrap.flex-end.items-center.justify-end
                  .flex-grow.inline
                    .value-text.field_text
                      {{ translation.text }}
                -if translation.attachments
                  .value-attachments{ style:"margin-top: 5px" }
                    -for attachment in translation.attachments
                      {% attachment_button attachment %}

              %td.value-next
                .whitespace-nowrap.pr-2.pointer-events-none
                  -if object.schedule.next_fire
                    .glyph.icon-clock
                    {{object.schedule.next_fire|timeuntil}}

          -empty
            %tr
              %td{colspan:3}
                -trans "No matching broadcasts"


-block extra-style
  {{block.super}}
  :css
    td.clickable a:hover {
      text-decoration: none;
    }
    .list-table {
      margin-top:48px;
    }
