-extends "smartmin/form.html"

-load smartmin temba compress
-load i18n

-block content
  %form#start-form{method:'POST'}

    .instructions
      %p
        -trans "You can customize the broadcast to send a message and change the settings of the broadcast."

    #broadcast.form-section.expanded
      .glyph.icon-megaphone.section-icon.icon_expanded
      .expanded
        %p
          %fieldset
            -render_field 'message'
            #counter
            -render_field 'omnibox'
            
            %div.control-group.error
              %span.help-block.field-errors
                %ul.errorlist
                  -for error in form.errors.recipients
                    %li
                      {{error}}

    .clearfix{clear:'both'}
    %hr
    #period.form-section.expanded
      .glyph.icon-clock.section-icon
      .expanded
        %p
          %input{name:'start', type:'radio', value:'now', checked:'true'}
            -trans "Send Now"
            %br
          %input{id:'later-option', name:'start', value:'later', type:'radio'}
            %input#start-datetime{ name:'start_datetime', disabled:'true', value:'Later'}
            %input#start-datetime-value{ hidden:'true', name:'start_datetime_value'}
                
    .clearfix{clear:'both'}
    %hr
    #schedule.form-section.expanded
      .glyph.icon-calendar.section-icon
      .expanded
        %p
          -trans "Send this message on a regular schedule to remind your recipients."
          .repeat-period
            -trans "Send this message"
            %select#repeat{name:'repeat'}
              %option{value:'O'}
                -trans "Once"
              %option{value:'D'}
                -trans "Daily"
              %option{value:'W'}
                -trans "Weekly"
              %option{value:'M'}
                -trans "Monthly"

          .weekly-repeat-options.hide
            .btn-group{'data-toggle':'buttons-checkbox'}
              #mon.btn{value:2}
                -trans "Mon"
              #tue.btn{value:4}
                -trans "Tue"
              #wed.btn{value:8}
                -trans "Wed"
              #thu.btn{value:16}
                -trans "Thu"
              #fri.btn{value:32}
                -trans "Fri"
              #sat.btn{value:64}
                -trans "Sat"
              #sun.btn{value:128}
                -trans "Sun"

            %input#repeat-days-value{name:'repeat_days', type:'hidden'}

    .clearfix{clear:'both'}
    %hr
    %br
    -csrf_token
    %input.btn.btn-success.start-button{ type:'submit', value:'Schedule'}
    %a.btn{href:'{% url "msgs.msg_inbox" %}'}
      -trans "Cancel"


-block extra-less
  -compress css inline
    {% lessblock %}
      :plain

        @warning-color: #8ABFD9;

        .attn {
          text-decoration: 'underlined';
          font-weight:bold;
        }

        .instructions {
          font-size:16px;
          margin-bottom:20px;
        }

        #start-form {
          width:90%;
        }

        #id_message {
          width:83%;
          height:100px;
        }

        .form-section {

          color: @color-font-lightgrey;

        }

        .section-icon {
          float:left;
          width:100px;
          height:100px;
          font-size:80px;
          margin-left:25px;
          vertical-align:bottom;
          border: 0px solid green;
          margin-top:0;
          line-height:1;
          text-align:center;

          &.icon-expanded{
            width:100px;
            height:100px;
            font-size:80px;
          }

          &.error {
            color: @color-status-failed;
          }

        }

        hr {
          margin-bottom:10px;
          margin-top:10px;
        }

        input[type='radio'] {
          margin-top:-5px;
          margin-right:6px;
          margin-left:6px;
        }

        select {
          width:80px;
          margin-top:5px;
        }

        .repeat-period {
          select {
            width:100px;
          }
        }

        .expanded {
          font-size:14px;

          :hover {

          }

          &.choice {
            font-size:14px;
          }

          .rule {
            font-style:italic;
          }

          .btn {
            margin-top:10px;
            padding: 2px 8px;
          }
        }

        .form-horizontal .control-label {
          width:0;
        }

        .form-horizontal .controls {
          margin-left: 0;
        }

        .error {
          color: @color-status-failed;
        }

        #counter {
          font-size: 12px;
          float:left;
          width:84%;
          text-align:right;
          margin-top:-16px;
        }

        #start-datetime {
          padding:5px 0px;
          width:400px;
          font-size:14px;
          color: #999;

          background-color:transparent;
          border: 0px solid #999;
          cursor: text;

          &:focus, &:active {
            outline: none;
          }
        }

        [data-handler=today] {
          display:none;
        }

        .repeat-period {
          //padding-top:20px;
        }
        .list-table {
        margin-top:48px;
        }

    {% endlessblock %}

-block extra-script
  :javascript

    $("#id_message").keyup(messageTextareaLengthCheck);

    // initialize our datetime picker
    $(document).ready(initializeDatetimePicker);

    $('#later-option').on('click', resetStartDatetime);

    $('#start-datetime').on('click', startDatetimeClick);

    $("#repeat").on('change', showWeeklyRepeatOptions);

    $('#schedule').on( 'click', '.btn-group .btn', scheduleSelection);
