{% extends "smartmin/read.html" %}
{% load smartmin sms temba i18n humanize %}

{% block content %}
  {% include "msgs/includes/broadcast.html" with broadcast=object %}
  {% if send_history %}
    <div class="shadow-lg bg-white rounded-t-lg px-4 py-3 border-b bg-gray-300 font-normal text-gray-600">{% trans "Send History" %}</div>
    <div class="shadow overflow-y-auto rounded-b-lg">
      <table style="border-radius: 0;
                    {% if not org_perms.msgs.broadcast_create %}margin-top:10px{% endif %}"
             class="list bg-white">
        <tbody>
          {% for object in send_history %}
            {% with translation=object.get_translation %}
              <tr>
                <td>
                  {% with recipient_count=object.get_message_count %}
                    <nobr>
                      {% blocktrans trimmed count counter=recipient_count with count_comma=recipient_count|intcomma %}
                        {{ count_comma }} recipient
                      {% plural %}
                        {{ count_comma }} recipients
                      {% endblocktrans %}
                    </nobr>
                  {% endwith %}
                </td>
                <td class="w-full">
                  <div class="flex-grow inline flex-wrap flex-end items-center justify-end">
                    <div class="value-text field_text">
                      {{ translation.text }}
                      {% if translation.attachments %}
                        {% for attachment in translation.attachments %}
                          <div class="ml-2 inline-block">{% attachment_button attachment %}</div>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </td>
                <td>
                  <div class="text-right">
                    <nobr>
                      {{ object.created_on|duration }}
                    </nobr>
                  </div>
                </td>
              </tr>
            {% endwith %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="mx-4">
      {% block paginator %}
        {{ block.super }}
      {% endblock paginator %}
    </div>
  {% endif %}
{% endblock content %}
