-extends 'includes/modax.html'
-load smartmin i18n

-block fields
  -if blockers
    -for blocker in blockers
      .mb-2
        {{ blocker|safe }}

  -else
    {{ block.super }}
    .fixed-wrapper(style="position:fixed;width:362px;margin-left:200px;margin-top:-38px")
      %temba-charcount

    -if recipient_count
      -blocktrans trimmed count recipient_count as recipients
        <b>{{ recipients }}</b> recipient currently at this point in the flow
        -plural
          <b>{{ recipients }}</b> recipients currently at this point in the flow


-block form-buttons
  -if not blockers
    %input.btn.btn-primary(type="submit" value="{{ submit_button_name }}")


-block modal-extra-style
  {{ block.super }}

  :css
    temba-completion {
      --textarea-height: 110px;
    }