-extends 'smartmin/form.html'
-load smartmin i18n

-block fields
  .title
    -trans "Message Details"
  %fieldset
    -render_field 'omnibox'
    -render_field 'message'

-block summary
  -include "includes/recipients.haml" with groups=broadcast.groups.all contacts=broadcast.contacts.all urns=broadcast.raw_urns

  .mt-2
    {{ object.get_text }}
