-extends 'smartmin/form.html'
-load smartmin sms i18n

-block fields
  .title
    -trans "Message Details"
  %fieldset
    -render_field 'omnibox'
    -render_field 'compose'

-block summary
  -include "includes/recipients.haml" with groups=broadcast.groups.all contacts=broadcast.contacts.all

  .mt-2
    {{ object.get_text }}
  
  .value-attachments{ style:"margin-top: 5px" }
    -for attachment in object.get_attachments_for_display
      {% attachment_button attachment %}
