-extends "smartmin/read.html"
-load smartmin sms compress temba contacts
-load i18n humanize

-block page-top
  .row
    .span12
      -block title

        -block title-icon
          %span.glyph.title-icon.broadcast-icon
            {{broadcast|as_icon}}

        -block title-text
          .title-text.top-form
            %h2
              -if title
                -if broadcast.recipient_count
                  {% blocktrans with count_comma=broadcast.recipient_count|intcomma count cc=broadcast.recipient_count %}
                    {{ count_comma }} recipient
                  {% plural %}
                    {{ count_comma }} recipients
                  {% endblocktrans %}
            %h5.weight-200.font_normalize
              {{broadcast.text}}

  %hr.top-bar

-block content
  -if msg_count < broadcast.recipient_count
    %div{class:"alert alert-info"}
      -blocktrans
        This broadcast is in the process of being sent, new messages will be added here as they are queued.

  -if msg_substitution_incomplete
    %table.table.sms_list.table-condensed{style:"margin-bottom: 70px"}
      %tbody
        %tr
          %td{colspan:'6'}
            {{ msg_substitution_incomplete|length|intcomma }} Message{{ msg_substitution_incomplete|length|pluralize }} with missing variables
      -for sms in msg_substitution_incomplete
        %tr.select-row{onClick:'document.location="{% url "contacts.contact_update" sms.contact.id %}"'}
          %td.direction
            .glyph.icon-mobile-2
          %td.number
            {{sms.contact}}
          %td.message
            {{sms.text}}
          %td.status
            {{ sms|as_icon }}
          %td.created
            %nobr
              {{sms.created_on|gmail_time}}

  %table.table.sms_list.table-condensed
    %tbody
      %tr
        %td{colspan:'6'}
          {{ msg_substitution_complete|length|intcomma }} Message{{ msg_substitution_complete|length|pluralize }}

          .pull-right
            %span.status-count
              %span.glyph.icon-bubble-right.green
              -blocktrans with msgs_sent=msg_sent_count|intcomma
                {{ msgs_sent }} Sent
            %span.status-count
              %span.glyph.icon-bubble-check.green
              -blocktrans with msgs_delivered=msg_delivered_count|intcomma
                {{ msgs_delivered }} Delivered

            -if msg_sending_count
              %span.status-count
                %span.glyph.icon-bubble-dots-2.green
                -blocktrans with msgs_sending=msg_sending_count|intcomma
                  {{ msgs_sending }} Sending

            -if msg_failed_count
              %span.status-count
                %span.glyph.icon-bubble-notification.red
                -blocktrans with msgs_failed=msg_failed_count|intcomma
                  {{ msgs_failed }} Failed

      -for msg in msgs|slice:":300"
        %tr.select-row{onClick:'document.location="{% url "contacts.contact_read" msg.contact.uuid %}"'}
          %td.direction
            .glyph.icon-mobile-2
          %td.number
            {{msg.contact|name_or_urn:user_org}}
          %td.message
            {{msg.text}}
          %td.status
            {{msg|as_icon}}
          %td.created
            %nobr
              {{msg.created_on|gmail_time}}

      -if msgs|length > 300
        %tr.select-row
          %td.direction
          %td.number
          %td.message
            {{ msgs|length }}
            -trans "total messages"
          %td.status
          %td.created

-block extra-less
  -compress css inline
    {% lessblock %}
      :plain
        .status-count {
          display: inline-block;
          margin-left: 20px;
        }

        .status-count .glyph {
          margin-top: 2px;
          margin-right: 1px;
        }

        .title-icon {
          .glyph, .broadcast-icon {
            margin-top:44px;
          }
        }

        .direction{
          width: 18px;
        }

        .status{
          width: 15px;
        }

        .number{
          width: 120px;
        }

        .created{
          width: 40px;
          text-align: right !important;
        }

        .weight-200{
          font-weight: 200;
        }
    {% endlessblock %}

