{% extends "smartmin/list.html" %}
-load smartmin sms temba compress contacts
-load i18n humanize

-block page-top
  {% render as page_top %}
    {{block.super}}
  {% endrender %}
  -if has_messages
    {{page_top}}

-block page-title
  {{title}}

-block title-icon
  %span.title-icon
    .glyph.icon-inbox

-block above-bar
  -block top-form
    %form{method:"get"}
      %input.input-medium.search-query{type:'text', placeholder:'{% trans "Search" %}', name:"search", value:"{{search}}"}

-block content

  // Needed for table wrapping on IE 9
  <!--[if IE]>
  <style>
    table.sms_list { table-layout: fixed; }
  </style>
  <![endif]-->

  #numeric-form.hide
    %form
      %label
        -trans "Numeric Value:"
      %input#number{type:"text"}
    .error

  #pjax
    -block pjax
      .row-fluid
        .span3.sidebox
          %div{style:"margin-bottom: 10px"}
            - if org_perms.msgs.broadcast_send
              %a.btn.btn-primary.btn-block.send-button
                -trans "Send Message"

          #sidebar-nav
            %ul.nav.nav-list.level1
              %li.nav-header
                -trans "Messages"
              - for folder in folders
                %li{'class': '{% if request.path == folder.url %}active{% endif %}' }
                  %a{'href':'{{folder.url}}'}
                    {{folder.label}} ({{ folder.count | intcomma }})

              - if labels
                %li.nav-header
                  - trans "Labels"
                - for node in labels
                  - if node.obj.is_folder
                    %li{ class:'{% if current_label.id == node.obj.id %}active{% endif %} lbl-parent {% if current_label.id == node.obj.id or current_label.folder_id == node.obj.id %}expanded{% endif %}' }
                      %a{'href':'{% url "msgs.msg_filter" node.obj.id %}'}
                        {{ node.obj.name }}
                        - if node.children
                          - if current_label.id == node.obj.id or current_label.folder_id == node.obj.id
                            .glyph.icon-arrow-down-2
                          -else
                            .glyph.icon-arrow-right-8

                      %ul.nav.nav-list.level2
                        - for child in node.children
                          %li{ class:'{% if current_label.id == child.obj.id %}active{% endif %}' }
                            %a{ href:"{% url 'msgs.msg_filter' child.obj.id %}" }
                              {{ child.obj.name }} ({{ child.count | intcomma }})
                  - else
                    %li{ class:'{% if current_label.id == node.obj.id %}active{% endif %}' }
                      %a{ href:"{% url 'msgs.msg_filter' node.obj.id %}", class:'{% if current_label.id == node.obj.id %}active{% endif %}' }
                        {{ node.obj.name }} ({{ node.count | intcomma }})

          %div{style:"margin-top: 10px"}
            - if org_perms.msgs.label_create
              %a.btn.btn-block.add-label
                - trans "Create Label"
            - if org_perms.msgs.label_create_folder
              %a.btn.btn-block.add-folder
                - trans "Create Folder"

        -if has_messages
          .span9
            -block buttons
              .pull-right
                -block buttons-right
                  -block gear-menu
                    -include "gear_links_include.haml"

              -block search-details
                .search-details
                  -if search
                    -blocktrans count results_count=paginator.count
                      Found {{ results_count }} message in last 90 days matching <i>{{search}}</i>.
                      -plural
                        Found {{ results_count }} messages in last 90 days matching <i>{{search}}</i>.

              -block action-buttons
                -if org_perms.msgs.msg_update
                  .list-buttons-container
                    .list-buttons
                      - if 'unlabel' in actions
                        %span.btn-group
                          %a.object-btn-unlabel{href:'#'}
                            %button.btn{data-toggle:'tooltip', data-trigger:'hover', data-delay:"800", data-placement:'top', data-original-title:'{% trans "Unlabel" %}'}
                              .glyph.icon-box

                      - if 'archive' in actions
                        %span.btn-group
                          %a.object-btn-archive{href:'#'}
                            %button.btn{data-toggle:'tooltip', data-trigger:'hover', data-delay:"800", data-placement:'top', data-original-title:'{% trans "Archive" %}'}
                              .glyph.icon-box

                      - if 'restore' in actions
                        %span.btn-group
                          %a.object-btn-restore{href:'#'}
                            %button.btn{data-toggle:'tooltip', data-trigger:'hover', data-delay:"800", data-placement:'top', data-original-title:'{% trans "Unarchive" %}'}
                              .glyph.icon-download

                      - if 'delete' in actions
                        %span.btn-group
                          %a.object-btn-delete{href:'#'}
                            %button.btn{data-toggle:'tooltip', data-trigger:'hover', data-delay:"800", data-placement:'top', data-original-title:'{% trans "Delete" %}'}
                              .glyph.icon-remove

                      - if 'resend' in actions
                        %span.btn-group
                          %a.object-btn-resend{href:'#'}
                            %button.btn{data-toggle:'tooltip', data-trigger:'hover', data-delay:"800", data-placement:'top', data-original-title:'{% trans "Resend" %}'}
                              .glyph.icon-upload

                      - if 'label' in actions
                        %span.btn-group
                          %button.btn.dropdown-toggle{data-toggle:"dropdown", data-trigger:'hover', data-delay:"800", data-placement:'top', data-original-title:'{% trans "Labels" %}'}
                            .glyph.icon-tag
                            %span.caret
                          %ul.dropdown-menu.label-menu{role:'menu', aria-labelledby:'dlabel'}
                            - for node in labels
                              - if node.obj.is_folder and node.children
                                %li.dropdown-submenu
                                  %a.lbl-menu.object-btn-label{href:'#', tabindex:'-1', data-id:'{{node.obj.id}}'}
                                    {{ node.obj.name }}
                                  %ul.dropdown-menu.label-menu
                                    - for child in node.children
                                      %li
                                        %a.lbl-menu.object-btn-label{href:'#', tabindex:'-1', data-id:'{{child.obj.id}}'}
                                          .glyph.message-label.label-checkbox
                                          {{ child.obj.name }}
                              - elif not node.obj.is_folder
                                %li
                                  %a.lbl-menu.object-btn-label{href:'#', tabindex:'-1', data-id:'{{node.obj.id}}'}
                                    .glyph.message-label.label-checkbox
                                    {{ node.obj.name }}

                            - if org_perms.msgs.label_create
                              - if labels
                                %li.divider
                              %li
                                %a.lbl-menu.add-label{href:'#'}
                                  -trans "New Label..."

            -block message-list
              %table.list-table.sms_list.object-list.table.table-condensed{style: '{% if not org_perms.msgs.msg_update %}margin-top:10px{% endif %}'}
                %tbody
                  -for object in object_list
                    %tr.sms.object-row.select-row{id: 'id-row-{{object.id}}', class:'{% cycle row1 row2 %}', data-object-id:'{{ object.id }}',
                                   data-sender-id:'{{object.contact.id}}', data-sender-uuid:'{{object.contact.uuid}}', data-sender-select2:'{{object.contact|short_name:user_org}}'}
                      - if actions
                        - if org_perms.msgs.msg_update or org_perms.msgs.broadcast_send
                          %td.checkbox.sms.object-row-checkbox
                            .glyph.object-row-checkbox
                      %td.value-phone.field_phone
                        %nobr
                          {{ object.contact|short_name:user_org }}
                      %td.value-text.field_text.wrapped
                        {% get_value object 'text' %}

                        - if 'label' in actions
                          .value-labels
                            - for label in object.labels.all
                              %span.label.label-info.lbl{ data-id: '{{label.id}}' }
                                %a{href:"{% url 'msgs.msg_filter' label.pk%}"}
                                  {{label.name}}

                        -if object.attachments
                          .value-attachments{ style:"margin-top: 5px" }
                            - for attachment in object.attachments
                              {% attachment_button attachment %}

                      %td.created_on
                        %span.time
                          {{object.created_on|gmail_time}}

                        .log-icon
                          -if show_channel_logs and not user_org.is_anon or perms.contacts.contact_break_anon
                            {% channel_log_link object %}

                    -empty
                      %tr
                        %td{colspan:3}
                          -trans "No matching messages."

              - block paginator
                -if object_list.count
                  .paginator
                    -include "smartmin/sidebar_pagination.haml"
          -else
            -include "msgs/empty_include.html"

-block post-content
  - if org_perms.msgs.broadcast_send
    -include "msgs/msg_send_modal.haml"


-block extra-script
  {{ block.super }}
  :javascript
    {% if org_perms.msgs.msg_update %}

    function postLabelChanges(smsIds, labelId, addLabel, number, onError) {
         fetchPJAXContent("", "#pjax", { postData: { objects: smsIds, label: labelId, add: addLabel, action: 'label', pjax: 'true', number:number },
         forceReload: true, onSuccess: function(data, textStatus) {

           // if there is a live modal, hide it
           var modal = $("#active-modal");
           if ((modal).is(":visible")) {
             modal.data('object').dismiss();
           }

           $("#pjax").html(data);
           recheckIds();
         }, onError: onError});
    }

    {% endif %}

    $('.page-content').on('click', ".add-label", function() {
      lastChecked = getCheckedIds();
      var modal = new Modax('{% trans "Create Label" %}', '{% url "msgs.label_create" %}');
      modal.setIcon('icon-tag');
      modal.setListeners({
        onFormLoaded: function(){
          $("#active-modal form input#id_messages").val(lastChecked.join());
          if ($('#id_folder').find('option').length > 1) {
            select2div('#id_folder');
          } else {
            $('#id_folder').parents('.control-group').hide();
          }
        }, onCompleted: function() { refresh(function() { recheckIds(); }, true);}
      });

      modal.show();
    });

    $('.page-content').on('click', ".add-folder", function() {
      var modal = new Modax('{% trans "Create Folder" %}', '{% url "msgs.label_create_folder" %}');
      modal.setIcon('icon-folder');
      modal.setListeners({
        onCompleted: function() { refresh(null, true);}
      });
      modal.show();
    });

    {% if org_perms.msgs.broadcast_send %}
    if($(location).attr('hash') == '#message') {
      showCompose();
    }

    $(".page-content").on('click', ".send-button", function() {
      var smsIds = getCheckedIds();
      if (smsIds.length > 0) {
      showComposeInitialized("m=" + smsIds);
      } else {
      showCompose();
      }
    });
    {% endif %}

    $(".page-content").on('pjax:complete', function() {
      $(".btn").tooltip();
      bindRefreshBlock();
    });

    // since message table rows are refreshed dynamically, we can't bind all our events at document load time
    $('.select-row').live('mouseover', function(){
      var contactPageUrl = '/contact/read/' + $(this).data('sender-uuid');

      $(this).find('td').not(':first-child').each(function(){
        $(this).on('click', function(event) {
          if (!$(event.target).is('.attachment a')) {
            document.location.href = contactPageUrl;
          }
        });
      });
    });

    $(document).on('click', 'td.object-row-checkbox', function() {
      $('.search-details').hide();
    });

    {% if org_perms.msgs.msg_export %}
    $('.page-content').on('click', ".msg-export-btn", function() {
      lastChecked = getCheckedIds();
      var modal = new Modax('{% trans "Export Messages" %}', '{{ export_url }}');
      modal.setIcon('icon-excel');
      modal.setRedirectOnSuccess(true);
      modal.show();
    });
    {% endif %}
