{% extends "smartmin/list.html" %}
-load smartmin sms temba compress contacts
-load i18n humanize

-block extra-style
  {{block.super}}
  :css
    temba-button {
      display: block;
    }

-block page-title
  {{title}}

-block title-icon
  %span.title-icon
    .glyph.icon-inbox

-block page-top

-block content

  #numeric-form.hide
    %form
      %label
        -trans "Numeric Value:"
      %input#number{type:"text"}
    .error

  #pjax
    -block pjax
      .lp-frame
        .left
          .flex.flex-col
            -if org_perms.msgs.broadcast_send
              .w-64.mr-5
                %temba-modax#send-message-modal{ header:'{% trans "Send Message" %}', endpoint:"{% url 'msgs.broadcast_send' %}" }
                  .button-primary{ onclick:"handleSendMessageClicked()"}
                    -trans "Send Message"

            .lp-nav.upper
              - for folder in folders
                .lp-nav-item{'class': '{% if request.path == folder.url %}font-normal{% endif %}' }
                  .name{onclick:"goto(event)", href:'{{folder.url}}'}
                    {{folder.label}}
                  .count{onclick:"goto(event)", href:'{{folder.url}}'}
                    {{ folder.count | intcomma }}

            -if labels
              .lp-nav.lower
                .font-normal.uppercase.text-xs.text-gray-500.pb-1
                  - trans "Labels"
                .inner-scroll
                  -for node in labels
                    -if node.obj.is_folder
                      .lp-nav-item{ class:'{% if current_label.id == node.obj.id %}font-normal{% endif %}' }
                        .name{onclick:"goto(event)", 'href':'{% url "msgs.msg_filter" node.obj.uuid %}'}
                          {{ node.obj.name }}
                        -if node.children
                          .count.-mr-1.text-gray-400
                            -if current_label.id == node.obj.id or current_label.folder_id == node.obj.id
                              .glyph.icon-arrow-down-2{onclick:"goto(event)", 'href':'{% url "msgs.msg_filter" node.obj.uuid %}'}
                            -else
                              .glyph.icon-arrow-right-8{onclick:"goto(event)", 'href':'{% url "msgs.msg_filter" node.obj.uuid %}'}

                      -if current_label.id == node.obj.id or current_label.folder_id == node.obj.id
                        .pl-2.mt-1.level2.font-light
                          -for child in node.children
                            .lp-nav-item{ class:'{% if current_label.id == child.obj.id %}font-normal{% endif %}' }
                              .name{onclick:"goto(event)",  href:"{% url 'msgs.msg_filter' child.obj.uuid %}" }
                                {{ child.obj.name }}
                              .count{onclick:"goto(event)", href:"{% url 'msgs.msg_filter' child.obj.uuid %}" }
                                {{ child.count | intcomma }}
                  -for node in labels
                    -if not node.obj.is_folder
                      .lp-nav-item{ class:'{% if current_label.id == node.obj.id %}font-normal{% endif %}' }
                        .name{onclick:"goto(event)", href:"{% url 'msgs.msg_filter' node.obj.uuid %}", class:'{% if current_label.id == node.obj.id %}font-normal active{% endif %}' }
                          {{ node.obj.name }} 
                        .count{onclick:"goto(event)", href:"{% url 'msgs.msg_filter' node.obj.uuid %}", class:'{% if current_label.id == node.obj.id %}font-normal active{% endif %}' }
                          {{ node.count | intcomma }}

            .flex-grow
              -if org_perms.msgs.label_create
                %temba-modax#create-label-modal{ header:'{% trans "Create Label" %}', endpoint:"{% url 'msgs.label_create' %}", onloaded: "handleCreateLabelModalLoaded", onsubmitted: "handleCreateLabelModalSubmitted"}
                  .button-light.mt-3
                    - trans "Create Label"
                  
              -if org_perms.msgs.label_create_folder
                %temba-modax{ header:'{% trans "Create Folder" %}', endpoint:"{% url 'msgs.label_create_folder' %}"}
                  .button-light.mt-3
                    -trans "Create Folder"

        -if has_messages
          .right
            .flex.w-full.items-end.mb-4
              -block action-buttons
                -if org_perms.msgs.msg_update
                  .action-buttons.list-buttons-container.h-full.mr-2.flex-grow
                    .list-buttons.flex.items-center.-mx-2.h-full
                      - if 'unlabel' in actions
                        .button-action.object-btn-unlabel
                          .glyph.icon-box
                          -trans "Remove Label"

                      - if 'archive' in actions
                        .button-action.object-btn-archive
                          .-mt-1.mr-2.glyph.icon-box
                          -trans "Archive"

                      - if 'restore' in actions
                        .button-action.object-btn-restore
                          .-mt-1.mr-2.glyph.icon-download
                          -trans "Restore"

                      - if 'delete' in actions
                        .button-action.object-btn-delete
                          .-mt-1.mr-2.glyph.icon-remove
                          -trans "Delete"

                      - if 'resend' in actions
                        .button-action.object-btn-resend
                          .mt-1.mr-2.glyph.icon-loop.text-sm
                          -trans "Resend"

                      - if 'label' in actions
                        .btn-group
                          .button-action.dropdown-toggle{data-toggle:"dropdown"}
                            .-mt-1.mr-2.glyph.icon-tag{style:"width:16px"}
                            -trans "Label"

                          %ul.dropdown-menu.label-menu.rounded-lg.border-none.px-4.py-3
                            -for node in labels
                              -if node.obj.is_folder and node.children
                                %li.dropdown-submenu
                                  .lbl-menu.object-btn-label.cursor-pointer{data-id:'{{node.obj.id}}'}
                                    .flex.items-center.py-1.hover-linked
                                      .icon-arrow-right-8.text-2xl.-ml-1.-mt-1.mr-1
                                      .name.px-2
                                        {{ node.obj.name }}
                                  %ul.dropdown-menu.label-menu.border-none
                                    - for child in node.children
                                      %li
                                        .lbl-menu.object-btn-label.px-4{data-id:'{{child.obj.id}}'}
                                          .flex.items-center.py-1.hover-linked
                                            .glyph.message-label.label-checkbox
                                            .name.px-1
                                              {{ child.obj.name }}
                            -for node in labels
                              -if not node.obj.is_folder
                                %li
                                  .lbl-menu.object-btn-label{data-id:'{{node.obj.id}}'}
                                    .flex.items-center.py-1.hover-linked
                                      .glyph.message-label.label-checkbox
                                      .name.px-1
                                        {{ node.obj.name }}

                            - if org_perms.msgs.label_create
                              - if labels
                                %li.separator.-mx-4.border-b.my-3
                              %li
                                .lbl-menu.add-label.linked{onclick:"handleAddLabelClicked()"}
                                  -trans "New Label..."
              .flex-grow.ml-2.items-center
                -block title-text
                  .page-title.leading-tight
                    {{title}}
              .gear-links
                -include "gear_links_include.haml"

            %form#search-form.mb-4(method="get")
              %temba-textinput.w-full(placeholder='{% trans "Search" %}' name="search" value="{{search}}")

            -block message-list
              %table.list.object-list.lined{class: '{% if org_perms.msgs.msg_update or org_perms.msgs.broadcast_send %}selectable{% endif %}'}
                %tbody
                  -for object in object_list
                    %tr.sms.object-row{id: 'id-row-{{object.id}}', data-object-id:'{{ object.id }}',
                                  data-sender-id:'{{object.contact.id}}', data-sender-uuid:'{{object.contact.uuid}}', onrowclick:'handleRowClick("{{object.contact.uuid}}")'}
                      -if actions
                        - if org_perms.msgs.msg_update or org_perms.msgs.broadcast_send
                          %td.checkbox.sms.object-row-check
                            %temba-checkbox{onclick:"handleRowSelection(this)"}
                      %td.whitespace-no-wrap
                          {{ object.contact|short_name:user_org }}
                      %td.w-full
                        .flex.flex-wrap.flex-end.items-center.justify-end
                          .flex-grow.inline
                            {% get_value object 'text' %}
                          .labels.flex.items-center.flex-wrap
                            -if 'label' in actions
                              -for label in object.labels.all
                                .lbl.linked.ml-2{onclick:"goto(event, this)", href:"{% url 'msgs.msg_filter' label.uuid %}", data-id: '{{label.id}}'}                                
                                  {{label.name}}

                        -if object.attachments
                          .value-attachments{ style:"margin-top: 5px" }
                            - for attachment in object.attachments
                              {% attachment_button attachment %}

                      %td
                        .flex.w-full.items-end.justify-end.pr-4
                          .time.whitespace-no-wrap
                            {% short_datetime object.created_on %}

                          -if show_channel_logs and not user_org.is_anon or perms.contacts.contact_break_anon
                            .log-icon.ml-3.text-gray-400.linked
                              {% channel_log_link object %}

                  -if not object_list
                    %tr.empty_list
                      %td{ colspan:'99' }
                        -trans "No messages"

              - block paginator
                -if object_list.count
                  -block search-details
                    .flex.mx-4.mt-3.mb-16
                      .text-gray-700
                        -if not paginator or paginator.num_pages <= 1                        
                          -if search
                            -blocktrans trimmed with results_count=paginator.count|intcomma count cc=paginator.count
                              Found {{ results_count }} message in last 90 days matching <i>{{search}}</i>.
                              -plural
                                Found {{ results_count }} messages in last 90 days matching <i>{{search}}</i>.
                          -else
                            -if start_date
                              -blocktrans trimmed with results_count=paginator.count|intcomma count cc=paginator.count
                                {{ results_count }} message since {{ start_date}}.
                                -plural
                                  {{ results_count }} messages since {{ start_date}}.

                        - else

                          -if search
                            -blocktrans trimmed with results_count=paginator.count|intcomma start=page_obj.start_index|intcomma end=page_obj.end_index|intcomma count cc=paginator.count 
                              Found {{ results_count }} message in last 90 days matching <i>{{search}}</i>.
                              -plural
                                {{ start }} - {{ end }} of {{ results_count }} results for <i>{{search}}</i> since {{start_date}}.
                          -else
                            -if start_date
                              -blocktrans trimmed with results_count=paginator.count|intcomma start=page_obj.start_index|intcomma end=page_obj.end_index|intcomma count cc=paginator.count 
                                {{ results_count }} message since {{ start_date}}.
                                -plural
                                  {{ start }} - {{ end }} of {{ results_count }} messages since {{ start_date}}.
                                    
                      .flex-grow
                        -include "includes/pages.html"
        -else
          -include "msgs/empty_include.html"

-block extra-script
  {{ block.super }}
  :javascript

    function handleRowClick(uuid) {
      gotoLink("/contact/read/" + uuid + "/");
    }

    {% if org_perms.msgs.msg_update %}

    function handleCreateLabelModalLoaded(event) {
      lastChecked = getCheckedIds();
      var body = event.detail.body;
      body.querySelector("#id_messages").value = lastChecked.join();
    }

    function handleCreateLabelModalSubmitted(event) {
      refresh(function() { recheckIds(); }, true);
    }

    function handleSendMessageClicked() {
      var sendEndpoint = "{% url 'msgs.broadcast_send' %}";
      var sendModal = document.querySelector("#send-message-modal");
      var msgIds = getCheckedIds();
      if (msgIds.length > 0) {
        sendModal.setAttribute("endpoint", sendEndpoint + '?m=' + msgIds);
      } else {
        sendModal.setAttribute("endpoint", sendEndpoint);
      }
    }
    {% endif %}

    function handleAddLabelClicked() {
      document.getElementById("create-label-modal").open = true;
    }
