-extends "msgs/message_box.html"
-load smartmin sms
-load i18n

-block title-icon
  %span.title-icon
    - if current_label.is_folder
      .glyph.icon-folder
    - else
      .glyph.icon-tag

-block buttons-right
  -block gear-menu
    -include "gear_links_include.haml"

-block post-content
  {{ block.super }}
  - if org_perms.msgs.label_delete
    .deletion.hide
      .title
        - if current_label.is_folder
          - trans "Remove Folder"
        - else
          - trans "Remove Label"

      .body
        %p
          - if current_label.is_folder
            - trans "Are you sure you want to remove this folder? This will also delete any labels contained in this folder."
          - else
            {% if current_label.dependent_flows.count == 0 %}
            - trans "Are you sure you want to remove this label?"
            {% else %}
            - trans "This label cannot be removed because it in use."
            {% endif %}
        %p
          %b {{ current_label }}
          %p
            {% if current_label.dependent_flows.count == 0 %}
              -trans "Once it is removed, it will be gone forever. There is no way to undo this operation."
            {% else %}
              {% blocktrans trimmed count num_flows=current_label.dependent_flows.count %}
              Used by {{num_flows}} flow:
              {% plural %}
              Used by {{num_flows}} flows:
              {% endblocktrans %}

            %ul
            - for flow in current_label.dependent_flows.all
              %li
                %a{href:"{% url 'flows.flow_editor' flow.uuid %}"}
                  {{ flow.name }}

            {% endif %}

      %a#delete-form.posterize{href:'{% url "msgs.label_delete" current_label.pk %}'}
