<!DOCTYPE HTML>
-load humanize
{% block html-tag %}
<!--[if lte IE 8]><html class="ie" lang="en">    <![endif]-->
<!--[if !IE]><!--><html lang="en">              <!--<![endif]-->
{% endblock %}
  %head
    %title {% block page-title %}Visually build interactive SMS Applications{% endblock %}

-load smartmin

%body#pageBody{style:'width:100%'}

  -block post-header
  -block page-container
    #page-container.container
      .divPanel.page-content
        .row
          .span9
            -block title
              -block title-text
                %h1
                  .title-text
                    {{title}}

          .span3.top-form
            .pull-right

              -block above-bar
                -block gear-menu
                  -include "spa_page_menu.html"
                -block top-form

          %hr.top-bar

        - if messages
          .row
            .span12
              - block messages
                - if messages
                  -for msg in messages
                    %div{class:"alert alert-{{ message.tags }}"}
                      %a.close{data-dismiss:"alert"} x
                      {{ msg }}

        -block content
        -block post-content

  </html>
