-extends "msgs/message_box.html"
-load smartmin sms
-load i18n

-block title-icon
  %span.title-icon
    - if current_label.is_folder
      .glyph.icon-folder
    - else
      .glyph.icon-tag

-block buttons-right
  -block gear-menu
    -include "gear_links_include.haml"

-block post-content
  {{ block.super }}
  - if org_perms.msgs.label_delete
    .deletion.hide
      .title
        - if current_label.is_folder
          - trans "Remove Folder"
        - else
          - trans "Remove Label"

      .body
        %p
          - if current_label.is_folder
            - trans "Are you sure you want to remove this folder? This will also delete any labels contained in this folder."
          - else
            {% if current_label.dependent_flows.count == 0 %}
            - trans "Are you sure you want to remove this label?"
            {% else %}
            - trans "This label cannot be removed because it in use."
            {% endif %}
        %p
          %b {{ current_label }}
          %p
            {% if current_label.dependent_flows.count == 0 %}
              -trans "Once it is removed, it will be gone forever. There is no way to undo this operation."
            {% else %}
              {% blocktrans count num_flows=current_label.dependent_flows.count %}
              Used by {{num_flows}} flow:
              {% plural %}
              Used by {{num_flows}} flows:
              {% endblocktrans %}

            %ul
            - for flow in current_label.dependent_flows.all
              %li
                %a{href:"{% url 'flows.flow_editor' flow.uuid %}"}
                  {{ flow.name }}

            {% endif %}

      %a#delete-form.posterize{href:'{% url "msgs.label_delete" current_label.pk %}'}

-block extra-script
  {{ block.super }}

  :javascript
    {% if org_perms.msgs.label_delete %}
    $(".remove-label").live('click', function(){
      modal = new ConfirmationModal($('.deletion > .title').html(), $('.deletion > .body').html());
      modal.addClass('alert');

      {% if current_label.dependent_flows.count == 0 %}
          modal.setListeners({onPrimary: function(){
            $('#delete-form').click();
          }}, false);
          modal.setPrimaryButton('{% trans "Remove" %}');

      {% else %}
          modal.setListeners({onPrimary: function(){
            modal.dismiss();
          }}, false);
          modal.setPrimaryButton('{% trans "Ok" %}');
      {% endif %}

      modal.show();
      });
    {% endif %}

    {% if org_perms.msgs.label_update %}
    $(".page-content").on('click', ".label-update-btn", function() {
      var modal = new Modax('{% trans "Update Label" %}', '{% url "msgs.label_update" current_label.pk %}')
      modal.setIcon('icon-tag');
      modal.setListeners({
        onFormLoaded: function(){
          // convert folder select to select2 or hide if there are no folders
          if ($('#id_folder').find('option').length > 1) {
            select2div('#id_folder');
          } else {
            $('#id_folder').parents('.control-group').hide();
          }
        },
        onSuccess: function() { location.reload(); }
      });

      modal.show();
    });

    $(".page-content").on('click', ".folder-update-btn", function() {
      var modal = new Modax('{% trans "Update Folder" %}', '{% url "msgs.label_update" current_label.pk %}')
      modal.setIcon('icon-folder');
      modal.setListeners({
        onSuccess: function() { location.reload(); }
      });

      modal.show();
    });
    {% endif %}
