-extends "msgs/message_box.html"
-load smartmin sms temba contacts i18n humanize channels

-block search-details
  .search-details

-block message-list
  %table.object-list.list.lined
    %tbody
      -for broadcast in queued_broadcasts
        -with translation=broadcast.get_translation
          %tr
            %td.value-icon(style="width: 20px")
              %span.glyph.icon-bullhorn.text-gray-500
            %td.value-recipient
              .pt-1.inline-block
                -include "includes/recipients.html" with groups=broadcast.groups.all contacts=broadcast.contacts.all urns=broadcast.urns

            %td.w-full
              .flex.flex-wrap.flex-end.items-center.justify-end
                .flex-grow.inline
                  .value-text.field_text
                    {{ translation.text }}
              -if translation.attachments
                .value-attachments{ style:"margin-top: 5px" }
                  -for attachment in translation.attachments
                    {% attachment_button attachment %}
                    
            %td.created_on
              %span.time
                {% short_datetime broadcast.created_on %}

      -for object in object_list
        %tr
          %td.value-recipient(colspan="2")
            .pt-1.inline-block
              -include "includes/recipients_contact.html" with contact=object.contact
          %td.value-text.w-full
            {% get_value object 'text' %}

            - if 'label' in actions
              .value-labels
                - for label in object.labels.all
                  %span.label.label-info.lbl{ data-id: '{{label.id}}' }
                    %a{href:"{% url 'msgs.msg_filter' label.uuid %}"}
                      {{label.name}}

            -if object.attachments
              .value-attachments{ style:"margin-top: 5px" }
                - for attachment in object.attachments
                  {% attachment_button attachment %}

          %td.created_on
            %span.time
              {% short_datetime object.created_on %}

            {% channel_log_link object %}

      -if not object_list and not queued_broadcasts
        %tr.empty_list
          %td{ colspan:'99' }
            -trans "No matching messages."

-block paginator
  -if object_list.count
    .paginator
      -include "smartmin/sidebar_pagination.html"
