-extends 'includes/modax.html'
-load i18n
-load smartmin

-block fields

  .mb-0
    -render_field 'export_all'
  
  .flex
    .start.flex-grow
      -render_field 'start_date'
    .px-1
    .end.flex-grow
      -render_field 'end_date'
  
  -render_field 'groups'
