{% extends "msgs/message_box.html" %}
{% load smartmin sms temba contacts i18n humanize channels %}

{% block search-details %}
  <div class="search-details"></div>
{% endblock search-details %}
{% block message-list %}
  <table class="object-list list lined">
    <tbody>
      {% for object in object_list %}
        <tr>
          <td colspan="2" class="value-recipient">
            <div class="pt-1 inline-block">{% include "includes/recipients_contact.html" with contact=object.contact %}</div>
          </td>
          <td class="value-text w-full">
            {% get_value object 'text' %}
            {% if 'label' in actions %}
              <div class="value-labels">
                {% for label in object.labels.all %}
                  <span data-id="{{ label.id }}" class="label label-info lbl">
                    <a href="{% url 'msgs.msg_filter' label.uuid %}">{{ label.name }}</a>
                  </span>
                {% endfor %}
              </div>
            {% endif %}
            {% if object.attachments %}
              <div style="margin-top: 5px" class="value-attachments">
                {% for attachment in object.attachments %}
                  {% attachment_button attachment %}
                {% endfor %}
              </div>
            {% endif %}
          </td>
          <td class="created_on">
            <span class="time">{{ object.created_on|timedate }}</span>
            {% channel_log_link object %}
          </td>
        </tr>
      {% endfor %}
      {% if not object_list %}
        <tr class="empty_list">
          <td colspan="99">{% trans "No matching messages." %}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
{% endblock message-list %}
{% block paginator %}
  {% if object_list.count %}
    <div class="paginator">{% include "smartmin/sidebar_pagination.html" %}</div>
  {% endif %}
{% endblock paginator %}
