{% load rest_framework smartmin %}
{% csrf_token %}
{{ form.non_field_errors }}
{% for field in form %}
    {% if field.name == '_content_type' %}
    <input type="hidden" name="_content_type" value="application/json"></input>

    {% elif field.name == '_content' %}
      <textarea name="_content" id="id__content">{% if request.POST %}{{ request.POST|get:"_content" }}{% else %}{

}{% endif %}</textarea>
    {% else %}
        <div class="control-group"> <!--{% if field.errors %}error{% endif %}-->
          {{ field.label_tag|add_class:"control-label" }}
            <div class="controls">
              {{ field }}
                <span class="help-inline">{{ field.help_text }}</span>
                <!--{{ field.errors|add_class:"help-block" }}-->
            </div>
        </div>
    {% endif %}
{% endfor %}
