-extends 'smartmin/form.html'
-load compress temba smartmin i18n

-block summary
  -if integration_connected
    -blocktrans trimmed with agent=agent_name
      Connected to your Chatbase account as agent <b>{{ agent }}</b>.
  -else
    -trans "Connect your Chatbase account."

-block pre-form
  -if not integration_connected
    .mb-4
      -blocktrans trimmed
        Connecting your Chatbase account will allow you to monitor your bot, fix broken experiences
        and better understand your users. 
        To signup for an account, visit
      <a target='_new' href='https://chatbase.com'>Chatbase</a>.

-block fields
  -if not integration_connected
    {{ block.super }}

-block form-buttons

-block post-form
  -if integration_connected and request.META.HTTP_X_FORMAX
  
    -trans "Your Chatbase account is connected to the Agent"
    %b
      {{ chatbase_agent_name }}.

    .mt-4
      -trans "If you no longer want it connected, you can"
      %a{href:'javascript:confirmChatbaseDisconnect();'}<
        -trans "disconnect"
      -trans "your Chatbase account. Doing so will interrupt the data sent to your Chatbase console."

    .disconnect-chatbase.hide
      .title
        -trans "Disconnect Chatbase"
      .body
        -blocktrans trimmed
          This will disconnect your Chatbase account. Are you sure you want to proceed?

    #disconnect-chatbase-form(href="{% url 'integrations.chatbase.account' %}?disconnect=true")


-block extra-script
  {{block.super}}
  :javascript
    function confirmChatbaseDisconnect() {
      removalConfirmation("disconnect-chatbase", "Disconnect");
    }
