-extends 'base.html'
-load smartmin i18n

-block content
  .flex.justify-center
    .w-128.p-12
      .page-title
        -trans "Two-factor Authentication"

      .mt-4
        -blocktrans
          Open the one-time password application with which you configured two-factor authentication on your account
          and enter the code below to verify your identity.

      %form(method="POST")
        -csrf_token

        .mt-4
          %temba-textinput(name='otp' maxlength=6 placeholder='{{_("6-digit code")|escape}}')

        -if form.otp.errors
          .alert-error.mt-4
            {{ form.otp.errors }}

        .mt-6
          %input.button-primary(type="submit" value='{{_("Verify")}}')

          %a.button-light.float-right(href="{% url 'users.two_factor_backup' %}")
            -trans "Use Backup Token"