-load i18n

%h4
  -blocktrans
    As a last step you'll need to configure Junebug to call the following URL for MO (incoming) messages.

%hr

%h4
  -trans "Push Message URL"

%p
  -blocktrans
    This endpoint will be called by Junebug when new messages are received to your number, it must be configured
    to be called as a POST

%code
  https://{{ channel.callback_domain }}{% url 'courier.jn' channel.uuid 'inbound' %}
