{% extends "orgs/base/list.html" %}
{% load i18n contacts channels %}

{% block table %}
  <table class="list lined selectable scrolled">
    <tbody>
      {% for object in object_list %}
        <tr data-sender-uuid="{{ object.contact.uuid }}"
            onclick="handleRowClicked(event)"
            href="{% url 'contacts.contact_read' object.contact.uuid %}">
          <td class="w-10">
            {% if object.direction == "I" %}
              <temba-icon name="incoming_call">
              </temba-icon>
            {% else %}
              <temba-icon name="call">
              </temba-icon>
            {% endif %}
          </td>
          <td class="whitespace-nowrap">{{ object.contact|name_or_urn:user_org|truncatechars:20 }}</td>
          <td>{{ object.get_duration }}</td>
          <td>
            <div class="flex w-full items-center justify-end">
              <div class="time whitespace-nowrap">{{ object.created_on|timedate }}</div>
              {% channel_log_link object %}
            </div>
          </td>
        </tr>
      {% empty %}
        <tr class="empty_list">
          <td colspan="99" class="text-center">{% trans "No calls" %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock table %}
{% block extra-script %}
  {{ block.super }}
  <script type="text/javascript">
    function handleRowClicked(event) {
      var row = event.target.closest("tr");
      var uuid = row.getAttribute("data-sender-uuid");

      goto(event, row);
    }
  </script>
{% endblock extra-script %}
