-extends "smartmin/list.html"
-load i18n contacts channels

-block page-title
  {{ title }}

-block content
  .mt-4.shadow.rounded-lg.rounded-bl-none.rounded-br-none.bg-white
    -include "includes/short_pagination.html"     
    
  .flex-grow.overflow-y-auto.shadow.rounded-b-lg
    -if has_messages
      %table.relative.list.object-list.lined.selectable.scrolled
        %tbody
          -for object in object_list
            %tr.sms.object-row(data-sender-uuid='{{object.contact.uuid}}' onclick='handleRowClicked(event)' href="{% url 'contacts.contact_read' object.contact.uuid %}")
              %td
                -if object.direction == "I"
                  %temba-icon(name="incoming_call")
                -else
                  %temba-icon(name="call")

              %td.whitespace-nowrap
                {{ object.contact|name_or_urn:user_org|truncatechars:20 }}
              %td.w-full
                .flex.flex-wrap.flex-end.items-center.justify-end
                  .flex-grow.inline
                    {{ object.get_duration }}

              %td
                .flex.w-full.items-center.justify-end.pr-4
                  .time.whitespace-nowrap
                    %temba-date(value="{{object.created_on.isoformat}}" display="timedate")

                  {% channel_log_link object %}

          -if not object_list
            %tr.empty_list
              %td{ colspan:'99' }
                -trans "No calls"
    -else
      -include "msgs/empty_include.html"

-block extra-script
  {{ block.super }}
  :javascript
    function handleRowClicked(event) {
      var row = event.target.closest("tr");
      var uuid = row.getAttribute("data-sender-uuid");

      goto(event, row);
    }
