{% extends "orgs/base/list.html" %}
{% load smartmin temba i18n humanize %}

{% block modaxes %}
  <temba-modax header="{{ _("Update Global") |escapejs }}" -temba-redirected="refreshGlobals" id="update-global">
  </temba-modax>
  <temba-modax header="{{ _("Delete Global") |escapejs }}" -temba-redirected="refreshGlobals" id="delete-global">
  </temba-modax>
  <temba-modax header="{{ _("Usages") |escapejs }}" id="usages-global">
  </temba-modax>
{% endblock modaxes %}
{% block pre-table %}
  <div class="mb-4">
    {% blocktrans trimmed %}
      Globals are variables you can use across all of your flows but
      manage the value for in one place. For example, you might use them
      to store API keys you need to access external services or product names that
      might change later.
    {% endblocktrans %}
  </div>
{% endblock pre-table %}
{% block table %}
  <table class="list lined scrolled">
    <tbody>
      {% for obj in object_list %}
        <tr onclick="showUpdateGlobalModal({{ obj.id }})" class="hover-linked update">
          <td style="min-width: 50px">{{ obj.name }}</td>
          <td style="font-family: monospace; font-size: 12px;">@globals.{{ obj.key }}</td>
          <td>
            <div class="break-all">{{ obj.value|truncatechars:25 }}</div>
          </td>
          <td class="w-12">
            <div class="flex text-center">
              {% with usage_count=obj.usage_count %}
                {% if usage_count %}
                  <div onclick="event.stopPropagation(); showGlobalUsagesModal('{{ obj.uuid }}');" class="uses">
                    <div class="lbl linked">
                      {% blocktrans trimmed count counter=usage_count %}
                        {{ counter }} use
                      {% plural %}
                        {{ counter }} uses
                      {% endblocktrans %}
                    </div>
                  </div>
                {% endif %}
              {% endwith %}
            </div>
          </td>
          {% if org_perms.globals.global_delete %}
            <td class="w-10">
              <temba-icon name="delete"
                          clickable="true"
                          style="--icon-color:#bbb"
                          onclick="event.stopPropagation(); showDeleteGlobalModal('{{ obj.uuid }}');">
              </temba-icon>
            </td>
          {% endif %}
        </tr>
      {% empty %}
        <tr class="empty_list">
          <td colspan="99" class="text-center">{% trans "No globals" %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock table %}
{% block extra-script %}
  {{ block.super }}
  <script>
    function showUpdateGlobalModal(id) {
      var modax = document.querySelector('#update-global');
      modax.endpoint = `/global/update/${id}/`;
      modax.open = true;
    }

    function showDeleteGlobalModal(uuid) {
      var modax = document.querySelector('#delete-global');
      modax.endpoint = `/global/delete/${uuid}/`;
      modax.open = true;
    }

    function showGlobalUsagesModal(uuid) {
      var modax = document.querySelector('#usages-global');
      modax.endpoint = `/global/usages/${uuid}/`
      modax.open = true;
    }
  </script>
{% endblock extra-script %}
{% block extra-style %}
  {{ block.super }}
  <style type="text/css">
    td.dependencies {
      text-align: right;
      white-space: nowrap;
      width: 3em;
    }
  </style>
{% endblock extra-style %}
