- extends "smartmin/list.html"
- load smartmin sms temba compress i18n humanize

- block page-title
  - trans "Manage Globals"

- block title-icon
  .title-icon
    %span.glyph.icon-global

-block page-top

- block summary
  -if global_count
    {% blocktrans trimmed with counter=global_count|intcomma count num=global_count  %}
    You have <b>{{ counter }} global</b> configured
    {% plural %}
    You have <b>{{ counter }} globals</b> configured
    {% endblocktrans %}
  -else
    -trans "You do not have any globals configured."

-block top-form
  - if view.search_fields
    - block search-form
      %form
        %input.input-medium.search-query(type="text" placeholder="Search" name="search" value="{{ search }}")

-block content
  #pjax
    -block pjax
      .lp-frame
        .left
          - if view.add_button and org_perms.globals.global_create
            %temba-modax#create-global-modal{ header:'{% trans "Create Global" %}', endpoint:"{% url 'globals.global_create' %}"}
              .button-primary.mb-3
                -trans "Create Global"

          .lp-nav.upper
            .font-normal.uppercase.text-xs.pb-1.text-gray-500
              - trans "Globals"
            - for category in global_categories
              .lp-nav-item{'class': '{% if request.path == category.url %}font-normal{% endif %}' }
                .name{onclick:"goto(event)", href:'{{category.url}}'}
                  {{category.label}}
                .count{onclick:"goto(event)", href:'{{category.url}}'}
                  {{ category.count | intcomma }}

        .right
          .flex.w-full.mb-4.items-end.flex-wrap.justify-end.-mt-2{style:"min-height:41px"}
            .flex-grow.ml-1.self-end.items-end
              .flex.flex-col.pr-12
                .page-title.leading-tight
                  -block title
                    {{title}}
                .subtitle
                  -block subtitle

          %form#search-form.mb-4(method="get")
            %temba-textinput.w-full(placeholder='{% trans "Search" %}' name="search" value="{{search}}")

          -if search_error
            .mb-4.ml-2
              %span.search-error
                =search_error
          -elif search
            .mb-4.ml-1.text-base.leading-relaxed
              -blocktrans trimmed with results_count=paginator.count|intcomma count cc=paginator.count
                Found {{ results_count }} global matching <i>{{search}}</i>.
              -plural
                Found {{ results_count }} globals matching <i>{{search}}</i>.

          -block pre-table
            -for obj in object_list
              %temba-modax{ id:'update-{{obj.id}}', header:'{% trans "Update Global" %}', endpoint:"{% url 'globals.global_update' obj.id %}" }
              %temba-modax{ id:'delete-{{obj.id}}', header:'{% trans "Delete Global" %}', endpoint:"{% url 'globals.global_delete' obj.id %}" }
              %temba-modax{ id:'uses-{{obj.id}}', header:'{% trans "Global Details" %}', endpoint:"{% url 'globals.global_detail' obj.id %}" }

          %table.list.object-list.lined{class:"{% if org_perms.contacts.contact_update %}selectable{%endif%}"}
            %tbody
              - for obj in object_list
                %tr.hover-linked.update{onclick:"showUpdateGlobalModal({{obj.id}})"}
                  %td(style="min-width: 240px")
                    {{ obj.name }}
                  %td(style="font-family: monospace; font-size: 12px;")
                    @globals.{{ obj.key }}
                  %td
                    {{ obj.value }}
                  %td.dependencies
                    .text-right
                      - with usage_count=obj.get_usage_count
                        - if usage_count
                          .dependencies(onClick='event.stopPropagation(); showDetailGlobalModal({{ obj.id }}, "{{ obj.name }}");')
                            {% blocktrans trimmed count counter=usage_count %}
                              {{counter}} Use
                            {% plural %}
                              {{counter}} Uses
                            {% endblocktrans %}

                  %td.w-10
                    -if org_perms.globals.global_delete
                      .pl-2.pt-1.delete-link.linked.text-gray-400{style:"visibility:hidden", onclick:"event.stopPropagation(); showDeleteGlobalModal({{obj.id}});"}
                        %span.icon-close
              - empty
                %tr.empty_list
                  %td(colspan='99')
                    -trans "No globals"
          .flex.flex-col.mb-16
            -include "includes/pagination.haml"

- block extra-script
  {{ block.super }}
  <script>
    function showUpdateGlobalModal(id) {
      var modax = document.querySelector('#update-' + id);
      modax.open = true;
    }

    function showDeleteGlobalModal(id) {
      var modax = document.querySelector('#delete-' + id);
      modax.open = true;
    }

    function showDetailGlobalModal(id, label) {
      var modax = document.querySelector('#uses-' + id);
      modax.open = true;
    }

  </script>

-block extra-style
  {{block.super}}
  :css
    tr.global {
      cursor: pointer;
    }

    tr:hover .delete-link {
      visibility: visible !important;
    }

    .title-icon {
      margin-bottom: -9px;
    }

    td.dependencies {
      text-align: right;
      white-space: nowrap;
      width: 3em;
    }

