-extends "includes/modal.html"
-load smartmin i18n

-block modal
  -block pjax
    -if dep_flows
      .py-2
        -blocktrans trimmed count counter=dep_flows|length
          Used in the flow
          -plural
            Used in the flows

        -for flow in dep_flows
          %a(href="{% url 'flows.flow_editor' flow.uuid %}")<
            {{ flow.name }}
          {{ forloop|oxford }}
