-extends 'includes/modal.html'
-load i18n temba smartmin

-block modal
  -if object.get_usage_count
    -blocktrans trimmed with name=object.name
      <b>{{name}}</b> cannot be deleted since it is currently in use.

  -else
    -blocktrans trimmed with name=object.name
      Are you sure you want to delete <b>{{name}}</b>? This cannot be undone.

    .hidden
      %form(method="POST")
        %input(type="submit" value="{% trans 'Delete' %}")
