-load i18n

-block delete-modal
  .deletion.hide
    .title
      -trans "Remove"

    .body
      %p
        -trans "Are you sure you want to remove"
      %p <b>{{ object }}</b>
      %p
        -trans "Once it is removed, it will be gone forever."

    %a#delete-form.posterize{}
