<!DOCTYPE HTML>
-load humanize

{% block html-tag %}
<html lang="{{ LANGUAGE_CODE }}">
{% endblock %}
  %head
    %title
      -block page-title
        {{ brand.name }} - {{ brand.title }}

    %meta{charset:"utf-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %meta{name:"description", content:"{% block page-description %}{{brand.name}} lets you visually build interactive SMS applications and launch them anywhere in the world.{% endblock %}"}
    %meta{name:"author", content:"Nyaruka Ltd"}
    %meta{http-equiv:"X-UA-Compatible", content:"IE=10"}

    -load compress
    :javascript

      window.supportEmail = '{{brand.support_email}}';

      function conditionalLoad(local, remote) {
        if (local != null && (window.location.hostname == "localhost" || remote == null)) {
          loadResource("{{ STATIC_URL }}" + local);
        } else if (remote != null) {
          loadResource(remote);
        }
      }

      function loadResource(src) {
        (function() { document.write(unescape('%3Cscript src="' + src + '"%3E%3C/script%3E')); })();
      }


    // ==== JQUERY ====
    :javascript
      conditionalLoad('bower/jquery/jquery.js', '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.js');
      conditionalLoad('bower/jquery-migrate/jquery-migrate.min.js', null);

    -# this view make it possible to process translations from javascript land
    <script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

    -compress js
      :javascript
        var static_url = '{{STATIC_URL}}';

      %script{src:"{{ STATIC_URL }}bower/toastr/toastr.js"}
      %script{src:"{{ STATIC_URL }}bower/bootstrap/js/bootstrap-modal.js"}
      %script{src:"{{ STATIC_URL }}bower/bootstrap/js/bootstrap-dropdown.js"}
      %script{src:"{{ STATIC_URL }}bower/bootstrap/js/bootstrap-tooltip.js"}
      %script{src:"{{ STATIC_URL }}bower/bootstrap/js/bootstrap-tab.js"}      
      %script{src:"{{ STATIC_URL }}bower/intercooler-js/src/intercooler.js"}
      %script{src:"{{ STATIC_URL }}bower/moment/moment.js"}
      %script{src:"{{ STATIC_URL }}bower/moment-timezone/builds/moment-timezone-with-data.js"}
      %script{src:"{{ STATIC_URL }}bower/featherlight/src/featherlight.js"}
      %script{src:"{{ STATIC_URL }}bower/video.js/dist/video.js"}
      %script{src:"{{ STATIC_URL }}bower/videojs-vjsdownload/dist/videojs-vjsdownload.js"}
      %script{src:"{{ STATIC_URL }}bower/xregexp/xregexp-all.js"}

      // expanded nav dropdown
      %script{src:"{{ STATIC_URL }}bower/jquery-hoverintent/jquery.hoverIntent.js"}

      // Non-bower packages
      %script{src:"{{ STATIC_URL }}lib/uuid.js"}
      %script{src:"{{ STATIC_URL }}lib/bootstrap-limit.js"}

      -if not debug and not testing
        %script{src:"{{ STATIC_URL }}lib/raven.min.js"}

    -compress js
      %script{src:"{{ STATIC_URL }}js/temba.js"}
      %script{src:"{{ STATIC_URL }}js/labels.js"}
      %script{src:"{{ STATIC_URL }}js/formax.js"}
    
    -include "components-head.html"
    -include "includes/frame_top.html"

    -if brand.favico
      %link{type:"image/ico", rel:"shortcut icon", href:"{{ STATIC_URL }}{{ brand.favico }}"}
    -else
      %link{type:"image/ico", rel:"shortcut icon", href:"{{ STATIC_URL }}images/favicon.ico"}

    -load smartmin sms
    -load i18n

    -block styles
      %link{rel:'stylesheet', href:'https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto:200,300,400,500'}

      -compress css
        %link{type:'text/css', rel:'stylesheet', href:'{{ STATIC_URL }}bower/bootstrap-css/css/bootstrap.css',  media:'all' }

      -compress css
        %link{type:'text/css', rel:'stylesheet', href:"{{ STATIC_URL }}bower/toastr/toastr.css", media:'all'}
        %link{type:'text/css', rel:'stylesheet', href:"{{ STATIC_URL }}bower/featherlight/src/featherlight.css", media:'all'}
        %link{type:'text/css', rel:'stylesheet', href:"{{ STATIC_URL }}bower/video.js/dist/video-js.css", media:'all'}
        %link{type:'text/css', rel:'stylesheet', href:"{{ STATIC_URL }}bower/videojs-vjsdownload/dist/videojs-vjsdownload.css", media:'all'}

      -compress css
        %link{type:'text/css', rel:'stylesheet', href:"{{ STATIC_URL }}fonts/temba/style.css", media:'all'}
        %link{type:'text/css', rel:'stylesheet', href:"{{ STATIC_URL }}fonts/icons/style.css", media:'all'}
        %link{type:'text/less', rel:'stylesheet', href:'{{STATIC_URL}}less/print.less', media:'print'}
        %link{type:"text/css", rel:"stylesheet", href:"{{ STATIC_URL }}css/temba-components.css"}

      -compress css

        {% lessblock %}
          :plain
            @import "style.less";

            // any brand styling tweaks
            @import (optional, reference) "../brands/style.less";
            @import (optional) "../brands/{{brand.slug}}/less/style.less";

        {% endlessblock %}

        // any additional brand styling such as fonts, etc
        -for style in brand.styles
          -if 'less' in style
            %link{type:'text/less', rel:'stylesheet', href:'{{STATIC_URL}}{{style}}', media:'all'}
          -else
            %link{type:'text/css', rel:'stylesheet', href:"{{ STATIC_URL }}{{style}}", media:'all'}

      -compress css
        %link{rel:"stylesheet", href:"{{ STATIC_URL }}css/tailwind.css", type:"text/css"}
        %link{rel:"stylesheet", href:"{{ STATIC_URL }}less/refresh.less", type:"text/less"}

      -block extra-less
      -block extra-style

    -for incl in brand.head_includes
      -include incl

    <!--[if lt IE 9]>
      %script{src:"//html5shim.googlecode.com/svn/trunk/html5.js"}
    <![endif]-->

-load smartmin
{% block body %}

%body#pageBody.bg-gradient
  -include "components-body.html"

  -block temba-store
    
    -if user.is_authenticated
      %temba-store(
        completions="/mr/docs/completion.json"
        functions="/mr/docs/functions.json"
        fields="/api/v2/fields.json"
        globals="/api/v2/globals.json")

  .flex.flex-col.h-full
    <!-- Header -->
    #header
      &nbsp;

    %a#big-logo.logo.icon-logo{href:"{% if user.is_authenticated %}{% url 'msgs.msg_inbox' %}{% else %}/{% endif %}", title:"{{brand.name}}", class:"hover:no-underline"}
      .name
        {{brand.name}}

    -block nav
      -include 'includes/nav.html'

    -if user_org
      .org-header
        -if user_orgs|length > 1
          .pull-right.toggle
            .icon-menu-2

        .org
          {{ user_org.name|truncatechars:30 }}

        .other-orgs.hide
          -for org in user_orgs
            -if org != user_org
              .org
                %a.posterize{href:'{% url "orgs.org_choose"%}?organization={{org.pk}}'}
                  {{ org.name }}

    -if messages
      -block messages
        -if messages
          -for msg in messages
            %div{class:"alert alert-{{ message.tags }}"}
              {{ msg }}


    -block post-header
    <!-- Content -->
    -block page-container
      .flex-grow
        .page-content
          -block suspension
            {% if user_org.is_suspended %}
              .px-12.-mt-4
                -include "org_suspended_include.haml"
            {% endif %}

          .px-12.py-4
            -block page-top
              .flex.items-start
                .flex.flex-col.mr-5.leading-tight
                  .page-title
                    -block title
                      
                  .page-subtitle
                    -block subtitle

                .flex-grow
                  .flex.justify-end.w-full
                    -block gear-menu
                      -include "gear_links_include.haml"

              -block post-title


            .mt-6
              -block content
            
            -block post-content

    .footer.text-center.py-12.bg-gray-200.text-gray-500
      {{ request.branding.credits|safe }}

  -trans 'Delete' as title
  %temba-dialog#general-delete-confirmation{header:"{{title|escapejs}}", primaryButtonName:"{{title|escapejs}}", destructive: "true"}
    .p-6.confirmation-body
      -trans "Are you sure you want to continue? This cannot be undone."

  // media associated with any form we are displaying
  -if form
    {{ form.media }}

  -block script

    {{block.super}}

    :javascript
      {% if user_org %}
        {% if user_org.is_anon %}
          var anon_org = true;
        {% else %}
          var anon_org = false;
        {% endif %}
      {% endif %}

      function posterize(href) {
        var url = $.url(href);
        $("#posterizer").attr("action", url.attr("path"));
        for (var key in url.param()){
          $("#posterizer").append("<input type='hidden' name='" + key + "' value='" + url.param(key) + "'></input>");
        }
        $("#posterizer").submit();
      }

      function handlePosterize(ele) {
        posterize(ele.getAttribute('href'));
      }

      function removalConfirmation(removal, buttonName) {
  
        var modal = document.querySelector("#general-delete-confirmation");

        // set modal deets
        var title = document.querySelector('.' + removal + ' > .title').innerHTML;
        var body = document.querySelector('.' + removal + ' > .body').innerHTML;

        modal.header = title;
        modal.querySelector('.confirmation-body').innerHTML = body;

        modal.open = true;

        modal.addEventListener("temba-button-clicked", function(event){
          if(!event.detail.button.secondary) {
            var ele = document.querySelector('#' + removal + '-form');
            handlePosterize(ele);
          }
          modal.open = false;

          // clear our listeners
          modal.outerHTML = modal.outerHTML;
        });
      }

      function formatContact(item) {
        if (item.text.indexOf(" (") > -1) {
        var name = item.text.split("(")[0];
        if (name.indexOf(")") == name.length - 1) {
          name = name.substring(0, name.length - 1);
        }
        return name;
      }
      return item.text;
      }

      function createContactChoice(term, data) {
        if ($(data).filter(function() { return this.text.localeCompare(term)===0; }).length===0) {
          if (!isNaN(parseFloat(term)) && isFinite(term)) {
            return {id:"number-" + term, text:term};
          }
        }
      }

    -block extra-script

    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.url.js"></script>

    <form id="posterizer" method="post">
      {% csrf_token %}
    </form>

    :javascript
      $(document).ready(function() {
        if (navigator.appVersion.indexOf("Win")!=-1) {
          $("html").addClass("windows");
        }

        $(".btn").tooltip();

        $('.org-header > .toggle').live('click', function(evt) {
          evt.stopPropagation();
          var header = $('.org-header');
          if (header.hasClass('expanded')) {
            header.removeClass('expanded');
          } else {
            header.addClass('expanded');
          }
        });

        $('.org-header').live('click', function(evt) {
          url = '{% url "orgs.org_home" %}';
          evt.stopPropagation();
          if (evt.ctrlKey || evt.metaKey){
            window.open(url,'_blank')
          } else {
            window.location = url;
          }

        });

        $('#menu .more').hoverIntent({
          over:function() {
            // $('.submenu').hide();
            $(this).find('.submenu-container').slideDown(250);
            $(this).parents("#menu").addClass('expanded');
            // $(this).find('.submenu').show();
          },
          out:function() {
          $(this).find('.submenu-container').slideUp(200);
          $(this).parents("#menu").removeClass('expanded');
            //$(this).find('.submenu').hide();
          },
          timeout:300
        });

        $(".posterize").click(function(event){

          var ele = event.target;
          while (ele && !ele.classList.contains("posterize")) {
            ele = ele.parentElement;
          }

          event.preventDefault();
          event.stopPropagation();
          handlePosterize(ele);
        });


      });
{% endblock body %}

</html>