<!DOCTYPE HTML>
-load humanize i18n smartmin sms compress

{% block html-tag %}
<html lang="{{ LANGUAGE_CODE }}">
{% endblock html-tag %}
  %head
    %title
      -block head-title
        {{title}}

    %meta{charset:"utf-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %meta{name:"description", content:"{% block page-description %}{{brand.name}} lets you visually build interactive SMS applications and launch them anywhere in the world.{% endblock page-description %}"}
    %meta{name:"author", content:"Nyaruka Ltd"}
    %meta{http-equiv:"X-UA-Compatible", content:"IE=10"}

    -# this view make it possible to process translations from javascript land
    %script(src="{% url 'django.views.i18n.javascript_catalog' %}")
      
    -compress js
      %script(src="{{ STATIC_URL }}jquery/dist/jquery.min.js")
      %script(src="{{ STATIC_URL }}js/libs/jquery.url.js")
      %script(src="{{ STATIC_URL }}rest_framework/js/prettify-min.js")
      %script(src="{{ STATIC_URL }}highcharts/highstock.js?v=3.0")
      %script(src="{{ STATIC_URL }}highcharts/modules/drilldown.js")
      %script(src="{{ STATIC_URL }}qrious/dist/qrious.min.js")
      %script(src="{{ STATIC_URL }}rest_framework/js/prettify-min.js")
    
    -if not debug and not testing
      %script{src:"{{ STATIC_URL }}lib/raven.min.js"}

    -compress js
      %script{src:"{{ STATIC_URL }}js/utils.js"}

    :javascript
      var static_url = "{{ STATIC_URL }}";
      var org_id = {% if active_org %}{{ active_org.id }}{% else %}null{% endif %};
      var tembaVersion = "{{ temba_version }}";
      var params = "{{ url_params|safe }}";
      var anon_org = asBool("{{ user_org.is_anon }}");
      var menuSelection = "{{ temba_menu_selection }}";

      function handleMenuReady() {
        var selection = window.location.pathname.split("/").filter(function(path){ return !!path});
        var menu = document.querySelector("temba-menu");
        if (menu && menuSelection) {
          menu.setFocusedItem(menuSelection);          
        }
      }

      // set our initial title
      document.addEventListener("DOMContentLoaded", function(event) {
        const titleText = document.querySelector("#title-text");
        if (titleText){ 
          document.title = titleText.innerText;
        }
      });

    -block scripts
      -compress js
        %script{src:"{{ STATIC_URL }}js/temba.js"}
        %script{src:"{{ STATIC_URL }}js/frame.js"}
        %script{src:"{{ STATIC_URL }}js/labels.js"}

    -for script in flow_editor_scripts
      %script(type="text/javascript" src="{{script}}")
    -for style in flow_editor_styles
      %link(rel="stylesheet" href="{{style}}" type="text/css")

    -if not COMPONENTS_DEV_MODE
      -include "components-head.html"

    -block favico
      %link{type:"image/ico", rel:"shortcut icon", href:"{{ STATIC_URL }}images/favicon.ico"}

    -block styles
      %link{rel:'stylesheet', href:'https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto:200,300,400,500'}

      -compress css
        %link{rel:"stylesheet", href:"{{ STATIC_URL }}less/style.less", type:"text/less"}
        %link{rel:"stylesheet", href:"{{ STATIC_URL }}css/tailwind.css", type:"text/css"}
        %link{rel:"stylesheet", href:"{{ STATIC_URL }}less/refresh.less", type:"text/less"}

      -compress css
        %link(type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/temba-components.css")
        %link(type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/frame.css")

    -include "includes/frame_top.html"
    -for incl in brand.head_includes
      -include incl

{% block body %}

%body#pageBody.bg-gradient

  -if COMPONENTS_DEV_MODE
    <script type="module">
      import '/out-tsc/temba-modules.js';
    </script>
  -else 
    -include "components-body.html"
  
  -if user_org
    %temba-store(
      completion="/mr/docs/{{ LANGUAGE_CODE }}/editor.json"
      languages="/org/languages/"
      fields="/api/v2/fields.json"
      globals="/api/v2/globals.json"
      groups="/api/v2/groups.json"
      workspace="/api/v2/workspace.json"
      users="/api/v2/users.json"
    )
  -else
    %temba-store

  .flex.flex-col.h-full
    -if messages
      -block messages
        -if messages
          -for msg in messages
            %div{class:"alert alert-{{ message.tags }}"}
              {{ msg }}

    -block post-header
    <!-- Content -->
    -block page-container
      <!-- {{temba_version}} -->
      %temba-mask
      %temba-modax#shared-modax
      %temba-dialog#shared-dialog
      .ajax-scripts
    
      .flex-col
        .flex.widget-container(style="height:100vh;overflow:hidden")
          -if request.user.is_staff
            -if user_org and user_org not in user_orgs
              .servicing.absolute.bg-secondary.my-2.mr-20.rounded.shadow-xl(style="z-index:999999;right:0;bottom:0;")
                %a.relative(href="{% url 'orgs.org_service' %}" style="text-decoration:none" onclick="handlePosterizeClick(event)")
                  .flex.items-center.text-white.text-lg.hover.rounded(style="opacity:1;padding:0em 0.5em;")
                    .flex-grow
                    %temba-icon(style="color:#fff" name="service")
                    .ml-2
                      {{user_org.name}}
                    .flex-grow
    
          .folders
            %temba-menu#nav(class="{% if servicing %}{% endif%}" style="height:100%" endpoint="{% url 'orgs.org_menu' %}" onchange="handleMenuChanged(event)" -temba-button-clicked="handleMenuClicked(event)" -temba-ready="handleMenuReady")
              -block menu-header
    
          .flex-grow.spa-container.flex.flex-col.initial-load
            .spa-loader.hide.absolute
              .wrapper(style="display:flex;z-index:100000;margin-top:0.1em;margin-left:1em")
                %temba-loading(size=16 units=6)

            .spa-content.p-5
              -block extra-style
              -block extra-script
    
              -block page-header
                .mb-4
                  .no-menu.flex.items-center
                    .text-container.text-2xl.text-gray-700
                      .flex.flex-row
                        -block title
                          #title-text
                            -block title-text
                              {{title}}
                    .line.flex-grow.mr-2.ml-6
                      .h-0.border.border-gray-200
                    
                    -if has_content_menu
                      -include "spa_page_menu.html"
              
                  .text-lg.text-gray-600
                    -block subtitle

                      
              -block alert-messages
                -if user_org.is_suspended
                  -include "org_suspended_include.html"
                -if messages
                  -for msg in messages
                    %temba-alert.mb-3
                      {{ msg }}
    
              -block content
    
            -block footer
              .spa-footer.text-center.text-gray-500.mt-4
                :plain
                  <!--
                    License requires that the copyright attribution remain, please do not modify.
                  -->
                  Copyright © 2012-2023 TextIt. All rights reserved.
      
      %temba-lightbox
  
  -trans 'Delete' as title
  %temba-dialog#general-delete-confirmation.hidden{header:"{{title|escapejs}}", primaryButtonName:"{{title|escapejs}}", destructive: "true"}
    .p-6.confirmation-body
      -trans "Are you sure you want to continue? This cannot be undone."

  // media associated with any form we are displaying
  -if form
    {{ form.media }}

  <form id="posterizer" method="post">
    {% csrf_token %}
  </form>


{% endblock body %}


</html>