-load public

:css
  .gear-flag {
    display: inline-block;
    margin: 0px 3px;
    font-size: 80%;
    color: #ccc;
    float: right;
  }

  #gear-container {
    margin-left: 1em;
  }

-if content_menu_buttons or content_menu_links

  -for link in content_menu_buttons|add:content_menu_links
    -if link.modax
      %temba-modax{ header:'{{link.modax}}', endpoint:"{{link.href}}", id:"{{link.id}}"}

  #gear-container.flex.items-center.text-gray-700
      -for link in content_menu_buttons
        -if link.modax
          .button-light{onclick:'showModax("{{link.id}}")', class:'{{ link|gear_link_classes:True }}'}
            {{link.title}}
            %span{class:'gear-flag'}
              {{link.flag}}
        -else          
          .button-light{onclick:'{%if link.on_click%}{{link.on_click}}{% else %}goto(event){%endif%}', href:'{{link.href}}', class:'{{ link|gear_link_classes:True }}', data-success-url:'{{ link.success_url }}'}
            {{link.title}}

      -if content_menu_links
        %temba-dropdown.items-stretch.flex.flex-column(arrowoffset="-10" offsety="5" arrowsize="8" drop_align="right")
          .menu-button.items-center.flex.flex-column.py-2.px-2.ml-2.rounded-lg(slot="toggle")
            %temba-icon(name="icon.menu" size="1.5")
          .dropdown.px-6.py-4.text-gray-800.z-50(slot="dropdown" style="min-width:200px")
            -for link in content_menu_links
              -if link.divider
                .border-b.border-gray-200.my-4.-mx-6
              -else
                %li.py-1
                  -if link.ngClick
                    .hover-linked.font-normal{onclick:"goto(event);", href:'{{link.href}}', ng-click:'{{link.ngClick}}', class:'{{ link|gear_link_classes }}', data-success-url:'{{ link.success_url }}'}
                      {{link.title}}
                      .gear-flag
                        {{link.flag}}
                  -elif link.modax
                    .hover-linked.font-normal{onclick:'javascript:showModax("{{link.id}}")', class:'{{ link|gear_link_classes }}', data-success-url:'{{ link.success_url }}'}
                      {{link.title}}
                      %span{class:'gear-flag'}
                        {{link.flag}}

                  -else
                    -if link.js_class
                      .hover-linked.font-normal{onclick:'{%if link.on_click%}{{link.on_click}}{% else %}void(0);{%endif%}', class:'{{ link|gear_link_classes }}', href:'{{link.href}}', data-success-url:'{{ link.success_url }}'}
                        {{link.title}}
                        %span{class:'gear-flag'}
                          {{link.flag}}
                    -else
                      .hover-linked.font-normal{onclick:"{%if link.on_click%}{{link.on_click}}{% else %}goto(event){%endif%}", href:'{{link.href}}', class:'{{ link|gear_link_classes }}', data-success-url:'{{ link.success_url }}'}
                        {{link.title}}
                        %span{class:'gear-flag'}
                          {{link.flag}}

    :javascript
      function showModax(endpoint) {
        const modax = document.querySelector("temba-modax[id='" + endpoint + "']");
        if(modax) {
          modax.open = true;
        }
      }

      $("#gear-container .gear-delete").on('click', function(e){
          $("#delete-form").attr('href', $(this).attr('href'));
          e.stopPropagation();

          var modal = new ConfirmationModal($('.deletion > .title').html(), $('.deletion > .body').html());
          modal.addClass('alert');
          modal.setListeners({ onPrimary: function(){
            $('#delete-form').click();
          }}, false);

          modal.setPrimaryButton('Remove');
          modal.show();

          var successUrl = $(this).data('success-url');
          if (successUrl){
            modal.addListener('onSuccess', function(){ document.location.href = successUrl; });
          }

          return false;
      });


