-load public

:css
  .gear-flag {
    display: inline-block;
    margin: 0px 3px;
    font-size: 80%;
    color: #ccc;
    float: right;
  }

-with gear_links=view.get_gear_links
  -if gear_links

    -for link in gear_links
      -if link.modax
        %temba-modax{ header:'{{link.modax}}', endpoint:"{{link.href}}", id:"{{link.id}}"}

    #gear-container.flex.items-center.text-gray-700
      -if gear_links|length == 1
        -with link=gear_links|first
          -if link.modax
            .button-light{onclick:'showModax("{{link.id}}")', class:'{{ link|gear_link_classes:True }}'}
              {{link.title}}
              %span{class:'gear-flag'}
                {{link.flag}}

          -else
            .button-light{onclick:'goto(event)', href:'{{link.href}}', class:'{{ link|gear_link_classes:True }}', data-success-url:'{{ link.success_url }}'}
              {{link.title}}

      - else
        -with link=gear_links|first
          -if link.modax
            .button-light{onclick:'javascript:showModax("{{link.id}}")', class:'{{ link|gear_link_classes:True }}', data-success-url:'{{ link.success_url }}'}
              {{link.title}}
                %span{class:'gear-flag'}
                  {{link.flag}}

          -else
            -if link.js_class
              .button-light{class:'{{ link|gear_link_classes:True }}', data-success-url:'{{ link.success_url }}'}
                {{link.title}}

            -else
              .button-light{onclick:'goto(event)', href:'{{link.href}}', class:'{{ link|gear_link_classes:True }}', data-success-url:'{{ link.success_url }}'}
                {{link.title}}

        .btn-group.gear-menu.ml-3
          .button-light.p-icon.dropdown-toggle.text-center{ data-toggle:"dropdown" }
            .icon-menu-3.text-gray-500(style="margin-left:-2px;margin-top:1px")
          %ul.dropdown-menu.label-menu.rounded-lg.border-none.px-4.py-3{'role':'menu', 'aria-labelledby':'dlabel'}
            -for link in gear_links
              -if not forloop.first
                -if link.divider
                  %li.separator.-mx-4.border-b.my-3.border-gray-200
                -else
                  %li.py-1
                    -if link.ngClick
                      .hover-linked.font-normal{onclick:"goto(event);", href:'{{link.href}}', ng-click:'{{link.ngClick}}', class:'{{ link|gear_link_classes }}', data-success-url:'{{ link.success_url }}'}
                        {{link.title}}
                        .gear-flag
                          {{link.flag}}
                    -elif link.modax
                      .hover-linked.font-normal{onclick:'javascript:showModax("{{link.id}}")', class:'{{ link|gear_link_classes }}', data-success-url:'{{ link.success_url }}'}
                        {{link.title}}
                        %span{class:'gear-flag'}
                          {{link.flag}}

                    -else
                      -if link.js_class
                        .hover-linked.font-normal{class:'{{ link|gear_link_classes }}', href:'{{link.href}}', data-success-url:'{{ link.success_url }}'}
                          {{link.title}}
                          %span{class:'gear-flag'}
                            {{link.flag}}
                      -else
                        .hover-linked.font-normal{onclick:"goto(event);", href:'{{link.href}}', class:'{{ link|gear_link_classes }}', data-success-url:'{{ link.success_url }}'}
                          {{link.title}}
                          %span{class:'gear-flag'}
                            {{link.flag}}


      :javascript
        function showModax(endpoint) {
          const modax = document.querySelector("temba-modax[id='" + endpoint + "']");
          if(modax) {
            modax.setAttribute("open", "true");
          }
        }

        $("#gear-container .gear-delete").on('click', function(e){
           $("#delete-form").attr('href', $(this).attr('href'));
           e.stopPropagation();

           var modal = new ConfirmationModal($('.deletion > .title').html(), $('.deletion > .body').html());
           modal.addClass('alert');
           modal.setListeners({ onPrimary: function(){
             $('#delete-form').click();
           }}, false);

           modal.setPrimaryButton('Remove');
           modal.show();

           var successUrl = $(this).data('success-url');
           if (successUrl){
             modal.addListener('onSuccess', function(){ document.location.href = successUrl; });
           }

           return false;
        });


