-load public

:css
  .gear-flag {
    display: inline-block;
    margin: 0px 3px;
    font-size: 80%;
    color: #ccc;
    float: right;
  }

-with gear_links=view.get_gear_links
  -if gear_links

    -for link in gear_links
      -if link.modax
        %temba-modax{ header:'{{link.modax}}', endpoint:"{{link.href}}", id:"{{link.id}}"}

    #gear-container
      -if gear_links|length == 1
        -with link=gear_links|first
          -if link.modax

          -else
            %a.btn{href:'{{link.href}}', class:'{{ link|gear_link_classes:True }}', data-success-url:'{{ link.success_url }}'}
              {{link.title}}
      - else
        -with link=gear_links|first
          -if link.modax
            %a.btn.btn-primary{href:'javascript:showModax("{{link.href}}")', class:'{{ link|gear_link_classes }}', data-success-url:'{{ link.success_url }}'}
                {{link.title}}
                %span{class:'gear-flag'}
                  {{link.flag}}

          -else
            %a.btn{href:'{{link.href}}', class:'{{ link|gear_link_classes:True }}', data-success-url:'{{ link.success_url }}'}
              {{link.title}}

        %span.btn-group.gear-menu
          %button.btn.dropdown-toggle{ data-toggle:"dropdown" }
            .glyph.icon-cog
            %span.caret
          %ul.dropdown-menu.label-menu{'role':'menu', 'aria-labelledby':'dlabel'}

            // If we are inside an angular controller, let it insert options
            %li.dynamic-item.hide{ ng-repeat:'link in $root.gearLinks', ng-class:'{divider:link.id=="divider"}'}
              %a{href:'javascript:void(0);', ng-click:'clickGearMenuItem(link.id)'}
                [[link.title]]

            -for link in gear_links
              -if not forloop.first
                -if link.divider
                  %li.divider
                -else
                  %li
                    -if link.ngClick
                      %a{href:'{{link.href}}', ng-click:'{{link.ngClick}}', class:'{{ link|gear_link_classes }}', data-success-url:'{{ link.success_url }}'}
                        {{link.title}}
                        .gear-flag
                          {{link.flag}}
                    -elif link.modax

                      %a{href:'javascript:showModax("{{link.href}}")', class:'{{ link|gear_link_classes }}', data-success-url:'{{ link.success_url }}'}
                          {{link.title}}
                          %span{class:'gear-flag'}
                            {{link.flag}}

                    -else
                      %a{href:'{{link.href}}', class:'{{ link|gear_link_classes }}', data-success-url:'{{ link.success_url }}'}
                        {{link.title}}
                        %span{class:'gear-flag'}
                          {{link.flag}}


      :javascript
        function showModax(endpoint) {
          const modax = document.querySelector("temba-modax[endpoint='" + endpoint + "']");

          if(modax) {
            modax.setAttribute("open", "true");
          }
        }

        $("#gear-container .gear-delete").on('click', function(e){
           $("#delete-form").attr('href', $(this).attr('href'));
           e.stopPropagation();

           var modal = new ConfirmationModal($('.deletion > .title').html(), $('.deletion > .body').html());
           modal.addClass('alert');
           modal.setListeners({ onPrimary: function(){
             $('#delete-form').click();
           }}, false);

           modal.setPrimaryButton('Remove');
           modal.show();

           var successUrl = $(this).data('success-url');
           if (successUrl){
             modal.addListener('onSuccess', function(){ document.location.href = successUrl; });
           }

           return false;
        });

        $("#gear-container .gear-modal").on('click', function(e){
          e.stopPropagation();
          var modal = new Modax($(this).text(), $(this).attr('href'));
          modal.show();

          var successUrl = $(this).data('success-url');
          if (successUrl){
            modal.setListeners({ onSuccess: function(){ document.location.href = successUrl; } });
          } else {
            modal.setListeners({ onSuccess: function(){ modal.dismiss() } });
          }

          return false;
        });
