-extends "frame.html"
-load smartmin i18n

-block styles
  {{block.super}}
  :css
    .content-card {
      margin-top: 8em;
      border: none;
      box-shadow: none;
      border-radius: 0;
      background: transparent;
    }
  
-block page-container
  -block extra-style
    {{block.super}}
  
  -block extra-script
    {{block.super}}  
  
  .background
  .flex.flex-col.h-full  
    .top.flex-shrink.flex-grow
    .middle.flex.flex-row.mb-10
      .flex-grow
      .card.content-card
        .flex.items-center
          .brand.flex-grow
            -block logo
              <img class="no-nav-logo" style="max-height:4em;margin: 1em 0;" src="{{STATIC_URL}}{{ brand.logo }}">
          .top-right
            -block top-right
        -block content
      .flex-grow
          
    .bottom(style="flex-grow: 8")
      .flex.flex-col.h-full
        .flex-grow

        .bottom
          -block footer
            {{block.super}}
