
:css
  .text-container {
    min-height:2.5em;
  }

  .no-menu .text-container {
    min-height: inherit;
  }

  .modax-body .text-container {
    min-height: 0em;
  }

  .modax-body temba-alert {
    display: none;
  }

-block page-header
  .mb-4
    .no-menu.flex.items-center
      .text-container.text-2xl.text-gray-700
        .flex.flex-row
          -block title
            #title-text
              -block title-text
                {{title}}
      .line.flex-grow.mr-2.ml-6
        .h-0.border.border-gray-200
      
      -if has_content_menu
        -include "spa_page_menu.html"

    .text-lg.text-gray-600
      -block subtitle

-block extra-style
-block extra-script

-block alert-messages
  -if user_org.is_suspended
    -include "org_suspended_include.html"
  -if messages
    -for msg in messages
      %temba-alert.mb-3
        {{ msg }}

-block page-container
  -block content