
:css
  .spa-title {

  }

  .text-container {
    min-height:2.5em;
  }

  .no-menu .text-container {
    min-height: inherit;
  }

  .modax-body .text-container {
    min-height: 0em;
  }

  .modax-body temba-alert {
    display: none;
  }


-block extra-style
-block extra-less
-block extra-script


-block page-header
  -include "spa_page_header.haml"


-block alert-messages
  -if user_org.is_suspended
    -include "org_suspended_include.haml"
  -if messages
    -for msg in messages
      %temba-alert.mb-3
        {{ msg }}

-block page-container
  -block content