-load public

%temba-content-menu(endpoint="{{request.path}}?{{request.GET.urlencode}}" legacy="{{is_legacy}}" query="{{has_search_query}}" -temba-selection="handleContentMenuSelected(event)")

:javascript

  function handleContentMenuSelected(event) {
    // handles when items are clicked in the top right hamburger menu
    var item = event.detail;
    
    if (item.type === 'link') {
      var contentMenu = document.querySelector("temba-content-menu");
      if(contentMenu.legacy){        
        gotoURL_legacy(event);
      }
      else{
        gotoURL(item.url);
      }
    }
  
    if (item.type == 'modax') {
      var modaxOptions = {
        disabled: item.disabled,
        onSubmit: item.on_submit
      }
      showModax(item.title, item.url, modaxOptions);
    }

    if (item.type === 'url_post') {
      var payload = '';
      var headers = {};
      var contentType = null;

      var store = document.querySelector("temba-store");
      store.postUrl(item.url, payload, headers, contentType)
        .then((response) => {
          console.log('response', response);
        })
        .catch((error) => {
          console.error('error', error);
        });
    }

    // items need to be refreshed in the top left sidebar menu
    refreshMenu();
  }

  // TODO: Remove with legacy ui
  function gotoURL_legacy(event) {
    event.stopPropagation();
    event.preventDefault();

    var item = event.detail;
    var href = item.url;

    if (href) {
      if (event.metaKey){
        window.open(href,'_blank')
      } else {
        window.location = href;
      }
    }
  }

  function gotoURL(urlToGo, urlToShow, ignoreEvents, ignoreHistory) {
    var refererPath = window.location.pathname;
    window.lastFetch = urlToGo;

    if (!ignoreHistory) {
      window.history.pushState({ url: urlToGo, show: urlToShow }, "", urlToShow);
    }

    fetchAjax(urlToGo, ".spa-content", { "headers": { 
        "TEMBA-SPA": "1", 
        "TEMBA-REFERER-PATH": refererPath,
        "TEMBA-PATH": urlToShow
        }, 
      "onSuccess": hideLoading, "ignoreEvents": ignoreEvents, "cancel": true
    });
  }

  function showModax(header, endpoint, modaxOptions) {
    var modax = document.querySelector("temba-modax#shared-modax");
    modax["-temba-loaded"] = undefined;
    
    modax.disabled = modaxOptions.disabled == "True";
    var itemOnSubmit;
    if (modaxOptions.onSubmit == "None") {
      onSubmit = undefined;
    }

    if (modaxOptions.onSubmit) {
      modax["-temba-submitted"] = Function(modaxOptions.onSubmit);
    } else {
      modax["-temba-submitted"] = undefined;
    }
    modax["-temba-redirected"] = refreshMenu;
    modax.headers = { "TEMBA-SPA": 1};
    modax.header = header;
    modax.endpoint = endpoint;
    modax.open = true;
  }

  function refreshMenu() {
    var menu = document.querySelector("temba-menu");
    if (menu) {
      menu.refresh();
    }
  }
