-load public

:css
  .gear-flag {
    display: inline-block;
    margin: 0px 3px;
    font-size: 80%;
    color: #ccc;
    float: right;
  }

  #gear-container {
    margin-left: 0em;
  }

  #gear-container .button-light.dropdown-toggle {
    margin-top: 0 !important;
  
  }

  #gear-container .button-light.dropdown-toggle {
    padding-top: 0.64em;
    padding-bottom: 0.64em;
  }

  #gear-container .button-light:hover {
    background: #f1f1f1;
  }

  #gear-container .button-light:hover, #gear-container .button-light.dropdown-toggle:hover, #gear-container .button-light.dropdown-toggle:hover .icon-menu {
    background: #f1f1f1;
    color: #999 !important;
  }

  .dropdown-menu {
    padding: .9em 1.25em;
    padding-bottom: 0.6em;
  }

  .menu-item {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 1.1rem;
  }

  .spa-gear-buttons, .spa-gear-menu {
    --button-y: .4em;
    --button-x: 1em;
  }

  #gear-container .spa-gear-menu .button-light.dropdown-toggle {
    padding-top: 0.5em;
    padding-bottom: 0.4em;
  }


  .header-button {
    background:rgba(0,0,0,.15);
    color: #fff;
    transition: all 200ms ease-in-out;
  }

  .menu-button {
    --icon-color: #666;
  }

  .menu-button:hover, .open .menu-button {
    cursor:pointer;
    background:rgba(0,0,0,.05);
    border-radius: var(--curvature);
    --icon-color: #888;
  }

  temba-dropdown:empty {
    display: none;
  }




:javascript

  function handleMenuClicked(evt) {
    var link = evt.target;
    var href = link.getAttribute("data-href");
    var startDisabled = link.getAttribute("data-disabled") == "True";
    var modax = link.getAttribute("data-modax");
    var onSubmit = link.getAttribute("data-on-submit");

    if(link.classList.contains("posterize")) {
      return;
    }

    if (modax) {
      var shared = document.querySelector("#shared-modax");
      shared.disabled = startDisabled;

      if (onSubmit == "None") {
        onSubmit = undefined;
      }
      
      showModax(modax, href, onSubmit);

    } else {
      if (href) {
        fetchURL(href);
      }
    }
  }

  function handleMoreToggle(event) {
    var more = document.querySelector(".more");
    if (more) {
      var classes = more.classList;
      if (classes.contains("open")) {
        classes.remove("open");
      } else {
        classes.add("open");
      }
      event.stopPropagation();
      event.preventDefault();
    }
  }

-if content_menu_buttons or content_menu_links
  .flex.h-full.spa-gear-buttons
    -for link in content_menu_buttons
      %temba-button.ml-4(name="{{link.title|escapejs}}" onclick="handleMenuClicked(event)" class='{{ link|gear_link_classes }}' data-success-url='{{ link.success_url }}' data-href='{{link.href}}' data-modax='{{link.modax|escapejs}}' data-on-submit='{{link.on_submit|escapejs}}' data-disabled='{{link.disabled}}')

    -if content_menu_links
      %temba-dropdown.items-stretch.flex.flex-column(arrowoffset="-12" offsetx="24" offsety="6" arrowsize="8")
        .menu-button.items-center.flex.flex-column.py-2.px-2.ml-2(slot="toggle")
          %temba-icon( name="icon.menu" size="1.5")
        .dropdown.px-6.py-4.text-gray-800.z-50(slot="dropdown" style="min-width:200px")
          -for link in content_menu_links
            -if link.divider
              .border-b.border-gray-200.my-4.-mx-6
            .whitespace-nowrap.menu-item.hover-linked.font-normal{onclick:'handleMenuClicked(event)', class:'{{ link|gear_link_classes }}', data-success-url:'{{ link.success_url }}', data-href:'{{link.href}}', data-modax: '{{link.modax|escapejs}}', data-on-submit:'{{link.on_submit|escapejs}}', data-disabled:'{{link.disabled}}'}
              {{link.title}}
              %span{class:'gear-flag'}
                {{link.flag}}

