-load public

%temba-content-menu(endpoint="{{request.path}}" -temba-selection="handleContentMenuSelected(event)")%

:javascript

  function handleContentMenuSelected(event) {
    //handles when items are clicked in the top right hamburger menu

    var item = event.detail;
    
    if (item.type === 'link') {
      gotoURL(item.url);
    }
  
    if (item.type == 'modax') {
      var modaxOptions = {
        disabled: item.disabled,
        onSubmit: item.on_submit
      }
      showModax(item.title, item.url, modaxOptions);
    }

    if (item.type === 'url_post') {
      var payload = '';
      var headers = {};
      var contentType = null;

      var store = document.querySelector("temba-store");
      store.postUrl(item.url, payload, headers, contentType)
        .then((response) => {
          console.log('response', response);
        })
        .catch((error) => {
          console.error('error', error);
        });
    }

    //handles when items need to be refreshed in the top left sidebar menu
    refreshMenu();
  }
