-load public

:css
  .gear-flag {
    display: inline-block;
    margin: 0px 3px;
    font-size: 80%;
    color: #ccc;
    float: right;
  }

  #gear-container {
    margin-left: 0em;
  }

  #gear-container .button-light.dropdown-toggle {
    margin-top: 0 !important;
  
  }

  #gear-container .button-light.dropdown-toggle {
    padding-top: 0.64em;
    padding-bottom: 0.64em;
  }

  #gear-container .button-light:hover {
    background: #f1f1f1;
  }

  #gear-container .button-light:hover, #gear-container .button-light.dropdown-toggle:hover, #gear-container .button-light.dropdown-toggle:hover .icon-menu {
    background: #f1f1f1;
    color: #999 !important;
  }

  .dropdown-menu {
    padding: .9em 1.25em;
    padding-bottom: 0.6em;
  }

  .menu-item {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 1.1rem;
  }

  .spa-gear-buttons, .spa-gear-menu {
    --button-y: .4em;
    --button-x: 1em;
  }

  #gear-container .spa-gear-menu .button-light.dropdown-toggle {
    padding-top: 0.5em;
    padding-bottom: 0.4em;
  }


  .header-button {
    background:rgba(0,0,0,.15);
    color: #fff;
    transition: all 200ms ease-in-out;
  }

  .menu-button {
    --icon-color: #666;
  }

  .menu-button:hover, .open .menu-button {
    cursor:pointer;
    background:rgba(0,0,0,.05);
    border-radius: var(--curvature);
    --icon-color: #888;
  }

  temba-dropdown:empty {
    display: none;
  }




:javascript

  function handleContentMenuClicked(evt) {
    var evtDetail = evt.detail;
    if(evtDetail.script_name){
      var scriptName = evtDetail.script_name;
      var scriptFn = Function(scriptName);
      //todo
    }
  }

  function handleScriptTriggered(evt) {
    var evtDetail = evt.detail;    
    if(evtDetail.script_name){
      var scriptName = evtDetail.script_name;
      var scriptFn = Function(scriptName);
      //todo
    }
  }

  function handleMenuClicked(evt) {
    debugger;
    var link = evt.target;
    var href = link.getAttribute("data-href");
    var startDisabled = link.getAttribute("data-disabled") == "True";
    var modax = link.getAttribute("data-modax");
    var onSubmit = link.getAttribute("data-on-submit");

    if(link.classList.contains("posterize")) {
      return;
    }

    if (modax) {
      var shared = document.querySelector("#shared-modax");
      shared.disabled = startDisabled;

      if (onSubmit == "None") {
        onSubmit = undefined;
      }
      
      showModax(modax, href, onSubmit);

    } else {
      if (href) {
        fetchURL(href);
      }
    }
  }

  function handleMoreToggle(event) {
    var more = document.querySelector(".more");
    if (more) {
      var classes = more.classList;
      if (classes.contains("open")) {
        classes.remove("open");
      } else {
        classes.add("open");
      }
      event.stopPropagation();
      event.preventDefault();
    }
  }

  function handleContentMenuSelected(event) {
    var item = event.detail;
    
    if (item.type === 'link') {
      gotoURL(item.url);
    }
  
    if (item.type == 'modax') {
      showModax(item.title, item.url, item.on_submit);
    }

    if (item.type === 'url_post') {
      // todo confirm this is right
      var payload = '';
      var headers = {};
      var contentType = null;

      var store = document.querySelector("temba-store");
      store.postUrl(item.url, payload, headers, contentType)
        .then((response) => {
          console.log('response', response);
        })
        .catch((error) => {
          console.error('error', error);
        });
    }
  }

%temba-content-menu(endpoint="{{request.path}}" -temba-selection="handleContentMenuSelected(event)" -temba-script-triggered="handleScriptTriggered(event)")%
