-load public

%temba-content-menu(endpoint="{{request.path}}" legacy="{{is_legacy}}" query="{{has_search_query}}" -temba-selection="handleContentMenuSelected(event)")

:javascript

  function handleContentMenuSelected(event) {
    //handles when items are clicked in the top right hamburger menu

    var item = event.detail;
    
    if (item.type === 'link') {
      gotoURL(item.url);
    }
  
    if (item.type == 'modax') {
      var modaxOptions = {
        disabled: item.disabled,
        onSubmit: item.on_submit
      }
      showModax(item.title, item.url, modaxOptions);
    }

    if (item.type === 'url_post') {
      var payload = '';
      var headers = {};
      var contentType = null;

      var store = document.querySelector("temba-store");
      store.postUrl(item.url, payload, headers, contentType)
        .then((response) => {
          console.log('response', response);
        })
        .catch((error) => {
          console.error('error', error);
        });
    }

    //handles when items need to be refreshed in the top left sidebar menu
    refreshMenu();
  }

  //todo - remove duplicate fn once old and new ui content menu transition is finished
  //todo - this fn originally lives in gear_links_include.haml
  function showModax(header, endpoint, modaxOptions) {
    var modax = document.querySelector("temba-modax#shared-modax");
    modax["-temba-loaded"] = undefined;
    
    modax.disabled = modaxOptions.disabled == "True";
    var itemOnSubmit;
    if (modaxOptions.onSubmit == "None") {
      onSubmit = undefined;
    }

    if (modaxOptions.onSubmit) {
      modax["-temba-submitted"] = Function(modaxOptions.onSubmit);
    } else {
      modax["-temba-submitted"] = undefined;
    }
    modax["-temba-redirected"] = refreshMenu;
    modax.headers = { "TEMBA-SPA": 1};
    modax.header = header;
    modax.endpoint = endpoint;
    modax.open = true;
  }

  //todo - remove duplicate fn once old and new ui content menu transition is finished
  //todo - this fn originally lives in spa_frame.haml
  function refreshMenu() {
    var menu = document.querySelector("temba-menu");
    if (menu) {
      menu.refresh();
    }
  }
