@tailwind base;
@tailwind components;


.trans-border {
  box-shadow: 0 0px 0px 4px rgba(0, 0, 0, .1);
}

.bg-dark-alpha {
  background: rgba(0,0,0, .2);
}

.bg-primary {
  background: var(--color-primary-dark);
  color: var(--color-text-light);
}

.more {
  &:hover {
    .submenu-container {
      visibility: visible;
      max-height: 500px;
      .nav-item {
        opacity: 1;
      }
    }
  }
}

.submenu-container {
  background: #fff;
  @apply right-0 py-4 rounded-lg trans-border absolute;
  margin-right: 23px;
  color: var(--color-primary-dark);
  visibility: hidden;
  max-height: 0px;
  transition: all 200ms ease-in-out;
  
  .nav-item {
    transition: all 200ms ease-in-out;
    opacity: 0;
    font-size: 28px;
    margin-bottom: 20px;
    .title {
      margin-top: -3px;
    }
  }

  /** The arrow caret at the top of the submenu */
  .submenu::before {
    position: absolute;
    top: -7px;
    left: 22px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: #ffffff;
    content: '';
  }
}

.nav-item {
  font-size: 40px;
  @apply text-center px-4;
  
  .title {
    @apply text-sm;
    font-family: var(--font-family);
    margin-top: -10px;
  }

  .icon-nav-messages {
    &.active:before {
      content: "\e085";
    }

    &:hover:before {
      content: "\e085";
    }
  }

  .icon-nav-learn {
    &.active:before {
      content: "\e0b9";
    }

    &:hover:before {
      content: "\e0b9";
    }
  }

  .icon-nav-docs {
    &.active:before {
      content: "\f15c";
    }

    &:hover:before {
      content: "\f15c";
    }
  }

  .icon-nav-analytics {
    &.active:before {
      content: "\e087";
    }

    &:hover:before {
      content: "\e087";
    }
  }

  .icon-more {
    &.active:before {
      content: "\e0be";
    }

    &:hover:before {
      content: "\e0be";
    }
  }

  .icon-nav-orgs {
    &.active:before {
      content: "\e0ad";
    }

    &:hover:before {
      content: "\e0ad";
    }
  }

  .icon-nav-flows {
    &.active:before {
      content: "\e08c";
    }

    &:hover:before {
      content: "\e08c";
    }
  }

  .icon-nav-contacts {
    &.active:before {
      content: "\e081";
    }

    &:hover:before {
      content: "\e081";
    }
  }

  .icon-nav-channels {
    &.active:before {
      content: "\e098";
    }

    &:hover:before {
      content: "\e098";
    }
  }

  .icon-nav-home {
    &.active:before {
      content: "\e083";
    }

    &:hover:before {
      content: "\e083";
    }
  }

  .icon-nav-login {
    &:hover:before {
      content: "\e090";
    }

    &.active:before {
      content: "\e090";
    }

  }

  .icon-nav-channels {

    &:hover:before {
      content: "\e098";
    }

    &.active:before {
      content: "\e098";
    }
  }

  .icon-nav-pricing {
    &:hover:before {
      content: "\e09e";
    }

    &.active:before {
      content: "\e09e";
    }
  }

  .icon-nav-groups {
    &.active:before {
      content: "\e08e";
    }

    &:hover:before {
      content: "\e08e";
    }
  }

  .icon-nav-dashboard {
    &.active:before {
      content: "\e0a3";
    }

    &:hover:before {
      content: "\e0a3";
    }
  }

  .icon-nav-android {
    &.active:before {
      content: "\e089";
    }

    &:hover:before {
      content: "\e089";
    }
  }

  .icon-nav-triggers {
    &.active:before {
      content: "\e0a5";
    }

    &:hover:before {
      content: "\e0a5";
    }
  }

  .icon-nav-locations {
    &.active:before {
      content: "\e601";
    }

    &:hover:before {
      content: "\e601";
    }
  }

  .icon-nav-campaigns {

    &:hover:before {
      content: "\e0bc";
    }

    &.active:before {
      content: "\e0bc";
    }
  }

  .icon-nav-blog {
    &.active:before {
      content: "\e0b7";
    }

    &:hover:before {
      content: "\e0b7";
    }
  }

  .icon-nav-logout {
    &.active:before {
      content: "\e0c8";
    }

    &:hover:before {
      content: "\e0c8";
    }
  }
}

@tailwind utilities;
