@tailwind base;
@tailwind components;


.trans-border {
  box-shadow: 0 0px 0px 4px rgba(0, 0, 0, .1);
}

.bg-dark-alpha {
  background: rgba(0, 0, 0, .2);
}

.bg-primary {
  background: var(--color-primary-dark);
}

.bg-secondary {
  background: rgb(var(--secondary-rgb));
}

.bg-tertiary {
  background: rgb(var(--tertiary-rgb));
}

.text-primary {
  color: var(--color-primary-dark);
}

.text-secondary {
  color: rgb(var(--secondary-rgb));
}

.text-tertiary {
  color: rgb(var(--tertiary-rgb));
}

.text-dark-alpha {
  color: rgba(0, 0, 0, .4);
}

.text-light-alpha {
  color: rgba(255, 255, 255, .4);
}

.max-h-0 {
  max-height: 0;
}

.trans-lined-box {
  @apply py-4 rounded-lg trans-border absolute bg-white text-primary max-h-0 transition-all duration-200 ease-in-out
}

.font-primary {
  font-family: var(--font-family);
}

.bounce {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: bounceInUp;
}

.phone {
  height: 391px;
  width: 201px;
  min-width: 201px;
  border-radius: 32px;
  background-image: url("../images/landing/phone.png");
  overflow: hidden;
  transform: rotate(0deg);
  transition: all 450ms ease-in-out;
  opacity: 1;

  .screen {
    height: 358px;
    width: 185px;
    top: 19px;
    left: 7px;
    border-radius: 21px;

    overflow-y: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .messages {
      display: flex;
      flex-direction: column;

      .imsg {
        max-width: 255px;
        word-wrap: break-word;
        margin-bottom: 12px;
        position: relative;
        border-radius: 15px;
        opacity: 1;

        &.waiting {
          opacity: 0;
        }

        &:before,
        &:after {
          content: "";
          position: absolute;
          bottom: -2px;
          height: 15px;
        }

        &.mt {
          background: #E5E5EA;

          &:before {
            left: -10px;
            border-left: 20px solid #E5E5EA;
            border-bottom-right-radius: 16px 14px;
            transform: translate(0, -2px);
          }

          &:after {
            left: 4px;
            width: 26px;
            background: white;
            clip: rect(0px, 40px, 20px, 16px);
            border-bottom-right-radius: 10px;
            transform: translate(-30px, -2px);
          }
        }

        &.mo {
          color: white;
          background: #0B93F6;
          align-self: flex-end;
          padding-right: 15px;

          &:before {
            right: -7px;
            border-right: 20px solid #0B93F6;
            border-bottom-left-radius: 16px 14px;
            transform: translate(0, -2px);
          }

          &:after {
            right: -56px;
            width: 26px;
            background: white;
            clip: rect(0px, 12px, 40px, 0px);
            border-bottom-left-radius: 10px;
            transform: translate(-30px, -3px);
          }
        }
      }
    }
  }
}

.top-trans-to-alpha-dark {
  position: relative;
  margin-top: 6rem;

  &::before {
    height: 6rem;
    width: 100%;
    background: linear-gradient(180deg, rgba(247, 247, 247, 0) 0%, rgba(100, 100, 100, 0.1) 100%);
    content: '';
    position: absolute;
    margin-top: -6rem;
    z-index: 20;
  }
}

.bottom-alpha-dark-to-trans {
  &::after {
    height: 6rem;
    width: 100%;
    background: linear-gradient(0deg, rgba(247, 247, 247, 0) 0%, rgba(100, 100, 100, 0.1) 100%);
    content: '';
    position: absolute;
    bottom: 0;
    margin-bottom: -6rem;
  }
}

.razor-bottom {
  position: relative;

  &::after {
    width: 100%;
    height: 100%;
    z-index: 0;
    content: '';
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(-3deg);
    position: absolute;
    overflow: hidden;
  }
}


.razor-bottom-gradient {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;

  &::after {
    width: 100%;
    height: 100%;
    z-index: 20;
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .2) 90%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(-3deg);
    position: absolute;
    overflow: hidden;
  }
}

.razor-top {
  position: relative;

  &::before {
    width: 100%;
    height: 100%;
    z-index: 10;
    content: '';
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transform: skewY(2deg);
    position: absolute;
    overflow: hidden;
  }
}

.bottom-gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .12) 90%);
  width: 100%;
  height: 100%;
  z-index: 10;
}


.razor-right {
  &::after {
    width: 100%;
    height: 100%;
    z-index: 0;
    content: '';
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
    transform: skewX(-12deg);
    position: absolute
  }
}

.pop {
  animation: pulse 0.3s;
  animation-delay: 0.1s;
}

@responsive {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}

@keyframes bounceFromLeft {

  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(1500px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-10px, 0, 0);
  }

  75% {
    transform: translate3d(5px, 0, 0);
  }

  90% {
    transform: translate3d(-2px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {

  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 1500px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -10px, 0);
  }

  75% {
    transform: translate3d(0, 5px, 0);
  }

  90% {
    transform: translate3d(0, -2px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.icon-nav-messages {
  &.active:before {
    content: "\e085";
  }

  &:hover:before {
    content: "\e085";
  }
}

.icon-nav-learn {
  &.active:before {
    content: "\e0b9";
  }

  &:hover:before {
    content: "\e0b9";
  }
}

.icon-nav-docs {
  &.active:before {
    content: "\f15c";
  }

  &:hover:before {
    content: "\f15c";
  }
}

.icon-nav-analytics {
  &.active:before {
    content: "\e087";
  }

  &:hover:before {
    content: "\e087";
  }
}

.icon-more {
  &.active:before {
    content: "\e0be";
  }

  &:hover:before {
    content: "\e0be";
  }
}

.icon-nav-orgs {
  &.active:before {
    content: "\e0ad";
  }

  &:hover:before {
    content: "\e0ad";
  }
}

.icon-nav-flows {
  &.active:before {
    content: "\e08c";
  }

  &:hover:before {
    content: "\e08c";
  }
}

.icon-nav-contacts {
  &.active:before {
    content: "\e081";
  }

  &:hover:before {
    content: "\e081";
  }
}

.icon-nav-channels {
  &.active:before {
    content: "\e098";
  }

  &:hover:before {
    content: "\e098";
  }
}

.icon-nav-home {
  &.active:before {
    content: "\e083";
  }

  &:hover:before {
    content: "\e083";
  }
}

.icon-nav-login {
  &:hover:before {
    content: "\e090";
  }

  &.active:before {
    content: "\e090";
  }

}

.icon-nav-channels {

  &:hover:before {
    content: "\e098";
  }

  &.active:before {
    content: "\e098";
  }
}

.icon-nav-pricing {
  &:hover:before {
    content: "\e09e";
  }

  &.active:before {
    content: "\e09e";
  }
}

.icon-nav-groups {
  &.active:before {
    content: "\e08e";
  }

  &:hover:before {
    content: "\e08e";
  }
}

.icon-nav-dashboard {
  &.active:before {
    content: "\e0a3";
  }

  &:hover:before {
    content: "\e0a3";
  }
}

.icon-nav-android {
  &.active:before {
    content: "\e089";
  }

  &:hover:before {
    content: "\e089";
  }
}

.icon-nav-triggers {
  &.active:before {
    content: "\e0a5";
  }

  &:hover:before {
    content: "\e0a5";
  }
}

.icon-nav-locations {
  &.active:before {
    content: "\e601";
  }

  &:hover:before {
    content: "\e601";
  }
}

.icon-nav-campaigns {

  &:hover:before {
    content: "\e0bc";
  }

  &.active:before {
    content: "\e0bc";
  }
}

.icon-nav-blog {
  &.active:before {
    content: "\e0b7";
  }

  &:hover:before {
    content: "\e0b7";
  }
}

.icon-nav-logout {
  &.active:before {
    content: "\e0c8";
  }

  &:hover:before {
    content: "\e0c8";
  }
}

@tailwind utilities;