-load smartmin i18n temba
.nav-item.text-center.px-4.text-5xl{class:'{{nav_item.tag}}'}
  %a{href:"{% ssl_brand_url nav_item.href %}", class:"icon-nav-{{nav_item.tag}} {% active request nav_item.active %}"}
    .title.text-sm.-m-2.font-primary
      {{nav_item.title}}