-load i18n

.span3
  #big-help.glyph.icon-tree

.span7
  %h2
    -trans "What is a Flow?"

  #little-help
    %p
      -blocktrans trimmed
        Flows let you easily pose a set of questions to a group of users. When you send people through a flow over SMS,
        it is natural just like any other conversation.
    %p
      -blocktrans trimmed with brand.name as brand
        A flow gives you the power to model complex interactions by simply drawing a flowchart. With {{ brand }}'s drag-and-drop
        interface, you can easily build branches based on how people respond to your messages. This means it's easy to
        create highly personal and engaging experiences for your users.

    - if org_perms.flows.flow_create
      %a.btn.btn-primary.create_flow.new-flow{href:"#"}
        -trans "Create Flow"

