{% load i18n %}

<div class="flex flex-col p-12">
  <div class="page-title">{% trans "Flows" %}</div>
  <div class="mt-4">
    {% blocktrans trimmed %}
      Flows let you easily pose a set of questions to a group of users. When you send people through a flow over SMS,
      it is natural just like any other conversation.
    {% endblocktrans %}
  </div>
  <div class="mt-2">
    {% blocktrans trimmed with branding.name as brand %}
      A flow gives you the power to model complex interactions by simply drawing a flowchart. With {{ brand }}'s drag-and-drop
      interface, you can easily build branches based on how people respond to your messages. This means it's easy to
      create highly personal and engaging experiences for your users.
    {% endblocktrans %}
  </div>
</div>
