-extends 'includes/modax.haml'

-load smartmin i18n

-block fields

  .flex.items-start

    .flex-grow
      -render_field 'name'
    .ml-3
      -render_field 'flow_type'

  -render_field 'keyword_triggers'
  
  -if form.base_language
    .flex.flex-col
      -render_field 'base_language'
      .help-text
        -trans "The authoring language, additional languages can be added later"



-block modal-script
  {{block.super}}

  :javascript
    $(document).ready(function() {
      // Don't show keywords when Surveyor is selected
      $('#id_flow_type').on('change', function() {
        var is_surveyor = $(this).attr('value') == 'S';
        var triggers = $('#id_keyword_triggers').parents('.control-group')

        if (is_surveyor) {
          triggers.hide()
        } else {
          triggers.show()
        }
      });
    });