-extends 'includes/modax.html'
-load i18n smartmin

-block pre-form
  .mb-4
    -blocktrans trimmed
      Flow exports will include the results for each contact that has passed through the flow. You may optionally
      include additional columns for fields, groups and URNs for each contact.

-block fields
  -render_field 'flows'

  .flex
    .start.flex-grow
      -render_field 'start_date'
    .px-1
    .end.flex-grow
      -render_field 'end_date'
  
  -render_field 'with_fields'
  -render_field 'group_memberships'
  -if form.fields.extra_urns
    -render_field 'extra_urns'
  -render_field 'responded_only'
