-load contacts tz

-for run in runs
  <tr id="run_{{run.id}}" class="run exit-{{run.exit_type}}"
    {% if forloop.last and more %}
      ic-append-from="/flow/run_table/{{object.id}}/?modified_on={{run.modified_on|utc|date:'Y-m-d\TH:i:s.u'|urlencode}}&id={{run.id}}&q={{request.GET.q}}" ic-trigger-on="scrolled-into-view"
      ic-target="#results_run_table"
      ic-template="results_run_table"
      ic-indicator="#indicator"
    {% endif %}
  >
    %td
      .details.nobreak
        .remove.icon-close{ onclick: 'deleteRun({{run.id}});' }
        {{run.modified_on}}

    %td
      .details.breaks
        %a{href:"{% url 'contacts.contact_read' run.contact.uuid %}"}
          -if run.contact.name
            {{run.contact.name|truncatechars:100}}
          -else
            {{ run.contact|format_contact:user_org }}

    -for value in run.value_list
      %td
        .details.breaks
          -if value
            .category
              {{value.category}}
            .text.hide
              {{value.value}}
          -else
            .empty
              &ndash;
  </tr>
