-extends 'includes/modax.haml'

-load smartmin i18n

-block fields

  .flex.items-start

    .flex-grow
      -render_field 'name'
    .ml-3
      -render_field 'flow_type'

  .keywords{class:"{%if form.flow_type.value == 'S'%}hidden{%endif%}"}
    -render_field 'keyword_triggers'
  
  -if form.base_language
    .flex.flex-col
      -render_field 'base_language'



-block modal-script
  {{block.super}}

  :javascript

    var modalBody = document.querySelector("#create-flow-modal").shadowRoot
    var typeSelect = modalBody.querySelector("temba-select[name='flow_type']");
    var keywords = modalBody.querySelector(".keywords");
    
    typeSelect.addEventListener("change", function(evt) {
        var selected = evt.target.values[0];
        if (selected.value === "S") {
          keywords.classList.add("hidden");
        } else {
          keywords.classList.remove("hidden");
        }
    });
