{% extends "smartmin/base.html" %}

-load compress temba i18n

-block page-title
  {{object.name}}

-block extra-style
  %link{rel:'stylesheet', href:'https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto:300,400,500'}

  -for css in styles
    %link{rel:'stylesheet', type:'text/css', href:'{{css}}'}

  :css
    body {
      line-height: inherit;

    }

    h2 .icon-phone {
      width: 40px;
    }

    h2 .icon-mobile {
      width: 40px;
    }

    #rp-flow-editor #simulator {
      top: -180px;
      margin-left: 20px;
    }

    #header *, #top-menu *, .org-header * {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      z-index: 0;
      font-family: 'Helvetica Neue', sans-serif;
    }

    .ReactModalPortal {
      --curvature: 4px;
      --curvature-widget: 4px; 
    }

    /* case_list_case is the dnd portal under body */
    #rp-flow-editor, .case_list_case {
      --curvature: 4px;
      --curvature-widget: 4px; 
    }

    #rp-flow-editor input[type=text] {
      height: inherit !important;
      line-height: inherit;
    }

    #rp-flow-editor p {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }

    .page-wrap:after {
      height: 0px;
    }

    #rp-flow-editor input {
      font-family: 'Roboto', sans-serif;
      font-size: 14px !important;
      font-weight: 300 !important;
    }

    #rp-flow-editor input:focus {
      box-shadow: none;
      outline: none;
      border: none;

    }

    #header {
      margin: 0;
    }

    #menu {
      line-height: 20px;
    }

    #toolbar h2 {
      margin-top: -5px;
    }

    .org-header {
      z-index: 1000 !important;
      line-height: 20px;
    }

    #top-menu {
      z-index: inherit;
    }

    #top-menu.expanded {
      z-index: 3000 !important;
    }

    .gear-menu.open {
      z-index: 3000;
    }

    #toolbar {
      visibility: visible;
      position: relative;
      padding: 18px 30px;
    }

    #toolbar h2 {
      margin-bottom: 0;
    }

    #pending {
      position: relative;
      right: 0;
      width: 40%;
      height: 36px;
      margin: 0 auto;
      text-align: center;
    }

    #grid {
    }

    #rp-flow-editor {
      visibility: visible;
      width: 100%;    
    }

    #rp-flow-editor #canvas-container > div {
      box-shadow: inset 0 7px 9px -10px rgba(0,0,0,0.4);
    }

    #rp-flow-editor #canvas-container #canvas:after {
      box-shadow: inset 0 7px 9px -10px rgba(0,0,0,0.4);
      
    }

    #rp-flow-editor > div {
      opacity: 0;
      transition: opacity 150ms linear;
    }

    #rp-flow-editor .language-selector {
      /* top: 14px; */
    }

    temba-loading {
      margin-left: 30px;
      padding-top: 25px;
      display: block;
    }

    .page-wrap {
      min-height: inherit;
      padding-bottom: inherit;
      margin-bottom: inherit;
    }

    .footerArea {
      display: none;
    }

    label, input, button, select, textarea {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      margin-bottom: 0;
    }

-block extra-script
  {{ block.super }}

  -for script in scripts
    %script{type:'text/javascript', src:'{{script}}'}

  :javascript
    const base = '/flow/assets/{{object.org.id}}/' + new Date().getTime() + '/';
    const api = '/api/v2/';

    // line up our flow types with goflow types
    var flowType = '{{object.flow_type}}';
    if (flowType == 'M') {
      flowType = 'message';
    } else if (flowType == 'V') {
      flowType = 'voice';
    } else if (flowType == 'S') {
      flowType = 'message_offline';
    }

    function handleEditorLoaded() {
      $('temba-loading').hide();
      $('#rp-flow-editor > div').css('opacity', '1')
    }

    function handleActivityClicked(nodeUUID, count) {
      var endpoint = '{% url "msgs.broadcast_send" %}';
      var modal = document.querySelector("#send-message-modal");
      modal.endpoint = endpoint + "?step_node=" + nodeUUID + "&count=" + count;
      modal.open = true;
    }

    function handleChangeLanguage(code, name) {
      var form = $('#change-language-form');
      var url = $.url(form.attr("href"));
      var body = form.find('.body').html().replace(/%LANG%/g, name);

      form.attr("href", url.attr("path") + "?language=" + code);
      var modal = new ConfirmationModal('{{ _("Change Language")|escapejs }}', body);
      modal.addClass('alert');
      modal.setListeners({onPrimary: function(){ form.click(); }}, false);
      modal.setPrimaryButton('{{ _("Ok")|escapejs }}');
      modal.show();
    }

    const config = {
      
      // TODO: Remove once legacy editor is gone
      // this is only to support manual migration
      forceSaveOnLoad: "{{migrate}}" == "True",

      flow: '{{object.uuid}}',
      flowType: flowType,
      localStorage: true,
      showTemplates: "{{has_whatsapp_channel}}" == "True",
      onLoad: handleEditorLoaded,
      onActivityClicked: handleActivityClicked,
      onChangeLanguage: handleChangeLanguage,
      mutable: {{mutable|lower}},
      filters: {{feature_filters|to_json}},

      help: {
        legacy_extra: 'https://help.nyaruka.com/en/articles/3747485-migrating-away-from-legacy_extra',
        missing_dependency: 'http://help.nyaruka.com/en/articles/3747650-fixing-missing-dependencies',
        invalid_regex: 'http://help.nyaruka.com/en/articles/3747654-invalid-regular-expressions'
      },

      endpoints: {

        groups: api + 'groups.json',
        fields: api + 'fields.json',
        labels: api + 'labels.json',
        channels: api + 'channels.json',
        classifiers: api + 'classifiers.json',
        ticketers: api + 'ticketers.json',
        resthooks: api + 'resthooks.json',
        templates: api + 'templates.json',
        flows: api + 'flows.json?archived=false',
        globals: api + 'globals.json',
        editor: '/flow/editor',

        // TODO: migrate to API?
        revisions: '/flow/revisions/{{object.uuid}}/',
        recents: '/flow/recent_messages/{{object.uuid}}/',
        attachments: '/flow/upload_media_action/{{object.uuid}}/',
        languages: base + 'language',
        environment: base + 'environment',
        activity: '/flow/activity/{{object.uuid}}/',
        recipients: '/contact/omnibox?v=2&types=gc',

        completion: '/mr/docs/completion.json',
        functions: '/mr/docs/functions.json',

        {% if can_simulate %}
        simulateStart: '/flow/simulate/{{object.id}}/',
        simulateResume: '/flow/simulate/{{object.id}}/'
        {% endif %}
      }
    };

    showFlowEditor(document.getElementById('rp-flow-editor'), config);

    {% if org_perms.flows.flow_update %}
    $(".update-rulesflow").live('click', function(){
      var modal = new Modax('{{_("Update Flow")|escapejs }}', '{% url "flows.flow_update" object.pk %}');
      modal.setIcon('icon-users-2');
      modal.setListeners({
        onSuccess: function(data) {location.reload(); },
        onFormLoaded: function() {
          $('#id_label').children("option:first-child").before("<option></option>");
          $('#id_label').select2({minimumResultsForSearch: -1, placeholder: "No Label Selected"});}
      });
      modal.show();
    });
    {% endif %}

    // Starting the flow
    {% if org_perms.msgs.broadcast_send %}
      $(".broadcast-rulesflow").live('click', function(){
        var modal = new Modax(gettext('Start Flow'), '{% url "flows.flow_broadcast" object.pk %}');
        var onActions = {
          onSuccess: function(data) {
            // trigger an update right after sending so we have 
            // and opportunity to show "starting" status
            window.triggerActivityUpdate();
          },
          onFormLoaded: function() {}
        }
        // check if there is no channel, change the primary button behavior to redirect to channel creation
        {% if not can_start or not has_outgoing_channel %}
          modal.setPrimaryButton(gettext("Add Channel"));
          onActions['onPrimary'] = function() { document.location.href = '{% url "channels.channel_list" %}' };
        {% endif %}

        modal.setListeners(onActions);
        modal.show();
      });
    {% endif %}

    $(".export-translation").live('click', function(){
      var modal = new Modax('{{ _("Export Translation")|escapejs }}', '{% url "flows.flow_export_translation" object.id %}');
      modal.setIcon('icon-language');
      modal.setRedirectOnSuccess(true);
      modal.show();
    });

    {% if org_perms.flows.flow_delete %}
      $(".delete-flow").live('click', function() {
        var modal = new Modax('{{ _("Delete Flow")|escapejs }}', '{% url "flows.flow_delete" flow.id %}');
        modal.addClass("alert");
        modal.setRedirectOnSuccess(true);
        modal.show();
      });
    {% endif %}

    {% if org_perms.flows.flow_editor %}
      $(".previous-editor").live('click', function() {
        var modal = new ConfirmationModal(gettext("Previous Editor"), gettext("When going back to the previous editor, any changes you have made in the new editor will be lost. If you are having difficulty using the new editor, please reach out to support and let us know.<br/><br/>Are you sure you want to go back to using the previous editor?"));
        modal.addClass("alert");
        modal.setPrimaryButton("Use Previous Editor")

        modal.setListeners({ onPrimary: ()=>{
          document.location.href = '{% url "flows.flow_editor" flow.uuid%}?legacy=true'
        }});

        modal.show();
      });
    {% endif %}

-block page-container

  -include "msgs/msg_send_modal.html"
  -include "delete_modal_include.html"

  %temba-modax#send-message-modal{ header:"Send Message" }

  #toolbar
    .actions.pull-right
      -include "gear_links_include.haml"
    %h2
      -if flow.flow_type == 'V'
        .icon-phone
      -elif flow.flow_type == 'S'
        .icon-mobile
      {{ flow.name }}
    -if is_starting
      #pending
        %div{class:"alert alert-info"}
          -blocktrans trimmed
            This flow is in the process of being sent, this message will disappear once all contacts have been added to the flow.

  .hide
    %a#change-language-form.posterize(href='{% url "flows.flow_change_language" object.id %}')
      .body
        -blocktrans trimmed with language="%LANG%"
          This will change the default language of the flow to <b>{{ language }}</b>. This means that by default the
          flow will be appear in that language and can be translated into other languages. Also if a contact is
          in this flow and no translation exists for their language or the default language of the workspace,
          communication with that contact will default to <b>{{ language }}</b>.

  #grid
    <temba-loading units="10" size="8"></temba-loading>
    #rp-flow-editor

