-load flows

-for run in runs
  <tr class="exit-{{run.exit_type}}" {%if forloop.last%}ic-append-from="?offset={{offset}}" ic-trigger-on="scrolled-into-view" ic-target="#results_run_table" ic-indicator="#indicator"{%endif%}>
    %td
      .details
        {{run.modified_on}}

    %td
      .details.breaks
        %a{href:"{% url 'contacts.contact_read' run.contact.uuid %}"}
          {{run.contact.name|truncatechars:100}}

    -for value in run.value_list
      %td
        .details.breaks
          -if value
            .category
              {{value.category}}
            .text.hide
              {{value.string_value}}
          -else
            <div>--</div>

  </tr>
