{% extends "smartmin/base.html" %}

-load compress temba i18n

-block page-title
  {{object.name}}

-block extra-style
  %link{rel:'stylesheet', href:'https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto:300,400,500'}

  -for css in styles
    %link{rel:'stylesheet', type:'text/css', href:'{{css}}'}

  :css
    body {
      line-height: inherit;
    }

    h2 .icon-phone {
      width: 40px;
    }

    h2 .icon-mobile {
      width: 40px;
    }

    #rp-flow-editor #simulator {
      top: -180px;
      margin-left: 20px;
    }

    #header *, #top-menu *, .org-header * {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      z-index: 0;
    }

    .ReactModalPortal {
      --curvature: 4px;
      --curvature-widget: 4px;
    }

    /* case_list_case is the dnd portal under body */
    #rp-flow-editor, .case_list_case {
      --curvature: 4px;
      --curvature-widget: 4px; 
    }

    #rp-flow-editor input[type=text] {
      height: inherit !important;
      line-height: inherit;
    }

    #rp-flow-editor p {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }

    .page-wrap:after {
      height: 0px;
    }

    #rp-flow-editor input {
      font-family: 'Roboto', sans-serif;
      font-size: 14px !important;
      font-weight: 300 !important;
    }

    #rp-flow-editor input:focus {
      box-shadow: none;
      outline: none;
      border: none;
    }

    #header {
      margin: 0;
    }

    #menu {
      line-height: 20px;
    }

    #toolbar h2 {
      margin-top: -5px;
    }

    .org-header {
      z-index: 1000 !important;
      line-height: 20px;
    }

    #top-menu {
      z-index: inherit;
    }

    #top-menu.expanded {
      z-index: 3000 !important;
    }

    .gear-menu.open {
      z-index: 3000;
    }

    #toolbar {
      visibility: visible;
      position: relative;
      padding: 18px 30px;
    }

    #toolbar h2 {
      margin-bottom: 0;
    }

    #pending {
      position: relative;
      right: 0;
      width: 40%;
      height: 36px;
      margin: 0 auto;
      text-align: center;
    }

    #grid {
    }

    #rp-flow-editor {
      visibility: visible;
      width: 100%;
    }

    #rp-flow-editor h1 {
      font-weight: 300;
      font-family: 'Roboto'
    }

    #rp-flow-editor #canvas-container > div {
      box-shadow: inset 0 7px 9px -10px rgba(0,0,0,0.4);
    }

    #rp-flow-editor #canvas-container #canvas:after {
      box-shadow: inset 0 7px 9px -10px rgba(0,0,0,0.4);
      
    }

    #rp-flow-editor > div {
      opacity: 0;
      transition: opacity 150ms linear;
    }

    #rp-flow-editor .language-selector {
      /* top: 14px; */
    }

    temba-loading {
      margin-left: 30px;
      padding-top: 25px;
      display: block;
    }

    .page-wrap {
      min-height: inherit;
      padding-bottom: inherit;
      margin-bottom: inherit;
    }

    .footer {
      display: none;
    }

    label, input, button, select, textarea {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      margin-bottom: 0;
    }

-block extra-script
  {{ block.super }}

  -for script in scripts
    %script{type:'text/javascript', src:'{{script}}'}

  :javascript
    const base = '/flow/assets/{{object.org.id}}/' + new Date().getTime() + '/';
    const api = '/api/v2/';

    // line up our flow types with goflow types
    var flowType = '{{object.flow_type}}';
    if (flowType == 'M') {
      flowType = 'message';
    } else if (flowType == 'V') {
      flowType = 'voice';
    } else if (flowType == 'S') {
      flowType = 'message_offline';
    }

    window.addEventListener("DOMContentLoaded", function() {
      var confirmation = document.getElementById("confirm-language");
      confirmation.addEventListener("temba-button-clicked", function(event){
        var code = confirmation.dataset.code;
        if(!event.detail.button.secondary) {
          console.log('{% url "flows.flow_change_language" object.id %}?language=' + code);
          posterize('{% url "flows.flow_change_language" object.id %}?language=' + code);
        }
        confirmation.open = false;
      });
    });

    function handleEditorLoaded() {
      $('temba-loading').hide();
      $('#rp-flow-editor > div').css('opacity', '1')
    }

    function handleActivityClicked(nodeUUID, count) {
      var endpoint = '{% url "msgs.broadcast_send" %}';
      var modal = document.querySelector("#send-message-modal");
      modal.endpoint = endpoint + "?step_node=" + nodeUUID + "&count=" + count;
      modal.open = true;
    }

    function handleChangeLanguage(code, name) {

      var confirmation = document.getElementById("confirm-language");
      confirmation.dataset.code = code;
      
      var body = confirmation.querySelector('.body');
      body.innerHTML = body.innerHTML.replace(/%LANG%/g, name);
      confirmation.open = true;
      

      /* var form = $('#change-language-form');
      var url = $.url(form.attr("href"));
      var body = form.find('.body').html().replace(/%LANG%/g, name);

      form.attr("href", url.attr("path") + "?language=" + code);
      var modal = new ConfirmationModal('{{ _("Change Language")|escapejs }}', body);
      modal.addClass('alert');
      modal.setListeners({onPrimary: function(){ form.click(); }}, false);
      modal.setPrimaryButton('{{ _("Ok")|escapejs }}');
      modal.show();
      */
    }

    const config = {
      
      // TODO: Remove once legacy editor is gone
      // this is only to support manual migration
      forceSaveOnLoad: "{{migrate}}" == "True",

      flow: '{{object.uuid}}',
      flowType: flowType,
      localStorage: true,
      onLoad: handleEditorLoaded,
      onActivityClicked: handleActivityClicked,
      onChangeLanguage: handleChangeLanguage,
      mutable: {{mutable|lower}},
      filters: {{feature_filters|to_json}},

      help: {
        legacy_extra: 'https://help.nyaruka.com/en/articles/3747485-migrating-away-from-legacy_extra',
        missing_dependency: 'http://help.nyaruka.com/en/articles/3747650-fixing-missing-dependencies',
        invalid_regex: 'http://help.nyaruka.com/en/articles/3747654-invalid-regular-expressions'
      },

      endpoints: {

        groups: api + 'groups.json',
        fields: api + 'fields.json',
        labels: api + 'labels.json',
        channels: api + 'channels.json',
        classifiers: api + 'classifiers.json',
        ticketers: api + 'ticketers.json',
        resthooks: api + 'resthooks.json',
        templates: api + 'templates.json',
        flows: api + 'flows.json?archived=false',
        globals: api + 'globals.json',
        editor: '/flow/editor',

        // TODO: migrate to API?
        revisions: '/flow/revisions/{{object.uuid}}/',
        recents: '/flow/recent_messages/{{object.uuid}}/',
        attachments: '/flow/upload_media_action/{{object.uuid}}/',
        languages: base + 'language',
        environment: base + 'environment',
        activity: '/flow/activity/{{object.uuid}}/',
        recipients: '/contact/omnibox?v=2&types=gc',

        completion: '/mr/docs/completion.json',
        functions: '/mr/docs/functions.json',

        {% if can_simulate %}
        simulateStart: '/flow/simulate/{{object.id}}/',
        simulateResume: '/flow/simulate/{{object.id}}/'
        {% endif %}
      }
    };

    showFlowEditor(document.getElementById('rp-flow-editor'), config);

-block page-container

  %temba-modax#send-message-modal{ header:"Send Message" }

  .top-bar.pb-2
    .flex.flex-col.pt-4
      .flex.px-6.pb-2
        .title.flex-grow
          .flex.page-title
            -if flow.flow_type == 'V'
              .icon-phone.mt-2.mr-6
            -elif flow.flow_type == 'S'
              .icon-mobile.mt-2.mr-6
            .ml-0
              {{title}}
        .menu
          -include "gear_links_include.haml"

      -if is_starting
        .p-3.bg-gray-100.w-full.text-center
          -blocktrans trimmed
            This flow is in the process of being sent, this message will disappear once all contacts have been added to the flow.

  %temba-dialog#confirm-language(header='{{_("Change Language")|escapejs}}' primaryButtonName='{{_("Update")|escapejs}}')
    .p-6.body
      -blocktrans trimmed with language="%LANG%"
        This will change the default language of the flow to <b>{{ language }}</b>. This means that by default the
        flow will be appear in that language and can be translated into other languages. Also if a contact is
        in this flow and no translation exists for their language or the default language of the workspace,
        communication with that contact will default to <b>{{ language }}</b>.

  #grid.h-full
    <temba-loading units="10" size="8"></temba-loading>
    #rp-flow-editor

