-extends 'smartmin/create.html'

-block modal-script
  {{ block.super }}
  :javascript
    $(document).ready(function() {
      if ($('#id_parent').find('option').length > 1) {
        select2div('#id_parent');
      } else {
        $('#id_parent').parents('.control-group').hide();
      }
    });
