-extends 'includes/modax.html'
-load smartmin
-load i18n

-block fields

  -if object.flow_type == 'M' and not send_channel
    %p
    -blocktrans with name=brand.name
      To get started you need to add a channel to your workspace. A channel is a phone number or social network
      account which {{ name }} can use to send and receive messages on your behalf. You can choose to use an
      Android phone and your own cell phone plan, or we can connect you with a service provider in your country
      directly.
    %hr
    %p
      -trans "You can always test your flow using the simulator, click"
        %span.glyph.icon-mobile{style:"padding-top:2px;"}
      -trans "on the right to open it."

  -elif object.flow_type == 'V' and not call_channel
    %p
      -blocktrans trimmed with name=brand.name
        To get started you need to add a voice-enabled channel to your workspace. A voice-enabled channel is a
        phone number which {{ name }} can use to make and receive phone calls on your behalf. For example, Twilio
        is a service which provides voice-enabled numbers which you can add as channels in your {{ name }} workspace.

  -else
    -if warnings
      -for warning in warnings
        .mb-4
          %temba-alert{level: "warning"}
            %div= warning

    .field.recipients-mode
      -render_field 'recipients_mode'

    .field.omnibox{class:'{% if not form.recipients_mode.value == "select" %}hidden{%endif%}'}
      -render_field 'omnibox'

    .field.query{class:'{% if form.recipients_mode.value == "select" %}hidden{%endif%}'}
      -render_field 'contact_query'

    .start-options.mt-6.ml-2
      -render_field 'restart_participants'
      -render_field 'include_active'

-block form-buttons
  -if send_channel
    .form-actions
      %input.btn.btn-primary{type:"submit", value:"{{ submit_button_name }}"}

-block summary
  %p
    -if not run_count
      -trans "This flow has never been started."
    -elif run_count == 1
      %span.attn1
        -trans "This flow has been started once."
    -else
      %span.attn
        -trans "This flow has been started {{ run_count }} times."

    -if complete_count == 1
      -trans "It has been completed"
      %span.attn
        -trans "Once."
    -elif complete_count > 1
      -trans "It has been completed"
        %span.attn
          -trans "{{ complete_count }} times."

-block modal-script
  {{block.super}}
  :javascript

    function addClass(ele, className) {
      ele.classList.add(className);
    }

    function removeClass(ele, className) {
      ele.classList.remove(className);
    }

    var modalBody = document.querySelector("#start-flow").shadowRoot

    var queryField = modalBody.querySelector('.query');
    var recipientsField = modalBody.querySelector('.omnibox');
    var modeSelect = modalBody.querySelector("temba-select[name='recipients_mode']");

    if (modeSelect) {
      modeSelect.addEventListener("change", function(evt) {
        var selected = evt.target.values[0];
        if (selected.value === "query") {
          removeClass(queryField, "hidden");
          addClass(recipientsField, "hidden");
        } else {
          addClass(queryField, "hidden");
          removeClass(recipientsField, "hidden");
        }
      });
    }



