-extends 'smartmin/update.html'

{% load smartmin temba compress%}

-block pre-form
  :css
    .select2-container-multi .select2-choices .select2-search-field input.select2-active {
      background: none !important;
    }



-block modal-script
  {{block.super}}

  :javascript
    
    $(document).ready(function() {

      select2div('#id_expires_after_minutes', '520px');
      select2div('#id_flow_type', '520px');
      select2div('#id_contact_creation', '520px');

      useFontCheckbox("#id_ignore_triggers");

      $('#id_labels').select2();

      select2div('#id_base_language', '520px', 'Select the language this flow is in');

      //make the keyword_triggers field select2
      $('#id_keyword_triggers').select2({
        tags: [],
        tokenSeparators: [",", " "],
        minimumResultsForSearch: -1,
        placeholder: "Add a keyword to begin this flow (optional)",
        containerCssClass: "select2-temba-field"
      });

    });
