{% load contacts %}

{% for run in runs %}
  <tr class="exit-{{ run.exit_type }}"
      {% if forloop.last %}ic-append-from="/flow/runs_partial/{{ object.id }}?modified_on={{ run.modified_on|date:'U' }}&id={{ run.id }}" ic-trigger-on="scrolled-into-view" ic-target="#results_run_table" ic-template="results_run_table" ic-indicator="#indicator"{% endif %}>
    <td>
      <div class="details">{{ run.modified_on }}</div>
    </td>
    <td>
      <div class="details breaks">
        <a href="{% url 'contacts.contact_read' run.contact.uuid %}">
          {% if run.contact.name %}
            {{ run.contact.name|truncatechars:100 }}
          {% else %}
            {{ run.contact|name_or_urn:user_org }}
          {% endif %}
        </a>
      </div>
    </td>
    {% for value in run.value_list %}
      <td>
        <div class="details breaks">
          {% if value %}
            <div class="category">{{ value.category }}</div>
            <div class="text hide">{{ value.string_value }}</div>
          {% else %}
            <div>--</div>
          {% endif %}
        </div>
      </td>
    {% endfor %}
  </tr>
{% endfor %}
