-extends "smartmin/list.html"
-load smartmin sms temba compress
-load i18n humanize

-block table
  %table.list-table.table.table-striped(cellspacing="0")
    %thead
      %tr
        %th
          -trans "Flow"
        %th
          -trans "Who"
        %th
          -trans "Restart Participants"
        %th
          -trans "Include Active"
        %th
          -trans "Status"
        %th
          -trans "Started By"
        %th
          -trans "Started On"
    %tbody
      -for obj in object_list
        %tr(class="{% cycle 'row2' 'row1' %}")
          %td
            %a(href="{% url 'flows.flow_editor' obj.flow.uuid %}")
              {{ obj.flow.name }}
          %td
            -include "includes/recipients.haml" with groups=obj.groups.all contacts=obj.contacts.all query=obj.query
          %td
            {{ obj.restart_participants }}
          %td
            {{ obj.include_active }}
          %td
            {{ obj.get_status_display }}
          %td
            {{ obj.created_by }}
          %td
            {% format_datetime obj.created_on %}
      -empty
        %tr.empty_list
          %td
          %td
          %td
          %td
          %td
          %td
          %td