-extends 'includes/modax.html'
-load i18n
-load smartmin
-load temba

-block pre-form
  .mb-4
    Flow exports will include the results for each contact that has passed through the flow. You may optionally
    include up to 10 contact fields whose values will also be exported with each run.


-block modal-script
  {{block.super}}
  :javascript
    var modax = document.querySelector("#download-results")
    var body = modax.shadowRoot.querySelector(".modax-body");
    var loc = document.createElement('a'); loc.href = body.querySelector("#id_loc").value;
    var searchParams = new URLSearchParams(loc.search);
    var extraQueries = {"response": {}, "contact": {}};
    for (const [key, value] of searchParams.entries()) {
      if (["q", "after", "before"].includes(key) && value != null && value !== "") {
        extraQueries["response"][key === "q" ? "query": key] = value;
      } else if (key === "contact_query" && value != null && value !== "") {
        extraQueries["contact"]["query"] = value;
      }
    }
    if (Object.keys(extraQueries["response"]).length !== 0 || Object.keys(extraQueries["contact"]).length !== 0) {
      if (!body.querySelector("#extra-queries")) {
        var extraQueriesEl = body.querySelector("#id_extra_queries");
        var extraQueriesCheckbox = document.createElement("temba-checkbox");
        extraQueriesCheckbox.id = "extra-queries";
        extraQueriesCheckbox.label = "{{_('Apply Runs Filters')}}";
        extraQueriesCheckbox.helpText = "{{_('Flow runs will be filtrated by the filters on the runs tab.')}}";
        extraQueriesCheckbox.checked = true;
        extraQueriesEl.value = JSON.stringify(extraQueries);
        extraQueriesCheckbox.onclick = (event) => {
          let checkbox = event.target;
          if (checkbox.checked) {
            extraQueriesEl.value = JSON.stringify(extraQueries);
          } else {
            extraQueriesEl.value = "{}";
          }
        }
        body.append(extraQueriesCheckbox);
      }
    }

