-extends "smartmin/read.html"
-load smartmin sms compress temba contacts i18n

-block extra-less

  -compress css inline
    {% lessblock %}
      :plain
        .hidden-columns {
          margin-top:10px;
        }

        table {
          width: 100%;
        }

        td {

          padding: 10px 10px;
          border-top: 1px solid rgb(239, 239, 239);
          min-width: 150px;

          &.collapse {
            width:0px;
            border: none;
            display:none;
          }


          &.header {
            background: #efefef;
            border-bottom: 1px solid #e6e6e6;
            border-top: 1px solid #e6e6e6;
            white-space: nowrap;

            .icons {
              color: rgba(30,30,30,.4);
              text-shadow: 0px -1px rgba(230,230,230,.2);
              margin-right:8px;
              display:inline;
            }

            .details {
              cursor: pointer;
              display: inline;
            }

            .remove {
              color: rgba(30,30,30,.4);
              text-shadow: 0px -1px rgba(230,230,230,.2);
              font-size:16px;
              margin-right: 0px;
              margin-top:1px;
              visibility: hidden;
              cursor: pointer;
            }

            &:hover {
              .remove {
                visibility:visible;
              }
            }

         }

         &.subheader {
           padding: 0;
           font-size: 11px;
           padding: 3px 10px;
           background: #e9e9e9;
         }

         &.started {
           width: 200px;
         }
        }

        .scroll-x {
          width: 100%;
          overflow-x: auto;
        }

        .add-columns {
          margin-left: 8px;
          .text {
            display: block;
          }

          .selection {
            display: none;
          }

          &.select {
            .text {
              display: none;
            }

            .selection {
              display: block;
            }
          }
        }

        input.contact-search {
          width: 200px;
          margin-top:5px;
        }

        tr.run {
          &:hover {
            background: #fbfbfb;
            .icon-close {
              visibility: visible;
            }
          }

          .icon-close {
            color: rgba(30,30,30,.2);
            text-shadow: 0px -1px rgba(230,230,230,.2);
            font-size:16px;
            margin-left: -8px;
            margin-top:1px;
            visibility: hidden;
            cursor: pointer;
          }
        }

    {% endlessblock %}

-block extra-script
  %script{src:"{{ STATIC_URL }}/bower/highcharts/highcharts.js"}
  %script{src:"{{ STATIC_URL }}/bower/highcharts/modules/drilldown.js"}

  {{ block.super }}

  :javascript

    Highcharts.setOptions({
        global: {
            timezoneOffset: 5 * 60
        }
    });

    function exportFlow(){
      var flowIds = getCheckedIds();
      var modal = new Modax('{% trans "Export Flow Results" %}', '{% url "flows.flow_export_results" %}?ids={{object.id}}');
      modal.setIcon('icon-excel');
      modal.setRedirectOnSuccess(true);
      modal.show();
    }

    Intercooler.ready(function() {
      updateCols();
    });

    function hideColumn(idx) {
      columns[idx].hidden = true
      updateCols();
    }

    function toggleValue(idx) {
      columns[idx].category = !columns[idx].category
      updateCols();

    }

    function deleteRun(id) {

      var modal = new ConfirmationModal("Delete Run", "Deleting this run will remove it from your flow's results. While the messages for the contact will remain, any record of this flow run will be gone forever.");
      modal.addClass('alert');
      modal.setListeners({
        onPrimary: function(){
          $("#run_" + id).fadeOut();

          $.post('/flowrun/delete/' + id + '/').fail(function() {
            // in the off chance we failed, bring it back
            $("#run_" + id).fadeIn();
          });

          modal.dismiss();
        }}, false);
      modal.setPrimaryButton("Delete Run");
      modal.show();
    }

    function updateCols() {
      var hidden = false;
      for (var idx=0; idx < columns.length; idx++) {
        var col = columns[idx];
        var child_idx = idx + 3;

        var cell = $('td:nth-child(' + child_idx + ')');
        var category = cell.find('.category');
        var text = cell.find('.text');

        if (col.category) {
          category.show();
          text.hide();
        } else {
          category.hide();
          text.show();
        }

        if (col.hidden) {
          $('td:nth-child(' + child_idx + ')').addClass('collapse');
          hidden = true;
        } else {
          $('td:nth-child(' + child_idx + ')').removeClass('collapse');
        }
      }

      if (hidden) {
        $('.add-columns').addClass('select')
      } else {
        $('.add-columns').removeClass('select');
      }
    }

    var columns = [
       {% for ruleset in rulesets %}
        {
          "id":"{{forloop.counter0}}",
          "text":"{{ruleset.label|safe}}",
          "hidden": {% if forloop.counter > 3 %}true{%else%}false{%endif%},
          "category": {{ruleset.category}}
        },
      {% endfor %}
    ]

    $(document).ready(function() {
      $("#columns").select2({ placeholder:'More Columns', data: columns, minimumResultsForSearch: -1, query: function(q){
        var results = [];
        for (var i=0; i < this.data.length; i++) {
          if (this.data[i].hidden) {
            results.push(this.data[i]);
          }
        }
        q.callback({results:results, more: false});
      }});

      $("#columns").on("change", function(e) {
        columns[e.val].hidden = false;
        $(this).select2('val', '');
        updateCols();
      })
    });

-block page-top
  .row
    .span9
      %h2
        Flow Results
      %h3.font_normalize
        {{ flow.name }}

    .span3
      .pull-right
        %a.btn.btn-success{ href: "#", onClick:"exportFlow()" }
          -trans "Download"
        %a.btn{ href: "{% url 'flows.flow_editor' object.uuid %}" }
          -trans "View"



-block content

  .text-center{ic-get-from:'/flow/activity_chart/{{object.id}}', ic-trigger-on:'load'}
    %i.fa.fa-spinner.fa-spin.fa-2x

  .scroll-x
    %table
      %tr
        %td.header.started
          .details
            .add-columns.select
              .selection
                %input#columns{type:'hidden', style:'width:150px'}
              .text
                Last Activity
        %td.header
          .details
            %input.contact-search{type:"text", name:"q", placeholder:"Contact",
                                  ic-get-from:"/flow/run_table/{{object.id}}/",
                                  ic-on-beforeSend:'$("#results_run_table").empty()',
                                  ic-trigger-on:"keyup changed",
                                  ic-trigger-delay:"500ms",
                                  ic-target:"#results_run_table",
                                  ic-indicator:"#indicator"}

        -for ruleset in rulesets
          %td.header
            .details{ onclick: 'toggleValue({{forloop.counter0}});'}
              .icons
                .icon-tree-2.category
                .icon-bubble-2.text
              {{ruleset.label}}
            .remove.icon-close{ onclick: 'hideColumn({{forloop.counter0}});' }

      %tbody{id:"results_run_table"}
        %tr{ic-append-from:"/flow/run_table/{{object.id}}", ic-trigger-on:"scrolled-into-view", ic-target:"#results_run_table", ic-indicator:"#indicator"}

  #indicator{style:"display:none"}
    .loader