-extends 'smartmin/form.html'
-load i18n

-block extra-style
  {{block.super}}
  :css
    #id_group {

    }

-block extra-script
  {{block.super}}
  %script
    $(document).ready(function() {
      $("#id_group").select2({ placeholder:'{{ _("Group to Join")|escapejs }}', width:'520px'});
    });

-block summary
  -trans "Create a message keyword to allow people to join a group."
