-extends 'smartmin/form.html'
-load smartmin
-load i18n

-block fields

  %style
    :plain
      .modal .modal-body .control-label {
        display:none;
      }

      .modal .modal-body .controls {
        margin-top: 6px;
      }


  -if object.flow_type == 'F' and not send_channel
    %p
    -blocktrans with name=brand.name
      To get started you need to add a channel to your account. A channel is a phone number or social network
      account which {{ name }} can use to send and receive messages on your behalf. You can choose to use an
      Android phone and your own cell phone plan, or we can connect you with a service provider in your country
      directly.
    %hr
    %p
      -trans "You can always test your flow using the simulator, click"
        %span.glyph.icon-mobile{style:"padding-top:2px;"}
      -trans "on the right to open it."

  -elif object.flow_type == 'U' and not is_ussd_channel
    %p
    -blocktrans with name=brand.name
      To get started you need to add a USSD channel to your account. You can choose between USSD channels
      that are available in your country.
    %hr
    %p
      -trans "You can always test your flow using the simulator, click"
        %span.glyph.icon-mobile{style:"padding-top:2px;"}
      -trans "on the right to open it."

  -elif object.flow_type == 'V' and not call_channel
    %p
      -blocktrans with name=brand.name
        To get started you need to add a calling channel to your account. A channel is a phone account which
        {{ name }} can use to make and receive calls on your behalf.

  -else
    .field.omnibox
      {% render_field 'omnibox' %}

      .control-group.restart-participants
        %label.control-label{ for:"id_restart_participants" }
          -trans "Restart Participants"
        .controls
          %input#id_restart_participants{ name:"restart_participants", type:"checkbox" }
            .help-block
              %label{ for:"id_restart_participants" }
                -trans "Restart any of the above contacts already participating in this flow"

-block form-buttons
  -if send_channel
    .form-actions
      %input.btn.btn-primary{type:"submit", value:"{{ submit_button_name }}"}

-block summary
  %p
    -if not run_count
      -trans "This flow has never been started."
    -elif run_count == 1
      %span.attn1
        -trans "This flow has been started once."
    -else
      %span.attn
        -trans "This flow has been started {{ run_count }} times."

    -if complete_count == 1
      -trans "It has been completed"
      %span.attn
        -trans "Once."
    -elif complete_count > 1
      -trans "It has been completed"
        %span.attn
          -trans "{{ complete_count }} times."

-block extra-script
  {{ block.super }}
  :javascript
    prepareOmnibox();

-block modal-script
  {{block.super}}
  :javascript
    $(document).ready(function () {
      useFontCheckbox("#id_restart_participants");
    });

    prepareOmnibox();
