{% extends "flows/flow_list.html" %}
{% load smartmin sms temba compress i18n %}

{% block above-bar %}
  {% block top-form %}
    <form method="get">
      <input type="text"
             placeholder="{% trans "Search" %}"
             name="search"
             value="{{ search }}"
             class="input-medium search-query">
    </form>
  {% endblock top-form %}
{% endblock above-bar %}
{% block buttons-right %}
  {% block gear-menu %}
    {% include "spa_page_menu.html" %}
  {% endblock gear-menu %}
{% endblock buttons-right %}
