-extends 'includes/modax.html'
-load i18n
-load smartmin
-load temba

-block pre-form
  .mb-4
    Flow exports will include the results for each contact that has passed through the flow. You may optionally
    include up to 10 contact fields whose values will also be exported with each run.



