{% extends "smartmin/read.html" %}

-load i18n


-block extra-style
  :css
    .icon-warning {
      color: red;
      float: left;
      font-size:16px;
    }

    .referenced-flows {
      margin:20px;
    }

    .referenced-flow {
      margin-top:20px;
      margin-bottom:10px;
    }

    .referenced-flow .flow {
      margin-left:25px;
      font-size:18px;
      color: #666;
      line-height: 20px;
    }

-block content

  %p
    -blocktrans
      Sorry, this flow cannot be exported because it references another flow. To export it, please remove any
      actions that reference other flows and try again.

  .referenced-flows
    -for name in other_flow_names
      .referenced-flow
        .icon-warning
        .flow
          {{ name }}

  %br
  %a.btn.btn-primary{href:"{% url 'flows.flow_editor' object.uuid %}"}
    -trans "Back to Flow"


