-extends 'includes/modal.html'
-load i18n temba

-block modal
  {{block.super}}
    
  -with flows=object.dependent_flows.all
    -if flows
      -blocktrans count counter=flows|length
        There is an active flow using this flow. It cannot be deleted until it is removed from the
      
      -plural
        There are {{counter}} flows using this flow. It cannot be deleted until it is removed from the

      -for flow in flows
        <a href="{%url 'flows.flow_editor' flow.uuid%}">{{flow.name}}</a>{{forloop|oxford}}
      
      -blocktrans count counter=flows|length
        flow.
      -plural
        flows.
    -else
      -blocktrans
        You are about to delete
        %span.font-normal
          {{object}}.
        There is no way to undo this. Are you sure?
      
      .hidden
        %form(method="POST")
          %input(type="submit" value="{{submit_button_name}}")
      
      