-extends 'includes/modax.html'
-load i18n

-block pre-form
  .mb-4
    -blocktrans trimmed
      Will contain results for all contacts that responded to this flow. You may optionally
      include up to 10 contact fields and URN types whose values will also be included with each run.

-block modal-extra-style
  {{ block.super }}
  :css
    .field_responded_only, .field_include_msgs {
      display: none;
    }