{% extends 'includes/modal.html' %}
{% load i18n temba smartmin %}

{% block modal %}
  {% if object.children.all %}
    {% blocktrans trimmed with name=object.name %}
      <b>{{ name }}</b> cannot be deleted since it is a parent to other labels.
    {% endblocktrans %}
  {% else %}
    {% blocktrans trimmed with name=object.name %}
      Are you sure you want to delete <b>{{ name }}</b>? This cannot be undone.
    {% endblocktrans %}
    <div class="hidden">
      <form method="post">
        <input type="submit" value="{% trans "Delete" %}">
      </form>
    </div>
  {% endif %}
{% endblock modal %}
