-extends 'smartmin/update.html'
-load i18n
-load smartmin
-load temba


-block content
  .mb-2
    -trans "Importing a PO file will replace all matching translations in the flow for the selected language."
    %br
    %br
    .flow-info
      %h3
        -trans "Selected Flow"
      .
        {% trans "Name" %}:
        %b
          {{ object.name }}
      .
        {% trans "Base Language" %}:
        %b
          {{ flow_language.name }} ({{ flow_language.iso_code }})
    -if po_info
      .po-info
        %h3
          -trans "Uploaded PO File"
        .
          {% trans "Language" %}:
            %b
              -if po_info.language_name
                {{ po_info.language_name }} ({{ po_info.language_code }})
              -else
                -trans "Unknown"
        .
          {% trans "Number of entries" %}:
            %b
              {{ po_info.num_entries }}
        .
          {% trans "Number of translations" %}:
            %b
              {{ po_info.num_translations }}

  -block import-status
    .flex.w-full.mb-4.items-end.flex-wrap{style:"min-height:41px"}
      %form#import-form(method="post" enctype="multipart/form-data")
        - if form.non_field_errors
          .text-error
            {{ form.non_field_errors }}

        -csrf_token
        -if form.non_field_errors
          .text-error
            {{ form.non_field_errors }}

        -block fields
          -if show_upload_form
            .mt-4.mb-4.text-error
              {{ form.import_po_file.errors }}
            #file-upload
              %input{type:"file", name:"po_file", id:"id_po_file", onchange:'updatePOFile()'}
            #real_button.flex
              %input{type:"text", id:"file-field"}
              .block.button-primary.ml-4(style="margin-top:-1px")
                -trans "Choose File"
            {% render_field "loc" %}
          -else
            {% render_field "language" %}
            {% render_field "loc" %}
        .my-6
        .flex
          - if show_upload_form
            %input.button-primary{type:"submit", value:'{% trans "Upload" %}'}
            .ml-4.button-light{onclick:"javascript:history.go(-1)"}
              -trans "Cancel"
          -else
            %input.button-primary{type:"submit", value:'{% trans "Import" %}'}
            %a.ml-4.button-light{href:"{% url 'flows.flow_import_translation' object.id %}"}
              -trans "Cancel"

-block extra-script
  {{ block.super }}
  %script
    function updatePOFile(){
      var file = $("#id_po_file").val();
      while (file.indexOf("\\") >= 0) {
        file = file.substring(file.indexOf("\\")+1, file.length);
      }
      $("#file-field").val(file);
    }


-block extra-style
  :css
    input {
      padding: 9px;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 3px 20px 0px, rgba(0, 0, 0, 0.02) 0px 1px 2px 0px;
    }

    .flow-info, .po-info {
      padding-bottom: 2em;
    }

    #file-upload {
      position:relative;
    }

    #po_file_errors {
      font-size: 14px;
    }

    #real-button {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
      height:35px;
      width:340px;
    }

    #file-field {
      width:300px;
      height:35px;
      font-size:16px;
      margin-bottom: 0px;
      border-radius: 5px;
    }

    #id_po_file {
      position:absolute;
      width:450px;
      height:35px;
      top: 0px;
      left: 0px;
      text-align: right;
      -moz-opacity:0 ;
      filter:alpha(opacity: 0);
      opacity: 0;
      z-index: 2;
    }

    #id_language {
      display: block;
      width: 500px;
    }
