{% extends "smartmin/base.html" %}
{% load compress temba i18n %}

{% block title %}
  <div class="flex">
    <div class="flex items-center text-gray-600">
      {% if object.flow_type == 'V' %}
        <temba-icon name="flow_ivr" class="mr-3">
        </temba-icon>
      {% elif object.flow_type == 'S' %}
        <temba-icon name="flow_surveyor" class="mr-3">
        </temba-icon>
      {% elif object.flow_type == 'B' %}
        <temba-icon name="flow_background" class="mr-3">
        </temba-icon>
      {% endif %}
    </div>
    <div id="title-text">{{ title }}</div>
  </div>
{% endblock title %}
{% block extra-style %}
  {{ block.super }}
  <style type="text/css">
    .mobile-notice {
      padding: 1em;
      background: rgba(0, 0, 0, .02);
      margin-left: -1.2em;
      margin-right: -1.2em;
      display: none;
    }

    .mobile .mobile-notice {
      display: block;
    }

    .spa-content {
      margin-bottom: 0;
      padding-bottom: 0px !important;

    }

    .more .submenu {
      top: 2.5em !important;
      right: 0.5em !important;
    }

    #rp-flow-editor #simulator {
      top: 20px !important;
      right: 1em;
    }

    #grid {
      overflow: auto;
      z-index: 0;
      border: 0px solid #e7e7e7;
      margin-top: 0px;
      margin-left: -1.2em;
      margin-right: -1.2em;
      margin-bottom: 0em;
      border-radius: 0px;

    }

    .simulator {
      top: 59px !important;
    }

    .simulator .popped {
      top: 17px !important;
    }

    .revisions {
      top: 110px !important;
    }

    .revisions .popped {
      top: -33px !important;
    }

    .translations {
      top: 161px !important;
    }

    .translations .popped {
      top: -84px !important;
    }

    .issues {
      top: 8px !important;
    }

    .issues .popped {
      top: 70px !important;
    }

    #simulator-tab {
      margin-right: 17px;
    }

    #poptab {
      margin-left: -17px;
    }

    .menu {
      margin-top: 0.5rem;
    }

    .spa-footer {
      display: none;
    }

    #canvas::after {
      background-color: #ffffff;
    }

    #canvas-container>div {
      background-color: #ffffff;
    }

    .language-selector>div {
      right: 4em !important;
    }

    .pop_wrapper.pop_invisible {}

    .flow_node {
      box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .05);
      border: 1px solid transparent;
    }
  </style>
{% endblock extra-style %}
{% block extra-script %}
  {{ block.super }}
  <script type="text/javascript">
    var base = '/flow/assets/{{object.org.id}}/' + new Date().getTime() + '/';
    var api = '/api/v2/';
    var internal = '/api/internal/';
    var flowType = '{{ object.engine_type }}';

    function handleEditorLoaded() {
      document.querySelector('.editor-loader').classList.add('hide');
      document.querySelector('#rp-flow-editor').style.opacity = '1';
    }

    function handleActivityClicked(nodeUUID, count) {
      var endpoint = '{% url "msgs.broadcast_to_node" %}';
      var modal = document.querySelector("#send-message-modal");
      modal.endpoint = endpoint + "?node=" + nodeUUID + "&count=" + count;
      modal.open = true;
    }

    function handleChangeLanguage(code, name) {

      var confirmation = document.getElementById("confirm-language");
      confirmation.classList.remove("hide");
      confirmation.dataset.code = code;

      var body = confirmation.querySelector('.body');
      body.innerHTML = body.innerHTML.replace(/%LANG%/g, name);
      confirmation.open = true;
    }

    var canSimulate = JSON.parse("{{can_simulate|js_bool}}");
    var simulateStart = null;
    var simulateResume = null;

    if (canSimulate) {
      simulateStart = '/flow/simulate/{{object.id}}/';
      simulateResume = '/flow/simulate/{{object.id}}/';
    }

    var config = {
      flow: '{{object.uuid}}',
      flowType: flowType,
      localStorage: true,
      onLoad: handleEditorLoaded,
      onActivityClicked: handleActivityClicked,
      onChangeLanguage: handleChangeLanguage,
      mutable: JSON.parse("{{mutable|js_bool}}"),
      filters: JSON.parse("{{feature_filters|escapejs}}"),
      brand: '{{branding.name|escapejs}}',

      help: {
        legacy_extra: 'https://help.nyaruka.com/',
        missing_dependency: 'https://help.nyaruka.com/en/article/fixing-missing-dependencies-1toe127/',
        invalid_regex: 'https://help.nyaruka.com/en/article/invalid-regular-expressions-814k8d/'
      },

      endpoints: {
        groups: api + 'groups.json',
        fields: api + 'fields.json',
        labels: api + 'labels.json',
        optins: api + 'optins.json',
        channels: api + 'channels.json',
        classifiers: api + 'classifiers.json',
        resthooks: api + 'resthooks.json',
        templates: internal + 'templates.json',
        flows: api + 'flows.json?archived=false',
        globals: api + 'globals.json',
        users: api + 'users.json',
        topics: api + 'topics.json',
        editor: '/flow/editor',
        revisions: '/flow/revisions/{{object.uuid}}/',
        recents: '/flow/recent_contacts/{{object.uuid}}/',
        attachments: '{% url "msgs.media_upload" %}',
        languages: base + 'language',
        activity: '/flow/activity/{{object.uuid}}/',
        recipients: '/contact/omnibox?v=2&types=gc',
        contacts: '/contact/omnibox?v=2&types=c',
        contact: '/contact/read/',
        simulateStart: simulateStart,
        simulateResume: simulateResume,
      }
    };

    onSpload(function() {
      var confirmation = document.getElementById("confirm-language");
      confirmation.addEventListener("temba-button-clicked", function(event) {
        var code = confirmation.dataset.code;
        if (!event.detail.button.secondary) {
          posterize('{% url "flows.flow_change_language" object.id %}?language=' + code);
        }
        confirmation.open = false;
      });

      // wait for our component to load, then show the editor
      if (window.showFlowEditor) {
        window.showFlowEditor(document.getElementById("rp-flow-editor"), config);
      } else {
        document.addEventListener("temba-floweditor-loaded", function() {
          window.showFlowEditor(document.getElementById("rp-flow-editor"), config);
        });
      }
    });
  </script>
{% endblock extra-script %}
{% block alert-messages %}
{% endblock alert-messages %}
{% block page-header %}
  {% if active_start %}
    <temba-start-progress class="mb-4 -mt-2 -mx-2"
                          id="{{ active_start.id }}"
                          interrupttitle="Interrupt Flow"
                          interruptendpoint="{% url 'flows.flowstart_interrupt' active_start.id %}"
                          statusendpoint="{% url 'flows.flowstart_status' %}?id={{ active_start.id }}">
    </temba-start-progress>
  {% endif %}
  {{ block.super }}
{% endblock page-header %}
{% block content %}
  <temba-modax header="Send Message" id="send-message-modal">
  </temba-modax>
  <temba-dialog header="{{ _("Change Language") |escapejs }}"
                primaryButtonName="{{ _("Update") |escapejs }}"
                class="hide"
                id="confirm-language">
    <div class="p-6 body">
      {% blocktrans trimmed with language="%LANG%" %}
        This will change the default language of the flow to <b>{{ language }}</b>. This means that by default the
        flow will be appear in that language and can be translated into other languages. Also if a contact is
        in this flow and no translation exists for their language or the default language of the workspace,
        communication with that contact will default to <b>{{ language }}</b>.
      {% endblocktrans %}
    </div>
  </temba-dialog>
  <div class="card p-0" id="grid">
    <temba-loading class="editor-loader" units="10" size="8">
    </temba-loading>
    <div id="rp-flow-editor"></div>
  </div>
  <div class="mobile-notice">Please visit {{ branding.name }} on your browser to edit your flows.</div>
{% endblock content %}
