-extends "smartmin/list.html"
-load smartmin sms temba compress
-load i18n humanize

-block title-icon
  .title-icon
    %span.glyph.icon-tree

-block page-title
  -trans "Flows"

-block page-top
  {% render as page_top %}
    {{block.super}}
  {% endrender %}
  -if org_has_flows
    {{page_top}}

-block top-form
  - if view.search_fields
    - block search-form
      %form
        %input.input-medium.search-query{type:'text', placeholder:'{% trans "Search" %}', name:"search", value:"{{search}}"}
        -if request.REQUEST.status
          %input{type:'hidden', name:'status', value:'{{request.REQUEST.status}}'}

-block content

  -if not org_has_flows
    -include "flows/empty_include.html"
  -else
    #pjax
      -block pjax
        .row-fluid
          .span3.sidebox
            %div{style:"margin-bottom: 10px"}
              - if org_perms.flows.flow_create
                %a.btn.btn-primary.btn-block.create_flow.new-flow{href:"#"}
                  -trans "Create Flow"

            #sidebar-nav
              %ul.nav.nav-list.level1
                %li.nav-header
                  -trans "Flows"
                - for folder in folders
                  %li{'class':"{% if folder.url == request_url %}active{% endif %}" }
                    %a{'href':'{{folder.url}}'}
                      {{ folder.label }} ({{ folder.count }})

                -if labels
                  %li.nav-header
                    -trans "Labels"
                  - for label in labels
                    - with label.children as children
                      %li{'class': '{% if current_label.id == label.pk %}active{% endif %} {% if children %}lbl-parent{%else%}lbl-not-parent{% endif %} {% if current_label in children or current_label.id == label.pk %}expanded{%endif %}'}
                        %a{'href':'{% url "flows.flow_filter" label.pk %}'}
                          {{ label.label }} ({{ label.count }})
                          - if children
                            - if current_label in children or current_label.id == label.pk
                              .glyph.icon-arrow-down-2
                            -else
                              .glyph.icon-arrow-right-8

                        - if children
                          - if current_label in children or current_label.id == label.pk
                            %ul.nav.nav-list.level2
                              - for sub_label in children
                                %li{'class':'{% if current_label.pk == sub_label.pk %}active{% endif %}'}
                                  %a{'href':'{% url "flows.flow_filter" sub_label.pk %}'}
                                    {{ sub_label.name }} ({{ sub_label.get_flows_count }})

                -if campaigns
                  %li.nav-header
                    -trans "Campaigns"
                  -for campaign in campaigns
                    %li{'class': '{% if current_campaign.id == campaign.campaign__id %}active{% endif %}'}
                      %a{'href':'{% url "flows.flow_campaign" campaign.campaign__id %}'}
                        {{ campaign.campaign__name }} ({{campaign.count}})

          -block flow-list
            .span9
              - block buttons
                .pull-right
                  -block buttons-right

                .list-buttons-container
                  .list-buttons
                    - if 'unlabel' in actions and org_perms.flows.flow_update
                      %span.btn-group
                        %a.object-btn-unlabel{href:'#'}
                          %button.btn{data-toggle:'tooltip', data-trigger:'hover', data-delay:"800", data-placement:'top', data-original-title:'{% trans "Unlabel" %}'}
                            .glyph.icon-box

                    - if 'restore' in actions and org_perms.flows.flow_update
                      %span.btn-group
                        %a.object-btn-restore{href:'#'}
                          %button.btn{data-toggle:'tooltip', data-trigger:'hover', data-delay:"800", data-placement:'top', data-original-title:'{% trans "Activate" %}'}
                            .glyph.icon-tree

                    - if 'archive' in actions and org_perms.flows.flow_update
                      %span.btn-group
                        %a.object-btn-archive{href:'#'}
                          %button.btn{data-toggle:'tooltip', data-trigger:'hover', data-delay:"800", data-placement:'top', data-original-title:'{% trans "Archive" %}'}
                            .glyph.icon-box

                    - if 'label' in actions and org_perms.flows.flow_update
                      %span.btn-group
                        %button.btn.dropdown-toggle{data-toggle:"dropdown", data-trigger:'hover', data-delay:"800", data-placement:'top', data-original-title:'{% trans "Labels" %}'}
                          .glyph.icon-tag
                          %span.caret
                        %ul.dropdown-menu.label-menu{'role':'menu', 'aria-labelledby':'dlabel'}
                          - for label in labels
                            -with label.children as children
                              %li{'class':'{% if children %}dropdown-submenu{% endif %}'}
                                %a.lbl-menu.object-btn-label{href:'#', 'tabindex':'-1', data-id:'{{label.pk}}'}
                                  .glyph.message-label
                                  = label.label
                                %ul.dropdown-menu.label-menu
                                  - for child in children
                                    %li
                                      %a.lbl-menu.object-btn-label{'href':'#', 'tabindex':'-1', data-id:'{{child.pk}}'}
                                        .glyph.message-label
                                        = child.name
                          -if org_perms.flows.flowlabel_create
                            %li
                              %a.lbl-menu.add-label
                                -trans "Add Label"

                    %span.btn-group
                      %a.object-btn-export{'href':'#', onclick:'exportFlows()'}
                        %button.btn{data-toggle:'tooltip', data-trigger:'hover', data-delay:"800", data-placement:'top', data-original-title:'{% trans "Download Results" %}'}
                          .glyph.icon-excel

              %table.list-table.flow-list.object-list.table.table-condensed{style: '{% if not org_perms.flows.flow_update %}margin-top:10px{% endif %}'}
                %tbody
                  -for object in object_list
                    %tr.flow.object-row.select-row{ data-object-uuid: "{{object.uuid}}", data-object-id: "{{ object.id }}" }
                      %td.flow.checkbox.object-row-checkbox
                        .glyph.icon-checkbox-unchecked.flow-checkbox.object-row-checkbox

                      %td.value-name
                        -if object.flow_type == 'V'
                          .icon-phone
                        -elif object.flow_type == 'S'
                          .icon-mobile

                        {{ object.name }}

                        -if not object.is_archived
                          .value-labels
                            %nobr
                              - for label in object.labels.all
                                %span.label.label-info.lbl{ data-id: '{{label.id}}' }
                                  %a{href:"{% url 'flows.flow_filter' label.pk%}"}
                                    {{label.name}}

                      -if not object.run_stats.total
                        %td.value-status
                        %td.value-status
                          -trans "No runs"

                      -else
                        %td.value-status
                          %a.href{href:'{% url "flows.flow_results" object.uuid %}'}
                            {% blocktrans count run_count=object.run_stats.total|intcomma %}
                              {{ run_count }} run
                            {% plural %}
                              {{run_count}} runs
                            {% endblocktrans %}

                        %td.value-status
                          {% blocktrans with completed_percentage=object.run_stats.completion %}
                            {{ completed_percentage }}% completion
                          {% endblocktrans %}

                  -empty
                    %tr.flow
                      %td.flow
                        -trans "No matching flows."

              - block paginator
                - if object_list.count
                  .paginator
                    - include "smartmin/sidebar_pagination.haml"

-block extra-script
  {{ block.super }}

  :javascript

    {% if org_perms.flows.flow_update %}
    function exportFlows(){
      var flowIds = getCheckedIds();
      var modal = new Modax('{% trans "Export Flow Results" %}', '{% url "flows.flow_export_results" %}?ids=' + flowIds.join());
      modal.setIcon('icon-excel');
      modal.setRedirectOnSuccess(true);
      modal.show();
    }
    {% endif %}

    {% if org_perms.flows.flow_update %}

    function postLabelChanges(flowsIds, labelId, addLabel, number, onError) {

         fetchPJAXContent("", "#pjax", { postData: { objects: flowsIds, label: labelId, add: addLabel, action: 'label', pjax: 'true', number:number },

         forceReload: true, onSuccess: function(data, textStatus) {

           // if there is a live modal, hide it
           var modal = $("#active-modal");
           if ((modal).is(":visible")) {
             modal.data('object').dismiss();
           }

           $("#pjax").html(data);
           recheckIds();
         }, onError: onError});
    }

    {% endif %}

    $(document).ready( function() {

      $(document).on('click', 'tr.flow td:nth-child(n+2)', function(e){
         document.location = '/flow/editor/' + $(this).parent().data("object-uuid");
      });

      {% if org_perms.flows.flow_create %}
      $(".create_flow").live('click', function() {
        var modal = new Modax('{% trans "Create Flow" %}', '{% url "flows.flow_create" %}');
        modal.setIcon('icon-tree');
        modal.setRedirectOnSuccess(true);
        modal.show();
      });
      {% endif %}

      {% if org_perms.flows.flowlabel_create %}
      $('.page-content').on('click', ".add-label", function() {
        lastChecked = getCheckedIds();
        var modal = new Modax('{% trans "Create Label" %}', '{% url "flows.flowlabel_create" %}')
        modal.setListeners({
          onFormLoaded: function(){
            $("#active-modal form input#id_flows").val(lastChecked.join());
          },
          onCompleted: function() { refresh(function() { recheckIds(); }, true);}
        });

        modal.show();
      });
      {% endif %}

    });
