-extends 'includes/modax.html'
-load smartmin i18n

-block fields
  -if blockers
    -for blocker in blockers
      .mb-2
        {{ blocker|safe }}

    -trans "You can still test your flow using the simulator by clicking the phone icon on the right."
  -else
    -for warning in warnings
      %temba-alert.mb-4(level="warning")
        %div= warning

    .field.recipients-mode
      -render_field 'mode'

    .field.omnibox(class='{% if not form.mode.value == "select" %}hidden{%endif%}')
      -render_field 'omnibox'

    .field.query(class='{% if form.mode.value == "select" %}hidden{%endif%}')
      -render_field 'query'

    .start-options.mt-6.ml-2
      -if object.flow_type != 'B'
        -render_field 'exclude_in_other'
      -render_field 'exclude_reruns'

-block form-buttons
  -if not blockers 
    %input.btn.btn-primary(type="submit" value="{{ submit_button_name }}")


-block modal-script
  {{block.super}}
  :javascript

    function addClass(ele, className) {
      ele.classList.add(className);
    }

    function removeClass(ele, className) {
      ele.classList.remove(className);
    }

    var modalBody = document.querySelector("#start-flow").shadowRoot;
    var queryField = modalBody.querySelector('.query');
    var omniboxField = modalBody.querySelector('.omnibox');
    var modeSelect = modalBody.querySelector("temba-select[name='mode']");

    {% if not blockers %}
      modeSelect.addEventListener("change", function(evt) {
        var selected = evt.target.values[0];
        if (selected.value === "query") {
          removeClass(queryField, "hidden");
          addClass(omniboxField, "hidden");
        } else {
          addClass(queryField, "hidden");
          removeClass(omniboxField, "hidden");
        }
      });
    {% endif %}



