-extends "smartmin/form.html"

-load smartmin
-load i18n

- block pjax
  #pjax
    .row{style:"height:250px;"}
      .span3
        #big-help.glyph.icon-tree

      .span9
        %p
          -blocktrans with source=source.name target=target.name
            You have selected to merge "{{ source }}" with "{{ target }}".
        %p
          -blocktrans with source=source.name target=target.name
            All data from {{ source }} will be transferred to {{ target }}. This transfer may take several minutes.
        %p
          -trans 'If you do not wish to combine these flows, click the "Cancel Button" below'

        %form#import-form.smartmin-form.horizontal-form{method:"post", enctype:"multipart/form-data"}
          -csrf_token
          %input{type:"hidden", name:"merging_map", value:"{{ merging_map }}"}

          -block fields
            %label{for: "flow_name"}
              -trans "Name of new combined flow:"
            %input{type:"text", name:"flow_name", id:"flow_name", value:"{% if flow_name %}{{ flow_name }}{% else %}Merge of {{ source.name }} with {{ target.name }}{% endif %}"}

          - if errors
            - for error in errors
              %div.alert.alert-error.form-errors
                {{ error }}

          - if conflict_solutions
            %label{for: "flow_name"}
              -trans "Merging conflicts:"
            %fieldset
              %table
                - for conflict in conflict_solutions
                  %tr.conflict
                    %td.field-form-label
                      %div
                        %i Node: {{ conflict.node_type }}
                    %td.field-form-label
                      %input.resolving-select{
                        type: "text",
                        name: "conflicts[{{ conflict.uuid }}]",
                        list: "conflicts-{{ forloop.counter }}",
                        placeholder: '{% trans "Choose solution or provide your own..." %}'
                        required
                      }
                      %datalist{id: "conflicts-{{ forloop.counter }}"}
                        - for solution in conflict.solutions
                          %option{value: "{{solution}}"}
                            = solution
        
          .form-buttons
            %input.btn.btn-primary{type:"submit", value:'{% trans "Combine Flows" %}'}
            %a.btn{onclick:"javascript:history.go(-1)"}
              -trans "Cancel"

- block extra-script
  :javascript
    $(".resolving-select").select2({
        tags: true,
        minimumResultsForSearch: -1,
        placeholder: gettext("Choose solution or provide your own..."),
        containerCssClass: "select2-temba-field",
        data: 
    });
    

- block extra-style
  :css
    .form-buttons {
      margin-top: 10px;
    }

    #example {
      margin-top: 20px;
      background: #f8f8f8;
    }

    #file-upload {
      position:relative;
    }

    #csv_file_errors {
      font-size: 20px;
    }

    #real-button {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
      height:35px;
      width:340px;
    }

    #file-field {
      width:255px;
      height:25px;
      font-size:16px;
      border:solid 1px #000;
      margin-bottom: 0px;
    }

    #csv_file {
      position:absolute;
      width:385px;
      height:40px;
      top: 0px;
      left: 0px;
      text-align: right;
      -moz-opacity:0 ;
      filter:alpha(opacity: 0);
      opacity: 0;
      z-index: 2;
    }

    #import-message .import-result {
      padding-bottom: 10px;
      font-size: 20px;
    }

    #import-message .import-result .glyph {
      font-size: 28px;
      margin: 0px 20px;
      line-height: 22px;
    }

    #import-message .import-result .well {
      font-size: 14px;
    }

    #import-message .import-result a {
      text-decoration :none;
    }

    .unblock-buttons .container {
      margin-left: auto;
      margin-right: auto;
      width: 150px;
    }

    .select2-container {
      max-width: 350px;
    }
