-extends "flows/flow_list.haml"
-load smartmin sms temba compress
-load i18n

-block title-icon
  %span.title-icon
    .glyph.icon-tag

-block above-bar
  -block top-form
    %form{method:"get"}
      %input.input-medium.search-query{type:'text', placeholder:'{% trans "Search" %}', name:"search", value:"{{search}}"}

-block buttons-right
  -block gear-menu
    -include "gear_links_include.haml"
  
-block post-content
  {{ block.super }}
  - if org_perms.flows.flowlabel_delete
    .deletion.hide
      .title
        -trans "Remove Label"

      .body
        %p
          -trans "Are you sure you want to remove this label?"
        %p
          %b {{ current_label }}
          %p
            -trans "Once it is removed, it will be gone forever. There is no way to undo this operation."

      %a#delete-form.posterize{href:'{% url "flows.flowlabel_delete" current_label.pk %}'}

    .deletion-fail.hide
      .title
        -trans "Remove Label"

      .body
        %p
          -trans "You cannot remove a label which has child labels. Please remove all children first."

-block extra-script
  {{ block.super }}

  :javascript
        
    {% if org_perms.flows.flowlabel_delete %}
      {% if not current_label.children.all %}
      $(".remove-label").live('click', function(){
        modal = new ConfirmationModal($('.deletion > .title').html(), $('.deletion > .body').html());
        modal.addClass('alert');
        modal.setListeners({onPrimary: function(){
          $('#delete-form').click();
        }}, false);
        modal.setPrimaryButton('{% trans "Remove" %}');
        modal.show();
      });
      {% else %}
      $(".remove-label").live('click', function(){
        modal = new Modal($('.deletion-fail > .title').html(), $('.deletion-fail > .body').html());
        modal.addClass('alert');
        modal.setListeners(function(){}, true);
        modal.setPrimaryButton('{% trans "Ok" %}');
        modal.show();
      });
      {% endif %}
    {% endif %}

    {% if org_perms.flows.flowlabel_update %}
    $(".page-content").on('click', ".label-update-btn", function() {
      var modal = new Modax('{% trans "Update Label" %}', '{% url "flows.flowlabel_update" current_label.pk %}')
      modal.setIcon('icon-tag');
      modal.setListeners({
        onFormLoaded: function() {
          if ($('#id_parent').find('option').length > 1) {
            select2div('#id_parent');
          } else {
            $('#id_parent').parents('.control-group').hide();
          }
        },
        onSuccess: function() { location.reload(); }
      })
      modal.show();
      return false;
    });
    {% endif %}
