-extends "frame.haml"

-load temba compress
-load i18n

-block page-top

-block html-tag
  <html lang="en" ng-app="analytics">

-block content
  #scope{ ng-controller:"FieldController", ng-cloak:''}
    .results
      .report-read
        %h2.report-title{style:'border-bottom:1px solid #aaa'}
          {{report.text}}
          %a.pull-right.btn.btn-primary{href:'{% url "rules.ruleset_analytics" %}?edit_report={{report.id}}'}
            Edit
          .report-description{style:'font-size: 16px; margin-left:25px;'}
           "{{report.description}}"
          
      %ul.charts{ ng-model:"fields", ui-sortable:"true" }

        %li.chart-container{ ng-repeat:"field in fields | filter:{ isVisible: true, isLoaded: true }", class:'selection-[[field.chartType]] chart-container-size-[[field.chartSize]]'}
          %h2.chart-title
            .chart-title-responses [[field.total]]
              -trans "responses"
            [[field.label]]
          
          %chart{config:'field.chart'}
            %datatable{config:'field.table'}

-block extra-less

  -compress css
    {% lessblock %}
      :plain
        .results {
          margin-left:320px;
          border-left: #ddd 1px solid;
          padding-left:15px;
          padding-right:15px;
        }

        #footer {
          display:none;
        }

        #page-container.container {
          width: 100%;
        }

        .slide-show,
        .slide-hide
        {
            -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
            position: relative;
            display: block;
        }

        .slide-show.slide-show-active,
        .slide-hide {
            opacity: 1;
            top: 0;
            height: 20px;
        }

        .slide-hide.slide-hide-active,
        .slide-show {
            opacity: 0;
            top: -20px;
            height: 0px;
        }

        table.datatable {
          width: 100%;
          margin-top: 2px;

          .datatable-label {
            width: 25%;
            text-align: right;
            background-color: #f8f8f8;
          }

          .datatable-value {
            text-align: right;
            width: 50px;
          }

          .datatable-segment-odd {
            background-color: #F0F7FC;
          }

          .datatable-spacer {

          }

          .datatable-segment {
            text-align: center;
          }
        }

        #controls {
          margin-left:0px;
          padding-bottom:400px;
          overflow-y:auto;
          top: 0px;
          width: 290px;
          z-index:6000;
          left:0px;
          padding-bottom:30px;
          padding-left:30px;
          background: #fff;
          float:left;
          height:92%;

          h5 {
            margin-top:15px;
          }

          &.ui-scrollfix {
            top: 0px;
            left: 0px;
            position: fixed;
            padding-top:15px;
          }

          #field-selector {
            margin-bottom:15px;
          }


          @filter-inactive: #fff;
          @filter-inactive-text: @filter-inactive - #222;

          @filter-selected: #fff;
          @filter-selected-text: @filter-selected - #999;


          .filter, .segment {

            background: @filter-inactive;
            padding:10px;
            margin-bottom:5px;
            color: @filter-inactive-text;
            cursor: pointer;
            border: 1px solid #e6e6e6;

            .icon {
              color: @filter-inactive-text;
            }

            &.active {
              border: 1px solid #e6e6e6 - #222;

              background: @filter-selected;
              color: @filter-selected-text;

              .icon {
                color: @filter-selected-text;

                &.type {

                }
              }
            }

            &:hover {
              border-color: #e6e6e6 - #222;
            }

            .segment-label, .filter-label {
              margin-left: 2px;
            }

            .segment-categories, .filter-categories {
              .segment-category, .filter-category {
                margin-top:4px;
                margin-left:3px;
                color: @filter-selected-text;

                &.field-visible-false {
                  .field-visible-check {
                    color: @filter-selected-text + #222;
                  }
                }
              }
            }
          }
        }

        .charts {

          padding-left:5px;
          margin-left:0px;

          .chart-title {
            border-bottom: 1px solid #ccc;
            margin-bottom: 0px;
            font-size:36px;
          }

          .chart-title-responses {
            float: right;
            font-size: 12px;
            line-height: 100%;
            padding-top: 25px;
          }

          .chart-container {
            margin-bottom: 20px;
            display: inline-block;
            vertical-align: top;
          }

          .chart-container-size-2 {
            width: 100%;
          }

          .chart-container-size-1 {
            width: 48%;
            margin-right: 10px;
          }

          .chart-options {
            height: 32px;
            visibility: visible;

            .chart-types {
              float: right;
              visibility: hidden;
            }

            .chart-sizes {
              visibility: hidden;
            }

            &:hover .chart-table {
              visibility: visible;
            }

            &:hover .chart-types {
              visibility: visible;
            }

            &:hover .chart-sizes {
              visibility: visible;
            }

            .chart-table {
              visibility: hidden;
              margin-left: 2px;
              margin-top: 2px;
              float: right;
            }

            .chart-table.active {
              background: @flat-blue;
              color: #fff;
            }

            .chart-size {
              margin-top: 2px;
              display: inline-block;
              cursor: pointer;
              background: @flat-white;
              color: #fff;
              height: 30px;
            }

            .chart-size.active {
              background: @flat-blue;
            }

            .chart-size-1 {
              width: 30px;
            }

            .chart-size-2 {
              width: 60px;
            }
          }

          .option-bar {
            .rotate(1);
          }

          .chart-button {
            @button-size: 20px;

            font-size: @button-size;
            width: @button-size;
            height: @button-size;
            padding:@button-size / 4;
            color: @flat-darkwhite;
            background: @flat-white;
            display: inline-block;
            cursor: pointer;

            &.selected {
              background: @flat-blue;
              color: #fff;
            }
          }
        }

        .field-contacts {
          display:inline;
          font-size: 85%;
        }

        .field-count {
          font-size:12px;
          margin-top:-3px;
        }

        .field-flow {
           font-weight: bold;

           option .count {
             font-weight:normal;
           }
        }

        .field-rule {
           padding-left: 10px;
           display:inline;
           padding-right: 5px;
           font-size:90%;
        }

        .fields li:hover {
          cursor: pointer;
        }

        .field-loading {
          width: 20px;
          float: right;
          display: block;
          height: 10px;
          background-image: url("{{ STATIC_URL }}images/loader-bars.gif");
        }

        .samples {
          width:49%;
          display:inline-block;
          vertical-align:top;

          h2 {
            font-size: 30px;
            border-bottom: 1px solid @flat-white;
            margin-bottom: 30px;
            padding-bottom:10px;
            margin-left:25px;

          }

          .flow {
            padding-left:20px;

            .message-count {
              display:inline-block;
              width: 120px;
              font-size:36px;
              margin-top:5px;
              text-align:right;
              color: @flat-darkwhite - #222;
              float:left;
              font-weight:bold;

              &:hover {
                color: @flat-blue;
                cursor: pointer;
              }

              .message-label {
                font-size:11px;
                color: @flat-darkwhite;
                font-weight:200;
              }
            }

            .flow-name {
              margin-left: 135px;
              line-height:24px;
              font-size: 24px;

              &:hover {
                color: @flat-blue;
                cursor: pointer;
              }
            }

            .field-count {
              margin-left: 135px;
              font-size: 14px;
              margin-top:6px;
              &:hover {
                color: @flat-blue;
                cursor: pointer;
              }

            }

            .last-message {
              margin-left: 135px;
              color: @flat-darkwhite - #222;
            }

            margin-bottom: 30px;

          }

          &.by-responses {

          }
        }

        ul.fields, ul.filters, ul.segments {
          margin-top:5px;
          margin-left:0px;
          margin-bottom:0;
          width: 95%;

          .field {
            background: #fff;
          }
        }

        .field-button {
          float: right;
          color: #fff;
          margin-left: 10px;
          margin-top: 2px;
        }

        .field:hover .field-button {
          color: #999;
        }

        .field:hover .field-button:hover {
          color: #333;
        }

        .field-visible-true {
          color: #333;
          .field-visible-check:before {
            content:"\e05a";
          }
        }

        .field-visible-false {
          color: #999;

          .field-visible-check:before {
            content:"\e004";
          }
        }

        .icon {
          font-family: 'temba';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
        }

        .icon:hover {
          cursor:pointer;
        }

    {% endlessblock %}

-block extra-script
  {{ block.super }}

  :javascript
    var saveReportURL = '{% url "rules.report_create" %}';
    var currentReport = {{current_report|safe}};
    var groups = [];
    var flows = [];
    var reports = [];

  <script src="{{ STATIC_URL }}js/angular.min.js"></script>
  <script src="{{ STATIC_URL }}js/angular-ui.min.js"></script>
  <script src="{{ STATIC_URL }}js/highcharts.js"></script>
  <script src="{{ STATIC_URL }}/js/highcharts-theme.js?v=2"></script>

  -load compress
  -compress js
    <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}coffee/analytics.coffee" />
