-extends "smartmin/read.html"

-load compress temba

-block html-tag
  <html lang="en" ng-app="map">


-block page-top

-block content
  {{ object.label }}
  <div id="map" choropleth="" osm-id="'{{ object.flow.org.country.osm_id }}'" rule-id="{{ object.pk }}"></div>

-block extra-script
  {{ block.super }}e
  %script{src:"{{ STATIC_URL }}leaflet-0.7.2/leaflet.js"}
  %script{src:"{{ STATIC_URL }}js/angular.min.js"}
  %script{src:"{{ STATIC_URL }}js/angular-ui.min.js"}

  -compress js
    :javascript
      app = angular.module("map", ["ui"])
      app.config = function($interpolateProvider) {
        $interpolateProvider.startSymbol("[[")
        $interpolateProvider.endSymbol("]]")
      }
    %script{src:"{{ STATIC_URL }}coffee/choropleth.coffee", type:'text/coffeescript'}

-block extra-style
  {{ block.super }}
  %link{type:'text/css', rel:'stylesheet', href:"{{ STATIC_URL }}leaflet-0.7.2/leaflet.css", media:'all'}
  -compress css
    %link{type:'text/less', rel:'stylesheet', href:'{{STATIC_URL}}less/analytics.less', media:'all'}

  :css
    #map {
      height: 800px;
      border:1px solid #ccc;
      background: #fff;
    }
