<div class="attachment mb-2">
  {% if category == 'image' %}
    {% if thumb %}
      <div class="thumb">
        <img src="{{ thumb }}"
             style="height:auto;
                    width:100px"
             onclick="showLightbox(event, '{{ url }}')"
             class="cursor-pointer rounded-lg">
      </div>
    {% else %}
      <div onclick="showPreview(event, this)" attachment="
        <img style='max-width:500px;max-height:500px' src='{{ url }}' />
        " class="
        {% if thumb %}thumb{% endif %}
        attachment-preview button-light rounded-r-none">
        <temba-icon name="attachment_image" class="mr-1">
        </temba-icon>
        {{ preview }}
      </div>
    {% endif %}
  {% elif category == 'audio' and is_playable %}
    <a onclick="showPreview(event, this)" attachment="<audio style='width: 360px;padding:2em;' controls>
      <source type='{{ content_type }}' src='{{ url }}' />
    </audio>" class="attachment-preview button-light rounded-r-none">
    <temba-icon name="attachment_audio" class="mr-1">
    </temba-icon>
    {{ preview }}
  </a>
{% elif category == 'video' and is_playable %}
  <a onclick="showPreview(event, this)" attachment="
    <video style='border-top-left-radius:var(--curvature);
                  border-top-right-radius:var(--curvature);
                  box-shadow:0px 0px 12px 0px rgba(0,0,0,.1), 0px 0px 2px 0px rgba(0,0,0,.15);
                  max-width:400px;
                  max-height:400px'
           height='auto'
           controls='true'>
      <source src='{{ url }}' type='{{ content_type }}' />
    </video>
    " class="attachment-preview button-light rounded-r-none">
    <temba-icon name="attachment_video" class="mr-1">
    </temba-icon>
    {{ preview }}
  </a>
{% elif category == 'geo' %}
  <div onclick="openWindow(event, '{{ url }}', '_loc')" class="attachment-preview button-light">
    <temba-icon name="attachment_location" class="mr-1">
    </temba-icon>
    {{ preview }}
  </div>
{% else %}
  <div onclick="showPreview(event, this)" attachment="
    <div style='width:600px;
                height:600px;
                border-top-right-radius:var(--curvature);
                border-top-left-radius:var(--curvature);
                box-shadow:0px 0px 12px 0px rgba(0,0,0,.1), 0px 0px 2px 0px rgba(0,0,0,.15);
                overflow:hidden'>
      <embed src='{{ url }}#view=Fit'
             type='application/pdf'
             frameBorder='0'
             scrolling='auto'
             height='100%'
             width='100%'>
    </embed>
  </div>
  " class="attachment-preview button-light rounded-r-none">
  <temba-icon name="attachment_document" class="mr-1">
  </temba-icon>
  {{ preview }}
</div>
{% endif %}
{% if category != 'geo' and not thumb %}
  <div>
    <a href="{{ url }}" download="true" class="flex-grow attachment-download rounded-l-none button-light">
      <temba-icon name="download" onclick="downloadFile(event, '{{ url }}')">
      </temba-icon>
    </a>
  </div>
{% endif %}
</div>
