-if log
  .text-gray-400.linked{onclick:"goto(event)", href:"{% url 'channels.channellog_read' log.id %}"}
    .icon-docs-2
-elif connection_id
  .text-gray-400.linked{onclick:"goto(event)", href:"{% url 'channels.channellog_connection' connection_id %}"}
    .icon-docs-2
