-if log
  .hover-linked{onclick:"goto(event)", href:"{% url 'channels.channellog_read' log.id %}"}
    .icon-docs-2.pointer-events-none
-elif connection_id
  .hover-linked{onclick:"goto(event)", href:"{% url 'channels.channellog_connection' connection_id %}"}
    .icon-docs-2.pointer-events-none
