{% extends "email_base.html" %}

{% load tz %}
{% load i18n %}
{% block body %}

{% blocktrans with customer=customer.first_name  %}

<br/>
Hi {{ customer }},

<br/>
{% endblocktrans %}
<br/>

{% if alert.alert_type == 'O' %}

{% blocktrans with org=alert.org.name brand=branding.name %}

Your {{ brand }} account for {{ org }} is out of credit. You will no longer be able to send messages and users will no longer be able to interact in flows.

{% endblocktrans %}

  <br/>
  {% if branding.allow_signups %}
    {% blocktrans %}
    To resume your service please visit your account page to purchase a top up.
    {% endblocktrans %}
  {% else %}
    {% blocktrans %}
    To resume your service, please contact your account manager.
    {% endblocktrans %}
  {% endif %}
  <br/>

{% elif alert.alert_type == 'E' %}

{% blocktrans with org=alert.org.name brand=branding.name %}

Your {{ brand }} account for {{ org }} has expiring credits in less than one month.
{% endblocktrans %}

  <br/>
  {% if branding.allow_signups %}
    {% blocktrans %}
      Messages will no longer be sent when your credits expire, to prevent an interruption in your service visit your account page to purchase a top up.
    {% endblocktrans %}
  {% else %}
    {% blocktrans %}
      Messages will no longer be sent when your credits expire, to prevent an interruption in your service, please contact your account manager.
    {% endblocktrans %}
  {% endif %}
  <br/>


{% else %}


{% blocktrans with org=alert.org.name brand=branding.name remaining=org.get_credits_remaining %}
Your {{ brand }} account for {{ org }} is running low on credits, you currently only have {{ remaining }} credits remaining.
{% endblocktrans %}

  <br/>
  {% if branding.allow_signups %}
    {% blocktrans %}
      Messages will no longer be sent when your credits reach zero, to prevent an interruption in your service visit your account page to purchase a top up.
    {% endblocktrans %}
  {% else %}
    {% blocktrans %}
      Messages will no longer be sent when your credits reach zero, to prevent an interruption in your service, please contact your account manager.

    {% endblocktrans %}
  {% endif %}
  <br/>

{% endif %}



{% blocktrans with brand=branding.name %}

<br/>
Thanks!
<br/>
The {{ brand }} Team
<br/>
{% endblocktrans %}

</p>


{% endblock body %}
