{% extends "email_base.html" %}

{% load tz %}
{% load i18n %}
{% block body %}

{% blocktrans with brand_name=brand.name brand_support=branding.support_email customer=customer.first_name %}

<br/>
Hi {{ customer }},
<br/>
<br/>
This is a receipt for your {{ brand_name }} purchase for {{ credits }} credits.  This is only a receipt, no payment is due. If you have any questions, please contact us anytime at {{ brand_support }}.  You can view your top ups at any time by visiting your top up page.
<br/>
Thanks again for your support!
<br/>
<br/>
-----------------------------------------------------------------------------------------------
{{ brand_name }} Receipt
-----------------------------------------------------------------------------------------------
<br/>
Invoice Details
<br/>
Id: {{ charge_id }}
<br/>
Date: {{ charge_date }}
<br/>
Organization: {{ org }}
<br/>
Description: {{ description }}
<br/>
Credits: {{ credits }}
<br/>
Amount: USD ${{ amount }}
<br/>
<br/>
Charge Details
<br/>
Name: {{ cc_name }}
<br/>
Credit Card: {{ cc_type }} X{{ cc_last4 }}
<br/>
<br/>
{% endblocktrans %}

{% endblock body %}