-extends "channels/channel_claim_form.html"
-load i18n compress temba

-block pre-form
  %h4.form_blurb
    {{ form_blurb }}
  
  %h4
    - blocktrans
      Instructions:
  %ol.instructions
    %li
      -blocktrans trimmed
        On your RocketChat, go to <i>Administration > Omnichannel</i> and enable it.
    %li
      -blocktrans trimmed
        Add a new user with "user" and "bot" roles (<i>Administration > Users > <b>"New"</b></i>)
    %li
      -blocktrans trimmed with brand=brand.name
        Install the app <b> {{ brand }} Channel Integration </b> (<i>Administration > Marketplace </i>)
    %li
      -blocktrans trimmed with brand=brand.name
        Open the app details, at <i>Administration > Apps > <b> {{ brand }} Channel Integration</b></i>, and in its settings section put the following token on the <b>App's Secret</b> field: <code>{{ secret }}</code>

    %li
      -blocktrans trimmed with brand=brand.name
        Save the changes, copy the app's URL and back to {{ brand }} by pasting that URL on field below, so try connect.

-block extra-style
  {{ block.super }}

  :css
    ol.instructions {
    padding-top: 1em;
    }
    ol.instructions li {
    list-style-type: decimal;
    margin-top: 0.3em;
    }
