{% extends "smartmin/read.html" %}
{% load compress i18n %}

{% block extra-style %}
  {{ block.super }}
  <style type="text/css">
    .page-content {
      align-self: auto;
      max-width: 100%;
    }

    alias-editor {
      --textarea-height: 130px;
    }
  </style>
{% endblock extra-style %}
{% block title-text %}
  {% blocktrans trimmed with name=object.name %}
    Aliases for {{ name }}
  {% endblocktrans %}
{% endblock title-text %}
{% block content %}
  <div class="my-4">
    {% blocktrans trimmed with brand=brand.name %}
      Often certain regions are known by more than one name. In {{ brand }}, we call these alternate names for
      regions, aliases.
    {% endblocktrans %}
  </div>
  <alias-editor endpoint="/adminboundary/" osmid="{{ object.osm_id }}"></alias-editor>
{% endblock content %}
