-extends "smartmin/read.haml"

-load compress i18n
-block page-top
-block content

  :css  
    .details {
      margin-bottom: 30px;
    }

  #editor
    .details
      %h3
        -blocktrans with name=object.name
          Aliases for {{ name }}
      %h5
        -blocktrans with brand=brand.name
          Often certain regions are known by more than one name. In {{ brand }}, we call these alternate names for
          regions, aliases.

    <alias-editor endpoint="/adminboundary/" osmid="{{ object.osm_id }}"></alias-editor>

