-extends "smartmin/read.haml"

-load compress i18n

-block extra-style
  {{block.super}}
  :css
    .page-content {
      align-self: auto;
      max-width: 100%;
    }

    alias-editor {
      --textarea-height: 130px;
    }

-block title
  -blocktrans trimmed with name=object.name
    Aliases for {{ name }}

-block content
  .my-4
    -blocktrans trimmed with brand=brand.name
      Often certain regions are known by more than one name. In {{ brand }}, we call these alternate names for
      regions, aliases.
    
  <alias-editor endpoint="/adminboundary/" osmid="{{ object.osm_id }}"></alias-editor>

