{% extends "channels/channellog_owned_base.html" %}
{% load i18n temba %}

{% block title-text %}
  {% trans "Call Log" %}
{% endblock title-text %}
{% block group_object %}
  <div class="inline-flex mr-8">
    <div class="font-normal mr-2">{% trans "Recipient" %}</div>
    <temba-anchor href="{% url "contacts.contact_read" call.contact.uuid %}">
      {{ call.contact_urn.get_display }}
    </temba-anchor>
  </div>
  <div class="inline-flex mr-8">
    <div class="font-normal mr-2">{% trans "Duration" %}</div>
    {{ call.get_duration }}
  </div>
  <div class="inline-flex mr-8">
    <div class="font-normal mr-2">{% trans "Date" %}</div>
    {{ call.created_on|datetime }}
  </div>
  <div class="inline-flex mr-8">
    <div class="font-normal mr-2">{% trans "Status" %}</div>
    {{ call.get_status_display }}
  </div>
{% endblock group_object %}
