{% extends "smartmin/delete_confirm.html" %}

{% load smartmin %}
{% load i18n %}

-block page-top

-block modal
  -if object.is_bulk_sender
    .text-center
      Are you sure you want to disable bulk sending for
      .number
        {{ object.get_address_display }}

    :css
      .number {
        font-size:18px;
        padding:10px;
      }

-block content
  -block pjax

    :css
      .icon-android {
       font-size:160px;
       color:#888;
      }

    .row
      .span2
        .glyph.icon-android
      .span9
        <div class="confirmation">


          <h2>{% trans "Remove" %} {% if object.name %}{{object.name}}{% else %}Phone{%endif%}</h2>

          .text-center
          %p
            {% trans "Are you sure you want to remove this number from your workspace?" %}
            .number
              {{ object.get_channel_type_display }} {{ object.get_address_display }}

          <form method="POST">

            {% block delete_form %}{% endblock %}

            <div class="buttons">
              <a class="btn" href="{{ cancel_url }}">{% trans "Cancel" %}</a>
              {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="{% trans 'Remove Phone' %}"/>
            </div>
          </form>

        </div>
