-extends "smartmin/form.html"
-load i18n compress temba

-block title
  .medium-help.icon-viber.float-left

  %h2.font_normalize.header-margin
    -trans "Connect Viber"

-block pre-form
  .info
    %p
      -blocktrans with name=brand.name
        In order to connect your Viber page to {{ name }} you will need to contact Viber and have them
        create an account for you for your bot.

    .important
      %p
        -blocktrans
          Until Viber approves your bot and you enter the service id provided by them you will not be able
          to send and receive messages.

-block extra-style
  {{ block.super }}

  :css
    .important {
      background-color: #efefef;
      border: 1px solid #ccc;
      padding: 10px 10px 0px 10px;
      margin-bottom: 10px;
    }

    .form-horizontal input + .help-block, .form-horizontal select + .help-block, .form-horizontal .uneditable-input + .help-block {
      margin-left: 150px;
    }

