-extends "smartmin/base.html"
-load i18n compress temba

-block page-top
  .row
    .span12
      %h2
        -trans "Add a Channel"
      .instructions
        %p
          -if perms.channels.channel_claim_twitter
            -blocktrans with name=brand.name
              To get started you need to add a channel to your account. A channel is a phone number or social network
              account which {{ name }} can use to send and receive messages on your behalf. You can choose to use an
              Android phone and your own cell phone plan, or we can connect you with a service provider in your country
              directly.
          -else
            -blocktrans with name=brand.name
              To get started you need to add a channel to your account. A channel is a phone number  which {{ name }}
              can use to send and receive messages on your behalf. You can choose to use an
              Android phone and your own cell phone plan, or we can connect you with a service provider in your country
              directly.

-block content
  .channel-options
    %h3
      -trans "Phone Channels"

    .claim-row.android-channel{class:"{% if recommended_channel == 'android' %}recommended{% endif %}"}
      .recommendation.hide
        %h3
          -trans "Recommendation"
        -blocktrans
          We recommend using an Android phone with a local sim card for your country. This phone
          will send and receive messages for you. You will only need one phone per country depending on
          message volume. Don't worry! The people you are texting with can still use basic phones.
      .row
        .span3
          %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_android' %}"}
            .btn-container
              .claim-glyph.icon-channel-android
              %p.claim-text
                -trans "Android Phone"

        .span9
          .claim-description
            %div
              -blocktrans
                Works in any country and uses the cell phone plan
                you already have. You just need an Android phone
                to get started.

    -if user_org.timezone == 'America/Sao_Paulo'
      .claim-row.zenvia-channel
        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_zenvia' %}"}
              .btn-container
                .claim-glyph.icon-channel-external
                %p.claim-text
                  -trans "Zenvia Short Code"
          .span9.no-margin
            .claim-description
              %div
                -blocktrans
                  If you are based in Brazil, you can purchase a short
                  code from <a href="http://www.zenvia.com.br/">Zenvia</a> and connect it
                  in a few simple steps.

    -if user_org.timezone == 'Africa/Nairobi' or user_org.timezone == 'Africa/Kampala'
      .claim-row.africastalking-channel{class:"{% if recommended_channel == 'africastalking' %}recommended{% endif %}"}
        .recommendation.hide
          %h3
            -trans "Recommendation"
          -blocktrans with "<a href='http://africastalking.com'>" as link_start and "</a>" as link_end
            We recommend using an Africa's Talking shortcode in Kenya or Uganda. Visit {{link_start}}their website{{link_end}} for details.

        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_africas_talking' %}"}
              .btn-container
                .claim-glyph.icon-channel-external
                %p.claim-text
                  -trans "Africa's Talking Short Code"

          .span9
            .claim-description
              %div
                -blocktrans with "<a href='http://africastalking.com'>" as link_start and "</a>" as link_end
                  If you are based in Kenya or Uganda, you can purchase a short
                  code from {{link_start}}Africa's Talking{{link_end}} and connect it
                  in a few simple steps.

    -if user_org.timezone == 'Africa/Kampala'
      .claim-row.yo-channel{class:"{% if recommended_channel == 'yo' %}recommended{% endif %}"}
        .recommendation.hide
          %h3
            -trans "Recommendation"
          -blocktrans with "<a href='http://www.yo.co.ug/'>" as link_start and "</a>" as link_end
            We recommend using Yo! in Uganda. Visit {{link_start}}their website{{link_end}} for details.

        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_yo' %}"}
              .btn-container
                .claim-glyph.icon-channel-external
                %p.claim-text
                  -trans "Yo! Short Code"

          .span9
            .claim-description
              %div
                -blocktrans with brand.name as brand
                  If you are based in Uganda, you can integrate {{ brand }} with Yo! to send
                  and receive messages on your shortcode.

    -if user_org.timezone == 'Africa/Mogadishu'
      .claim-row.shaqodoon-channel{class:"{% if recommended_channel == 'shaqodoon' %}recommended{% endif %}"}
        .recommendation.hide
          %h3
            -trans "Recommendation"
          -blocktrans with "<a href='http://www.shaqodoon.org/'>" as link_start and "</a>" as link_end
            We recommend using Shaqodoon in Somalia. Visit {{link_start}}their website{{link_end}} for details.

        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_shaqodoon' %}"}
              .btn-container
                .claim-glyph.icon-channel-external
                %p.claim-text
                  -trans "Shaqodoon Short Code"

          .span9
            .claim-description
              %div
                -blocktrans with brand.name as brand
                  If you are based in Somalia, you can integrate {{ brand }} with Shaqodoon to send
                  and receive messages on your shortcode.

    -if user_org.timezone == 'Asia/Manila'
      .claim-row.globe-channel{class:"{% if recommended_channel == 'globe' %}recommended{% endif %}"}
        .recommendation.hide
          %h3
            -trans "Recommendation"
          -blocktrans with "<a href='http://www.globelabs.com.ph/'>" as link_start and "</a>" as link_end
            We recommend using Globe Labs in the Phillipines. Visit {{link_start}}their website{{link_end}} for details.

        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_globe' %}"}
              .btn-container
                .claim-glyph.icon-channel-external
                %p.claim-text
                  -trans "Globe Short Code"

          .span9
            .claim-description
              %div
                -blocktrans with brand.name as brand
                  If you are based in the Phillipines, you can integrate {{ brand }} with Globe Labs to send
                  and receive messages on your shortcode.

      .claim-row.chikka-channel
        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_chikka' %}"}
              .btn-container
                .claim-glyph.icon-channel-external
                %p.claim-text
                  -trans "Chikka Short Code"

          .span9
            .claim-description
              %div
                -blocktrans with brand.name as brand
                  If you are based in the Phillipines, you can integrate {{ brand }} with Chikka to send
                  and receive messages on your shortcode.

    -if user_org.timezone == 'Asia/Jakarta'
      .claim-row.hub9-channel{class:"{% if recommended_channel == 'hub9' %}recommended{% endif %}"}
        .recommendation.hide
          %h3
            -trans "Recommendation"
          -blocktrans with "<a href='http://www.hub9.biz'>" as link_start and "</a>" as link_end
            We recommend using a Hub9 phone number in Indonesia, please visit {{link_start}}http://www.hub9.biz{{link_end}} for details.

        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_hub9' %}"}
              .btn-container
                .claim-glyph.icon-channel-external
                %p.claim-text
                  -trans "Hub9 Number"

          .span9
            .claim-description
              %div
                -blocktrans
                  Easily add a two way number you have configured with Hub9 in Indonesia.

    -if not user_org.is_connected_to_twilio
      .claim-row.twilio-channel{class:"{% if recommended_channel == 'twilio' %}recommended{% endif %}"}
        .recommendation.hide
          %h3
            -trans "Recommendation"
          -blocktrans with "<a href='http://twilio.com'>" as link_start and "</a>" as link_end
            We recommend using a Twilio phone number for SMS in your country. Sign up for a {{link_start}}Twilio Account{{link_end}} if you don't already have one.

        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim.connect-twilio{href:"#"}
              .btn-container
                .claim-glyph.icon-channel-twilio
                %p.claim-text
                  -trans "Connect Twilio"

          .span9
            .claim-description
              %div
                -blocktrans
                  The easiest way to get started if you are in
                  {{ twilio_countries }}, connect a Twilio account
                  and get a dedicated phone number.



    -else
      .claim-row.twilio-channel{class:"{% if recommended_channel == 'twilio' %}recommended{% endif %}"}
        .recommendation.hide
          %h3
            -trans "Recommendation"
          -blocktrans
            We recommend using a Twilio phone number for SMS in your country, select this option to purchase a number or use one you already have.

        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_twilio' %}"}
              .btn-container
                .claim-glyph.icon-channel-twilio
                %p.claim-text
                  -trans "Twilio Number"

          .span9
            .claim-description
              %div
                -blocktrans
                  Instantly add a dedicated phone number in the area code of your choice.


      .claim-row.twilio-messaging-service-channel
        .recommendation.hide
          %h3
            -trans "Recommendation"
          -blocktrans


        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_twilio_messaging_service' %}"}
              .btn-container
                .claim-glyph.icon-channel-twilio
                %p.claim-text
                  -trans "Twilio Messaging Service"

          .span9
            .claim-description
              %div
                -blocktrans
                  You can connect a messaging service from your Twilio account to benefit from <a href="https://www.twilio.com/copilot">Twilio Copilot features</a></br>

    -if not user_org.is_connected_to_nexmo
      .claim-row.nexmo-channel{class:"{% if recommended_channel == 'nexmo' %}recommended{% endif %}"}
        .recommendation.hide
          %h3
            -trans "Recommendation"
          -blocktrans
            We recommend using a Nexmo number in your country, select this option to purchase a number or use one you already have.
        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim.connect-nexmo{href:"#"}
              .btn-container
                .claim-glyph.icon-channel-nexmo
                %p.claim-text
                  -trans "Connect Nexmo"

          .span9
            .claim-description
              %div
                -blocktrans
                  Another great option is to connect
                  a <a href="http://nexmo.com" target="_blank">Nexmo</a> Account and get a dedicated number in a few minutes.

    -else
      .claim-row.nexmo-channel{class:"{% if recommended == 'nexmo' %}recommended{% endif %}"}
        .recommendation.hide
          %h3
            -trans "Recommendation"
          -blocktrans
            We recommend using a Nexmo number in your country, select this option to purchase a number or use one you already have.
        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_nexmo' %}"}
              .btn-container
                .claim-glyph.icon-channel-nexmo
                %p.claim-text
                  -trans "Nexmo Number"

          .span9
            .claim-description
              %div
                -blocktrans
                  Instantly add a dedicated phone number in the area code of your
                  choice from your connected
                %a.nexmo-account{href:"#"}
                  -trans "Nexmo Account."

    .claim-row.plivo-channel{class:"{% if recommended_channel == 'plivo' %}recommended{% endif %}"}
      .recommendation.hide
        %h3
          -trans "Recommendation"
        -blocktrans
          We recommend using a Plivo number in your country, select this option to purchase a number or use one you already have.
      .row
        .span3
          %a.btn.btn-primary.btn-primary-muted.btn-claim.connect-plivo{href:"#"}
            .btn-container
              .claim-glyph.icon-channel-plivo
              %p.claim-text
                -trans "Plivo Number"

        .span9
          .claim-description
            %div
              -blocktrans
                <a href="http://plivo.com" target="_blank">Plivo</a> provides local connectivity in a number of countries, connect
                your Plivo Account and get a dedicated number in a few minutes.

    .claim-row.clickatell-channel
      .row
        .span3
          %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_clickatell' %}"}
            .btn-container
              .claim-glyph.icon-channel-clickatell
              %p.claim-text
                -trans "Clickatell"

        .span9
          .claim-description
            %div
              -blocktrans
                Connect your <a href="http://clickatell.com/" target="_blank">Clickatell</a> number, we'll walk you
                through the steps necessary to get your Clickatell connection working in a few minutes.

    .claim-row.kannel-channel
      .row
        .span3
          %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_kannel' %}"}
            .btn-container
              .claim-glyph.icon-channel-kannel
              %p.claim-text
                -trans "Kannel"

        .span9
          .claim-description
            %div
              -blocktrans
                Connect your <a href="http://www.kannel.org/" target="_blank">Kannel</a> instance, we'll walk you through
                the steps necessary to get your SMSC connection working in a few minutes.

    .claim-row.jasmin-channel
      .row
        .span3
          %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_jasmin' %}"}
            .btn-container
              .claim-glyph.icon-channel-external
              %p.claim-text
                -trans "Jasmin"

        .span9
          .claim-description
            %div
              -blocktrans
                Connect your <a href="http://www.jasminsms.com/" target="_blank">Jasmin</a> instance that you have
                already connected to an SMSC.

    -if user_org.timezone == 'Europe/Paris'
      .claim-row.highconnection-channel
        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_high_connection' %}"}
              .btn-container
                .claim-glyph.icon-channel-external
                %p.claim-text
                  -trans "High Connection Number"

          .span9.no-margin
            .claim-description
              %div
                -blocktrans
                  If you are based in France, you can purchase use a number you have been provided by
                  <a href="http://www.highconnexion.com/en/">High Connection</a> and connect it in a few simple steps.


    -if user_org.timezone == 'Asia/Kathmandu'
      .claim-row.blackmyna-channel{class:"{% if recommended_channel == 'blackmyna' %}recommended{% endif %}"}
        .recommendation.hide
          %h3
            -trans "Recommendation"
          -blocktrans
            We recommend using a Blackmyna phone number for SMS in your country, select this option to configure your number.
        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_blackmyna' %}"}
              .btn-container
                .claim-glyph.icon-channel-external
                %p.claim-text
                  -trans "Blackmyna Number"

          .span9
            .claim-description
              %div
                -blocktrans
                  Easily add a two way number you have configured with <a href="http://blackmyna.com">Blackmyna</a> using their APIs.

      .claim-row.smscentral-channel
        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_smscentral' %}"}
              .btn-container
                .claim-glyph.icon-channel-external
                %p.claim-text
                  -trans "SMSCentral Number"

          .span9
            .claim-description
              %div
                -blocktrans
                  Easily add a two way number you have configured with <a href="http://smscentral.com.np/">SMSCentral</a> using their APIs.

    -if user_org.timezone == 'Europe/Kiev'
      .claim-row.start-channel
        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_start' %}"}
              .btn-container
                .claim-glyph.icon-channel-external
                %p.claim-text
                  -trans "Start Mobile Number"

          .span9
            .claim-description
              %div
                -blocktrans
                  Easily add a two way number you have configured with <a href="https://bulk.startmobile.ua/">Start Mobile</a> using their APIs.

    -if False
      .claim-row.infobip-channel
        .recommendation.hide
          %h3
            -trans "Recommendation"
          -blocktrans
            We recommend using an Infobip phone number for SMS in your country, select this option to configure your number.
        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_infobip' %}"}
              .btn-container
                .claim-glyph.icon-channel-external
                %p.claim-text
                  -trans "Infobip Number"

          .span9
            .claim-description
              %div
                -blocktrans
                  Easily add a two way number you have configured with <a href="http://infobip.com">Infobip</a> using their APIs.

    -if user_org.timezone == 'Asia/Karachi'
      .claim-row.m3tech-channel{class:"{% if recommended_channel == 'm3tech' %}recommended{% endif %}"}
        .recommendation.hide
          %h3
            -trans "Recommendation"
          -blocktrans
            We recommend using an M3 Tech phone number for SMS in your country, select this option to configure your number.
        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_m3tech' %}"}
              .btn-container
                .claim-glyph.icon-channel-external
                %p.claim-text
                  -trans "M3 Tech Number"

          .span9
            .claim-description
              %div
                -blocktrans
                  Easily add a two way number you have configured with <a href="http://m3techservice.com">M3 Tech</a> using their APIs.

    -if False
      .claim-row.verboice-channel
        .recommendation.hide
          %h3
            -trans "Recommendation"
          -blocktrans
            We recommend using Verboice for voice calling in your country
        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_verboice' %}"}
              .btn-container
                .claim-glyph.icon-channel-external
                %p.claim-text
                  -trans "Verboice"

          .span9
            .claim-description
              %div
                -blocktrans
                  Use a <a href="http://verboice.instedd.org">Verboice</a> connection to leverage in-country SIP connections for building voice (IVR) flows.

    -if False
      .claim-row.vumi-channel
        .recommendation.hide
          %h3
            -trans "Recommendation"
          -blocktrans
            We recommend using Vumi to connect a short code in your country, select this option to configure your number.
        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_vumi' %}"}
              .btn-container
                .claim-glyph.icon-channel-external
                %p.claim-text
                  -trans "Vumi Number"

          .span9
            .claim-description
              %div
                -blocktrans
                  Easily connect your <a href="http://vumi.com/">Vumi</a> account to take advantage of two way texting across different mediums.

    -if user_org.timezone == 'Africa/Johannesburg'
      .claim-row.vumi-ussd-channel
        .recommendation.hide
          %h3
            -trans "Recommendation"
          -blocktrans
            We recommend using Vumi USSD to connect a USSD code in your country, select this option to configure your channel.
        .row
          .span3
            %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_vumi_ussd' %}"}
              .claim-glyph.icon-channel-external
              %p.claim-text
                -trans "Vumi USSD"

          .span9
            .claim-description
              %div
                -blocktrans
                  Easily connect your <a href="http://go.vumi.org/">Vumi</a> account to take advantage of session based messaging across USSD transports.

    .claim-row.external-channel
      .row
        .span3
          %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_external' %}"}
            .btn-container
              .claim-glyph.icon-power-cord
              %p.claim-text
                -trans "External API"

        .span9
          .claim-description
            %div
              -trans "Use our pluggable API to connect an external service you already have."

    -if org_perms.channels.channel_claim_twitter or org_perms.channels.channel_claim_telegram or org_perms.channels.channel_claim_facebook
      %h3
        -trans "Social Network Channels"

      -if org_perms.channels.channel_claim_facebook
        .claim-row.facebook-channel
          .row
            .span3
              %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_facebook' %}"}
                .btn-container
                  .claim-glyph.icon-facebook-official
                  %p.claim-text
                    -trans "Facebook"

            .span9
              .claim-description
                %div
                  -blocktrans
                    Add a <a href="http://facebook.com">Facebook</a> bot to send and receive messages on behalf
                    of one of your Facebook pages for free. You will need to create a Facebook application on
                    their <a href="http://developers.facebook.com">developers</a> site first.

      -if org_perms.channels.channel_claim_twitter
        .claim-row.twitter-channel
          .row
            .span3
              %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_twitter' %}"}
                .btn-container
                  .claim-glyph.icon-twitter
                  %p.claim-text
                    -trans "Twitter"

            .span9
              .claim-description
                %div
                  -blocktrans
                    Add a <a href="http://twitter.com">Twitter</a> account to send messages as direct messages.

      -if org_perms.channels.channel_claim_telegram
        .claim-row.twitter-channel
          .row
            .span3
              %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_claim_telegram' %}"}
                .btn-container
                  .claim-glyph.icon-telegram
                  %p.claim-text
                    -trans "Telegram"

            .span9
              .claim-description
                %div
                  -blocktrans
                    Add a <a href="https://telegram.org">Telegram</a> bot to send and receive messages to Telegram users
                    for free. Your users will need an Android, Windows or iOS device and a Telegram account to send
                    and receive messages.

      -if org_perms.channels.channel_claim_viber
        .claim-row.viber-channel
          .row
            .span3
              %a.btn.btn-primary.btn-primary-muted.btn-claim{href:"{% url 'channels.channel_create_viber' %}"}
                .btn-container
                  .claim-glyph.icon-viber
                  %p.claim-text
                    -trans "Viber"

            .span9
              .claim-description
                %div
                  -blocktrans
                    Add a <a href="http://viber.com/en/">Viber</a> bot to send and receive messages to Viber users
                    for free. Your users will need an Android, Windows or iOS device and a Viber account to send
                    and receive messages.


-block form-buttons

-block extra-script
  {{block.super}}

  :javascript


    $(document).ready(function() {
      var channel = $('.claim-row.recommended');
      $('.channel-options').prepend(channel);
    });

    {% if not user_org.is_connected_to_twilio %}
      $(".connect-twilio").live('click', function() {
        var modal = new Modax('{% trans "Connect Twilio" %}', '{% url "orgs.org_twilio_connect" %}');
        modal.setIcon("icon-channel-twilio");
        modal.setListeners({onCompleted: function() {
        },
        onFormLoaded: function() {
          form = modal.ele.find("form");
          form.attr('autocomplete', 'off');
        }});
        modal.setRedirectOnSuccess(true);
        modal.show();
      });
    {% endif %}

    {% if not user_org.is_connected_to_nexmo %}
      $(".connect-nexmo").live('click', function() {
        var modal = new Modax('{% trans "Connect Nexmo" %}', '{% url "orgs.org_nexmo_connect" %}');
        modal.setIcon("icon-nexmo");
        modal.setListeners({onCompleted: function() {
        },
        onFormLoaded: function() {
          form = modal.ele.find("form");
          form.attr('autocomplete', 'off');
        }})
        modal.setRedirectOnSuccess(true);
        modal.show();
      });
    {% else %}
      $(".nexmo-account").live('click', function() {
        var modal = new Modax('{% trans "Disconnect Nexmo" %}', '{% url "orgs.org_nexmo_account" %}');
        modal.setIcon("icon-nexmo");
        modal.addClass("alert");
        modal.setRedirectOnSuccess(true);
        modal.show();
      });
    {% endif %}

    $(".connect-plivo").live('click', function() {
        var modal = new Modax('{% trans "Connect plivo" %}', '{% url "orgs.org_plivo_connect" %}');
        modal.setIcon("icon-plivo");
        modal.setListeners({onCompleted: function() {
        },
        onFormLoaded: function() {
          form = modal.ele.find("form");
          form.attr('autocomplete', 'off');
        }})
        modal.setRedirectOnSuccess(true);
        modal.show();
      });


-block extra-less
  -compress css inline
    {% lessblock %}
      :plain

        .channel-options {
          h3 {
            margin-top: 30px;
          }
        }

        .checking-recommendations {
          margin-bottom:10px;
        }

        .recommended {
          .btn-primary {
            background: @flat-mutedgreen;
            border-color: @flat-mutedgreen - #111;
          }

          .claim-description {

          }

          .recommendation {
            h3 {
              margin-top: 0px;
            }

            display:inline-block;
            padding:5px;
            margin-top: 5px;
            margin-bottom:10px;
            display:inline-block;
            .icon-star-2 {
              color: @flat-darkwhite - #222;
              font-size:22px;
              float:left;
              position:relative;
              top: -3px;
              margin-right:16px;


            }
          }

        }
    {% endlessblock %}


-block extra-style
  :css


    .horizontal-channel {
      margin-top: 30px;
    }

    .claim-description {
      padding: 25px 40px;
      height: 50px;
      width:95%;
      background: #f5f5f5;
      font-size: 16px;
    }

    .align-text-center {
      text-align: center;
    }

    .claim-text {
      margin-top: 10px;
    }

    .btn-container {
      margin-right: 10px;
    }

    .external {
      text-align: center;
    }

    .claim-glyph {
      line-height: 40px;
      text-decoration: none;
      font-size: 40px;
      display: inline;
      padding-bottom: 10px;
    }

    .btn-claim {
      padding: 10px 10px;
      width: 95%;
      height: 78px;
    }

    .claim-row {
      clear: both;
      margin-bottom: 10px;
    }

    .icon-everywhere {
      font-size: 68px;
    }

    .icon-channel-kannel {
      font-size: 55px;
      margin-top: -5px;
    }

    .icon-facebook-official {
      font-size: 48px;
    }

    ul {
      list-style-type: none;
    }

    a:hover {
      text-decoration: none;
    }

    .claim-row .span9 {
      margin-left: 0px;
    }
