-extends "smartmin/update.html"
-load i18n

-block title

  %h2
    {{ title }}

-block form-buttons
  .form-actions
    %input.btn.btn-primary{type:"submit", value:"{{ submit_button_name }}"}
    %a.btn{onclick:"javascript:history.go(-1)"}
      -trans "Cancel"

  {% if object.channel_type == "WCH" %}
  #ccl-web-surveyor
  {% endif %}

-block extra-style
  :css
    .form-group {
      margin-bottom:15px;
    }
    
    #id_welcome_message {
        min-height: 100px;
    }

    .welcome-message-languages a {
      display: inline-block;
      margin: 2px 0;
      padding: 0 10px;
      border-right: 1px solid #569D9B;
    }

    .ref-welcome-message-languages a:first-child {
      padding: 0 10px 0 0;
    }

    .ref-welcome-message-languages a:last-child {
      padding: 0 0 0 10px;
      border-right: none;
    }

    .ref-welcome-message-languages a.active {
      color: #000000;
    }

{% block extra-script %}
<script src="{{ STATIC_URL }}js/jscolor.js"></script>
{% if object.channel_type == "WCH" %}
<script src="https://ccl-web-surveyor.s3-us-west-1.amazonaws.com/latest/ccl-web-surveyor.min.js" type="text/javascript"></script>
{% endif %}
:javascript
  function buildWebChat() {
    var title = $("#id_title").val();
    var icon = "{{ object.config.logo }}";
    var welcomeMessage = $("#id_welcome_message_default").val();
    var widgetBackgroundColor = "#" + $("#id_widget_bg_color").val();
    var chatHeaderBackgroundColor = "#" + $("#id_chat_header_bg_color").val();
    var chatHeaderTextColor = "#" + $("#id_chat_header_text_color").val();
    var automatedChatBackgroundColor = "#" + $("#id_automated_chat_bg").val();
    var automatedChatTextColor = "#" + $("#id_automated_chat_txt").val();
    var userChatBackgroundColor = "#" + $("#id_user_chat_bg").val();
    var userChatTextColor = "#" + $("#id_user_chat_txt").val();
    var logoStyle = "circle";
    var chatButtonHeight = 64;
    var sidePadding = parseInt($("#id_side_padding").val());
    var bottomPadding = parseInt($("#id_bottom_padding").val());
    var sideOfScreen = $("#id_side_of_screen").val();

    window.renderSurveyor({
      socketUrl: 'https://websocket.communityconnectlabs.com',
      channelUUID: '{{ object.uuid }}',
      title: title,
      autoOpen: true,
      hostApi: 'https://{{ hostname }}',
      icon: icon,
      welcomeMessage: welcomeMessage,
      theme: {
        widgetBackgroundColor: widgetBackgroundColor,
        chatHeaderBackgroundColor: chatHeaderBackgroundColor,
        chatHeaderTextColor: chatHeaderTextColor,
        automatedChatBackgroundColor: automatedChatBackgroundColor,
        automatedChatTextColor: automatedChatTextColor,
        userChatBackgroundColor: userChatBackgroundColor,
        userChatTextColor: userChatTextColor,
        logoStyle: logoStyle,
        chatButtonHeight: chatButtonHeight,
        sidePadding: sidePadding,
        bottomPadding: bottomPadding,
        sideOfScreen: sideOfScreen
      },
      meta: {
        icon: {
          width: 64,
          height: 64
        }
      }
    }, 'ccl-web-surveyor');
  }
  (function($) {
    // change the value of the first option to be empty so that select2 placeholder works
    $('#id_country').children(":first").remove();

    $('#id_country').select2({
      // add this class the select2 if you want to look similar with other fields
      containerCssClass: 'select2-temba-field',
      placeholder: "{% trans 'Select a Country' %}"
    });

    useFontCheckbox("#id_allow_international");

    $('#id_theme').select2({
      width: '370px',
      containerCssClass: 'select2-temba-field',
      placeholder: "{% trans 'Select a theme' %}"
    });

    $('#id_logo_style').select2({
      width: '120px',
      containerCssClass: 'select2-temba-field',
      minimumResultsForSearch: Infinity
    });

    $('#id_auto_open').select2({
      width: '100px',
      containerCssClass: 'select2-temba-field',
      minimumResultsForSearch: Infinity
    });

    $('#id_side_of_screen').select2({
      width: '100px',
      containerCssClass: 'select2-temba-field',
      minimumResultsForSearch: Infinity
    });

    // adding languages to the form
    {% if object.channel_type == "WCH" and languages %}
    $(document).ready(function() {
      buildWebChat();

      {% for item in customable_fields %}
      $("{{ item }}").blur(function() {
        buildWebChat();
      });
      {% endfor %}

      $("#id_side_of_screen").change(function() {
        buildWebChat();
      })

      var allLanguages = [];

      {% for lang in languages %}
      allLanguages.push({"iso_code": "{{ lang.iso_code }}", "name": "{{ lang.name }}"});
      {% endfor %}

      var divLanguages;
      var welcomeMessageField;
      var allDivLanguages = [];

      for (lang in allLanguages) {
        divLanguages = document.createElement("div");
        divLanguages.classList.add("welcome-message-languages-" + allLanguages[lang]["iso_code"]);
        divLanguages.classList.add("ref-welcome-message-languages");
        welcomeMessageField = document.getElementsByClassName("field_welcome_message_" + allLanguages[lang]["iso_code"]);
        welcomeMessageField[0].appendChild(divLanguages);
        allDivLanguages.push(divLanguages);
      }

      for (divLang in allDivLanguages) {
        for (lang in allLanguages) {
          var divLangItem = document.createElement("a");
          divLangItem.href = "javascript:;";
          divLangItem.setAttribute("data-iso-code", allLanguages[lang]["iso_code"]);
          divLangItem.onclick = function() { changeLangField($(this)) };
          divLangItem.text = allLanguages[lang]["name"];
          if (lang == 0) {
            divLangItem.classList.add("active");
          }
          allDivLanguages[divLang].appendChild(divLangItem);
        }
      }

      $.each($("div[class^='control-group field_welcome_message_']"), function (index) {
        if (index !== 0) {
          $(this).addClass("hide");
        }
      });

    });
    {% endif %}

  })(jQuery);

  function changeLangField(el) {
    $(".ref-welcome-message-languages a").removeClass("active");
    $("a[data-iso-code='" + el.data('iso-code') + "']").addClass("active");
    $("div[class^='control-group field_welcome_message_']").addClass('hide');
    $(".field_welcome_message_" + el.data('iso-code')).removeClass('hide');
  }

{% endblock %}
