{% extends "smartmin/base.html" %}
{% load i18n compress temba %}

{% block title-text %}
  {% trans "New Channel" %}
{% endblock title-text %}
{% block content %}
  {% blocktrans trimmed with name=branding.name %}
    To send and receive messages you need to add a channel to your workspace. A channel is a phone number or social network
    account which {{ name }} can use to send and receive messages on your behalf.
  {% endblocktrans %}
  {% if total_count >= total_limit %}
    <div class="mb-4">
      <temba-alert level="warning">
        {% blocktrans trimmed with limit=total_limit %}
          You have reached the limit of {{ limit }} channels per workspace. Please remove channels that you are no longer using.
        {% endblocktrans %}
      </temba-alert>
    </div>
  {% elif total_count >= total_limit|add:-1 %}
    <div class="mb-4">
      <temba-alert level="warning">
        {% blocktrans trimmed with limit=total_limit %}
          You are approaching the limit of {{ limit }} channels per workspace. You should remove channels that you are no longer using.
        {% endblocktrans %}
      </temba-alert>
    </div>
  {% endif %}
  <div class="mt-8">
    {% if recommended_channels %}
      <div class="title">{% trans "Recommendations" %}</div>
      {% for ch_type in recommended_channels %}
        <div href="{% url 'channels.types.'|add:ch_type.slug|add:'.claim' %}"
             onclick="goto(event, this)"
             class="card link">
          <div class="relative">
            <temba-icon name="{{ ch_type.icon }}" class="text-base absolute text-gray-100 bg-icon">
            </temba-icon>
          </div>
          <div class="flex flex-col mx-20 relative">
            <div class="title">{{ ch_type.name }}</div>
            <div class="mt-2">{% include ch_type.get_claim_blurb %}</div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    <div class="mt-8">
      <div class="title">{% trans "Social Network Channels" %}</div>
      {% for ch_type in channel_types.SOCIAL_MEDIA %}
        <div href="{% url 'channels.types.'|add:ch_type.slug|add:'.claim' %}"
             onclick="goto(event, this)"
             class="card link">
          <div class="relative">
            <temba-icon name="{{ ch_type.icon }}" class="text-base absolute text-gray-100 bg-icon">
            </temba-icon>
          </div>
          <div class="flex flex-col mx-20 relative">
            <div class="title">{{ ch_type.name }}</div>
            <div class="mt-2">{% include ch_type.get_claim_blurb %}</div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="mt-8">
      <div class="title mb-4 mt-8">{% trans "SMS and Voice Channels" %}</div>
      {% for ch_type in channel_types.PHONE %}
        <div href="{% url 'channels.types.'|add:ch_type.slug|add:'.claim' %}"
             onclick="goto(event, this)"
             class="card link">
          <div class="relative">
            <temba-icon name="{{ ch_type.icon }}" class="text-base absolute text-gray-100 bg-icon">
            </temba-icon>
          </div>
          <div class="flex flex-col mx-20 relative">
            <div class="title">{{ ch_type.name }}</div>
            <div class="mt-2">{% include ch_type.get_claim_blurb %}</div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="mt-8">
      <div class="title">{% trans "API Channels" %}</div>
      {% for ch_type in channel_types.API %}
        <div href="{% url 'channels.types.'|add:ch_type.slug|add:'.claim' %}"
             onclick="goto(event, this)"
             class="card link">
          <div class="relative">
            <temba-icon name="{{ ch_type.icon }}" class="text-base absolute text-gray-100 bg-icon">
            </temba-icon>
          </div>
          <div class="flex flex-col mx-20 relative">
            <div class="title">{{ ch_type.name }}</div>
            <div class="mt-2">{% include ch_type.get_claim_blurb %}</div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if only_regional_channels %}
      <div class="mt-8">
        {% url 'channels.channel_claim_all' as claim_all_url %}
        {% blocktrans trimmed %}
          The channels above are the available channels for your region, but you can also <a class="inline" href="{{ claim_all_url }}">view all channels</a>.
        {% endblocktrans %}
      </div>
    {% endif %}
  </div>
{% endblock content %}
{% block form-buttons %}
{% endblock form-buttons %}
{% block extra-style %}
  {{ block.super }}
  <style type="text/css">
    .card:hover .bg-icon {
      color: rgb(var(--focus-rgb), .3);
    }

    .bg-icon {
      transform: translate(-65px, -35px) rotate(0deg);
      font-size: 120px;
    }
  </style>
{% endblock extra-style %}
