{% extends "smartmin/read.html" %}
{% load i18n compress %}

{% block title-text %}
  {% trans "Channel Log" %}
{% endblock title-text %}
{% block subtitle %}
  {{ object.channel.get_channel_type_display }}
{% endblock subtitle %}
{% block content %}
  {% include "channels/channellog.html" with log=log %}
{% endblock content %}
{% block extra-script %}
  {{ block.super }}
  <script type="text/javascript">
    onSpload(function() {
      prettyPrint();
    });
  </script>
{% endblock extra-script %}
{% block extra-style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}rest_framework/css/prettify.css" />
  <style type="text/css">
    table.http-log tbody tr:first-child td {
      padding: 1.5rem;
    }

    pre.prettyprint {
      margin: 0;
      border: 0;
      max-height: none !important;
      padding: 1.5rem;
    }

    pre.prettyprint.request {
      background: #ffffff;
    }
  </style>
  <style type="text/css">
    .page-content {
      max-width: 100%;
    }
  </style>
{% endblock extra-style %}
