-extends "channels/channellog_group_base.haml"
-load i18n

-block title
  -trans "Call Log"

-block group_object
  .inline-flex.mr-8
    .font-normal.mr-2
      -trans "Recipient"
    %temba-anchor(href='{% url "contacts.contact_read" call.contact.uuid %}')
      {{ call.contact_urn.get_display }}

  .inline-flex.mr-8
    .font-normal.mr-2
      -trans "Duration"
    {{ call.get_duration }}

  .inline-flex.mr-8
    .font-normal.mr-2
      -trans "Date"
    {% format_datetime call.created_on seconds=True %}

  .inline-flex.mr-8
    .font-normal.mr-2
      -trans "Status"
    {{ call.get_status_display }}
