-extends "smartmin/read.haml"
-load i18n channels

-block title
  {{ object.get_channel_type_display }} Configuration

-block subtitle
  {{ object.get_address_display }}

  -if object.get_country_display
    .text-base
      {{ object.get_country_display }}

-block content
  -if configuration_template
    {{ configuration_template }}

  -elif configuration_blurb
    {{configuration_blurb}}

  -for url in configuration_urls
    .card.mt-6
      .title
        {{url.label}}
      .code.inline-block.mt-3
        {{url.url}}       

      .my-4
        {{url.description}}

  -if show_public_addresses
    .mt-6.card
      .title
        -trans "IP Addresses"
      .mt-2
        -trans "Additionally you will need to make sure the following IP addresses are whitelisted"
      .mt-2
        -for ip_address in ip_addresses
          .code.inline.mr-1= ip_address

-block extra-script
  {{ block.super }}
  <script src="{{ STATIC_URL }}rest_framework/js/prettify-min.js"></script>
  :javascript
    $(function(){
      prettyPrint();
    });
