-extends "smartmin/update.html"
-load i18n

-block title

  %h2
    {{ title }}

-block form-buttons
  .form-actions
    %input.btn.btn-primary{type:"submit", value:"{{ submit_button_name }}"}
    %a.btn{onclick:"javascript:history.go(-1)"}
      -trans "Cancel"
