-load humanize channels i18n


%table.list.toggle.stateful
  %thead
    %tr.border-b
      %th(style="width: 30px;")
        {{ log.response_status }}

      %th
        .font-bold
          %span.method= log.method
            {% channellog_url log %}

      %th
        .text-right
          -if log.request_time
            -trans "Request time"
            %span.request-time-value
              {{ log.request_time|default:"0"|intcomma }}ms
      %th
        .text-right
          {{log.created_on|date:"M j, Y g:i:s a"}}

      %th(style="width: 10px;")

  %tbody
    %tr
      %td(colspan="5" style="padding:0;")
        %pre.prettyprint.request<
          :plain
            {% channellog_request log %}

    %tr
      %td(colspan="5" style="padding:0;")
        %pre.prettyprint.response<
          :plain
            {% channellog_response log %}
