-extends "channels/channellog_read.html"
-load i18n

-block title
  -trans "Call Log"

-block log-recipient
  %a(href='{% url "contacts.contact_read" object.contact.uuid %}')
    {{ object.contact_urn.path }}

-block log-direction
  {{ object.get_direction_display }}

-block log-status
  {{ object.get_status_display }}
  -if object.status == "E" or object.status == "F"
    -if object.error_reason
      \({{ object.get_error_reason_display }})

-block log-entries
  -for log in object.channel_logs.all
    -include "channels/channellog_log.haml"
