-extends "smartmin/form.html"

-load compress temba
-load i18n

-block title-icon

-block title
  -trans "Connect a Phone Number"

-block content
  - block claim-numbers-description
    -blocktrans trimmed
      Once you connect a number you will immediately be able to send and receive messages. Contacts who send messages
      to your number will be charged according to their plan.

  - block account-trial-warning

  - block numbers-search-form
    .card.mt-6
      %form#search-form
        .flex.items-end
          .country.w-64.mr-3
            -block country-select
              %temba-select#country(name="country" label='{{_("Country")|escapejs}}')
                -for country in search_countries
                  %temba-option(name="{{country.label}}" value="{{country.key}}")

          .area-code.w-32.mr-3
            -block search-pattern
              %temba-textinput#area-code(type="text" maxlength="3" name="area_code" label='{{_("Pattern")}}')
            
          %input.button-primary{ type:"submit", value:"{% trans 'Search' %}" }

      .twilio-numbers-title

      #throbber.my-6{ style: "display:none;" }
        %temba-loading
      #results.my-6



  -if form.errors
    -if form.errors.upgrade
      :javascript
        document.location.href = '{% url 'orgs.org_upgrade_plan' %}?from=twilio'
    -else
      .alert-error.my-4
        {{ form.errors.phone_number }}

  #claim-message.alert-warning{ style: "display:none;margin-top:10px;" }
    -if error
      {{ error }}

  -if account_numbers
    #account-numbers.card.mt-3.mb-3
      .title
        -trans "Existing Numbers"
      .mb-3
        -trans "Select a number you already own to connect it to your account."
      -for number in account_numbers
        - if number.country in supported_country_iso_codes or number.number|length <= 6
          .lbl.mt-3.mr-2.linked{class:"phone-number", data-number:"{{ number.number}}", data-country:"{{ number.country}}" }
            {{ number.number }}
            (<span class="country">{{ number.country }}</span>)
        - else
          .lbl.mt-3.mr-2{class:"unsupported-number", data-number:"{{ number.number}}", data-country:"{{ number.country}}" }
            {{ number.number }}
            -trans "(Unsupported)"

  %form#claim-form{ style: "display:none;", method:"POST", action:"{{ claim_url }}" }
    {% csrf_token %}
    %input#claim-country{ type:"text", name:"country" }
    %input#phone-number{ type:"text", name:"phone_number" }

-block extra-script
  {{ block.super }}

  :javascript
    $("#results").on('click', ".phone-number", function(e){
        var country = document.querySelector("#country").values[0].value;

        $("#phone-number").val($(this).data("number"));
        $("#claim-country").val(country);
        $("#claim-form").submit();
    });

    $("#account-numbers").on('click', ".phone-number", function(e){
        $("#phone-number").val($(this).data("number"));
        $("#claim-country").val($(this).data("country"));
        $("#claim-form").submit();
    });

    function searchNumbers(e){
      var area_code = document.querySelector('#area-code').value;      
      var country = document.querySelector("#country").values[0].value;

      $("#claim-message").hide();
      $("#results").empty();
      $("#throbber").show();

      $.ajax({
        type: "POST",
        url: "{{ search_url }}",
        data: { area_code: area_code, country: country },
        dataType: "json",
        success: function(data, status, xhr){
          $("#throbber").hide();
          if (data.length > 0){
            $("#claim-country").val(country);
            for (var i=0; i < data.length; i++){
              $("#results").append("<div class='lbl phone-number mt-3 mr-2 linked' data-number='" + data[i] + "'>" + data[i] + "</div>");
            }
            $("#results").show();
          } else if ('error' in data) {
            $("#claim-message").text(data['error']);
            $("#claim-message").show();
          } else {
            $("#claim-message").text("{% trans 'Sorry, no numbers found, please enter another pattern and try again.' %}");
            $("#claim-message").show();
          }
        },
        failure: function(req){
           $("#throbber").hide();
           $("#claim-message").show();
        }
      });

      e.preventDefault();
      return false;
    }

    $(function(){
      $("#search-form").on('submit', searchNumbers);
    });
