{% extends "smartmin/read.html" %}
{% load i18n channels %}

{% block title-text %}
  {{ object.name }} Configuration
{% endblock title-text %}
{% block subtitle %}
  <div class="text-gray-500 text-xl">
    {{ object.type.name }}:
    {{ object.get_address_display }}
  </div>
{% endblock subtitle %}
{% block content %}
  {{ blurb }}
  {% for endpoint in endpoints %}
    <div class="card mt-3 p-4 flex-shrink-0">
      <div class="text-xl">{{ endpoint.label }}</div>
      {% if url.help %}<div class="mt-2">{{ endpoint.help }}</div>{% endif %}
      <div class="code block mt-3 mx-0 whitespace-normal">{{ endpoint.url }}</div>
    </div>
  {% endfor %}
  {% if secret %}
    <div class="card mt-3 p-4 flex-shrink-0">
      <div class="text-xl">{% trans "Webhook Secret" %}</div>
      <div class="code block mt-3 mx-0 whitespace-normal">{{ secret }}</div>
    </div>
  {% endif %}
  {% if ip_addresses %}
    <div class="card mt-3 p-4 flex-shrink-0">
      <div class="text-xl">{% trans "IP Addresses" %}</div>
      <div class="mt-2">{% trans "Ensure the following IP addresses are whitelisted." %}</div>
      <div class="mt-2">
        {% for addr in ip_addresses %}<div class="code inline mr-1">{{ addr }}</div>{% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock content %}
{% block extra-script %}
  {{ block.super }}
  <script type="text/javascript">
    onSpload(function() {
      prettyPrint();
    });
  </script>
{% endblock extra-script %}
