-extends "msgs/message_box.html"
-load smartmin contacts
-load i18n

-block title-icon
  %span.title-icon
    .glyph.icon-phone

-block action-buttons

-block search-details
  .search-details
    -if search
      -blocktrans count results_count=paginator.count
        Found {{ results_count }} call in last 90 days for <i>{{search}}</i>.
        -plural
          Found {{ results_count }} calls in last 90 days for <i>{{search}}</i>.

-block message-list
  %table.list-table.list_rsms_message.table.table-condensed{style: '{% if not org_perms.msgs.broadcast_send  %}margin-top:10px{% endif %}'}
    %tbody
      -for object in object_list
        %tr.select-row{class:'{% cycle row1 row2 %}', onClick:'document.location="{% url "contacts.contact_read" object.contact.uuid %}"'}
          %td.value-phone.field_contact
            {{ object.contact|short_name:user_org }}
          %td.value-text.field_event_type
            - if object.event_type == 'mt_call'
              -blocktrans with duration=object.extra.duration
                Outgoing Call ({{duration}} seconds)
            - elif object.event_type == 'mo_call'
              -blocktrans with duration=object.extra.duration
                Incoming Call ({{duration}} seconds)
            - elif object.event_type == 'mo_miss'
              -trans "Missed Incoming Call"
            - elif object.event_type == 'mt_miss'
              -trans "Missed Outgoing Call"
            - else
              - get_value object 'event_type'
          %td.value-icon
            - if object.event_type == 'mt_call'
              %span.glyph.icon-call-outgoing
            - elif object.event_type == 'mo_call'
              %span.glyph.icon-call-incoming
            - else
              %span.glyph.icon-phone
          %td.value-received.field_time
            %nobr
              {{ object.occurred_on|gmail_time }}

        -empty
          %tr
            %td{colspan:3}
              -trans "No Matching calls"

-block extra-style
  {{ block.super }}
  :css

    td.value-icon {
      width: 20px;
      color: #666;
    }
    td.value-received {
      text-align: right;
    }
    td.value-phone {
      white-space: nowrap;
      padding-right:30px;
      background:@color-bg-blue
    }
