{% extends "smartmin/list.html" %}
-load i18n contacts smartmin humanize

-block page-title
  -trans "Channel Events"

-block title
  %a{ href:"{% url 'channels.channel_read' channel.uuid %}" }
    {{ channel }}

-block subtitle
  {{channel.get_channel_type_display}}

  -if request.GET.connections and channel.supports_ivr
    -trans "Calls"
  -elif request.GET.others
    -trans "Interactions"
  -else
    -trans "Recent Events"

-block content
  #pjax
    -block pjax
      .lp-frame

        .right
          %table.list.object-list.lined.mt-4
            %thead
              %tr
                %th{ style:'width:120px' }
                  -trans "Contact"
                %th
                -if request.GET.connections
                  %th{ style:'width:150px' }

                %th{ style:'width:200px'}
                  -trans "Elapsed"

                %th{ style:'width:160px;text-align:right;'}
                  -trans "Time"

            %tbody
              -for obj in object_list
                -if request.GET.connections
                  %tr{class:"{%if obj.status == 'F'%}warning{%endif%}"}
                    %td.clickable
                      -if obj.contact_urn
                        %a{ href:'{% url "contacts.contact_read" obj.contact.uuid %}' }
                          {{obj.contact_urn.get_display}}

                    %td.clickable
                      %a{ href:'{% url "channels.channellog_connection" obj.pk %}' }><
                        -if obj.direction == 'I'
                          -trans "Incoming"
                        -else
                          -trans "Outgoing"
                        -if obj.connection_type == 'F' or obj.connection_type == 'V'
                          -trans "phone call"

                        -if obj.is_done
                          -trans "complete"

                    %td.clickable{ style:'text-align: right', nowrap:'true' }
                      %a{ href:'{% url "channels.channellog_connection" obj.pk %}' }><
                        -if obj.get_duration
                          {{obj.get_duration|delta}}
                        -else
                          {{obj.get_status_display}}

                    %td
                      -if obj.request_time
                        %span
                          {{ obj.request_time|default:"0"|intcomma }}ms

                    %td{ style:'text-align: right', nowrap:'true' }
                      {{obj.created_on|date:"M d, Y, H:m:s"}}
                -elif request.GET.others
                  %tr{ class:"{% if obj.is_error %}warning{% endif %}" }
                    %td
                      -trans "Channel interaction"
                    %td.clickable
                      %a{ href:'{% url "channels.channellog_read" obj.id %}' }= obj.description
                    %td
                      %span
                        {{ obj.request_time|default:"0"|intcomma }}ms

                    %td{ style:'text-align: right', nowrap:'true' }
                      {{obj.created_on}}

                -else
                  %tr{ class:"{% if obj.is_error %}warning{% endif %}" }
                    %td.clickable
                      -if obj.msg.contact
                        %a{ href:'{% url "contacts.contact_read" obj.msg.contact.uuid %}' }
                          {{obj.msg.contact_urn.get_display}}
                    %td.clickable
                      %a{ href:'{% url "channels.channellog_read" obj.id %}' }= obj.description
                    %td
                      %span
                        {{ obj.request_time|default:"0"|intcomma }}ms

                    %td{ style:'text-align: right', nowrap:'true' }
                      {{obj.created_on}}

          .flex.flex-col.mb-16
            -include "includes/pagination.haml"