-extends "smartmin/base.html"
-load i18n compress temba

-block title
  -trans "New Channel"

-block content
  -blocktrans trimmed with name=brand.name
    To send and receive messages you need to add a channel to your workspace. A channel is a phone number or social network
    account which {{ name }} can use to send and receive messages on your behalf.

  -if total_count >= total_limit
    .mb-4
      %temba-alert(level="warning")
        -blocktrans trimmed with limit=total_limit
          You have reached the limit of {{ limit }} channels per workspace. Please remove channels that you are no longer using.
  -elif total_count >= total_limit|add:-1
    .mb-4
      %temba-alert(level="warning")
        -blocktrans trimmed with limit=total_limit
          You are approaching the limit of {{ limit }} channels per workspace. You should remove channels that you are no longer using.


  .channel-options.mt-8
    -if recommended_channels
      .title
        -trans "Recommendations"

      .channel-options-recommended
        -for ch_type in recommended_channels
          .card.link(href="{% url 'channels.types.'|add:ch_type.slug|add:'.claim' %}" onclick="goto(event, this)")
            .relative
              %temba-icon.text-base.absolute.text-gray-100.bg-icon(name="{{ch_type.get_icon}}")
            .flex.flex-col.mx-20.relative
              .title
                {{ ch_type.name }}
              .mt-2
                {% include ch_type.get_claim_blurb %}

    .bg-gray-200.-mx-6.px-6.py-12.mt-16.overflow-hidden
      .title.mb-4
        -trans "Social Network Channels"

      -for ch_type in channel_types.SOCIAL_MEDIA
        .card.link(href="{% url 'channels.types.'|add:ch_type.slug|add:'.claim' %}" onclick="goto(event, this)")
          .relative
            %temba-icon.text-base.absolute.text-gray-100.bg-icon(name="{{ch_type.get_icon}}")
          .flex.flex-col.mx-20.relative
            .title
              {{ch_type.name}}
            .mt-2
              {% include ch_type.get_claim_blurb %}

      .title.mb-4.mt-8
        -trans "SMS and Voice Channels"

      -for ch_type in channel_types.PHONE
        .card.link(href="{% url 'channels.types.'|add:ch_type.slug|add:'.claim' %}" onclick="goto(event, this)")
          .relative
            %temba-icon.text-base.absolute.text-gray-100.bg-icon(name="{{ch_type.get_icon}}")
          .flex.flex-col.mx-20.relative
            .title
              {{ch_type.name}}
            .mt-2
              {% include ch_type.get_claim_blurb %}

      .title.mt-8
        -trans "API Channels"

      -for ch_type in channel_types.API
        .card.link(href="{% url 'channels.types.'|add:ch_type.slug|add:'.claim' %}" onclick="goto(event, this)")
          .relative
            %temba-icon.text-base.absolute.text-gray-100.bg-icon(name="{{ch_type.get_icon}}")
          .flex.flex-col.mx-20.relative
            .title
              {{ch_type.name}}
            .mt-2
              {% include ch_type.get_claim_blurb %}

      -if only_regional_channels

        .title.mt-8
          -trans "All Channels"

        {% url 'channels.channel_claim_all' as claim_all_url %}
        -blocktrans trimmed
          The channels above are the available channels for your region, but you can also <a class="inline" href="{{claim_all_url}}">view all channels</a>.

-block form-buttons


-block extra-less
  -compress css inline
    {% lessblock %}
      :plain

        .channel-options {
          h3 {
            margin-top: 30px;
          }
        }

        .checking-recommendations {
          margin-bottom:10px;
        }

        .recommended {
          .btn-primary {
            background: @flat-mutedgreen;
            border-color: @flat-mutedgreen - #111;
          }

          .claim-description {

          }

          .recommendation {
            h3 {
              margin-top: 0px;
            }

            display:inline-block;
            padding:5px;
            margin-top: 5px;
            margin-bottom:10px;
            display:inline-block;
            .icon-star-2 {
              color: @flat-darkwhite - #222;
              font-size:22px;
              float:left;
              position:relative;
              top: -3px;
              margin-right:16px;


            }
          }

        }
    {% endlessblock %}


-block extra-style
  {{block.super}}
  :css

    .card:hover .bg-icon { 
      color: rgb(var(--focus-rgb), .3);
    }
    
    .bg-icon {
      transform: translate(-65px, -35px) rotate(0deg); 
      font-size:120px;
    }

    .horizontal-channel {
      margin-top: 30px;
    }

    .claim-description {
      padding: 25px 40px;
      height: 50px;
      width:95%;
      background: #f5f5f5;
      font-size: 16px;
    }

    .align-text-center {
      text-align: center;
    }

    .claim-text {
      margin-top: 10px;
    }

    .btn-container {
      margin-right: 10px;
    }

    .external {
      text-align: center;
    }

    .btn-claim {
      padding: 10px 10px;
      width: 95%;
      height: 78px;
    }

    .claim-row {
      clear: both;
      margin-bottom: 10px;
    }

    .icon-everywhere {
      font-size: 68px;
    }

    .icon-channel-kannel {
      font-size: 55px;
      margin-top: -5px;
    }

    .icon-facebook-official {
      font-size: 48px;
    }

    ul {
      list-style-type: none;
    }

    a:hover {
      text-decoration: none;
    }

    .claim-row .span8 {
      margin-left: 0px;
    }
