-extends "smartmin/list.html"
-load i18n contacts smartmin humanize temba

-block spa-title
  -if request.GET.others
    -trans "Non-Message Logs"
  -else
    {{folder|title}}

-block extra-style
  {{block.super}}
  :css
    .log-error {
      color: rgb(var(--error-rgb));
    }
-block page-title
  -trans "Channel Logs"

-block title
  %a{ href:"{% url 'channels.channel_read' channel.uuid %}" }
    {{ channel }}

-block subtitle
  -trans "Logs are kept for 3 days."

-block content

  .mt-4.shadow.rounded-lg.rounded-bl-none.rounded-br-none.bg-white
    -include "includes/short_pagination.haml"
          
  .flex-grow.overflow-y-auto.shadow.bg-white.shadow
        -for obj in object_list
          .flex.mx-4.my-2(class="{% if obj.is_error %}log-error{% endif %}")
            .contact.mr-4(style="width:8em")
              -if obj.msg and obj.msg.contact
                .hover-linked.truncate(onclick="goto(event)" href='{% url "contacts.contact_read" obj.msg.contact.uuid %}')
                  {{obj.msg.contact_urn.get_display}}
              -else
                -trans "Channel interaction"
            .description
              -if obj.msg
                .hover-linked.truncate.w-64(onclick="goto(event)" href='{% url "channels.channellog_msg" obj.channel.uuid obj.msg.id %}')
                  {{obj.get_log_type_display}}
              -elif obj.call
                .hover-linked.truncate.w-64(onclick="goto(event)" href='{% url "channels.channellog_call" obj.channel.uuid obj.call.id %}')
                  {{obj.get_log_type_display}}
              -else
                .hover-linked.truncate.w-64(onclick="goto(event)" href='{% url "channels.channellog_read" obj.id %}')
                  {{obj.get_log_type_display}}
            .elapsed.mx-2.text-right.mr-4.flex-grow
              %span
                {{ obj.elapsed_ms|intcomma }}ms

            .created_on.whitespace-nowrap(style='text-align: right' nowrap='true')
              {% format_datetime obj.created_on seconds=True %}