-extends "smartmin/read.haml"
-load i18n channels

-block title
  {{ object.get_channel_type_display }} Configuration

-block subtitle
  {{ object.get_address_display }}

  -if object.get_country_display
    .text-base
      {{ object.get_country_display }}

-block content
  -if configuration_template
    {{ configuration_template }}

  -elif configuration_blurb
    {{configuration_blurb}}

    .mt-4
      -for url in configuration_urls
        .mt-4.card
          .title
            {{url.label}}

          -if url.description
            .mb-2
              {{url.description}}

          -if url.url
            .whitespace-normal.break-all.bg-gray-100.px-6.py-2.rounded-b-lg.text-gray-600.-mx-6.-mb-6.font-normal
              {{url.url}}

  -if show_public_addresses

    .mt-4.card
      .title
        -trans "IP Addresses"
      .mt-2
        -trans "Additionally you will need to make sure the following IP addresses are whitelisted"
      .mt-2
        -for ip_address in ip_addresses
          %code= ip_address

-block extra-script
  {{ block.super }}
  <script src="{{ STATIC_URL }}rest_framework/js/prettify-min.js"></script>
  :javascript
    $(function(){
      prettyPrint();
    });

-block extra-style
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}rest_framework/css/prettify.css"/>
  :css
    .config-value {
      float: left;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 20px;
      height: 10px;
    }

    .config-value .name {
      font-weight: normal;
      float: left;
    }

    .config-value .value {
      float: left;
      padding-left: 5px;
    }

    pre.prettyprint {
      margin-top: 0px;
      margin-bottom: 0px;

      font-family: monospace;
      font-size: inherit;
      white-space: pre;
      line-height: 110%;

      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
    }

    .important {
      background-color: #efefef;
      border: 1px solid #ccc;
      padding: 10px 10px 0px 10px;
      margin-bottom: 10px;
    }

    .device .number {
      padding-left:5px;
    }

    .title .number {
      font-size:20px;
    }

    ol.line-steps li {
      margin-top: 10px;
      list-style: decimal;
    }

    .info {
      margin-bottom: 20px;
    }
