-extends "smartmin/list.html"
-load i18n contacts smartmin humanize temba

-block page-title
  -trans "Channel Events"

-block title
  %a{ href:"{% url 'channels.channel_read' channel.uuid %}" }
    {{ channel }}

-block subtitle
  {{channel.get_channel_type_display}}

  -if request.GET.others
    -trans "Interactions"
  -else
    -trans "Recent Events"

-block content
  #pjax
    -block pjax
      .lp-frame

        .right
          %table.list.object-list.lined.mt-4
            %thead
              %tr
                %th{ style:'width:120px' }
                  -trans "Contact"
                %th
                %th{ style:'width:200px'}
                  -trans "Elapsed"

                %th{ style:'width:160px;text-align:right;'}
                  -trans "Time"

            %tbody
              -for obj in object_list
                -if request.GET.others
                  %tr{ class:"{% if obj.is_error %}warning{% endif %}" }
                    %td
                      -trans "Channel interaction"
                    %td.clickable
                      %a{ href:'{% url "channels.channellog_read" obj.id %}' }= obj.description
                    %td
                      %span
                        {{ obj.request_time|default:"0"|intcomma }}ms

                    %td(style='text-align: right' nowrap='true')
                      {% format_datetime obj.created_on seconds=True %}

                -else
                  %tr{ class:"{% if obj.is_error %}warning{% endif %}" }
                    %td.clickable
                      -if obj.msg and obj.msg.contact
                        %a{ href:'{% url "contacts.contact_read" obj.msg.contact.uuid %}' }
                          {{obj.msg.contact_urn.get_display}}
                      -else
                        -trans "Channel interaction"
                    %td.clickable
                      %a{ href:'{% url "channels.channellog_read" obj.id %}' }= obj.description
                    %td
                      %span
                        {{ obj.request_time|default:"0"|intcomma }}ms

                    %td(style='text-align: right' nowrap='true')
                      {% format_datetime obj.created_on seconds=True %}

          .flex.flex-col.mb-16
            -include "includes/pagination.haml"