-extends "smartmin/list.html"
-load i18n compress

-block content
  .bg-white.rounded-lg.shadow.flex.mt-0.flex-shrink-0.mb-4
    .p-4
      -block group_object
  
  -for log in logs  
    -include "channels/channellog.html" with log=log

-block extra-script
  {{ block.super }}

  :javascript
    onSpload(function () {
      prettyPrint();
    });

-block extra-style
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}rest_framework/css/prettify.css"/>

  :css
    table.http-log tbody tr:first-child td {
      padding: 1.5rem;
    }
    pre.prettyprint {
      margin: 0;
      border: 0;
      max-height: none !important;
      padding: 1.5rem;
    }
    pre.prettyprint.request {
      background: #ffffff;
    }
  
  :css
    .page-content {
      max-width: 100%;
    }

    .log-error {
      color: rgb(var(--error-rgb));
    }


