-extends "channels/channellog_read.html"
-load i18n

-block title
  -trans "Call Log"

-block log-recipient
  %a(href='{% url "contacts.contact_read" object.contact.uuid %}')
    {{ object.contact_urn.path }}

-block log-direction
  {{ object.get_direction_display }}

-block log-status
  {{ object.status_display }}

-block log-entries
  -for log in object.channel_logs.all
    -include "channels/channellog_log.haml"
