-extends "channels/channel_claim_form.html"
-load i18n

-block extra-script
  {{ block.super }}

  :javascript
    $(function(){
      $("#id_country").select2();
      $("#id_method").select2({ minimumResultsForSearch: -1 });
    });

-block title
  .medium-help.icon-channel-kannel.float-left

  %h2.font_normalize.header-margin
    -trans "Connect Kannel"

-block pre-form
  .info
    %p
      -blocktrans
        After entering your endpoint URL below, we'll provide you with the configuration details for your Kannel configuration file.

-block extra-style
  {{ block.super }}

  :css
    #s2id_id_country {
      width: 370px;
    }

    .info {
      width: 800px;
      margin-bottom: 20px;
    }

    .medium-help {
      font-size: 50px;
      height: 50px;
    }

    .header-margin {
      margin-left: 60px;
    }

    .form-group {
      margin-bottom:15px;
    }
