-extends "smartmin/create.html"
-load i18n

-block page-top

-block content
  .row
    .span4
      #claim
        #big-phone
          %img{ src:"{{ STATIC_URL }}/images/claim_phone.png" }

        %form.claim-form{method:"post", action:"{% url 'channels.channel_claim_android' %}"}
          -csrf_token
          .claim-field
            .claim-label
              -trans "Claim Code"
            {{ form.claim_code }}
            {{ form.claim_code.errors }}
          .claim-field
            .claim-label
              -trans "Phone Number"
            {{ form.phone_number }}
            {{ form.phone_number.errors }}
          %input.btn.btn-primary{type:"submit", value:"{% trans 'Add Phone' %}"}

          %errors

    .span8
      %h2.help-title
        %span.title-icon
          .glyph.icon-android
        %span.title-text
          -trans "Connect your Android phone"

      #little-help
        %p
          -blocktrans with brand.name as brand
            {{ brand }} uses your Android phone to send and receive messages.
        %p
          -blocktrans
            You can use any Android phone as your message channel, though we recommend one from Samsung like the
            Galaxy Mini series.

        %p
          -blocktrans with brand.name as brand
            You can download the free {{ brand }} app from the Google Play Store.  If you have used the Play Store before, then
            the process will be the same. If this is your first time, don't worry, it is easy!  Just follow the steps
            below and you'll be up and running in a few minutes.

        %p.step
          %img.step-image{ src: '{{ STATIC_URL }}images/claim1.png' }
          .step-text
            %h3
              -trans "Open Play Store"
            %p
              -blocktrans
                First find the "Play Store" or "Market" application on your phone and open it.  You might need to
                press "Home" or find the launcher menu first.

        %p.step
          %img.step-image{ src: '{{ STATIC_URL }}images/claim2.png' }
          .step-text
            %h3
              -blocktrans with brand.name as brand
                Search for {{ brand }}
            %p
              -blocktrans with brand.name as brand
                Once you open the Play Store, search for "{{ brand }}".  Begin your search by tapping the magnifying
                glass, enter "{{ brand }}", then tap on the result that comes back.

        %p.step
          %img.step-image{ src: '{{ STATIC_URL }}images/claim3.png' }
          .step-text
            %h3
              -trans "Install"
            %p
              -blocktrans with brand.name as brand
                On the {{ brand }} application page tap the "Install" button.

        %p.step
          %img.step-image{ src: '{{ STATIC_URL }}images/claim4.png' }
          .step-text
            %h3
              -trans "Confirm Installation"
            %p
              -blocktrans 
                You will now be asked to confirm the installation.  Tap "Accept and Download" to begin the download.

        %p.step
          %img.step-image{ src: '{{ STATIC_URL }}images/claim5.png' }
          .step-text
            %h3
              -trans "Allow Updates"
            %p
              -blocktrans with brand.name as brand
                The {{ brand }} app gets regular updates. To make sure you don't miss any, tap the "Allow automatic updating"
                checkbox.

        %p.step
          %img.step-image{ src: '{{ STATIC_URL }}images/claim55.png' }
          .step-text
            %h3
              -trans "Wait for Download"
            %p
              -blocktrans with brand.name as brand
                Depending on the speed of your connection, {{ brand }} may take a few minutes to download.  You can keep track
                of the progress by swiping down from the top of the screen.

        %p.step
          %img.step-image{ src: '{{ STATIC_URL }}images/claim6.png' }
          .step-text
            %h3
              -blocktrans with brand.name as brand
                Open {{ brand }}
            %p
              -blocktrans with brand.name as brand
                Once {{ brand }} has been installed, open the app drawer and tap on the {{ brand }} icon to start the app.

        %p.step
          %img.step-image{ src: '{{ STATIC_URL }}images/claim7.png' }
          .step-text
            %h3
              -trans "Enter Claim Code"
            %p
              -blocktrans with brand.name as brand
                When you first open {{ brand }}, the app will register your device with Google and our servers.  Once that is
                complete, it will display a claim code.  Enter that claim code in the form to the left and click
                "Add Phone" to connect your device.

-block extra-script
  {{ block.super }}
  :javascript
    $(function(){
      // get the top of your sidebar based on its default position
      var topOfSidebar = $("#claim").offset().top;

      // when the window scrolls check to see whether it is about to go off screen. If so then switch to fixed.
      $(window).scroll(function() {
        var topOfWindow = $(window).scrollTop();
        if (topOfSidebar < topOfWindow) {
          $("#claim").addClass("fixed");
        } else {
          $("#claim").removeClass("fixed");
        }
      });
    });
  </script>

-block extra-style
  {{ block.super }}
  :css
    #little-help {
      margin-top: 15px;
      font-size: 16px;
    }

    ul.errorlist {
      margin-left: 0px;
    }

    ul.errorlist li {
      list-style-type: none;
      color: #855;
      text-align: center;
    }

    #claim {
      position: relative;
      margin-top: 10px;
    }

    @media (min-width: 480px) {
      #claim.fixed {
        position: fixed;
        top: 0px;
      }
    }

    .step {
      padding-top: 30px;
      clear: both;
    }

    .step-image {
      width: 240px;
      float: left;
    }
    .step-text {
      margin-left: 250px;
    }

    @media (max-width: 480px) {
      .step-image {
        width: 240px;
        display: block;
        float: none;
      }

      .step-text {
        margin-left: 0px;
      }
    }

    .step-text h3 {
      display: inline;
    }

    h3 {
      clear: both;
    }

    h2.help-title {
      margin-top: 5px;
    }

    .title-icon .icon-android {
      font-size: 40px;
      margin-top: 20px;
    }

    .title-icon + .title-text {
      margin-left: 36px;
    }

    #big-phone {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -1;
    }

    .claim-form {
      position: absolute;
      left: 50px;
      top: 80px;
      width: 182px;
    }

    .claim-label {
      text-align: center;
    }

    .claim-field {
      margin-bottom: 10px;
    }

    input[type="submit"] {
      width: 100%;
    }

    #claim {
      width: 285px;
      height: 500px;
    }

    input[type="text"] {
      height: 30px;
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
      line-height: 100%;
      text-align:center;
      font-size: 24px;
      margin-bottom:0;
    }
