-extends "channels/channellog_read.html"

-load i18n humanize compress

-block title
  %h3
    {{object.channel.get_channel_type_display}}
    -if object.session_type == 'F'
      -if object.direction == 'I'
        -trans "call from "
      -else
        -trans "call to "
    -else
      -trans "USSD Session with "
      -if object.session_type == 'F'
        -trans "Call Details"
      -else
        -trans "Session Log"
    {{object.contact_urn.path}}


-block content

  .duration
    Call began {{object.created_on}} and lasted {{object.get_duration}}.

  - for log in object.get_logs
    .log<
      .summary
        .time.pull-right
          {{log.created_on|date:"M j, Y g:i:s a"}}
        %span.url
          %span.method= log.method
          {{ log.url }}

      .details.hide
        %pre.prettyprint.request<
          :plain
            {{ log.get_request_formatted|default:"" }}
        %pre.prettyprint.response<
          :plain
            {{log.get_response_formatted}}

-block extra-script
  {{block.super}}

  :javascript
    $('.summary').on('click', function() {
      var ele = $(this).parent('.log').find(".details");
      console.log(ele.is(':visible'));
      if (ele.is(':visible')) {
        ele.slideUp();
      } else {
        ele.slideDown();
      }
    });

-block extra-less
  {{block.super}}
  -compress css inline
    {% lessblock %}
      :plain
        .duration {
          margin-bottom:10px;
          font-style: italic;
        }
        .log {
          padding: 0px;
          border: 1px solid #f7f7f9 - #111;
          margin-bottom:10px;

          pre, .prettyprint {
            border: 0;
            margin-bottom: 0px;
          }

          .summary {
            border: 1px solid #f7f7f9 - #111;
            padding: 10px;
            color: @flat-grey;
            cursor: pointer;

            .method {
              font-weight: bold;
            }

            .url {
            }
          }

          .prettyprint {
            padding: 10px;
            border-radius: 0;

            &.request {
              background: #f7f7f9 + 111;
              border-bottom: 1px solid @flat-white;

            }

            &.response {

            }
          }
        }


    {% endlessblock %}

