-extends "channels/channel_claim_authenticated.html"
-load i18n

-block pre-form
  .info
    %p
      -blocktrans
        You can connect your <a href="http://www.yo.co.ug/">Yo</a> number by entering your number, account number
        and gateway password here.

    %p
      -blocktrans with brand.name as brand
        After connecting your service we will provide URLs for the endpoints for Yo! to call when they want
        to push a message to {{ brand }}.
