-extends "smartmin/update.html"
-load i18n

-block title

  %h2
    {{ title }}

-block form-buttons
  .form-actions
    %input.btn.btn-primary{type:"submit", value:"{{ submit_button_name }}"}
    %a.btn{onclick:"javascript:history.go(-1)"}
      -trans "Cancel"

-block extra-style
  :css
    .form-group {
      margin-bottom:15px;
    }
{% block extra-script %}
:javascript
  (function($) {
    // change the value of the first option to be empty so that select2 placeholder works
    $('#id_country').children(":first").remove();

    $('#id_country').select2({
      // add this class the select2 if you want to look similar with other fields
      containerCssClass: 'select2-temba-field',
      placeholder: "{% trans 'Select a Country' %}"
    });
  })(jQuery);

{% endblock %}
