-extends "smartmin/form.html"
-load i18n compress temba

-block title
  .medium-help.icon-line.float-left

  %h2.font_normalize.header-margin
    -trans "Connect LINE Bot"

-block pre-form
  .info
    %p
      -blocktrans with name=brand.name
        You can connect a <a href="https://developers.line.me/messaging-api/overview" target="_blank">LINE Bot</a> to your {{ name }} account
        to automate sending and receiving LINE messages.
    %p
      -blocktrans
        To start creating a LINE bot, go to <a href="https://developers.line.me/messaging-api/getting-started" target="_blank">Getting started with the Messaging API</a>.

-block extra-style
  {{ block.super }}

  :css
    ol.line-steps li {
      margin-top: 10px;
      list-style: decimal;
    }

    .info {
      width: 800px;
      margin-bottom: 20px;
    }

    .help-block {
      margin-left:150px;
      margin-bottom:20px;
    }

    .form-group {
      margin-bottom:15px;
    }

    #id_* {
      width: 340px;
    }
