-for http_log in log.http_logs
  -include "includes/http_log.haml" with log=http_log
-if log.errors
  %table.list.mb-8
    %tbody
      -for err in log.errors
        %tr.border-b.warning
          %td(width="32")
            .icon-warning
          %td
            {{ err.message }}