-extends "smartmin/base.html"
-load i18n compress temba

-block title
  -trans "Add a Channel"

-block content
  -blocktrans trimmed with name=brand.name
    To get started you need to add a channel to your workspace. A channel is a phone number or social network
    account which {{ name }} can use to send and receive messages on your behalf. You can choose to use an
    Android phone and your own cell phone plan, or we can connect you with a service provider in your country
    directly.

  .channel-options.mt-8
    .title
      -trans "Recommendations"

    .channel-options-recommended

    -if recommended_channels
      -for ch_type in recommended_channels
        .card.link(href="{% url 'channels.types.'|add:ch_type.slug|add:'.claim' %}" onclick="goto(event, this)")
          .relative
            .text-base.absolute.text-gray-100.bg-icon(class="{{ ch_type.icon }}")
          
          .flex.flex-col.mx-20.relative
            .title
              {{ch_type.name}}

            .mt-2
              {% include ch_type.get_claim_blurb %}

    -else
      .card.link(href="{% url 'channels.types.android.claim' %}" onclick="goto(event, this)")
        .relative
          .text-base.absolute.text-gray-100.bg-icon.icon-channel-android
        .flex.flex-col.mx-20.relative
          .title
            -trans "Android Phone"

          .mt-2
            -blocktrans trimmed
              We recommend using an Android phone with a local sim card for your country. This phone
              will send and receive messages for you. You will only need one phone per country depending on
              message volume. Don't worry! The people you are texting with can still use basic phones.

    .bg-gray-200.-mx-128.px-128.py-12.mt-16
      .title.mb-4
        -trans "Social Network Channels"

      -for ch_type in channel_types.SOCIAL_MEDIA
        .card.link(href="{% url 'channels.types.'|add:ch_type.slug|add:'.claim' %}" onclick="goto(event, this)")
          .relative
            .text-base.absolute.text-gray-100.bg-icon{class:"{{ ch_type.icon }}"}
          .flex.flex-col.mx-20.relative
            .title
              {{ch_type.name}}
            .mt-2
              {% include ch_type.get_claim_blurb %}

      .title.mb-4.mt-8
        -trans "SMS and Voice Channels"

      -if recommended_channels
        .card.link(href="{% url 'channels.types.android.claim' %}" onclick="goto(event, this)")
          .relative
            .text-base.absolute.text-gray-100.bg-icon.icon-channel-android
          .flex.flex-col.mx-20.relative
            .title
              -trans "Android Phone"

            .mt-2
              -blocktrans trimmed
                Works in any country and uses the cell phone plan
                you already have. You just need an Android phone
                to get started.

      -for ch_type in channel_types.PHONE
        .card.link(href="{% url 'channels.types.'|add:ch_type.slug|add:'.claim' %}" onclick="goto(event, this)")
          .relative
            .text-base.absolute.text-gray-100.bg-icon{class:"{{ ch_type.icon }}"}
          .flex.flex-col.mx-20.relative
            .title
              {{ch_type.name}}
            .mt-2
              {% include ch_type.get_claim_blurb %}


      .title.mt-8
        -trans "API Channels"

      -for ch_type in channel_types.API
        .card.link(href="{% url 'channels.types.'|add:ch_type.slug|add:'.claim' %}" onclick="goto(event, this)")
          .relative
            .text-base.absolute.text-gray-100.bg-icon{class:"{{ ch_type.icon }}"}
          .flex.flex-col.mx-20.relative
            .title
              {{ch_type.name}}
            .mt-2
              {% include ch_type.get_claim_blurb %}

-block form-buttons

-block extra-script
  {{block.super}}

  :javascript
    $(document).ready(function() {
      var channel = $('.claim-row.recommended');
      $('.channel-options-recommended').prepend(channel);
    });


-block extra-less
  -compress css inline
    {% lessblock %}
      :plain

        .channel-options {
          h3 {
            margin-top: 30px;
          }
        }

        .checking-recommendations {
          margin-bottom:10px;
        }

        .recommended {
          .btn-primary {
            background: @flat-mutedgreen;
            border-color: @flat-mutedgreen - #111;
          }

          .claim-description {

          }

          .recommendation {
            h3 {
              margin-top: 0px;
            }

            display:inline-block;
            padding:5px;
            margin-top: 5px;
            margin-bottom:10px;
            display:inline-block;
            .icon-star-2 {
              color: @flat-darkwhite - #222;
              font-size:22px;
              float:left;
              position:relative;
              top: -3px;
              margin-right:16px;


            }
          }

        }
    {% endlessblock %}


-block extra-style
  :css

    .card:hover .bg-icon { 
      color: rgb(var(--focus-rgb), .3);
    }
    

    .bg-icon {
      transform: translate(-65px, -35px) rotate(0deg); 
      font-size:120px;
    }

    .bg-icon.icon-channel-kannel {
      transform: translate(-35px, -45px) rotate(15deg) scale(1.5); 
      font-size:100px;
    }

    .bg-icon.icon-channel-plivo {
      transform: translate(-55px, -45px) rotate(15deg) scale(1.5); 
      font-size:100px;
    }

    .bg-icon.icon-facebook-official {
      transform: translate(-115px, -45px) rotate(0deg) scale(2); 
      font-size:100px;
    }

    .bg-icon.icon-power-cord {
      transform: translate(-45px, -15px) rotate(0deg); 
      font-size:100px;
    }

    .bg-icon.icon-fcm {
      transform: translate(-20px, -45px) rotate(35deg); 
      font-size:160px;
    }

    .bg-icon.icon-freshchat {
      transform: translate(-55px, -22px) rotate(0deg); 
      font-size:110px;
    }

    .bg-icon.icon-junebug {
      transform: translate(-25px, -10px) rotate(0deg); 
      font-size: 70px;
    }

    .bg-icon.icon-channel-android {
      transform: translate(-35px, -25px) rotate(15deg); 
      font-size:100px;
    }

    .horizontal-channel {
      margin-top: 30px;
    }

    .claim-description {
      padding: 25px 40px;
      height: 50px;
      width:95%;
      background: #f5f5f5;
      font-size: 16px;
    }

    .align-text-center {
      text-align: center;
    }

    .claim-text {
      margin-top: 10px;
    }

    .btn-container {
      margin-right: 10px;
    }

    .external {
      text-align: center;
    }

    .btn-claim {
      padding: 10px 10px;
      width: 95%;
      height: 78px;
    }

    .claim-row {
      clear: both;
      margin-bottom: 10px;
    }

    .icon-everywhere {
      font-size: 68px;
    }

    .icon-channel-kannel {
      font-size: 55px;
      margin-top: -5px;
    }

    .icon-facebook-official {
      font-size: 48px;
    }

    ul {
      list-style-type: none;
    }

    a:hover {
      text-decoration: none;
    }

    .claim-row .span8 {
      margin-left: 0px;
    }
