{% extends "smartmin/form.html" %}
{% load compress temba i18n %}

{% block title-text %}
  {% trans "Connect a Phone Number" %}
{% endblock title-text %}
{% block content %}
  {% block claim-numbers-description %}
    {% blocktrans trimmed %}
      Once you connect a number you will immediately be able to send and receive messages. Contacts who send messages
      to your number will be charged according to their plan.
    {% endblocktrans %}
  {% endblock claim-numbers-description %}
  {% block account-warning %}
  {% endblock account-warning %}
  {% block numbers-search-form %}
    <div class="card mt-6">
      <form id="search-form">
        <div class="flex items-end">
          <div class="country w-64 mr-3">
            {% block country-select %}
              <temba-select name="country" label="{{ _("Country") |escapejs }}" id="country">
                {% for country in search_countries %}
                  <temba-option name="{{ country.label }}" value="{{ country.key }}">
                  </temba-option>
                {% endfor %}
              </temba-select>
            {% endblock country-select %}
          </div>
          <div class="pattern w-32 mr-3">
            {% block search-pattern %}
              <temba-textinput type="text" maxlength="3" name="pattern" label="{{ _("Pattern") |escapejs }}" id="pattern">
              </temba-textinput>
            {% endblock search-pattern %}
          </div>
          <input type="submit" value="{% trans "Search" %}" class="button-primary">
        </div>
      </form>
      <div class="twilio-numbers-title"></div>
      <div class="hide my-6" id="throbber">
        <temba-loading>
        </temba-loading>
      </div>
      <div class="my-6" id="results"></div>
    </div>
  {% endblock numbers-search-form %}
  {% if form.errors %}
    {% if form.errors.upgrade %}
      <script type="text/javascript">
        document.location.href = '{% url 'orgs.org_upgrade_plan' %}?from=twilio'
      </script>
    {% elif form.errors.phone_number %}
      <temba-alert level="error" class="my-4">
        {{ form.errors.phone_number }}
      </temba-alert>
    {% elif form.non_field_errors %}
      <temba-alert level="error" class="my-4">
        {{ form.non_field_errors }}
      </temba-alert>
    {% endif %}
  {% endif %}
  <temba-alert level="warning" class="hide" style="mt-4" id="claim-message">
    {% if error %}{{ error }}{% endif %}
  </temba-alert>
  {% if account_numbers %}
    <div class="card mt-3 mb-3" id="account-numbers">
      <div class="title">{% trans "Existing Numbers" %}</div>
      <div class="mb-3">{% trans "Select a number you already own to connect it to your account." %}</div>
      {% for number in account_numbers %}
        {% if number.country in supported_country_iso_codes or number.number|length <= 6 %}
          <div data-number="{{ number.number }}"
               data-country="{{ number.country }}"
               class="phone-number lbl mt-3 mr-2 linked">
            {{ number.number }}
            (<span class="country">{{ number.country }}</span>)
          </div>
        {% else %}
          <div data-number="{{ number.number }}"
               data-country="{{ number.country }}"
               class="unsupported-number lbl mt-3 mr-2">
            {{ number.number }}
            {% trans "(Unsupported)" %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  <form style="display:none;" method="post" action="{{ claim_url }}" id="claim-form">
    {% csrf_token %}
    <input type="text" name="country" id="claim-country">
    <input type="text" name="phone_number" id="phone-number">
  </form>
{% endblock content %}
{% block extra-script %}
  {{ block.super }}
  <script type="text/javascript">
    function searchNumbers(e) {
      e.stopPropagation();
      e.preventDefault();

      var pattern = document.querySelector('#pattern').value;
      var country = document.querySelector("#country").values[0].value;

      document.getElementById("claim-message").classList.add('hide');
      document.getElementById("results").innerHTML = '';
      document.getElementById("throbber").classList.remove('hide');

      const formData = new FormData();
      formData.append('pattern', pattern);
      formData.append('country', country);

      const options = {
        body: formData,
        method: 'POST',
      }

      fetchAjax("{{search_url}}", options).then(function(response) {
        response.json().then(function(data) {
          var throbber = document.getElementById("throbber");
          throbber.classList.add('hide');

          var results = document.getElementById("results");
          var claimCountry = document.getElementById("claim-country");
          var claimMessage = document.getElementById("claim-message");

          if (data.length > 0) {
            claimCountry.value = country; // Assuming 'country' is defined in your context
            data.forEach(function(item) {
              var div = document.createElement('div');
              div.className = 'lbl phone-number mt-3 mr-2 linked';
              div.setAttribute('data-number', item);
              div.textContent = item;
              results.appendChild(div);
            });
            results.classList.remove('hide');
          } else if ('error' in data) {
            claimMessage.textContent = data['error'];
            claimMessage.classList.remove('hide');
          } else {
            claimMessage.textContent = "{% trans 'Sorry, no numbers found, please enter another pattern and try again.' %}";
            claimMessage.classList.remove('hide');
          }

        });
      });
      return false;
    }

    onSpload(function() {
      if (document.getElementById('results')) {
        document.getElementById('results').addEventListener('click', function(e) {
          if (e.target.classList.contains('phone-number')) {
            var country = document.querySelector("#country").value; // Assuming there's a single value to fetch
            document.getElementById("phone-number").value = e.target.getAttribute("data-number");
            document.getElementById("claim-country").value = country;
            document.getElementById("claim-form").submit();
          }
        });
      }
      if (document.getElementById('account-numbers')) {
        document.getElementById('account-numbers').addEventListener('click', function(e) {
          if (e.target.classList.contains('phone-number')) {
            document.getElementById("phone-number").value = e.target.getAttribute("data-number");
            document.getElementById("claim-country").value = e.target.getAttribute("data-country");
            document.getElementById("claim-form").submit();
          }
        });
      }

      if (document.getElementById('search-form')) {
        document.getElementById('search-form').addEventListener('submit', searchNumbers);
      }
    });
  </script>
{% endblock extra-script %}
