-extends "channels/channellog_owned_base.html"
-load i18n contacts

-block title-text
  -trans "Message Log"

-block group_object
  .inline-flex.items-center

    .mr-4(style="font-size:1.5em")
      {{msg|msg_status_badge}}

    .summary
      %span
        {{ msg.get_direction_display }}
      %span
        -trans "message"
      %span
        -if msg.direction == "I"
          -trans "from"
        -else
          -trans "to"
      %span
        %temba-anchor(href='{% url "contacts.contact_read" msg.contact.uuid %}')<
          {{ msg.contact_urn.get_display }}
      %span
        -trans "on"
      %span
        {% format_datetime msg.created_on seconds=True %}


