{% extends "orgs/base/list.html" %}
{% load smartmin temba i18n %}

{% block pre-table %}
  <div class="mb-4">
    {% blocktrans trimmed %}
      Agent users can be organized into teams to restrict which ticket topics they can access.
    {% endblocktrans %}
  </div>
{% endblock pre-table %}
{% block table %}
  <table class="list lined scrolled">
    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Users" %}</th>
        <th>{% trans "Topics" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in object_list %}
        <tr>
          <td>{{ obj.name }}</td>
          <td></td>
          <td></td>
        </tr>
      {% empty %}
        <tr class="empty_list">
          <td colspan="99" class="text-center">{% trans "No teams" %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock table %}
