-extends "smartmin/list.html"
-load smartmin i18n contacts compress

-block page-title
  {{ title }}

-block page-top

-block extra-style
  {{block.super}}

  :css

    html {
      --color-text-dark: #555;
    }

    temba-select[name='ticket-filter'] {
      margin-bottom: 0.5em;
      margin-top: -1.3em;
    }

    .ticket-list {
      flex-basis: 300px; 
      flex-grow: 0; 
      flex-shrink: 0;
      transition: all 200ms ease-in;
    }

    @media only screen and (max-width: 1024px) {
      .ticket-list {
        flex-basis: 200px; 
      }
    }

    @media only screen and (max-width: 768px) {
      .ticket-list {
        flex-basis: 125px; 
      }
    }

-block extra-script
  {{block.super}}
  :javascript
    function handleContactChanged(event) {
      var contact = event.target.getSelection();
      var chat = document.querySelector("temba-contact-chat");
      chat.contact = contact;
    }
    
    function handleContactHistoryUpdated(event) {
      // tell our list to refresh since we know things happened
      var tickets = document.querySelector("temba-contacts");
      tickets.refresh();
    }

    function handleTicketsRefreshed(event) {
      // tell our chat to refresh since we know things are new in our list
      var chat = document.querySelector("temba-contact-chat");
      chat.refresh();
    }

    var focusNext = null;

    function handleFilterChanged(event) {
      var contacts = document.querySelector("temba-contacts");
      var chat = document.querySelector("temba-contact-chat");

      // if we have auto selecting, don't clear the chat
      if (!contacts.nextSelection) {
        chat.contact = null;
      }

      var filter = event.target.values[0].value;
      if (filter === "M") {
        contacts.setEndpoint("{% url 'tickets.ticket_folder' folder='mine' %}");
      } else if(filter === "U") {
        contacts.setEndpoint("{% url 'tickets.ticket_folder' folder='unassigned' %}");
      } else if(filter === "O") {
        contacts.setEndpoint("{% url 'tickets.ticket_folder' folder='open' %}", focusNext);
      } else {
        contacts.setEndpoint("{% url 'tickets.ticket_folder' folder='closed' %}");
      }
    }

    function handleTicketUpdated(event) {

      var ticket = event.detail.ticket;
      var filter = document.querySelector('temba-select[name="ticket-filter"]');
      var contacts = document.querySelector("temba-contacts");

      if (ticket.took) {
        var selection = filter.value.value;
        // go to our tickets if we aren't on a useable filter
        if (selection != "O" && selection != "M") {
          focusNext = ticket.uuid;
          filter.setSelection("M");
        } else {
          contacts.refresh();
        }

      } else if (ticket.status == "O") {
        focusNext = ticket.uuid;
        filter.setSelection("O");
      } else {
        contacts.refresh();
      }
    }

-block temba-store
  %temba-store(
    completion="/mr/docs/{{ LANGUAGE_CODE }}/editor.json"
    fields="/api/v2/fields.json"
    globals="/api/v2/globals.json"
    groups="/api/v2/groups.json")
      
-block page-container
  .flex-col
    .flex(style="height:100vh;margin-top:-121px;padding-top:121px;margin-bottom:-100px;padding-bottom:100px;")
      .ticket-list.flex.flex-col.m-4.mr-2.pt-4
        %temba-select(name="ticket-filter" onchange="handleFilterChanged(event)")
          %temba-option(name="My Tickets" value="M" icon="coffee")
          %temba-option(name="Unassigned" value="U" icon="mail")
          %temba-option(name="Open" value="O" icon="inbox")
          %temba-option(name="Closed" value="C" icon="check")
        
        .flex.flex-grow(style="max-height:100%;margin-bottom:-30px;padding-bottom:30px")
          %temba-contacts(agent="{{request.user.pk}}" endpoint="{% url 'tickets.ticket_folder' folder='mine' %}" -temba-refreshed="handleTicketsRefreshed" onchange="handleContactChanged(event)")

      .flex-grow.flex-col.h-full.py-4.pb-4.pr-4
        
        %temba-contact-chat(agent="{{request.user.pk}}" -temba-refreshed="handleContactHistoryUpdated" -temba-content-changed="handleTicketUpdated")
