-extends "tickets/ticket_list.html"
-load smartmin i18n

-block title-text
  {{ ticketer.get_type.name }}
  -trans "Ticketing Service"

-block summary
  {{ object.get_type.name }}
  -trans "Ticketing Service over"
  %b
    {{ ticketer.name }}
