-extends "tickets/ticket_list.html"
-load smartmin i18n

-block title-text
  .title
    {{ ticketer.get_type.name }}
    -trans "Ticketing Service"
    .text-sm
      {{ ticketer.name }}

-block extra-style
  {{ block.super }}

  :css
    .ticketer-name {
      font-size: 16pt;
    }


-block summary
  {{ object.get_type.name }}
  -trans "Ticketing Service"
  %span -
  %strong
    {{ ticketer.name }}
