-extends "smartmin/list.html"
-load smartmin i18n contacts compress

-block page-title
  {{ title }}

-block page-top

-block content
  #pjax
    -block pjax

      .lp-frame
        .left(style="width:20rem")
          .flex.flex-col
            .lp-nav.upper
              .lp-nav-item(class="{% if folder == 'open' %}font-normal{% endif %}")
                .name(onclick="goto(event)" href="{% url 'tickets.ticket_open' %}")
                  -trans "Open"
              .lp-nav-item(class="{% if folder == 'closed' %}font-normal{% endif %}")
                .name(onclick="goto(event)" href="{% url 'tickets.ticket_closed' %}")
                  -trans "Closed"

            -if ticketers
              .lp-nav.lower(style="width:20rem")
                .font-normal.uppercase.text-xs.text-gray-500.pb-1
                  -trans "Services"
                .inner-scroll
                  -for t in ticketers
                    .lp-nav-item(class="{% if ticketer == t %}font-normal{% endif %}")
                      .name(onclick="goto(event)" href="{% url 'tickets.ticket_filter' t.uuid %}")
                        {{ t.name }}

        .right.ml-6
          .flex.w-full.items-end.mb-4
            -block action-buttons
              -if org_perms.tickets.ticket_update
                .action-buttons.list-buttons-container.h-full.mr-2.flex-grow
                  .list-buttons.flex.items-center.-mx-2.h-full
                    -if 'close' in actions
                      .button-action.object-btn-close
                        .mr-3.glyph.text-xl.-mt-1.icon-checkmark
                        -trans "Close"

                    -if 'reopen' in actions
                      .button-action.object-btn-reopen
                        .-mt-1.mr-2.glyph.icon-folder-open
                        -trans "Reopen"

            .flex-grow.ml-2.items-center
              .page-title.leading-tight
                -block title-text
                  {{ title }}
            .gear-links
              -include "gear_links_include.haml"


          %table.list.object-list.lined(class='{% if org_perms.tickets.ticket_update %}selectable{% endif %}')
            %tbody
              -for object in object_list
                %tr.ticket.object-row.select-row(data-object-id="{{ object.id }}" onrowclick='handleRowClicked("{{object.contact.uuid}}")')
                  -if actions and org_perms.tickets.ticket_update
                    %td.campaign.checkbox.object-row-checkbox
                      %temba-checkbox{onclick:"handleRowSelection(this)"}

                  %td.whitespace-no-wrap
                    {{ object.contact|short_name:user_org }}

                  -if not ticketer
                    %td.ticket-ticketer
                      -if object.ticketer.is_active
                        %a(href="{% url 'tickets.ticket_filter' object.ticketer.uuid %}")
                          {{ object.ticketer.name }}
                      -else
                        %span.ticketer-inactive
                          {{ object.ticketer.name }}

                  %td
                    {{ object.subject }}
                  %td
                    {{ object.body }}

                  -if not folder
                    %td
                      .lbl(class="status-{{object.status}}")
                        {{ object.get_status_display }}

                  %td
                    .flex.w-full.items-end.justify-end.pr-4
                      .time.whitespace-no-wrap
                        {% short_datetime object.opened_on %}

              -empty
                %tr.empty
                  %td(colspan=5)
                    -trans "No tickets."

          .flex.flex-col.mx-4.mt-3.mb-16
            -include "includes/pagination.haml"


-block extra-script
  {{ block.super }}
  :javascript
    function handleRowClicked(uuid) {
      gotoLink("/contact/read/" + uuid + "/");
    }


-block extra-style
  {{ block.super }}

  :css
    .ticketer-inactive {
      color: #AAA;
    }


-block extra-less
  {{ block.super }}
  -compress css inline
    {% lessblock %}
      :plain
        .lbl.status-O {
          background-color: rgb(var(--success-rgb));
          color: #fff;
        }
        .lbl.status-C {
          background-color: rgb(var(--error-rgb));
          color: #fff;
        }
    {% endlessblock %}