-extends "smartmin/list.html"
-load smartmin i18n


-block fields

-block title
  .medium-help.float-left(class='{{ ticketer.get_type.icon }}')

  %h2.font_normalize.header-margin.title
    {{ ticketer.get_type.name }}
    -trans "Ticketing Service"
    .name
      {{ ticketer.name }}

  .header-margin
    %a.btn.btn-tiny(href="{% url 'request_logs.httplog_list' 'ticketer' ticketer.uuid %}")
      -trans "Ticketing Service Log"

-block content
  %h3
    -trans "Active Tickets"

  %table.list-table.table.table-bordered.table-striped.table-condensed.message-stats-table
    %thead
      %tr
        %th
          -trans "Contact"
        %th
          -trans "Subject"
        %th
          -trans "Body"
        %th
          -trans "Opened On"

    %tbody
      -for ticket in object_list
        %tr
          %td.ticket-subject
            %a(href="{% url 'tickets.ticket_read' ticket.uuid %}")
              {{ ticket.subject }}
          %td.ticket-contact
            %a(href="{% url 'contacts.contact_read' ticket.contact.uuid %}")
              {{ ticket.contact }}
          %td.ticket-body
            {{ ticket.body }}
          %td.ticket-opened
            {{ ticket.opened_on }}

        -empty
          %tr.empty
            %td(colspan=4)
              -trans "No open tickets at this time."

-block post-content
  -if org_perms.tickets.ticketer_delete
    .deletion.hide
      .title
        -trans "Delete Ticketing Service"
      .body
        %p
          -trans "Once it is removed, it will be gone forever. There is no way to undo this operation."

    %a#deletion-form.posterize(href='{% url "tickets.ticketer_delete" ticketer.uuid %}')

    .deletion-unable.hide
      .title
        -trans "Warning"
      .body
        %p
          -blocktrans trimmed with count=used_by_flows
            Unable to delete service still being used by {{ count }} flows

-block extra-script
  {{ block.super }}

  :javascript
    $(".delete-ticketer").live('click', function(){
    {% if used_by_flows %}
      var modal = new Modal($('.deletion-unable > .title').html(), $('.deletion-unable > .body').html());
      modal.addClass('alert');
      modal.setListeners({onPrimary: function(){modal.dismiss();}}, false);
      modal.show();
    {% else %}
      var modal = new ConfirmationModal($('.deletion > .title').html(), $('.deletion > .body').html());
      modal.addClass('alert');
      modal.setListeners({onPrimary: function(){
        $('#deletion-form').click();
      }}, false);
      modal.setPrimaryButton('{% trans "Delete" %}');
      modal.show();
    {% endif %}
    });

-block extra-style
  {{ block.super }}

  :css
    td {
      padding: 5px;
    }

    td.ticket-id {
      font-family: monospace;
      width: 400px;
    }

    td.ticket-opened {
      width: 200px;
    }

    .name {
      font-size: 16pt;
    }


-block summary
  {{ object.get_type.name }}
  -trans "Ticketing Service"
  %span -
  %strong
    {{ ticketer.name }}
