-extends "smartmin/list.html"
-load smartmin i18n

-block title
  .medium-help.float-left(class='{{ ticketer.get_type.icon }}')

  %h2.font_normalize.header-margin.title
    {{ ticketer.get_type.name }}
    -trans "Ticketing Service"
    .ticketer-name
      {{ ticketer.name }}

-block content
  #pjax
    -block pjax
      .row-fluid
        .span3.sidebox
          #sidebar-nav
            %ul.nav.nav-list.level1
              %li.nav-header
                -trans "Open Tickets"
              -for t in ticketers
                %li{'class': '{% if ticketer == t %}active{% endif %}' }
                  %a(href="{% url 'tickets.ticket_filter' t.uuid %}")
                    {{ t.name }}
        .span9
          %table.list-table.sms_list.object-list.table.table-condensed
            %tbody
              -for object in object_list
                %tr.object-row.select-row(id="id-row-{{object.id}}" class="{% cycle row1 row2 %}" data-object-id="{{ object.id }}")
                  %td.ticket-contact
                    %a(href="{% url 'contacts.contact_read' object.contact.uuid %}")
                      {{ object.contact }}
                  %td.ticket-subject
                    {{ object.subject }}
                  %td.ticket-body
                    {{ object.body }}

                  %td.opened_on
                    %span.time
                      {% short_datetime object.opened_on %}

              -empty
                %tr.empty
                  %td(colspan=4)
                    -trans "No open tickets at this time."

-block post-content
  -if org_perms.tickets.ticketer_delete
    .deletion.hide
      .title
        -trans "Delete Ticketing Service"
      .body
        %p
          -trans "Once it is removed, it will be gone forever. There is no way to undo this operation."

    %a#deletion-form.posterize(href='{% url "tickets.ticketer_delete" ticketer.uuid %}')

    .deletion-unable.hide
      .title
        -trans "Warning"
      .body
        %p
          -blocktrans trimmed
            Unable to delete service still being used by the following flows

          %ul
            -for flow in used_by_flows
              %li
                %a(href="{% url 'flows.flow_editor' flow.uuid %}")
                  {{ flow.name }}


-block extra-script
  {{ block.super }}

  :javascript
    $(".delete-ticketer").live('click', function(){
    {% if used_by_flows %}
      var modal = new Modal($('.deletion-unable > .title').html(), $('.deletion-unable > .body').html());
      modal.addClass('alert');
      modal.setListeners({onPrimary: function(){modal.dismiss();}}, false);
      modal.show();
    {% else %}
      var modal = new ConfirmationModal($('.deletion > .title').html(), $('.deletion > .body').html());
      modal.addClass('alert');
      modal.setListeners({onPrimary: function(){
        $('#deletion-form').click();
      }}, false);
      modal.setPrimaryButton('{{ _("Delete")|escapejs }}');
      modal.show();
    {% endif %}
    });

-block extra-style
  {{ block.super }}

  :css
    .ticketer-name {
      font-size: 16pt;
    }

    td.opened_on {
      text-align: right;
    }

-block summary
  {{ object.get_type.name }}
  -trans "Ticketing Service"
  %span -
  %strong
    {{ ticketer.name }}
