-extends "smartmin/base.html"
-load i18n compress temba

-block title
  -trans "Connect a Ticketing Service"


-block content

  -blocktrans trimmed
    Ticketing Services let a human agent take over communication for a contact. In a flow you can open a new
    ticket for a contact and from that point until the ticket is closed all incoming messages from the contact
    will be forwarded to the service and all replies from the service will be sent back to the contact.

  .my-6
    -blocktrans trimmed
      Select the ticketing service you want to connect below to get started.

  .ticketer-options
    -for ticketer_type in ticketer_types
      .card.link(onclick="goto(event, this)" href="{% url 'tickets.types.'|add:ticketer_type.slug|add:'.connect' %}")
        .relative
          .text-base.absolute.text-gray-100.bg-icon(class="{{ ticketer_type.icon }}")
        
        .flex.flex-col.mx-20.relative
          .title
            {{ ticketer_type.name }}

          .mt-2
            {% include ticketer_type.get_connect_blurb %}

    -empty
      .alert-warning
        -trans "No ticketing services are available."

-block extra-style
  :css
    .bg-icon {
      font-size: 90px;
      transform: translate(-45px, 10px) rotate(-15deg);
    }
