{% extends "channels/channel_claim_form.html" %}
{% load i18n compress temba %}

{% block pre-form %}
  <p id="fb-status">
    {% if error_connect %}
      {% trans "Error with token, you need to reconnect the Facebook page by clicking the button below" %}
    {% else %}
      {% trans "Everything looks good. No need to reconnect" %}
    {% endif %}
  </p>
{% endblock pre-form %}
{% block form %}
  <div class="mt-4 card">
    <div style="display:none;" class="mb-4" id="fb-channel-error">
      <p>{% trans "Error reconnecting Facebook page. Please retry" %}</p>
    </div>
    <div class="flex" id="fb-app-connect">
      <div class="button-primary connect-facebook">{% trans "Reconnect Facebook page" %}</div>
    </div>
    <form style="display:none;" method="post" action="{{ refresh_url }}" id="refresh-token-form">
      {% csrf_token %}
      <input type="text" name="fb_user_id" id="fb-user-id">
      <input type="text" name="user_access_token" id="user-access-token">
    </form>
  </div>
{% endblock form %}
{% block extra-script %}
  {{ block.super }}
  <script type="text/javascript">
    window.fbAsyncInit = function() {
      FB.init({
        appId: '{{ facebook_app_id }}',
        xfbml: true,
        version: 'v18.0'
      });
    };
  </script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <script type="text/javascript">
    onSpload(function() {
      const connectFB = document.querySelector(".connect-facebook");
      connectFB.addEventListener('click', function(evt) {

        {% if facebook_login_messenger_config_id %}
        FB.login(function(response) {
          if (response.status === 'connected') {
            document.getElementById("fb-user-id").value = response.authResponse.userID;
            document.getElementById("user-access-token").value = response.authResponse.accessToken;
            document.getElementById("refresh-token-form").submit();
          } else {
            document.getElementById("fb-status").style.display = 'none';
            document.getElementById("fb-channel-error").style.display = 'block';
          }
        }, {
          config_id: '{{ facebook_login_messenger_config_id }}'
        });

        {% else %}
        FB.login(function(response) {
          if (response.status === 'connected') {
            document.getElementById("fb-user-id").value = response.authResponse.userID;
            document.getElementById("user-access-token").value = response.authResponse.accessToken;
            document.getElementById("refresh-token-form").submit();
          } else {
            document.getElementById("fb-status").style.display = 'none';
            document.getElementById("fb-channel-error").style.display = 'block';
          }
        }, {
          scope: 'pages_messaging,pages_show_list,pages_manage_metadata,pages_read_engagement'
        });

        {% endif %}

      })
    });
  </script>
{% endblock extra-script %}
