{% extends "frame.html" %}
{% load smartmin temba compress i18n %}

{% block nav %}
{% endblock nav %}
{% block content %}
  {% if relayer_app %}
    <p>
      {% blocktrans trimmed with branding.name as brand %}
        To use an Android phone with your {{ brand }} workspace to send messages you need to download the {{ brand }} relayer app
      {% endblocktrans %}
    </p>
    <div class="latest-release-date">
      {% trans "Latest released on" %}
      {{ relayer_app.created_on|day }}
    </div>
    <p>
      <a href="{% url 'apks.apk_download' relayer_app.id %}" class="btn-download">{% trans "Download Relayer" %}</a>
    </p>
    {% if relayer_app.description %}<div class="latest-release-description">{{ relayer_app.description }}</div>{% endif %}
  {% else %}
    <p></p>
    {% blocktrans trimmed with branding.emails.support|default:branding.emails.notifications as email %}
      No Android app available yet. Please contact {{ email }} and report that.
    {% endblocktrans %}
  {% endif %}
  {% if message_packs %}
    <p>
      {% blocktrans with branding.name as brand %}
        To increase the capacity of messages your phone can send in an hour we recommend you install each of the following {{ brand }} message packs as well.
      {% endblocktrans %}
    </p>
    <p>
      {% for msg_pack in message_packs %}
        <br>
        <a href="{% url 'apks.apk_download' msg_pack.id %}" class="btn-download">
          {% blocktrans with forloop.counter as counter %}
            Download Message pack {{ counter }}

          {% endblocktrans %}
        </a>
      {% endfor %}
    </p>
  {% endif %}
{% endblock content %}
{% block extra-style %}
  {{ block.super }}
  <style type="text/css">
    body {
      padding: 0;
      font-size: 16px;
    }

    .attn {
      font-weight: bold;
      font-size: 110%;
    }

    .create-account #header {
      margin: 0;
      color: white;
      padding: 20px;
      height: inherit;
    }

    .create-account #header .title {
      padding-bottom: 10px;
      font-size: 20px;
      font-weight: 500;
    }

    .create-account .content {
      margin-top: 10px;
      padding: 20px;
    }

    .create-account .content form {
      text-align: center;
    }

    .create-account .content form label,
    .create-account .content form p.help-block {
      display: none;
    }

    .create-account .content form .fields input {
      background-color: transparent;
      border: 0px solid;
      border-bottom: 1px solid #ddd;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      outline: none;
      padding-left: 1px;
      font-size: 18px;
      width: 98%;
      margin-top: 8px;
    }

    .create-account .content form .error {
      width: inherit;
      text-align: left;
      font-size: 14px;
    }

    .create-account .content form .errorlist li {
      width: 100%;
    }

    .create-account .content form textarea:focus,
    .create-account .content form input:focus {
      outline: none;
      border-bottom: 1px solid var(--color-primary-dark);
    }

    .create-account .content form input[type="submit"] {
      margin-top: 20px;
      font-weight: 500;
      color: #999;
      font-size: 16px;
      padding: 8px;
      width: 100%;
    }
  </style>
{% endblock extra-style %}
