{% extends "frame.html" %}
{% load smartmin compress temba i18n %}
-block page-top

-block extra-less
  -compress css
    {% lessblock %}
      :plain
        #lead-form {
          display: block;
          text-align: center;
          background-color: #0c6596;
          padding-top: 15px;
          input[type=text] {
            margin-bottom: 0;
            height: 27px;
          }
        }

        .text-error {
          text-shadow: 0px 0px 12px #fff;
          letter-spacing:1px;
          color: @flat-red;
          width: 350px;
          padding-left:5px;
          margin-top: -5px;
          font-weight:500;
        }

        #pageBody {
          min-width:1000px;
        }

        #splash {
          h1.description {
            padding-top: 15px;
            position: relative;
          }
        }

    {% endlessblock %}

-block post-header
   #marketing
    .container
      #splash
        .row
          .span12
            %h1.description
              {{ brand.description }}
         .row
          .span3
            <a href="#send-suggestion" data-toggle="modal">
                <img src="{{ STATIC_URL }}images/question.png" style="width: 50px; height: 50px; right: 0px; bottom: 0px; position: fixed; z-index: 999;">
            </a>

    -if not thanks
      %br.clearfix{clear:"both"}
            <!-- Modal -->
            <div id="send-suggestion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                %span.title{:style =>"color: rgb(255, 255, 255)! important;"}
                   -trans "Escríbenos"
              </div>
              <div class="modal-body" style="margin-right: 0px;">
                <form role="form" action="" method="post">
                  {% csrf_token %}
                  %h4 Comentario:
                  {{ send_suggestion_form.text }}
                <div>
                  <button type="submit" class="btn btn-primary btn-block send-button"style="width: 100px;" >Enviar</button>
                </div>
                </form>
              </div><!-- End of Modal body -->
            </div><!-- End of Modal content -->
          </div><!-- End of Modal dialog -->
        </div>
