{% extends "smartmin/base.html" %}
-load i18n
-load smartmin temba compress

-block page-title
  -blocktrans with name=brand.name
    {{name}} - Welcome

-block page-top

-block messages

-block content
  .row
    .span12
      -if 'success' in request.REQUEST.keys
        %h1
          -trans "Your channel is now connected."
        %p.medium-title
          -blocktrans with name=brand.name
            You can now start flows through {{name}}.
      -else
        %h1
          -trans "Getting Started"

      .row
        .span12
          %hr

  .row.workflow-section
    .span3
      %a.charm.workflow-glyph.icon-nav-flows-inverted{href:'{% url "flows.flow_list" %}'}
    .span7
      %h3
        -trans "FLOWS"
      %p
        -blocktrans
          Using a simple drag-and-drop interface, anybody can design a custom SMS application
          that is tailored to their needs. Design a flow in minutes and start getting responses
          instantly. Once people start interacting with your flow, use real-time analytics to
          see how things are going.
      %p
        -trans "To learn more about flows, visit the"
        <a href="{% non_ssl_brand_url 'public.video_list'%}">{% trans "learning center" %}</a>.
      %div
        %a.btn.workflow-btn{href:"{% url 'flows.flow_list' %}" }
          -trans "View Sample Flows"
        %a.create_flow.btn.workflow-btn{href:"#"}
          -trans "Create Flow"
        %a.btn.workflow-btn{href:"{% non_ssl_brand_url 'public.video_list'%}"}
          -trans "How to Build Flows"

  .row
    .offset1.span10
      %hr

  -if 'success' not in request.REQUEST.keys
    .row.workflow-section
      .span3
        %a.charm.workflow-glyph.icon-nav-channels-inverted{href:'{% url "channels.channel_list" %}'}
      .span7
        %h3
          -trans "GET CONNECTED"
        %p
          -blocktrans with name=brand.name
            No matter where you are in the world, it's easy to configure {{name}} to work on real phones without delay.
            Whether you want to use a Twilio number, a direct connection with your local carriers, or even the SIM card
            you already have, we've got you covered.

        %p
          -blocktrans
            You can also use our flow simulator if you don't want to setup a number right away.

        %div
          %a.btn.workflow-btn.send-button{href:"{% url 'channels.channel_list' %}#message"}
            -trans "Add Number"

    .row
      .offset1.span10
        %hr

  .row.workflow-section
    .span3
      %a.charm.workflow-glyph.icon-nav-contacts-inverted{href:'{% url "contacts.contact_list" %}'}
    .span7
      %h3
        -trans "CONTACTS"
      %p
        -blocktrans with name=brand.name
          Before you do anything else in {{name}}, it is helpful to have a list of contacts. This will make it easy to send a message or survey out
          to a wide distribution list.

          For example, you might have groups
          called <i>Field Staff</i>, <i>Office Managers</i>, or <i>Trainees</i>. You can import these groups into
          {{name}} by uploading an Excel file using our
          %a{href:'{{STATIC_URL}}/examples/contacts.xls'}
            template
          as a guide. We'll create a group for you automatically for each file you upload. Don't worry, it's easy to add or
          remove people from groups later if you need to tweak things.
      %p
        -blocktrans
          If you want anybody to be able to join a group using SMS, you can set a <i>join keyword</i>. Anybody who
          texts with that keyword will automatically be registered into the group.

        %div
          %a.btn.workflow-btn{href:"{% url 'contacts.contact_import' %}"}
            -trans "Import Contacts"
          %a.btn.workflow-btn{href:"{% url 'contacts.contact_list' %}#contact"}
            -trans "Create Contact"
          %a.btn.workflow-btn{href:"{% url 'contacts.contact_list' %}#group"}
            -trans "Create Group"
      
  .row 
    .offset1.span10
      %hr

  .row.workflow-section
    .span3
      %a.charm.workflow-glyph.icon-nav-messages-inverted{href:'{% url "msgs.msg_inbox" %}'}
    .span7
      %h3
        -trans "MESSAGES"
      %p
        -blocktrans with name=brand.name
          If you use e-mail, reading and writing messages in {{name}} should already be familiar to you. Just like e-mail, you have an Inbox and it's easy to label
          messages so you can follow up with them later. {{name}} also allows you to schedule a message to be sent later or even as a reminder
          on a regular schedule.

      %p
        -blocktrans with name=brand.name
          For example you might have {{name}} send a message every Friday reminding people in the <i>Field Staff</i> group to complete their weekly report.
          If anybody joins the <i>Field Staff</i> group later, they will automatically start receiving the weekly reminder.

      %div
        %a.btn.workflow-btn.send-button{href:"{% url 'msgs.msg_inbox' %}#message"}
          -trans "Send Message"

  .row
    .offset1.span10
      %hr

  .row.workflow-section
    .span3
      %a.charm.workflow-glyph.icon-nav-home-inverted{href:'{% url "orgs.org_home" %}'}
    .span7
      %h3
        -trans "ACCOUNT"
      %p
        -trans "Visit your account page to add credits at any time"
      %p
        -url 'api' as api_url
        -blocktrans with name=brand.name
          {{name}} also offers a robust REST API to add SMS features to your own website. Have a look through the
          %a{href:'{{api_url}}'}
            API documentation
          to learn more. 

      %div
        %a.btn.workflow-btn{href:"{% url 'orgs.org_home' %}?open=webhook"}
          -trans "Add Web Hook"
        %a.btn.workflow-btn{href:"{% url 'api' %}"}
          -trans "API Documentation"

-block extra-script
  {{ block.super }}
  :javascript
    {% if org_perms.flows.flow_create %}
      $(".create_flow").on('click', function() {
        var modal = new Modax('{% trans "Create a Flow" %}', '{% url "flows.flow_create" %}');
        modal.setIcon('icon-tree');
        modal.setRedirectOnSuccess(true);
        modal.show();
      });
    {% endif %}


-block extra-less
  -compress css inline
    {% lessblock %}
      :plain
        .workflow-btn {
          padding: 4px 10px;
        }
        .workflow-section {
          margin-top: 30px;
          margin-bottom: 30px;
        }
        .medium-title {
          color: @color-font-grey;
          font-weight: 100;
          font-size: 21px;
        }
        .workflow-glyph {
          line-height: 1;
          color: @flat-blue;
          font-size: 200px;
          height: 220px;
          text-decoration: none;
        }
        a.workflow-glyph {
          text-decoration: none;
        }
    {% endlessblock %}
