{% extends "frame.html" %}

-load smartmin temba compress i18n


-block page-top

-block extra-script
  {{ block.super }}
  :javascript

-block extra-less
  -compress css
    {% lessblock %}
    :plain

      .deploy {

        max-width:940px;

        .faq {
          margin-top:40px;

          .question {
            font-weight:500;
            color: #666;
          }

          .answer {
            margin-bottom:20px;
          }

        }


        h5 {
          color: @flat-mutedgreen;
          font-weight:400;
        }

        .body {
          margin-top: 5px;
          .sidebox {
            border: 1px solid @flat-white;
            float:right;
            padding:15px;
            font-size:12px;
            width:230px;

            margin-left:50px;
            margin-right:20px;
            margin-top: 5px;
            margin-bottom: 20px;

            img {
              margin: auto;
            }

            .caption {
              float:right;
              width:150px;
              margin-left:5px;
              margin-right:5px;
            }
          }

          .subbox {
            float:right;
            padding:15px;
            background: @flat-white;
            font-size: 11px;
            color: #999;

            width:230px;
            margin-left:50px;
            margin-right:20px;
            margin-top: -20px;
            margin-bottom: 20px;

            h4 {
              margin-top:0;
            }
          }
        }


        .kind {

          margin-top:30px;
          .icon {
            background: #A5F281;
            color: #7CB850;
            width:34px;
            height:34px;
            padding:8px;
            padding-top:4px;
            font-size:34px;
            display:inline-block;
            border:1px solid grey;
          }
          .title {
            display:inline-block;
            margin:10px 0px;

            height:20px;
            border-left: 6px solid #7CB850;
            padding-left:10px;
            font-size:20px;
            font-weight:200;
          }

        }
      }

    {% endlessblock %}


-block content
  %h2
    -trans "Using a Local Number"

  -blocktrans with name=brand.name
    No matter where you are in the world, there's a way for you to use {{name}} with a local number.

  .deploy

    .kind
      .title
        -blocktrans with name=brand.name
          Using {{name}} with an Android Phone

    .body
      %p
        -blocktrans with name=brand.name
          The easiest and most popular way to deploy {{name}} is by using a cheap Android phone along with a local sim card. It's quite
          simple in principal. When your {{name}} account sends a message, it notifies your Android phone. The phone will then
          send the message out from your local number on your behalf. If somebody responds to that message, the phone will then
          relay that message to your {{name}} account.

      %h5
        -trans "Buy an Android phone"

      .sidebox
        .caption
          -trans "We recommend using"
          %a{href:'http://www.samsung.com/uk/consumer/mobile-devices/smartphones/productcompare?prda=GT-S5570EGAXEU&prdb=GT-S6500ZYABTU&prdc=GT-S5300ZKABTU&prdd=GT-S6310ZWNBTU'}
            -trans "inexpensive Samsung phones"
          -trans "which are available in many local markets around the world. In East Africa these devices can be had locally for around $90."
        %img{src:'{{STATIC_URL}}images/galaxy-mini.png'}

      -blocktrans
        We always recommend that the phone you use for {{name}} be dedicated for that purpose. The good news
        is that Android phones are very inexpensive and getting more capable every day.

      %h5
        -trans "Get a local sim card"

      -blocktrans
        You might already have a local number to use, if so, just pop it in your android phone.
        Otherwise, you will want to aquire a sim card from your local carrier of choice. We recommend setting the account
        up to be data enabled. However, if you feel comfortable relying on your Wi-Fi connection, that's okay too. We also
        encourage that the account be on a post-paid plan so you don't have to worry about the phone running out of credit.

      %h5
        -blocktrans with name=brand.name
          Install the {{name}} app

      .subbox
        %h4
          -trans "Reverse Billing"
        -blocktrans
          In some countries it's even possible have sim cards set up to be what is commonly known as <i>reverse billed</i>.
          When accounts are reverse billed, it's free
          for anyone to send messages to that number and you pay for both incoming and outgoing messages. This
          configuration is especially useful for programs working with populations that
          don't have the financial means to interact with the service.


      -trans "You can download the free Android app from"
      <a href='https://play.google.com/store/apps/details?id={{brand.android_channel}}&hl=en'>Google Play</a>.

      -trans "Once the app is installed it will give you a 6 digit claim code that you then"
      <a href='{% url "channels.channel_list" %}'>enter on the website</a>.
      -blocktrans with name=brand.name
        And that's all there is to it. From then on, that phone will handle sending all the messages for your {{name}} account.

      %h5
        -trans "Give the phone a good home"

      -blocktrans
        Android phones are great because they can be used in even the most challenging environments. You only need to locate
        one place in the country where you will have the most reliable power and good phone signal. You will
        need either a Wi-Fi or GSM data connection, but if you can get both, even better. The phone will be smart
        about which network to use if one connection isn't working well.


    .faq
      %h4
        -blocktrans with name=brand.name
          {{name}} with Android FAQ

      .question
        -trans "What if I need to send a lot of messages?"
      .answer
        -blocktrans with name=brand.name
          We encourage people to validate their ideas and experiment before focusing on scaling. Starting with Android
          phones is a logical starting point for most projects and you'll have no problem sending up to around 1,000 messages per hour.
          If you do outgrow that, we can help you connect your {{name}} account
          with a local aggregator or even a direct connection with the carriers themselves.

      .question
        -trans "What happens if the battery dies?"
      .answer
        -blocktrans with name=brand.name
          Android phones are great because they have redundant network connections and a backup battery. So, if the office
          where it is located loses power or the network goes down, the {{name}} app will continue to relay messages. In most
          cases, using an Android phone with {{name}} means you can just <i>set it and forget it</i>.

          We'll notify you automatically if the phone is running low on battery, out of credit, or if it doesn't have
          network connectivity so someone can check up on it.

      .question
        -trans "Can I use a short code? What about reverse billing?"
      .answer
        -blocktrans
          While these features are generally viewed as unique to SMPP accounts, in some countries the carriers will allow short codes
          to point to sim accounts. This means texting or calling that short code would route to your Android phone. In
          some cases these sim-based accounts can also be reverse-billed.

      .question
        -blocktrans with name=brand.name
          Does the fee I pay to {{name}} include messaging fees?
      .answer
        -blocktrans with name=brand.name
          No, the fee covers the use of the {{name}} platform. Any messaging rates imposed by your carrier apply.

      .question
        -blocktrans with name=brand.name
          Will {{name}} work for my remote ICT4D project?
      .answer
        -blocktrans with name=brand.name
          We understand that deploying SMS applications has traditionally been one of the trickiest parts when launching ICT4D projects.
          In fact, it's the primary thing that drove us to create {{name}} in the first place. We try hard to make it as easy as possible
          but we realize that you probably have questions on what this all means for your
          specific project. Please
        <a href='javascript:void(0);' class='uv-send-message'>contact us</a>
        -blocktrans
          with <i>any questions</i> and we'll help you work through your options.

  .deploy
    .kind
      .title
        -trans "Connecting to Carriers"
    %p
      -blocktrans with name=brand.name
        For projects that need to send more than a few thousand messages an hour, it may be worth looking
        into a direct connection with the local carriers. When your project is ready for it, your {{name}} account can be
        coverted over to an SMPP connection. Integrating with each carrier is generally expensive and time consuming,
        so it's not something that should be considered until it is absolutely necessary.

  .deploy
    .kind
      .title
        -trans "Local Aggregators"
    %p
      -blocktrans
        Using a local aggregator is much like connecting with a carrier except that it usually is less expensive and
        much, much quicker to setup. Additionally they generally work across all carriers in the country, so that means less
        trouble for you.

        In countries where we have agreements in place, you can elect to use one
        of these aggregators. For example, for US, Canada or UK numbers, you can use <a href="http://www.twilio.com">Twilio</a>.
        For Kenyan numbers, you can use <a href="http://www.africastalking.com">Africa's Talking</a>.

    %h5
      -trans "Non-Profit discount"

    %p
      -blocktrans with name=brand.name
        One of the biggest aggregators in the world, Twilio, recently announced <a href="http://twilio.org">twilio.org</a> which promises a 25% discount on messaging and voice
        fees for qualified non-profits. They'll even grant you a $500 credit to get started. These non-profit Twilio accounts
        can be connected easily to {{name}}. We'd be happy to help you get started with this great program.

    %h5
      -trans "Adding more aggregators"

    -blocktrans with name=brand.name
      We're always extending our network of local aggregators. If you don't see an option for your country,
      <a href='javascript:void(0);' class='uv-send-message'>let us know</a>. We'd be happy to help source a
      local aggregator that we can integrate with {{name}} for your country.
