
{% extends "frame.html" %}

-block header
  %link{type:"text/css", rel:"stylesheet", href:"{{ STATIC_URL }}css/temba-components.css"}    

-block page-container
  .flex.flex-col.h-full
    .top.flex-shrink.flex-grow
    .middle.flex.flex-row.mb-10
      .flex-grow
      .w-128
        .mb-6.w-64.mt-12
          %a(href="/")
            %img(src="{{STATIC_URL}}images/logo-dark.svg")
        -block content
      .flex-grow
          
    .bottom(style="flex-grow: 3")
      .flex.flex-col.h-full
        .flex-grow

        .bottom
          -block footer
            {{block.super}}