{% extends "smartmin/base.html" %}
-load i18n
-load smartmin temba compress

-block page-title
  -blocktrans with name=brand.name
    {{name}} - Welcome

-block page-top

-block messages

-block content
  -if 'success' in request.GET.keys
    .page-title
      -trans "Your channel is now connected."
    -blocktrans with name=brand.name
      You can now start flows through {{name}}.
  -else
    .page-title
      -trans "Getting Started"
    -blocktrans
      Here's a short introduction to help you get started.


  .mt-6
    .flex
      .summary.card.p-12.overflow-hidden
        .icon-flow.relative.text-gray-100(style="font-size:200px; transform: rotate(-5deg) translate(-120px, -40px);")
        .-mt-8.mx-20
          .title
            %a(href="{% url 'flows.flow_list' %}")
              -trans "Flows"
          -blocktrans
            Using a simple drag-and-drop interface, anybody can design a custom SMS application
            that is tailored to their needs. Design a flow in minutes and start getting responses
            instantly. Once people start interacting with your flow, use real-time analytics to
            see how things are going.

          -trans "To learn more about flows, visit the"
            <a href="{% non_ssl_brand_url 'public.video_list'%}">{% trans "learning center" %}</a>.
    
          .mt-6
            %temba-modax.inline-block.mb-1(endpoint="{% url 'flows.flow_create'%}" header='{{_("Create Flow")|escapejs}}')
              .button-primary.lift.inline-block
                -trans "Create Flow"
            .button-light.lift.inline-block.mx-1.mb-1(href="{% url 'flows.flow_list' %}" onclick="goto(event)")
              -trans "Sample Flows"
            .button-light.lift.inline-block.mb-1(href="{% non_ssl_brand_url 'public.video_list'%}" onclick="goto(event)")
              -trans "Tutorials"



  -if 'success' in request.GET.keys
    .flex.mt-6
      .summary.card.p-12.overflow-hidden
        .icon-phone.relative.text-gray-100(style="font-size:160px; transform: rotate(25deg) translate(-40px, -10px);")
        .-mt-8.mx-20
          .title
            %a(href="{% url 'channels.channel_claim' %}")
              -trans "Get Connected"
          
          -blocktrans with name=brand.name
            No matter where you are in the world, it's easy to configure {{name}} to work on real phones without delay.
            Whether you want to use a Twilio number, a direct connection with your local carriers, or even the SIM card
            you already have, we've got you covered.

          .mt-2
            -blocktrans
              You can also use our flow simulator if you don't want to setup a number right away.

          .mt-6
            .button-primary.lift.inline-block(href="{% url 'channels.channel_claim' %}" onclick="goto(event)")
                -trans "Add Number"

  .flex.mt-6
    .summary.card.p-12
      .icon-contact.relative.text-gray-100(style="font-size:240px; transform: rotate(-5deg) translate(-180px, 0px);")
      .-mt-8.mx-20
        .title
          %a(href="{% url 'contacts.contact_list' %}")
            -trans "Contacts"
        -blocktrans with name=brand.name
          Before you do anything else in {{name}}, it is helpful to have a list of contacts. This will make it easy to send a message or survey out
          to a wide distribution list.

          For example, you might have groups
          called <i>Field Staff</i>, <i>Office Managers</i>, or <i>Trainees</i>. You can import these groups into
          {{name}} by uploading an Excel file using our
          %a{href:'{{STATIC_URL}}/examples/contacts.xls'}
            template
          as a guide. We'll create a group for you automatically for each file you upload. Don't worry, it's easy to add or
          remove people from groups later if you need to tweak things.

        .mt-2
          -blocktrans
            If you want anybody to be able to join a group using SMS, you can set a <i>join keyword</i>. Anybody who
            texts with that keyword will automatically be registered into the group.

        .mt-6
          .button-primary.lift.inline-block.mr-1.mb-1(href="{% url 'contacts.contactimport_create' %}" onclick="goto(event)")
            -trans "Import Contacts"
          %temba-modax.inline-block.mb-1(endpoint="{% url 'contacts.contact_create'%}" header='{{_("Create Contact")|escapejs}}')
            .button-light.lift.inline-block.mr-1{href:"{% url 'contacts.contact_list' %}#contact"}
              -trans "Create Contact"
          %temba-modax.inline-block.mb-1(endpoint="{% url 'contacts.contactgroup_create'%}" header='{{_("Create Group")|escapejs}}')
            .button-light.lift.inline-block.mr-1.mb-1{href:"{% url 'contacts.contact_list' %}#group"}
              -trans "Create Group"
      
  .flex.mt-6
    .summary.card.p-12.overflow-hidden
      .icon-contact.relative.text-gray-100(style="font-size:240px; transform: rotate(-5deg) translate(-180px, 0px);")
      .-mt-8.mx-20
        .title
          %a(href="{% url 'msgs.msg_inbox' %}")
            -trans "Messages"
        -blocktrans with name=brand.name
          If you use e-mail, reading and writing messages in {{name}} should already be familiar to you. Just like e-mail, you have an Inbox and it's easy to label
          messages so you can follow up with them later. {{name}} also allows you to schedule a message to be sent later or even as a reminder
          on a regular schedule.

        .mt-2
          -blocktrans with name=brand.name
            For example you might have {{name}} send a message every Friday reminding people in the <i>Field Staff</i> group to complete their weekly report.
            If anybody joins the <i>Field Staff</i> group later, they will automatically start receiving the weekly reminder.

        .mt-6
          %temba-modax.inline-block.mb-1(endpoint="{% url 'msgs.broadcast_send'%}" header='{{_("Send Message")|escapejs}}')
            .button-primary.lift
              -trans "Send Message"

  .flex.mt-6
    .summary.card.p-12.overflow-hidden
      .icon-user.relative.text-gray-100(style="font-size:190px; transform: rotate(-5deg) translate(-100px, 20px);")
      .-mt-8.mx-20
        .title
          %a(href="{% url 'orgs.org_home' %}")
            -trans "Workspace"
  
        -block account-blurb

        .mt-2
          -url 'api' as api_url
          -blocktrans with name=brand.name
            {{name}} also offers a robust REST API to add SMS features to your own website. Have a look through the
            %a{href:'{{api_url}}'}
              API documentation
            to learn more. 

        .mt-6
          -block account-details
          .button-light.lift.inline-block(href="{% url 'api' %}" onclick="goto(event)")
            -trans "API Documentation"


-block extra-less
  -compress css inline
    {% lessblock %}
      :plain
        .workflow-btn {
          padding: 4px 10px;
        }
        .workflow-section {
          margin-top: 30px;
          margin-bottom: 30px;
        }
        .medium-title {
          color: @color-font-grey;
          font-weight: 100;
          font-size: 21px;
        }

        .workflow-glyph {
          line-height: 1;
          font-size: 120px;
          height: 160px;
          width: 160px;
          padding: 20px;
          text-decoration: none;
          border-radius: 50%;
          text-align: center;
          line-height:1;

          &.icon-1 {
            line-height:1.9em;
          }
        }
        a.workflow-glyph {
          text-decoration: none;
        }
    {% endlessblock %}
