-extends "channels/channel_claim_authenticated.html"

-load i18n

-block title
  .medium-help.float-left{class:"{{ view.channel_type.icon }}"}

  %h2.font_normalize.header-margin
    {{ title }}

-block pre-form
  .info
    %p
      -blocktrans
        To connect a <a href="http://clickatell.com">Clickatell</a> number, first create an HTTP integration for a two way number, then
        enter the number and API key below.

    %p
      -blocktrans with brand.name as brand
        After connecting your service we will provide URLs for the endpoints for Clickatell to call when they want
        to push a message to {{ brand }}.

-block extra-script
  {{ block.super }}

  :javascript
    $(function(){
      $("#id_country").select2();
    });

-block extra-style
  {{ block.super }}

  :css
    #s2id_id_country {
      width: 370px;
    }

    .info {
      width: 800px;
      margin-bottom: 20px;
    }

    .medium-help {
      font-size: 50px;
      height: 50px;
    }

    .header-margin {
      margin-left: 60px;
    }

    .form-group {
      margin-bottom:15px;
    }
