-extends "channels/channel_claim_authenticated.html"

-load i18n

-block title
  {{ title }}

-block pre-form
  -blocktrans trimmed
    To connect a <a href="http://clickatell.com">Clickatell</a> number, first create an HTTP integration for a two way number, then
    enter the number and API key below.

  .my-4
    -blocktrans trimmed with brand.name as brand
      After connecting your service we will provide URLs for the endpoints for Clickatell to call when they want
      to push a message to {{ brand }}.
