-load i18n

%h4
  -blocktrans
    To finish configuring your Clickatell connection you'll need to set the following callback URLs on the
    Clickatell website for your integration.

%h4
  -trans "Reply Callback"

%p
  -blocktrans
    You can set the callback URL on your Clickatell account by managing your integration, then setting your reply
    callback under "Two Way Settings" to HTTP POST and your target address to the URL below. (leave username and password blank)

%code
  https://{{ channel.callback_domain }}{% url 'courier.ct' channel.uuid 'receive' %}

%hr

%h4
  -trans "Delivery Notifications"

%p
  -blocktrans
    You can set the delivery notification URL on your Clickatell account by managing your integration, then setting your
    delivery notification URL under "Settings" to HTTP POST and your target address to the URL below. (leave username and password blank)

%code
  https://{{ channel.callback_domain }}{% url 'courier.ct' channel.uuid 'status' %}

%hr
