{% extends "orgs/base/list.html" %}
{% load i18n humanize temba %}

{% block pre-table %}
  <div class="mb-4">
    {% blocktrans trimmed %}
      Archives are created after 90 days of inactivity for messages and flow runs.
    {% endblocktrans %}
  </div>
{% endblock pre-table %}
{% block table %}
  <table class="list lined scrolled">
    <thead>
      <th>{% trans "Period" %}</th>
      <th style="text-align:right">{% trans "Records" %}</th>
      <th style="text-align:right">{% trans "Size" %}</th>
      <th></th>
    </thead>
    {% for archive in object_list %}
      <tr>
        <td>
          {% if archive.period == 'D' %}
            {{ archive.start_date|date:"M j, Y" }}
          {% else %}
            {{ archive.start_date|date:"F Y" }}
          {% endif %}
        </td>
        <td style="text-align:right">{{ archive.record_count|intcomma }}</td>
        <td style="text-align:right">{{ archive.size|filesizeformat }}</td>
        <td class="w-10" style="--icon-color:#bbb">
          <temba-icon clickable="true"
                      name="download"
                      onclick="downloadFile(event, '{% url 'archives.archive_read' archive.id %}')">
          </temba-icon>
        </td>
      </tr>
    {% empty %}
      <tr class="empty_list">
        <td colspan="99" class="text-center">{% trans "No archives" %}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock table %}
