- extends "smartmin/list.html"
- load smartmin sms temba compress i18n humanize




- block page-title
  - trans "Archives"

- block title-icon
  .title-icon
    %span.glyph.icon-box

- block summary
  -if archive_count
    {% blocktrans trimmed with counter=archive_count|intcomma count num=archive_count  %}
    You have {{ counter }} archive
    {% plural %}
    You have {{ counter }} archives
    {% endblocktrans %}

    {% blocktrans trimmed with counter=record_count|intcomma count num=record_count %}
    containing {{ counter }} record.
    {% plural %}
    containing {{ counter }} records.
    {% endblocktrans %}
  -else
    -trans "You do not have any message or run archives yet."

- block page-top
  {% render as page_top %}
    {{block.super}}
  {% endrender %}
  {{page_top}}

-block top-form
  - block search-form
    - for type in archive_types
      - if type.0 == selected
        {{ type.1 }}
      - else
        %a{href:'/archive/{{type.0}}/'}<
          {{type.1}}
      - if not forloop.last
        |

- block content
  -if object_list
    %table.archives
      %thead
        %th.name
          -trans "File"
        %th
          -trans "Records"
        %th
          -trans "Size"
        %th
          -trans "Period"
        %th

      - for archive in object_list
        %tr.archive-row
          %td
            %a{href:"{% url 'archives.archive_read' archive.id %}"}
              {{archive.filename}}
          %td.archive-record-count.cell
            {{archive.record_count|intcomma}}
          %td.archive-size.cell
            {{archive.size_display}}
          %td.archive-period.cell
            -if archive.period == 'D'
              {{archive.start_date|date:"M j, Y"}}
            -else
              {{archive.start_date|date:"F Y"}}
          %td.archive-icon
            %a{href:"{% url 'archives.archive_read' archive.id %}"}
              -if archive.period == 'D'
                %span.icon.icon-docs-2
              -else
                %span.icon.icon-box
  -else

    -blocktrans trimmed
      No archives found. Archives are created after 90 days of inactivity for messages and flow runs. Check back later to
      see a list of all archives.


  - block paginator
    - if object_list.count
      .row
        - include "smartmin/sidebar_pagination.haml"


-block extra-style
  :css
    .title-icon {
      margin-bottom: -5px;
    }
    .icon-session:before {
      content: "\e03e";
      color: #999
    }

    .cell {
      overflow: clip;
      padding: 5px 5px 5px 5px;

    }

    .archive-row {

    }

    .archive-period {
      text-align: right;
      width: 130px;
    }

    .archive-size {
      text-align: right;
      width: 130px;
    }

    .archive-record-count {
      width: 130px;
      text-align: right;
    }

    .archives {
      width: 100%;
    }

    .archive-icon {
      width: 30px;
      text-align: center;
    }

    tr {
      border-top: 1px solid #e6e6e6;
    }

    td {
    }

    thead {
      border-top: none;
    }

    th {
      font-weight: 200;
      color: #aaa;
      font-size: 11px;
      text-align: right;
      padding-right: 5px;
    }

    th.name {
      text-align: left;
    }

    th.empty {
      border: 0px solid green;
    }

    .icon {
      color: #ddd;
      padding-top: 2px;
    }

    .icon:hover {
      color: #aaa;
      cursor: pointer;
    }
