{% extends "channels/channel_claim_form.html" %}
{% load i18n compress temba %}

{% block pre-form %}
  {% blocktrans trimmed with name=branding.name %}
    You can connect a <a href="https://messagebird.com/en/">Messagebird</a> Account to your {{ name }} account
    to automate sending and receiving messages via Messagebird phone numbers and shortcodes.
  {% endblocktrans %}
  <div class="card">
    <ol class="steps">
      <li>
        {% blocktrans trimmed %}
          In the Messagebird Dashboard, under SMS, API Getting Started, select Show on your live key and enter it below.
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans trimmed %}
          In the Messagebird Dashboard again, select Developers, API Settings and Signing Key. Click Show Key and paste it below. This assures all webhook request from Messagebird will be authenticated.
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans trimmed %}
          Lastly, you'll need the Phone number or shortcode that {{ name }} will use when it sends SMS/MMS message. This is available via
          the <a href="https://dashboard.messagebird.com/en-us/numbers">My Numbers</a> section of the Messagebird API.
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans trimmed %}
          Once you press Submit below with all the information configured, the confirmation page will give you the URL to use for the Messagebird Message Webhooks.
          You'll also receive a url for message status updates. You can configure this url in the Dashboard under Developers, API Settings.
          You'll need to provide this URL to the {{ name }} team. You can also create a {{ name }} flow to forward SMS messages to this URL.
        {% endblocktrans %}
      </li>
    </ol>
  </div>
{% endblock pre-form %}
{% block extra-style %}
  {{ block.super }}
  <style type="text/css">
    .info {
      width: 800px;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 15px;
    }

    #id_auth_token {
      width: 340px;
    }
  </style>
{% endblock extra-style %}
