{% extends "smartmin/read.html" %}
{% load smartmin i18n %}

-block title
  .medium-help.icon-cloud-upload{ style:'float:left;' }
  %h2.header-margin
    -trans "Airtime Transfer Details"

-block above-bar
  %a.btn.btn-primary{ href: '{% url "airtime.airtimetransfer_list" %}' } Back

-block post-fields
  -if show_logs
    %h3
      -trans "HTTP Logs"
      -for log in object.http_logs.all
        %hr
        %pre.data.prettyprint{ style:'margin-top:10px;' }<
          {{ log.request|default:"" }}
        %pre.data.prettyprint{ style:'margin-top:10px;' }<
          {% if log.response %}{{ log.response|default:"" }}{% else %}{% trans "No Data" %}{% endif %}

-block extra-script
  {{ block.super }}
  <script src="{{ STATIC_URL }}rest_framework/js/prettify-min.js"></script>
  :javascript
    $(function(){
      prettyPrint();
    });

-block extra-style
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}rest_framework/css/prettify.css"/>
