{% extends "smartmin/read.html" %}
{% load smartmin i18n %}

-block title
  .medium-help.icon-cloud-upload{ style:'float:left;' }
  %h2.header-margin
    -trans "Airtime Transfer Details"

-block above-bar
  %a.btn.btn-primary{ href: '{% url "airtime.airtimetransfer_list" %}' } Back

-block post-fields
  -if show_logs
    %hr
    %h3
      -trans "Data posted Log"
      %pre.data.prettyprint{ style:'margin-top:10px;' }<
        {% if object.data %}{{ object.data|default:"" }}{% else %}{% trans "No Data" %}{% endif %}

    %hr
    %h3
      -trans "Responses Log"
    %pre.responses.prettyprint{ style:'margin-top:10px;' }<
      {% if object.response %}{{ object.response|default:"" }}{% else %}{% trans "No Response" %}{% endif %}

-block extra-script
  {{ block.super }}
  <script src="{{ STATIC_URL }}rest_framework/js/prettify-min.js"></script>
  :javascript
    $(function(){
      prettyPrint();
    });

-block extra-style
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}rest_framework/css/prettify.css"/>
