{% extends "smartmin/read.html" %}

-load humanize temba i18n compress contacts

-block page-title
  {{ brand.name }} - WebHook Event


-block above-bar
  %a.btn.btn-primary{ href: '{% url "api.webhookresult_list" %}' } Back

-block title
  -trans "Webhook Event"

-block subtitle
  {% format_datetime object.created_on %}

-block content

  .card.flex.mt-0
    .inline-flex.mr-8
      .font-normal.mr-2 URL
      {{ object.url }}

    .inline-flex.mr-8
      .font-normal.mr-2 
        -trans "Request Time"
      {{ object.request_time|intcomma }}ms

    .inline-flex.mr-8
      .font-normal.mr-2 
        - trans "Contact"
      %a{href: "{% url 'contacts.contact_read' object.contact.uuid %}"}
        {{ object.contact|name_or_urn:object.org }}

  %table.list
    %tbody
      %tr.border-b
        %td
          .font-normal.text-2xl
            {{ object.status_code }}
        %td
          .text-right
            -if object.request_time
              -trans "Took"
              {{ object.request_time|intcomma }}ms

        %td
          .text-right
            {% format_datetime object.created_on %}

      %tr
        %td(colspan="3" style="padding:0;")
          %pre.prettyprint.request<
            :plain
              {{ object.request }}
      %tr
        %td(colspan="3" style="padding:0;")
          %pre.prettyprint.response<
            :plain
              {{ object.response }}


-block extra-script
  {{ block.super }}
  <script src="{{ STATIC_URL }}rest_framework/js/prettify-min.js"></script>
  :javascript
    $(function(){
      prettyPrint();
    });

-block extra-style
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}rest_framework/css/prettify.css"/>
  :css
    .page-content {
      max-width: 100%;
    }

-block extra-less
  {{block.super}}
  -compress css inline
    {% lessblock %}
      :plain
        table.list {
          tbody {
            tr:first-child {
              td {
                padding: 1.5rem;
              }
            }
          }
        }

        pre.prettyprint {
          margin: 0;
          border: 0;
          max-height: none !important;
          padding: 1.5rem;

          &.request {
            background: #f7f7f9 + 111;
          }

        }

    {% endlessblock %}