{% extends "smartmin/list.html" %}
-load i18n temba humanize

-block page-title
  {{ brand.name }} - WebHook Calls

-block title
  -trans "Webhook Calls"

-block content

  %table.list.object-list.lined
    %thead
      %tr
        %th
          -trans "URL"
        %th{ style:'width:100px;'}
          -trans "Status"
        %th{ style:'width:100px;'}
          -trans "Elapsed"
        %th{ style:'width:100px;text-align: right'}
          -trans "Time"

    %tbody
      -for obj in object_list
        %tr
          %td.clickable
            %a{ href:'{% url "api.webhookresult_read" obj.pk %}' }
              {{ obj.url|truncatechars:128 }}
          %td.clickable
            %a{ href:'{% url "api.webhookresult_read" obj.pk %}' }= obj.status_code
          %td
            -if obj.request_time
              {{ obj.request_time|intcomma }}ms
            -else
              {{ "--" }}
          %td{ style:'text-align: right', nowrap:'true' }
            {% format_datetime obj.created_on %}
