{% extends "smartmin/read.html" %}

-load humanize temba i18n compress contacts

-block page-title
  {{ brand.name }} - WebHook Event

-block page-top

-block above-bar
  %a.btn.btn-primary{ href: '{% url "api.webhookresult_list" %}' } Back


-block content
  #pjax
    -block pjax
      .lp-frame

        .right
          .flex.w-full.mb-4.items-end.flex-wrap.justify-end.-mt-2{style:"min-height:41px"}
            .flex-grow.ml-1.self-end.items-end
              .flex.flex-col.pr-12
                .page-title.leading-tight
                  -block title
                    -trans "Webhook Event"
                .subtitle
                  {% format_datetime object.created_on %}

          .card.flex
            .inline-flex.mr-8
              .font-bold.mr-2 URL
              {{ object.url }}

            .inline-flex.mr-8
              .font-bold.mr-2 Elapsed
              {{ object.request_time|intcomma }}ms

            .inline-flex.mr-8
              .font-bold.mr-2 Contact
              %a{href: "{% url 'contacts.contact_read' object.contact.uuid %}"}
                {{ object.contact|name_or_urn:object.org }}

          %table.list
            %tbody
              %tr.border-b
                %td
                  {{ object.status_code }}
                %td
                  .text-right
                    -if object.request_time
                      -trans "Request Time:"
                      {{ object.request_time|intcomma }}ms

                %td
                  .text-right
                    {% format_datetime object.created_on %}

              %tr
                %td(colspan="3" style="padding:0;")
                  %pre.prettyprint.request<
                    :plain
                      {{ object.request }}
              %tr
                %td(colspan="3" style="padding:0;")
                  %pre.prettyprint.response<
                    :plain
                      {{ object.response }}


-block extra-script
  {{ block.super }}
  <script src="{{ STATIC_URL }}rest_framework/js/prettify-min.js"></script>
  :javascript
    $(function(){
      prettyPrint();
    });

-block extra-style
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}rest_framework/css/prettify.css"/>
  :css
    .page-content {
      max-width: 100%;
    }

-block extra-less
  {{block.super}}
  -compress css inline
    {% lessblock %}
      :plain
        pre.prettyprint {
          margin: 0;
          border: 0;
          max-height: none !important;

          &.request {
            background: #f7f7f9 + 111;
          }

        }

    {% endlessblock %}