{% extends "smartmin/read.html" %}

-load humanize

-block page-title
  {{ brand.name }} - WebHook Event

-block title
  .medium-help.icon-cloud-upload{ style:'float:left;' }
  %h2.header-margin
    Webhook Event
  %h5.header-margin
    {{ object.event }} - {{ object.created_on }}

-block above-bar
  %a.btn.btn-primary{ href: '{% url "api.log" %}' } Back

-block post-fields
  %h3 Deliveries
  -for result in results
    .result
      .result-status= result.status_code
      .result-summary
        .result-time
          {{ result.created_on }}
        .result-message= result.message
        .result-request-time
          Request time:
          %span.result-request-time-value
            {{ result.request_time|default:"0"|intcomma }}ms
        -if result.status_code
          %pre.result-request.prettyprint{ style:'margin-top:10px;' }<
            :plain
              {{ object.action }} {{ result.url }}
            -if object.action == 'POST'
              {{ result.data|default:"" }}
          .result-body
            -if result.body
              %pre.prettyprint= result.body
            -else
              %pre.prettyprint No Response Body

    %hr

-block extra-script
  {{ block.super }}
  <script src="{{ STATIC_URL }}rest_framework/js/prettify-min.js"></script>
  :javascript
    $(function(){
      prettyPrint();
    });

-block extra-style
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}rest_framework/css/prettify.css"/>
  :css
    .result {
      clear: both;
      margin-bottom: 10px;
    }

    .result-status {
      float: left;
      margin-top: 10px;
      font-size: 32px;
      color: #666;
    }

    .result .result-summary {
      margin-left: 70px;
    }

    .result-request-time-value {
      font-weight: bold;
    }