{% extends "smartmin/list.html" %}
-load i18n

-block page-title
  {{ brand.name }} - WebHook Events

-block title
  .medium-help.icon-cloud-upload{ style:'float:left;' }
  %h2.header-margin
    -trans "Recent WebHook Events"
  %h5.header-margin
    -trans "WebHook URL: "
    {{ user_org.get_webhook_url|default:"None Configured" }}

-block above-bar
  %a.btn{ href: '{% url "api.webhook" %}', style:'width: 100px;'}
    -trans "Webhook Docs"
  %a.btn.btn-primary{ href: '{% url "api" %}' }
    -trans "API Docs"

-block table
  %table.list-table.table.table-condensed
    %thead
      %tr
        %th
          -trans "Event"
        %th
          -trans "Status"
        %th
          -trans "Channel"
        %th{ style:'width:100px;text-align: center;'}
          -trans "Attempts"
        %th{ style:'width:100px;'}
          -trans "Time"

      -for obj in object_list
        %tr
          %td.clickable
            %a{ href:'{% url "api.log_read" obj.pk %}' }= obj.event
          %td.clickable
            %a{ href:'{% url "api.log_read" obj.pk %}' }= obj.get_status_display
          %td.clickable
            %a{ href:'{% url "api.log_read" obj.pk %}' }= obj.channel
          %td{ style:'text-align: center' }= obj.try_count
          %td{ style:'text-align: right', nowrap:'true' }= obj.created_on

