-extends "orgs/login/login_base.haml"
-load smartmin i18n

-block login-title
  -trans "Confirm Access"
      
-block login-content

  -blocktrans trimmed
    To access this page please confirm your current password.

  %form(method="POST")
    -csrf_token

    .mt-4
      %temba-textinput(name='password' placeholder='{{_("Password")|escape}}' password="true")
    
    -if form.password.errors
      .alert-error.mt-4
        {{form.password.errors}}
    .mt-6
      %input.button-primary(type="submit" value='{{_("Confirm")|escape}}')
