{% extends "orgs/login/login_base.html" %}
{% load smartmin i18n %}

{% block login-title %}
  {% trans "Confirm Access" %}
{% endblock login-title %}
{% block login-content %}
  {% blocktrans trimmed %}
    To access this page please confirm your current password.
  {% endblocktrans %}
  <form method="post">
    {% csrf_token %}
    <div class="mt-4">
      <temba-textinput name="password" placeholder="{{ _("Password") |escape }}" password="true">
      </temba-textinput>
    </div>
    {% if form.password.errors %}<div class="alert alert-error mt-4">{{ form.password.errors }}</div>{% endif %}
    <div class="mt-6">
      <input type="submit" value="{{ _("Confirm") |escape }}" class="button-primary">
    </div>
  </form>
{% endblock login-content %}
