-extends "no_nav.haml"

-load smartmin i18n

-block extra-style
  {{block.super}}
  :css
    input {
      width: 100%;
    }

    .content-card {
      width: 28em;
    }


-block content
  .page-title
    -block login-title
  -block login-content