-extends "no_nav.html"
-load smartmin i18n

-block styles
  {{block.super}}
  :css
    input {
      width: 100%;
    }

    .content-card {
      width: 28em;
    }

-block content
  .page-title
    -block login-title
  -block login-content