-extends "orgs/login/login_base.haml"
-load smartmin i18n

-block login-title
  -trans "Two-factor Authentication"

-block login-content
  .mt-4
    -blocktrans trimmed
      Open the one-time password application with which you setup two-factor authentication on your account
      and enter the code below to verify your identity.

  %form(method="POST")
    -csrf_token

    .mt-4
      %input.input(name='otp' maxlength=6 placeholder='{{_("6-digit code")|escape}}')

    -if form.otp.errors
      .alert-error.mt-4
        {{ form.otp.errors }}

    .mt-2.text-right
      %a(href="{% url 'users.two_factor_backup' %}")
        -trans "Use Backup Token"

    .mt-6
      %input.button-primary(type="submit" value='{{_("Verify")|escape}}')