-extends "orgs/login/login_base.html"
-load smartmin i18n

-block login-title
  -trans "Two-factor Authentication"

-block login-content
  .mt-4
    -blocktrans trimmed
      If you no longer have access to the device with which you setup two-factor authentication on your login, you can
      enter one of your backup tokens below.

  %form(method="POST")
    -csrf_token

    .mt-4
      %temba-textinput(name='token' maxlength=8 placeholder='{{_("8-character token")|escape}}')

    -if form.token.errors
      %temba-alert.mt-4(level="error")
        {{ form.token.errors }}

    .mt-2.text-right
      %a(href="{% url 'users.two_factor_verify' %}")
        -trans "Use Device"

    .mt-6
      %input.button-primary(type="submit" value='{{_("Verify")|escape}}')
