{% load i18n smartmin templates %}

<div max-width="100%" class="flex translation">
  <div width="70%" class="flex-grow p-4">
    {% for comp in translation.components %}
      <div width="100%" class="my-1">
        {% if comp.type == "header/text" %}
          <div class="text-lg font-normal">{{ comp.content|handlebars }}</div>
        {% elif comp.type == "header/media" %}
          {% if comp.content %}
            <div class="text-lg font-normal">{{ comp.content }}</div>
          {% else %}
            <span class="inline-block p-2 bg-gray-200 rounded-lg">{{ translation.variables.0.type|upper }}</span>
          {% endif %}
        {% elif comp.type == "body/text" %}
          <div>{{ comp.content|handlebars }}</div>
        {% elif comp.type == "footer/text" %}
          <div class="text-sm">{{ comp.content|handlebars }}</div>
        {% endif %}
      </div>
    {% endfor %}
    <div class="my-4 flex">
      {% for comp in translation.components %}
        {% if comp.type|slice:":7" == "button/" %}
          <div width="100%" class="border mr-2 p-2 rounded-lg">{{ comp.display|default:comp.content|handlebars }}</div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="p-4">
    <div class="mb-2 whitespace-nowrap text-right">
      {# djlint:off #}
      <a href="{% url 'channels.channel_read' translation.channel.uuid %}" onclick="goto(event, this)"><temba-label icon="{{ translation.channel.type.icon }}" clickable class="mr-1 mb-1">{{ translation.channel }}</temba-label></a>
      {# djlint:on #}
      <temba-label icon="language">
        {{ translation.locale }}
      </temba-label>
      <temba-label icon="{{ status_icons|field:translation.status }}" class="ml-2">
        {{ translation.get_status_display }}
      </temba-label>
    </div>
    {% if not translation.is_supported or not translation.is_compatible %}
      <div class="alert alert-error form-errors">
        <ul class="errorlist nonfield">
          {% if not translation.is_supported %}
            <li>{% trans "Uses unsupported component types." %}</li>
          {% endif %}
          {% if not translation.is_compatible %}
            <li>{% trans "Variable parameters don't match." %}</li>
          {% endif %}
        </ul>
      </div>
    {% endif %}
  </div>
</div>
