-load contacts humanize smartmin temba i18n

-for item in activity

  %tr.item{class:'msg_{{item.msg_type}} {% if item.created_on > recent_date%}recent{%endif%} {% if item.direction or item.recipient_count%}msg{%else%}non-msg{%endif%}'}

    %td.icon

      -if item.recording_url
        .recording{onClick:'playMessage("{{item.pk}}");'}
          %audio{id:'message-{{item.pk}}', type:"audio/wav", src:'{{item.recording_url}}'}
          .play
            .icon-phone{title:'{{item.channel.get_channel_type_name}} {{item.channel.get_name}}'}
          .stop.hide
            .icon-nav-channels-inverted
      -else
        %span.det{title:'{{item.channel.get_channel_type_name}} {{item.channel.get_name}}'}
          -with item.channellog_set.all.first as log
            -if log
              %a{href:"{% url 'channels.channellog_read' log.pk%}"}
                {{item|activity_icon}}
            -else
              {{item|activity_icon}}

    %td.details
      -if item.recipient_count
        -with item as broadcast
          .activity-broadcast
            .sent-to
              .summary
                Broadcast to {{broadcast.recipient_count|intcomma}} recipients

            .activity-body
              {{broadcast.text}}
      -elif item.call_type
        -with item as call
          -if call.call_type == 'mt_miss'
            Missed call
          -else
            Phone call ({{call.duration|format_seconds}})

      -elif item.flow
        -with item as run
          .activity-run
            .activity-body
              .summary

              Started
              %a{href:'{% url "flows.flow_editor" run.flow.pk%}'}
                {{run.flow.name}}
      -elif item.fired
        -with item as eventfire
          %a{href:'{%url "campaigns.campaign_read" eventfire.event.campaign.pk %}'}><
            {{eventfire.event.campaign.name}}

          &nbsp;triggered

          %a{href:'{%url "campaigns.campaignevent_read" eventfire.event.pk %}'}
            {{eventfire.event|event_time}}


      -else
        -with item as message

          .activity-message
            -if message.direction == 'O'

              -if message.broadcast.recipient_count > 1
                .sent-to
                  .summary
                    Broadcast to {{message.broadcast.recipient_count|intcomma}} recipients

            .activity-body
              .text
                -if message.text == message.recording_url
                  .left-recording
                    Made a recording
                -else
                  {{message.text}}

    %td.created_on
      %span.time
        %span.short
          {{item.created_on|gmail_time}}
        %span.long.hide
          {{item.created_on}}

-if not recent
  %tr.since
    %td{colspan:3}
      %span.loading
      -if more
        %a.btn.btn-tiny.btn-secondary.load-more
          Load More