-load contacts humanize smartmin temba i18n

-for item in activity

  %tr.item{data-created:'{{item.created_on|date:"U.u"}}', class:'msg_{{item.msg_type}} {%if item.media|slice:":6" == "video:" %}video{%endif%} {% if item.is_recent %}recent{%endif%} {% if item.direction or item.recipient_count%}msg{%else%}non-msg{%endif%}'}
    -with media_type=item.media|media_type media_content_type=item.media|media_content_type media_url=item.media|media_url

      %td.icon
        -if item.media
          -if media_type == 'audio'
            -if media_content_type|is_supported_audio
              .recording{onClick:'playMessage("{{item.pk}}");'}
                %audio{id:'message-{{item.pk}}', type:"{{media_content_type}}", src:'{{media_url}}'}
                .play
                  .icon-phone{title:'{{item.channel.get_channel_type_name}} {{item.channel.get_name}}'}
                .stop.hide
                  .icon-nav-channels-inverted
            -else
              .icon-phone.greyed
          -else
            %span.det{title:'{{item.channel.get_channel_type_name}} {{item.channel.get_name}}'}
            -if media_type == 'geo'
              .glyph.icon-location.user.boost
            -elif media_type == 'image'
              .glyph.icon-photo_camera.user.boost
            -elif media_type == 'video'
              .glyph.icon-videocam.user.boost
            -elif item.media|is_document
              .glyph.icon-docs.user.boost

        -else
          %span.det{title:'{% if item.channel %}{{item.channel.get_channel_type_name}} {{item.channel.get_name}}{% endif %}'}
            -if not user_org.is_anon or perms.contacts.contact_break_anon
              -with item.get_last_log as log
                -if log
                  %a{href:"{% url 'channels.channellog_read' log.pk%}"}
                    {{item|activity_icon}}
                -else
                  {{item|activity_icon}}
            -else
              {{item|activity_icon}}

      %td.details
        -if item.event_type
          -with item as call
            -if call.event_type == 'mt_miss'
              Missed call
            -else
              Phone call ({{call.duration|format_seconds}})

        -elif item.call_type
          -with item as call
            {{call.get_status_display}}

        -elif item.flow
          -with item as run
            .activity-run
              .activity-body
                .summary
                Started
                %a{href:'{% url "flows.flow_editor" run.flow.uuid %}'}
                  {{run.flow.name}}
        -elif item.fired
          -with item as eventfire
            %a{href:'{%url "campaigns.campaign_read" eventfire.event.campaign.pk %}'}><
              {{eventfire.event.campaign.name}}

            &nbsp;triggered

            %a{href:'{%url "campaigns.campaignevent_read" eventfire.event.pk %}'}
              {{eventfire.event|event_time}}

        -elif media_type == 'geo'
          .activity-message
            .activity-body
              .text
                <a href="{{item.media|osm_link}}" target="_loc">{{item.media|location}}</a>

        -elif media_type == 'image'
          .activity-message
            .activity-body
              .text
                <a href="#" data-featherlight="<a class='download-link' href='{{media_url}}' download><span class='icon-file_download'></span></a><img class='image-full' src='{{media_url}}'>">
                  <img class="image-preview" src="{{media_url}}">
                </a>

        -elif media_type == 'video'
          .activity-message
            .activity-body
              <video id="video_{{item.id}}" height="240px" class="video-js vjs-default-skin" controls preload="auto">
                <source src="{{media_url}}" type='video/mp4'/>
              </video>

              :javascript

                // keep track of previously initiated players and dispose on reload if necessary
                if (!window.players) {
                  window.players = []
                } else {
                  active = []
                  for (idx in window.players) {
                    var player = window.players[idx];
                    if (player.id_ == "video_{{item.id}}") {
                      player.dispose();
                    } else {
                      active.push(player);
                    }
                  }
                  window.players = active;
                }

                // initialize and push our current video
                window.players.push(videojs("video_{{item.id}}", {plugins : {
                   vjsdownload:{
                     beforeElement: 'playbackRateMenuButton',
                     textControl: 'Download',
                     name: 'downloadButton'
                   }
                }}, function(){
                }));

        -elif item.media|is_document
          .activity-message
            .activity-body
              {{media_url|extension|upper}} document (<a href="{{media_url}}" download>download</a>)

        -elif item.recipient_count
          -with item as broadcast
            .activity-broadcast
              .sent-to
                .summary
                  Broadcast to {{broadcast.recipient_count|intcomma}} recipients

              .activity-body
                {{broadcast.translated_text}}

        -else
          -with item as message

            .activity-message
              -if message.direction == 'O'
                -if message.broadcast.recipient_count > 1
                  .sent-to
                    .summary
                      Broadcast to {{message.broadcast.recipient_count|intcomma}} recipients

              .activity-body
                .text
                  -if item.media and media_type == 'audio'
                    .left-recording
                      -if message.direction == 'O'
                        -trans "Listened to a recording"
                      -else
                        -trans "Audio recording"

                      (<a href="{{media_url}}" download>download</a>)

                  -else
                    {{message.text}}

    %td.created_on
      %span.time
        %span.short
          {{item.created_on|gmail_time}}
        %span.long.hide
          {{item.created_on}}

-if not recent
  %tr.since
    %td{colspan:3}
      %span.loading
      -if has_older
        %a.btn.btn-tiny.btn-secondary.load-more
          Load More
      %span#start_time.hidden
        {{ start_time }}
