-extends "contacts/contact_list.html"
-load smartmin i18n

-block title
  {{current_group.name}}

-block subtitle
  -if current_group.is_smart
    .font-mono.text-sm.mt-2.bg-gray-200.text-gray-700.p-3.rounded-lg
      {{ current_group.query }}
