-extends "smartmin/update.html"

-load smartmin

-block fields
  %fieldset
    #field-table-container
      %table#field-table
        %thead
          %tr
            %th.drag-icon
            %th Name
            %th Type
            %th Show

        %tbody#draggable-tbody
          -for field_fields in contact_fields
            %tr.draggable-row
              %td.drag-icon
                %div.drag-handle.icon.icon-menu

              %td.field-label
                {% render_field field_fields.label %}

              %td.field-type
                {% render_field field_fields.type %}

              %td.field-show
                {% render_field field_fields.show %}
                {% render_field field_fields.field %}
                {% render_field field_fields.priority %}


-block modal-script

  :javascript
    $(".smartmin-form select").select2({minimumResultsForSearch: -1, width: 'element'});

    // polyfill for older browsers
    if (!String.prototype.startsWith) {
        String.prototype.startsWith = function(search, pos) {
            return this.substr(!pos || pos < 0 ? 0 : +pos, search.length) === search;
        }
    }

    $('#draggable-tbody').sortable({
        handle: '.drag-handle',
        placeholder: "sortable-placeholder",
        stop: function (event, ui) {
          $(ui.item).removeClass('sortable-dragging');

           $('#draggable-tbody > tr').each(function(idx, elem) {
             // rewrite priority of every element based on the current order of elements
             var new_idx = 1000 - idx;

             $(elem).find('input[type=hidden]').each(function(idx, in_elem) {
                if (in_elem.name.startsWith('priority')){
                    in_elem.value = new_idx;
                }
             });
           });
        },
        start: function (event, ui) {
          $(ui.item).addClass('sortable-dragging');
          // since we use a table we need to manually add a div to the sortable.placeholder in order to modify its margin
          ui.placeholder.html('<td colspan=99><div></div></td>');
        }
    });

-block modal-extra-style
  {{block.super}}
  :css
    .drag-handle {
      cursor:move;
      display: block;
      padding-top:10px;
    }

    .drag-icon:before {
        content: '';
        display: block;
        width: 15px;
    }

    .sortable-dragging {
      opacity: 1;
      background-color: #f9f9f9;
      border: 1px solid #dbdfe0 !important;
      border-radius: 3px;
      margin: 0px;
    }

    .draggable-row .icon {
      display: none;
    }

    .draggable-row:hover .icon {
      display: inline-block;
      color: #cccccc;
    }

    #draggable-tbody tr.sortable-placeholder {
        visibility: visible;
    }
    #draggable-tbody .sortable-placeholder div {
      border-top: 1px solid #dbdfe0;
      border-bottom: 1px solid #dbdfe0;
      background-color: #f5f9fa;
      height: 57px;
      margin-bottom: 10px;
      margin-top: 0px;
    }

    .smartmin-form select {
      width: 150px;
      display: inline-block;
    }

    #field-table-container {
      margin-left: auto;
      margin-right: auto;
    }

    #field-table .help-block {
      font-size: 13px;
      margin-top: -6px;
    }

    #field-table tr th {
      font-size: 13px;
      margin-bottom:-5px;
      font-weight: 200;
      text-align: left;
    }

    #field-table td.field-label {
      width: 300px;
      vertical-align: top;
      padding-bottom: 5px;
      padding-right: 10px;
    }

    #field-table td.field-label input {
      width: 280px;
    }

    #field-table td.field-type {
      width: 160px;
      vertical-align: top;
    }

    #field-table td.field-show {
      width: 30px;
      vertical-align: top;
      text-align: center;
      padding-left: 10px;
      color: #888;
    }

    #field-table .control-label {
      display: none;
    }

    #field-table .controls {
      margin-left: 0px;
    }

    #field-table td.drag-icon {
      vertical-align: top;
    }
