{% extends "smartmin/form.html" %}
{% load i18n smartmin %}

{% block form %}
  {% if blocker == "existing-export" %}
    {% trans "There is already an export in progress. You must wait for that export to complete before starting another." %}
  {% elif blocker == "too-big" %}
    {% url "api.v2.contacts" as api_url %}
    {% blocktrans trimmed with api_url=api_url %}
      This group or search is too large to export. Consider using <a href="{{ api_url }}">the API</a> to export this data instead.
    {% endblocktrans %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock form %}
