-extends "smartmin/form.html"
-load smartmin i18n humanize

-block title
  -trans "Import Contacts"

-block content
  .flex.mb-4.flex-col(style="min-height:41px")
    -blocktrans trimmed
      You can import contacts from an Excel spreadsheet or comma separated values file.

    %table#example.list.my-6
      %tr
        %th
          URN:Tel
        %th
          Name
        %th
          Field:Team
      %tr
        %td
          +12025550199
        %td
          John Smith
        %td
          Managers
      %tr
        %td
          +14045550178
        %td
          Mary Green
        %td
          Advisors

    .title
      -trans "Supported Fields"

    -trans "Any columns that do not match the following table will be ignored."

    %table.list.my-6
      %tr
        %th.whitespace-no-wrap
          -trans "Column Header"
        %th.whitespace-no-wrap
          -trans "Imported As"
        %th.whitespace-no-wrap
          -trans "Details"
      %tr
        %td.whitespace-no-wrap
          Name
        %td.whitespace-no-wrap
          -trans "Contact name"
        %td
      %tr
        %td.whitespace-no-wrap
          Language
        %td.whitespace-no-wrap
          -trans "Contact language"
        %td
          -blocktrans trimmed
            Only valid <a href="https://en.wikipedia.org/wiki/ISO_639-3" target="_new">ISO639-3</a> codes supported.

      -for scheme in urn_schemes
        %tr
          %td
            URN:{{scheme.0}}
          %td
            {{scheme.1}}
          %td
            -if scheme.0 == 'tel' and org_country
              -blocktrans trimmed with country=org_country.name
                Numbers without a country code will be treated as local numbers in {{ country }}.
      %tr
        %td.whitespace-no-wrap
          Field:<i>custom_field</i>
        %td.whitespace-no-wrap
          <i>custom_field</i>
        %td
          -blocktrans trimmed
            If fields don't exist you will have the option to create them or ignore them.

    %p
      -blocktrans trimmed with sample_url=STATIC_URL|add:"examples/sample_import.xlsx" code=explicit_clear max=max_records|intcomma
        You can download <a href="{{ sample_url }}">this Excel template</a> as a sample. Imports files can contain a
        maximum of {{ max }} records. Note that blank values will be ignored. If you want to explicitly clear values
        use <tt>{{ code }}</tt>.

    %form#import-form(method="post" enctype="multipart/form-data")
      -csrf_token

      -if form.non_field_errors
        .text-error.py-2
          {{ form.non_field_errors }}

      -block fields
        .mt-4.mb-6.text-error
          {{ form.file.errors }}
        #file-upload
          %input(type="file" name="file" id="import-file" onchange='onFileChange()')
        #real-button.flex.mb-4
          %input(type="text" id="file-field")
          .button-light.ml-4(style="margin-top:-1px")
            -trans "Choose File"

      .flex
        %input.button-primary(type="submit" value='{% trans "Preview" %}')
        .ml-4.button-light(onclick="javascript:history.go(-1)")
          -trans "Cancel"

-block extra-script
  {{ block.super }}
  :javascript
    function onFileChange() {
      var file = $('#import-file').val();
      while (file.indexOf('\\') >= 0) {
        file = file.substring(file.indexOf('\\') + 1, file.length);
      }
      $('#file-field').val(file);
    }


-block extra-style
  :css
    input {
      padding: 9px;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 3px 20px 0px, rgba(0, 0, 0, 0.02) 0px 1px 2px 0px;
    }

    table.list tr th {
      text-transform: none;
      font-size: 0.85rem;
    }

    #file-upload {
      position: relative;
    }

    #file_errors {
      font-size: 20px;
    }

    #real-button {
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
    }

    #file-field {
      width: 300px;
      height: 35px;
      font-size: 16px;
      margin-bottom: 0px;
      border-radius: 5px;
    }

    #import-file {
      position: absolute;
      width: 450px;
      height: 35px;
      top: 0;
      left: 0;
      text-align: right;
      -moz-opacity:0 ;
      filter: alpha(opacity: 0);
      opacity: 0;
      z-index: 2;
    }
