-extends 'smartmin/update.html'


-block modal-script
  {{block.super}}

  :javascript
    $(document).ready(function() {
      //add select2 to contact group
      $('#id_groups').select2({
        containerCssClass: "select2-temba-field"
      });

      $('#id-urn-scheme').select2({width:'150px', minimumResultsForSearch: -1})

      select2div('#id_language', '520px', 'No preference')
    });

-block extra-fields

  // Manual option to add a new URN for this contact
  <div class="control-group {% if form.errors.new_path %}error{%endif%}">
    %label.control-label
      Add Connection
    .controls


      %select#id-urn-scheme{name:'new_scheme', float:'left'}
        -for key, value in schemes
          <option value='{{key}}' {% if form.data.new_scheme == key %}selected{%endif%}>{{value}}</option>
      %input{name:'new_path', type:'text', style:'margin-left:5px;width:347px', value:'{{form.data.new_path}}'}

      %p.help-block
        Add a new way connect with this contact
      -if form.errors.new_path
        %p.help-block.field-errors
          {{form.errors.new_path}}

  </div>



-block summary
  {{ contact }}

