-extends "contacts/contact_list_spa.haml"
-load i18n

-block subtitle
  .text-base.mb-6
    -trans "These contacts have opted out and you can no longer send them messages, but inbound messages will unstop them. They have also been removed from all groups."
