-extends "smartmin/read.html" 

-load smartmin sms contacts compress temba channels
-load i18n humanize

-block buttons

-block page-title
  {{contact|name_or_urn:user_org|default:"Contact Details"}}

-block title
  .flex.flex-wrap.flex-row.items-center
    .mr-3
      {{contact|name_or_urn:user_org|default:"Contact Details"}}
    -for urn in contact_urns
      -if not user_org.is_anon
        -if urn.sendable
          %temba-modax.text-base{ header:'Send Message', endpoint:"{% url 'msgs.broadcast_send' %}?u={{urn.id}}"}
            .mr-3.hover-linked{class:"glyph {{urn|urn_icon}}", style:"margin-top:0px"}

-block subtitle

  .flex.flex-wrap.mt-1

    -if contact.status == 'B'
      .lbl-group.mt-2.mr-2.bg-secondary.linked.inverted.cursor-pointer{onclick:"goto(event)", href:"{% url 'contacts.contact_blocked' %}"}
        -trans "Blocked"

    -elif contact.status == 'S'
      .lbl-group.inverted.linked.mt-2.mr-2.bg-secondary.font-normal{onclick:"goto(event)", href:"{% url 'contacts.contact_stopped' %}"}
        -trans "Stopped"

    -elif contact.status == 'V'
      .lbl-group.mt-2.mr-2.linked.bg-secondary.inverted.font-normal{onclick:"goto(event)", href:"{% url 'contacts.contact_archived' %}"}
        -trans "Archived"

    -for group in contact_groups
      -if group.is_dynamic
        .lbl-group-dynamic.mt-2.mr-2.linked{onclick:"goto(event)", href:"{% url 'contacts.contact_filter' group.uuid %}"}
          = group.name

    -for group in contact_groups
      -if not group.is_dynamic
        .lbl-group.mt-2.mr-2.linked{onclick:"goto(event)", href:"{% url 'contacts.contact_filter' group.uuid %}"}
          = group.name

-block read-buttons

-block content

  // Needed for table wrapping on IE 9
  <!--[if IE]>
  <style>
    table.activity { table-layout: fixed; }
  </style>
  <![endif]-->


  -if all_contact_fields.0.show_in_table
    .bg-gray-100.rounded-lg.p-3.mb-6
      .flex.flex-wrap
        -for field in all_contact_fields
          -if field.show_in_table
            .flex.flex-col.p-2
              .contact-field{data-id:'{{field.id}}'}
                .contact-field-value.editable.cursor-pointer.hover-linked.font-bold.text-gray-600
                  {{field.value|truncatechars:20}}
              .whitespace-no-wrap.pr-12.contact-field{data-id:'{{field.id}}'}
                .contact-field-value.tracking-wider.font-normal.text-xs
                  {{field.label|title}}



  %table.list.tight.toggle.stateful#contact-details
    %thead
      %th(colspan="2")
        -trans "Details"
    %tbody
      %tr
        %td
          .whitespace-no-wrap.pr-24.contact-field
            .contact-field-value.uppercase.tracking-wider.font-normal.text-xs
              -trans "Created On"
        %td.w-full
          .contact-field-value
            {% format_datetime contact.created_on %}
      %tr
        %td
          .whitespace-no-wrap.pr-24.contact-field
            .contact-field-value.uppercase.tracking-wider.font-normal.text-xs
              -trans "Last Seen On"
        %td.w-full
          .contact-field-value
            -if contact.last_seen_on
              {% format_datetime contact.last_seen_on %}
            -else
              {{ "--" }}

      -if contact_language
        %tr
          %td
            .whitespace-no-wrap.pr-12.contact-field
              .contact-field-value.uppercase.tracking-wider.font-normal.text-xs
                -trans "Language"
          %td.w-full
            .contact-field-value.hover-linked
              -trans 'Edit Contact' as title
              %temba-modax(header="{{title|escapejs}}" endpoint="{% url 'contacts.contact_update' contact.pk %}")
                {{contact_language}}

      -if user_org.is_anon
        %tr
          %td
            .whitespace-no-wrap.pr-12.contact-field
              .contact-field-value.uppercase.tracking-wider.font-normal.text-xs
                -trans "Contact Id"
          %td.w-full
            .contact-field
              .contact-field-value
                {{contact.anon_identifier}}

      -if contact.status == 'S' and opt_out_message and opt_out_datetime
        %tr
          %td
            .whitespace-no-wrap.pr-24.contact-field
              .contact-field-value.uppercase.tracking-wider.font-normal.text-xs
                -trans "Opt-Out Message"
          %td.w-full
            .contact-field-value
              {{ opt_out_message }}
        %tr
          %td
            .whitespace-no-wrap.pr-24.contact-field
              .contact-field-value.uppercase.tracking-wider.font-normal.text-xs
                -trans "Opt-Out Timestamp"
          %td.w-full
            .contact-field-value
              {% format_datetime opt_out_datetime %}

      -for field in all_contact_fields
        %tr
          %td
            .whitespace-no-wrap.pr-12.contact-field{data-id:'{{field.id}}'}
              .contact-field-value.uppercase.tracking-wider.font-normal.text-xs
                {{field.label|title}}
          %td.w-full
            .contact-field{data-id:'{{field.id}}'}
              .contact-field-value.editable.cursor-pointer.hover-linked
                {{field.value}}

      -for urn in contact_urns
        -if not user_org.is_anon
          %tr
            %td
              .whitespace-no-wrap.pr-12.contact-field
                .contact-field-value.uppercase.tracking-wider.font-normal.text-xs
                  .mr-1.leading-none.text-gray-500{class:"glyph {{urn|urn_icon}}", style:"margin-top: -1px; font-size:14px"}
                  -if urn.scheme == 'mailto'
                    -trans "Email"
                  -else
                    {{urn.scheme}}
            %td.w-full
              .contact-field-value
                -if urn.scheme == 'mailto'
                  .linked{onclick:"goto(event)", href:"{{urn}}"}
                    {{urn|format_urn:user_org}}
                -elif urn.scheme == 'twitter'
                  .linked{onclick:"goto(event)", href:'http://twitter.com/{{urn.path}}'}
                    {{urn|format_urn:user_org}}
                -elif urn.scheme == 'twitterid'
                  .linked{onclick:"goto(event)", href:'http://twitter.com/{{urn.display}}'}
                    {{urn|format_urn:user_org}}
                -else
                  {{urn|format_urn:user_org}}

  -if open_tickets
    %table.list.tickets.mt-6
      %thead
        %th(colspan="5")
          -trans "Open Tickets"

      -for ticket in open_tickets
        %tr.item
          %td.icon
            %span.glyph.icon-ticket
          %td.details
            %a(href="{% url 'tickets.ticket_filter' ticket.ticketer.uuid %}")
              {{ ticket.ticketer.name }}
          %td.details
            {{ ticket.subject }}
          %td.details
            {{ ticket.body }}
          %td.created_on
            {% short_datetime ticket.opened_on %}

  -if upcoming_events
    %table.list.upcoming.mt-6.light
      %thead
        %th(colspan="2")
          -trans "Upcoming"
        %th(colspan="1")
          -if upcoming_events|length > 3
            .flex.justify-end
              .upcoming-event-display-selector
                %a.show-all.upcoming
                  -trans "More"
                |
                %a.hide-all.upcoming.is-active
                  -trans "Less"

      -if upcoming_events|length > 3
        %tbody.more.hidden
          -for evt in upcoming_events|slice:":-3"
            - include "contacts/contact_upcoming_event_include.haml"

      %tbody.first_three
        -for evt in upcoming_events|slice:"-3:"
          - include "contacts/contact_upcoming_event_include.haml"


  %table.list.activity.history.mt-6.light
    %thead
      %th(colspan="2")
        -trans "History"
      %th(colspan="2")
        .flex.justify-end
          .flow-event-display-selector
            %a.is-active(href="#")
              -trans "Full"
            |
            %a.summary-events-only(href="#")
              -trans "Summary"
    %tr.poll{ ic-src:"/contact/history/{{contact.uuid}}/?after={{recent_start}}",
              ic-trigger-on:"scrolled-into-view",
              ic-poll:"5s",
              ic-target:"table .recent"}

    %tbody.recent

    // trigger the first batch of previous messages
    %tr{ ic-append-from:"/contact/history/{{contact.uuid}}/?before={{recent_start}}", 
         ic-trigger-on:"scrolled-into-view", 
         ic-target:"table .previous", 
         ic-indicator:"#indicator" }

    %tbody.previous

  #indicator{style:"display:none"}
    .loader

-block extra-less
  -compress css

    :css
      .urn-link {
        display: inline-block;
      }
      #gear-container {
        z-index: 1000;
        position: relative;
      }

      .page-content {
        align-self: auto;
        max-width: 1024px;
      }

    {% lessblock %}
      :plain
        table.history, table.upcoming {
          .glyph {
            font-size: 14px;
            line-height: 16px;
            padding-left: 5px;

            &.icon-flow {
              font-size: 18px;
              padding-left: 2px;
            }
          }
        }

        .show-all {
          margin-top: 0px;
          margin-right:10px;
          color: #d1d1d1;

          &.expanded {
            .icon-arrow-down {
              .rotate(2);
            }
          }
          .icon-arrow-down {
            margin-top:2px;
            margin-right: 3px;
          }

          &:hover {
            color: #c1c1c1;
            cursor: pointer;
          }
        }

        .hide-all {
          margin-top:0px;
          margin-right:10px;
          color: #d1d1d1;

          &.expanded {
            .icon-arrow-down {
              .rotate(2);
            }
          }
          .icon-arrow-down {
            margin-top:2px;
            margin-right: 3px;
          }

          &:hover {
            color: #c1c1c1;
            cursor: pointer;
          }
        }

        .flow-event-display-selector {
          a {
              display: inline-block;
              &.is-active {
                cursor: none;
                color: #999999;
                cursor: text;
                text-decoration: none;
              }
            }
          }

        table.list {

          tr.archive-note {
            border-bottom: none;
            text-align: center;
            color: #666;
            font-size: 90%;

            td {
              padding: 10px;
            }
          }

          tr.since {
            border-bottom: none;
            td {
              text-align:center;
              border-top: 1px solid @color-bg-grey + #555;
              padding-top:15px;

              .date {
                border:0px solid red;
              }

              .btn {
                margin-top:15px;
              }
            }
          }

          tr.in {
            background-color: rgba(86, 157, 155, 0.2);
            font-style: italic;
          }


          tr.end-call {
            background: #ddd;
            color: #000;
            td {
              text-align:center;
              padding: 5px;
            }
          }

          &.upcoming {
            color: #bbb;

            tr.non-msg {
              background: inherit;
            }

            .icon {
              .glyph.icon-bubble-right, .glyph.icon-flow {
                color: #bbb;
              }
              text-align:center;
            }

            a {
              color: #bbb;
            }
          }

          tr {
            &.msg {
              td.icon {
                .icon-bubble-right, .icon-bubble-check, .icon-bullhorn, .icon-call-outgoing {
                  color: @color-status-green;
                }

                .icon-bubble-user, .icon-call-incoming {
                  color: @color-primary;
                }

                .icon-bubble-notification {
                  color: @color-status-failed;
                }
              }
            }

            &.detail-event {
              display: table-row;
            }

            &.non-msg {
              background: #fafafa;

              &.skipped {
                background: #fafafa;
              }

              &.new-session {
                background: #f0f0f0;
              }

              .icon {
                color: rgba(0, 0, 0, 0.20);
              }
            }
          }

          &.summary-events-only {
            tbody {
              tr.detail-event {
                display: none;
              }
            }
          }

          td {
            vertical-align:middle;

            &.icon {
              text-align: center;

              .glyph {
                color: rgba(0,0,0,.20);
              }
            }

            b {
              color: #666
            }
          }

          .created_on {
            font-size:13px;
            line-height:13px;
            border: 0px solid;
            text-align:right;
            min-width: 150px;
            white-space: nowrap;

            .time {
              margin-right: 0px;
            }

            .repeats {
              font-size:90%;
            }
          }

          .details {
            border: 0px solid;
            padding: 14px;

            .summary {
              font-size:11px;
              font-weight:500;
              line-height:10px;
              color: @flat-grey;
            }
          }
        }

        .contact-urn {
          display: inline-block;
          margin-right: 10px;

          .glyph {
            margin-right: 3px;
          }
        }

        table.upcoming {
          .upcoming-event-display-selector{
            .show-all, .hide-all {
              display: inline-block;
              color: rgb(var(--primary-rgb));
              margin: 0;
            }
            .is-active{
              color: #999999;
              cursor: text;
              text-decoration: none;
            }
          }
        }
    {% endlessblock %}

-block extra-script
  {{ block.super }}

  :javascript

    var startTime = null;

    $(document).ready(function() {
      $(".flow-event-display-selector a").each(function() {
        var onlySummary = getCookie('rp-summaryEventsDisplay') === 'summary';
        if(onlySummary && $(this).hasClass('summary-events-only')) {
          $(this).parent('.flow-event-display-selector').children('a').removeClass('is-active');
          $(this).addClass('is-active');
          $('table.activity.history').addClass('summary-events-only');
        }
      })

      $(".flow-event-display-selector a").on('click', function() {
        $(this).parent('.flow-event-display-selector').children('a').removeClass('is-active');
        $(this).addClass('is-active');
        if($(this).hasClass('summary-events-only')) {
          $('table.activity.history').addClass('summary-events-only');
          document.cookie = "rp-summaryEventsDisplay=summary;path=/;expires=-1";
        } else {
          $('table.activity.history').removeClass('summary-events-only');
          document.cookie = "rp-summaryEventsDisplay=all;path=/;expires=-1";
        }
        return false;
      });

      $('.show-all.upcoming').live('click', function() {
        $(this).addClass("is-active");
        $('.hide-all.upcoming').removeClass("is-active");
        $('table.list.upcoming .more').removeClass("hidden");
      });

      $('.hide-all.upcoming').live('click', function() {
        $(this).addClass("is-active");
        $('.show-all.upcoming').removeClass("is-active");
        $('table.list.upcoming .more').addClass("hidden");
      });

      $('.show-all.fields').live('click', function() {
        if ($(this).hasClass('expanded')) {
          $(this).removeClass('expanded');
          $('.contact-fields').removeClass('expanded');
          $('.normal').hide();
        } else {
          $(this).addClass('expanded');
          $('.contact-fields').addClass('expanded');
          $('.normal').show();
        }
      });

      $('.time').live('mouseover', function() {
        $(this).children('.long').show();
        $(this).children('.short').hide();
      }).live('mouseleave', function() {
        $(this).children('.short').show();
        $(this).children('.long').hide();
      });
    });

    function refreshRecents(){
      Intercooler.triggerRequest($('tr.poll'));
    }

    // plays an audio attachment on a message
    function playAudioAttachment(audioId) {
      var audio = $('audio#audio-' + audioId);
      var parent = audio.parent();
      var player = audio[0];

      if (!parent.hasClass('playing')) {
        audio.bind('ended', function(){
          parent.removeClass('playing');

        });

        parent.addClass('playing');
        player.currentTime = 0;
        player.play();

      } else {
        parent.removeClass('playing');
        player.pause();
      }
    }

  :javascript
    {% if org_perms.contacts.contact_update %}
    $('.contact-field-value.editable').live('click', function(evt) {
      var endpoint = '{% url "contacts.contact_update_fields" object.pk %}';
      var field_id = $(this).parent().data('id');
      var modax = document.querySelector("#update-custom-fields");
      modax.endpoint = endpoint + '?field=' + field_id;
      modax.open = true;

      // reset our modal
      window.setTimeout(function(){ modax.endpoint = endpoint;}, 1000);
    });
    {% endif %}

    {% if org_perms.contacts.contact_delete %}
    $(".contact-delete-button").live('click', function() {
      $(".gear-menu").removeClass("open");
      modal = new ConfirmationModal($('.deletion > .title').html(), $('.deletion > .body').html());
      modal.addClass('alert');
      modal.setListeners({onPrimary: function(){
        $('#delete-form').click();
      }}, false);
      modal.setPrimaryButton('{{ _("Delete")|escapejs }}');
      modal.show();
    });
    {% endif %}
