-extends "smartmin/read.html" 

-load smartmin sms contacts compress temba channels
-load i18n humanize

-block buttons

-block title
  -if contact.is_blocked
    .medium-help.icon-user-block{style:"float:left"}
  -else
    .medium-help.icon-user{style:"float:left"}
  %h2.header-margin
    {{contact|name_or_urn:user_org}}

  %h5.header-margin{style:"margin-bottom: 10px"}
    -if user_org.is_anon
      .contact-urn
        .glyph.icon-vcard
        {{contact.anon_identifier}}

    -for urn in contact_sendable_urns
      .contact-urn
        .{class:"glyph {{urn|urn_icon}}"}
        -if not user_org.is_anon
          %a.contact-urn-path{href:"javascript:showComposeInitialized(\"u={{ urn.id }}\")"}><
            {{urn|format_urn:user_org}}
        -else
          %span.contact-urn-path
            {{urn|format_urn:user_org}}

    -for urn in contact_unsendable_urns
      .contact-urn
        .{class:"glyph {{urn|urn_icon}}"}
        %i.contact-urn-path
          {{urn|format_urn:user_org}}

  -block contact-groups
    %div.header-margin
      -for group in contact_groups
        %span.group-membership{id:"group_{{group.id}}_{{contact.id}}"}
          -if org_perms.contacts.contact_update and not group.is_dynamic
            %a.btn.btn-primary.btn-mini{href:"{% url 'contacts.contact_filter' group.id %}"}
              = group.name
              %a.btn.btn-primary.btn-mini{href:"#", onclick:'removeContactFromGroup({{group.pk}}, {{contact.pk}})'} x
          -else
            %a.btn.btn-primary.btn-mini{href:"{% url 'contacts.contact_filter' group.id %}"}
              = group.name

-block read-buttons

-block content

  -if fields_featured or fields_other
    .contact-fields{class:'{% if fields_other %}clickable{%endif%}'}
      -for field in fields_featured
        --if field.value
          .contact-field
            .contact-field-label
              {{field.label|title}}
            .contact-field-value
              {{field.value}}


      -if fields_other
        %span.other-fields{class:'{% if fields_featured%}hide{%endif%}'}
          -for field in fields_other
            --if field.value
              .contact-field
                .contact-field-label
                  {{field.label|title}}
                .contact-field-value
                  {{field.value}}

  #pjax

    -block pjax

      :javascript

        function updateEventVisibility(animate) {
          if (window.all_events) {
            if (animate) {
              $('.history .non-msg').fadeIn({duration: 800});
            } else {
              $('.history .non-msg').show();
            }
            $('.show-events').text('Show Messages Only');
          } else {
            $('.history .non-msg').hide();
            $('.show-events').text('Show All Events');
          }
        }

        function toggleEventVisibility(animate) {
          if (window.all_events) {
            window.all_events = false;
          } else {
            window.all_events = true;
          }
          updateEventVisibility(animate);
        }

        updateEventVisibility(false);



      -if show_upcoming
        .header
          Upcoming
        %table.activity.pending
          -for evt in upcoming_events
            %tr.item{class:"{% if evt.event.event_type == 'M' %}msg{%else%}non-msg{%endif%}"}
              %td.created_on
                {{evt.scheduled}}
              %td.icon
                -if evt.event.event_type == 'M'
                  %span.glyph.icon-bubble-right
                -elif evt.event.event_type == 'F'
                  %span.glyph.icon-tree-2
                -else
                  %span.glyph.icon-clock

              %td.details

                .activity-scheduled

                  -if evt.event.event_type == 'M'
                    //.summary
                    //  Scheduled {{evt.event.campaign}} message
                    .activity-body
                      {{evt.event.message}}
                  -elif evt.event.event_type == 'F'
                    Start
                    %a.href{ href: "{% url 'flows.flow_editor' evt.event.flow.pk %}" }= evt.event.flow.name

      .pull-right
        %a.show-events.btn.btn-secondary.btn-mini
          Show All Events

      .header
        Message History
      %table.activity.history
        -for item in activity
          %tr.item{class:'{% if item.direction or item.recipient_count%}msg{%else%}non-msg hide{%endif%}'}
            %td.created_on
              {{item.created_on}}

            %td.icon
              {{item|activity_icon}}
            %td.details
              -if item.recipient_count
                -with item as broadcast
                  .activity-broadcast
                    .sent-to
                      .summary
                        Broadcast to {{broadcast.recipient_count|intcomma}} recipients

                    .activity-body
                      {{broadcast.text}}
              -elif item.flow
                -with item as run
                  .activity-run
                    .activity-body
                      .summary

                      Started
                      %a{href:'{% url "flows.flow_editor" run.flow.pk%}'}
                        {{run.flow.name}}
              -elif item.fired
                -with item as eventfire
                  %a{href:'{%url "campaigns.campaign_read" eventfire.event.campaign.pk %}'}><
                    {{eventfire.event.campaign.name}}

                  &nbsp;triggered

                  %a{href:'{%url "campaigns.campaignevent_read" eventfire.event.pk %}'}
                    {{eventfire.event|event_time}}


              -else
                -with item as message
                  .activity-message
                    -if message.direction == 'O'

                      -if message.broadcast.recipient_count > 1
                        .sent-to
                          .summary
                            Broadcast to {{message.broadcast.recipient_count|intcomma}} recipients


                      .summary

                        -with message.get_flow_id as flow_id
                          -if flow_id
                            //Message from
                            //%a{href:'{% url "flows.flow_editor" flow_id %}'}
                            //  {{message.get_flow_name}}

                      .activity-body
                        .outbound
                          {{message.text}}
                    -else
                      .activity-body
                        .inbound
                          {{message.text}}




-block post-content
  -include "msgs/msg_send_modal.haml"

  -if org_perms.contacts.contact_delete
    .deletion.hide
      .title
        -trans "Delete Contact"

      .body
        %p
          -trans "Are you sure you want to delete this contact?"
        %p
          %b
            -if contact.name
              {{contact.name}}
            -else
              {{contact|format_urn:user_org}}
          %p
            -trans "Once they are deleted, they will be gone forever. There is no way to undo this operation."

      %a#delete-form.posterize{href:'{% url "contacts.contact_delete" contact.pk %}'}

-block extra-less
  -compress css
    {% lessblock %}
      :plain
        .header {
          padding: 8px;
          font-size:14px;
          border-bottom: 1px solid #d9d9d9;
          margin-top: 10px;
        }

        table.activity {

          width: 100%;

          margin-bottom: 20px;
          border-collapse: collapse;

          &.pending {

            color: #ddd;

            tr.non-msg {
              background: inherit;
            }

            .icon {
              width: 25px;
              .glyph.icon-bubble-right, .glyph.icon-tree-2 {
                color: #ddd;
              }
            }

            a {
              color: #ddd;
            }
          }

          tr {
            border-top: 1px solid #f3f3f3;
            border-bottom: 1px solid #f3f3f3;
            width: 100%;

          }

          tr.non-msg {
            background: #fafafa;
          }

          td {
            vertical-align:middle;
            padding: 2px 20px;

            &.icon {
              padding: 2px 0px;
            }

            &.details {

            }
          }



          border: 0px solid;

          .created_on {
            width: 170px;
            font-size:13px;
            line-height:13px;
            border: 0px solid;
          }

          .icon {
            border: 0px solid;
            .glyph {
              margin-top:16px;
              font-size:14px;
              line-height:0;
              color: @flat-darkwhite;
              padding: 5px;

              &.icon-bubble-right {
                color: @color-status-green;
              }

              &.icon-bubble-left {
                color: @color-status-blue;
              }

              &.icon-bullhorn {
                color: @color-status-green;
              }
            }
          }

          .details {
            border: 0px solid;
            padding: 14px;

            .summary {
              font-size:11px;
              font-weight:500;
              line-height:10px;
              color: @flat-grey;
            }

            .inbound {
              //border: 1px solid #e1e1e1;
              // .rounded-corners();
              //background: #fafafa;
              //padding: 8px;
            }

            .contact-count {
              padding-left:5px;
              font-weight:normal;
            }
          }
        }


        .message-history {
          .broadcast {
            .rounded-corners();
            border: solid 1px #f3f3f3;

            padding:15px;
            margin-bottom:5px;

            .icon-megaphone {
              float:left;
              font-size:30px;
              color: @color-status-green;
            }

            .sent-to {
              margin-left:50px;
              font-size: 12px;
              font-weight: 400;
              color: #c1c1c1;
              line-height:9px;
            }
            .message-body {
              margin-left:50px;
            }
          }
        }

        .contact-urn {
          display: inline-block;
          margin-right: 10px;

          &:first-of-type {
            .contact-urn-path {
              font-weight: bold;
            }
          }

          .glyph {
            margin-right: 3px;
          }
        }


        .sent-at {

          .recording {
            width:50px;
            text-align:center;
            .stop {
              .stop-icon {
                width:7px;
                height:7px;
                background: @flat-white;
                display:inline-block;
                line-height:0px;
                margin-top:-6px;
                margin-right:1px;
                margin-left:5px;
              }
              .text {
                padding-top:7px;
              }
            }

            &.direction-I{

            }

            padding:1px 6px;
            padding-bottom:4px;
            padding-left:1px;
            .rounded-corners(6px);
            height:12px;
            background: @flat-white;
            color:@flat-white - #555;
            display:inline-block;
            margin-right:5px;
            line-height:0px;


            .icon-phone {
              display:inline-block;
              font-size:11px;
              margin-top:1px;
              margin-right:0px;
            }

            .text {
              display:inline-block;
              padding-left:0px;
            }

            &:hover {
              background: @color-links;
              color: @flat-white;
              cursor:pointer;
            }

            &.playing {
              background: @flat-blue;
              color: #fff;

              &:hover {
                color: #fff;
              }

              .stop {
                display:block;
              }

              .play {
                display:none;
              }
            }
          }
        }


        .contact-fields {
          font-size: 14px;
          color: @color-font-grey;
          .rounded-corners();
          border: 1px solid #f1f1f1;
          margin-bottom:15px;


          &.clickable:hover {
            background: #f1f1f1;
            cursor:pointer;
          }

          .show-more {
            padding: 10px;
            display:block;
          }

          .contact-field {
            display:inline-block;
            width:208px;
            // border: 1px solid red;
            padding: 10px;

            .contact-field-label {
              font-weight: 400;
              color: @color-font-black;
            }

            .contact-field-value {
              font-weight: 200;
              color: @color-font-grey;
            }

          }
        }

        .message {

          border-top:1px solid @flat-darkwhite;

          .avatar {
            border: 0px solid red;
            float:left;
            width:67px;
            height:67px;
            background: @flat-white;


            .glyph {
              margin-left:8px;
              margin-top:5px;
              color: @flat-darkwhite;
              font-size:50px;
            }

            &.O {
              float:right;
              .glyph {
                font-size:30px;
                padding-left:12px;
                padding-top: 10px;

                &.icon-everywhere {
                  padding-left: 4px;
                  padding-top: 4px;
                  font-size:45px;
                }
              }

            }
          }

          .text {
            border: 0px solid green;
            padding-top:5px;
            padding-left:10px;

            &.I {
              margin-left:67px;
            }

            &.O {
              padding-right:-77px;
              text-align:right;
              margin-right:77px;
            }

            &.A {
              color:#999;
              font-style:italic;
            }

            .from-number {
              color:#999;
              font-size:11px;
              margin-top:-3px;
            }

            .sent-at {
              color:#999;
              font-size:11px;
              font-style:normal;
              padding-bottom:5px;
              margin-top:0px;

              .glyph {
                margin-right:2px;
                font-size:12px;
                margin-top:2px;
              }
            }
          }
        }

    {% endlessblock %}

-block extra-script
  {{ block.super }}

  :javascript

    $(document).ready(function() {
      if ($('.non-msg').size() == 0) {
        $('.show-events').hide()
      } else {

        $('.show-events').live('click', function() {
          toggleEventVisibility(true);
        });
      }

      $('.contact-fields').live('click', function() {
      if ($('.other-fields').is(':visible')) {
        $('.other-fields').hide();
      } else {
        $('.other-fields').show();
      }
    })});


    function playMessage (messageId) {
      var audio = $('audio#message-' + messageId)
      var parent = audio.parent();
      var player = audio[0];

      if (!parent.hasClass('playing')) {
        audio.bind('ended', function(){
          parent.removeClass('playing');

        });

        parent.addClass('playing');
        player.currentTime = 0;
        player.play();

      } else {
        parent.removeClass('playing');
        player.pause();
      }
    }

  %script

    {% if org_perms.contacts.contact_update %}
    $(".update-contact").live('click', function(){
      var modal = new Modax('{% trans "Update Contact" %}','{% url "contacts.contact_update" object.pk %}');
      modal.setIcon('icon-user');
      modal.setRedirectOnSuccess(true);
      modal.show();
    });
    {% endif %}

    {% if org_perms.msgs.broadcast_send %}
    $('#send').submit(function(){
      var $textarea = $('#id_text');

      if(!$textarea.val()) {
        $textarea.css({'border':'1px solid #da4f49', 'color':'#da4f49'});
        $('.failed').remove();
        $('{% trans "<p>This field is required, please fill in the message to send out</p>" %}').insertAfter("#id_send").addClass('failed');
        return false;
      } else if($textarea.val().length > 160) {
        $('.failed').remove();
        $textarea.css({'border':'1px solid #da4f49', 'color':'#da4f49'});
        $('{%trans "<p>Ensure this value has at most 160 characters (it has " %}' + $textarea.val().length + ') </p> ').insertAfter("#id_send").addClass('failed');
        return false;
      } else {
        return true;
      }
    });
    {% endif %}

    {% if org_perms.contacts.contact_update %}
    function removeContactFromGroup(groupId, contactId){
      id = '#group_' + groupId + '_' + contactId;
      $.post('{% url 'contacts.contact_read' contact.uuid %}', {contact: contactId, group: groupId}, function(groupId, contactId) {
        $(id).remove();
      });
    }
    {% endif %}

    {% if org_perms.contacts.contact_delete %}
    $(".contact-delete-button").live('click', function() {
      $(".gear-menu").removeClass("open");
      modal = new ConfirmationModal($('.deletion > .title').html(), $('.deletion > .body').html());
      modal.addClass('alert');
      modal.setListeners({onPrimary: function(){
        $('#delete-form').click();
      }}, false);
      modal.setPrimaryButton('{% trans "Delete" %}');
      modal.show();
    });
    {% endif %}

    {% if org_perms.msgs.broadcast_send %}
    $(".contact-send-button").on('click', function() {
      {% if contact_sendable_urns %}
      $(".gear-menu").removeClass("open");
      showComposeInitialized("c={{object.id}}");
      {% else %}
      modal = new Modal('{% trans "Error" %}', '{% trans "This contact does not have any number which you can send to. Please edit the contact first or add a new phone." %}');
      modal.addClass('alert');
      modal.setListeners({onPrimary: function(){ modal.dismiss(); }}, false);
      modal.show();
      {% endif %}

      return false;
    });
    {% endif %}
