-extends "contacts/contact_list.haml"
-load i18n

-block title-text
  .title.leading-tight
    -trans "Stopped Contacts"
  .text-base.mt-1
    -trans "These contacts have opted out and you can no longer send them messages, they have been removed from all groups."
