-extends "smartmin/list.html"
-load i18n

-block table-buttons
  = block.super

  -if perms.contacts.contactgroup_list
    %a.btn.btn-secondary{href:"{% url 'contacts.contact_list' %}", style:"margin-right:10px"}
      .glyph.icon-user
      -trans "Show Contacts"

  -if perms.contacts.contactimport_create
    %a.btn.btn-secondary.pull-right{href:"{% url 'contacts.contactimport_create' %}", style:"margin-right:10px"}
      -trans "Import"
