-extends "contacts/contact_list_spa.haml"
-load i18n

-block subtitle
  .text-base.mb-6
    -trans "All inbound messages from these contacts are ignored. They have also been removed from all groups."
