{% extends "smartmin/list.html" %}
{% load i18n humanize smartmin %}

{% block extra-script %}
  {% if org_perms.contacts.contactgroup_delete %}
    <script type="text/javascript">
      function onDeleteClicked() {
        var deleteConfirmation = document.querySelector("#delete-confirmation");
        deleteConfirmation.classList.remove("hide");
        deleteConfirmation.open = true;
        deleteConfirmation.addEventListener("temba-button-clicked", function(event) {
          if (!event.detail.button.secondary) {
            runActionOnObjectRows("delete", wireTableListeners);
          }
          deleteConfirmation.open = false;
        });
      }
    </script>
  {% endif %}
  <script type="text/javascript">
    function handleRowClicked(event) {
      if (event.target.tagName == "TEMBA-CHECKBOX") {
        return;
      }

      var row = event.target.closest("tr");
      var uuid = row.getAttribute("data-uuid");

      fetchURL("/contact/filter/" + uuid + "/");
    }
  </script>
{% endblock extra-script %}
{% block content %}
  {% if org_perms.contacts.contactgroup_delete %}
    <!-- this should be a modax that reports that some flows or campaigns will be affected appropriately -->
    <temba-dialog header="{{ _("Delete Groups") |escapejs }}"
                  primaryButtonName="{{ _("Delete") |escapejs }}"
                  destructive="true"
                  class="hide"
                  id="delete-confirmation">
      <div class="p-6">{% trans "Deleting groups will not delete the contacts inside the group. All contacts will remain in your account. Do you want to continue?" %}</div>
    </temba-dialog>
  {% endif %}
  <div class="page-title"></div>
  <div class="lp-frame">
    <div class="right">
      {% if org_perms.contacts.contactgroup_delete %}
        <div class="list-buttons-container mr-2 mt-2 flex-grow mb-4">
          <div class="list-buttons flex items-center -mx-2">
            {% if 'delete' in actions %}
              <div onclick="onDeleteClicked()" class="button-action no-loading">
                <div class="-mt-1 mr-2 glyph icon-user-delete"></div>
                {% trans "Delete" %}
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
      {% block table %}
        <table cellspacing="0" class="{% get_list_class object_list %} list lined selectable">
          <thead>
          </thead>
          <tbody>
            {% for obj in object_list %}
              <tr onclick="handleRowClicked(event)"
                  data-uuid="{{ obj.uuid }}"
                  data-object-id="{{ obj.id }}"
                  class="select-row object-row">
                {% if org_perms.contacts.contactgroup_update %}
                  <td style="width:0px" class="checkbox object-row-checkbox">
                    <temba-checkbox onclick="handleRowSelection(this)">
                    </temba-checkbox>
                  </td>
                {% endif %}
                <td style="{% if not org_perms.contacts.contactgroup_update %}padding-left:0px;
                           {% endif %}"
                    class="pl-2">
                  {% if org_perms.contacts.contactfield_update %}
                    <div style="max-width:64rem"
                         onclick=""
                         class="overflow-ellipsis overflow-hidden whitespace-nowrap update pr-4">{{ obj.name }}</div>
                  {% else %}
                    <div class="w-128">{{ obj.name }}</div>
                  {% endif %}
                </td>
                <td>
                  {% if obj.query %}{{ obj.query }}{% endif %}
                </td>
                <td class="text-right">
                  <div class="pr-2">
                    {% filter intcomma %}
                      {% get_value obj 'count' %}
                    {% endfilter %}
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endblock table %}
    </div>
  </div>
{% endblock content %}
