-extends "contacts/contactfield_list.html"
-load smartmin i18n humanize

-block extra-script
  {{ block.super }}
  
  :javascript
    function handleFieldUpdated(event) {
      var store = document.querySelector("temba-store");
      store.refreshFields();
      document.querySelector("temba-menu").refresh();
    }

    function handleFieldClicked(event) {
      var key = event.detail.key;
      var action = event.detail.action;
      if (action == "update") {
        showUpdateContactFieldModal(key);
      } else if (action == "usages") {
        showFieldUsagesModal(key);
      } else if (action == "delete") {
        showFieldDeleteModal(key);
      }
    }

-block content

  %temba-field-manager(priority-endpoint='{% url "contacts.contactfield_update_priority" %}' -temba-selection="handleFieldClicked")

  -block pre-tables
    %temba-modax(id='update-field' header='{{_("Update Field")|escapejs}}' -temba-submitted="handleFieldUpdated")
    %temba-modax(id='delete-modal' header='{{_("Delete Field")|escapejs}}' -temba-submitted="handleFieldUpdated")
    %temba-modax(id='usages-modal' header='{{_("Usages")|escapejs}}')

-block extra-style
  {{block.super}}
    :css
      .page-content {
        align-self: auto;
        max-width: 100%;
      }

      .drag-handle {
        cursor: move;
        display: block;
      }

      .drag-icon {
        width: 15px;
      }

      .drag-icon:before {
        content: '';
        display: block;
        width: 15px;
      }

      .sortable-drag {
        background-color: #f5f9fa;;
      }

      .sortable-ghost {
        background-color: #f5f9ff;
      }

      .draggable-row .icon {
        display: none;
      }

      .draggable-row > td {
        cursor: move;
      }

      .draggable-row > td * {
        user-select: none;
        -webkit-user-select: none;
        pointer-events: none;
      }

      .draggable-row > td:nth-child(2) > div {
        padding-left: 0rem;
        cursor: move !important;
      }

      .draggable-row:hover .icon {
        display: inline-block;
        color: #cccccc;
      }

      tr:hover .delete-link {
        visibility: visible !important;
      }
