-extends "includes/modal.html"
-load smartmin i18n

-block modal
  -block pjax
    -if dep_flows
      -include "includes/dependents.haml" with dependents=dep_flows
    -if dep_campaignevents
      -include "includes/dependents.haml" with dependents=dep_campaignevents
    -if dep_groups
      -include "includes/dependents.haml" with dependents=dep_groups
