:css
  .controls {
    --textarea-height: 5em;
  }
%label.control-label
  {{contact_field.get_value_type_display}} Value
.controls
	-if contact_field
    -if contact_field.get_value_type_display == 'Text'
      %temba-textinput{ name:'field_value', type:'text', textarea:'true', value:'{%if value %}{{value}}{%endif%}'}
    -else
      %temba-textinput{ name:'field_value', type:'text', value:'{%if value %}{{value}}{%endif%}'}
	-else
		%temba-textinput{ name:'field_value',	type:'text', disabled:'disabled' }
