-extends "contacts/contact_list.haml"
-load i18n

-block title-text
  .title-text
    %h2
      -trans "Archived Contacts"
    %h5
      -trans "These contacts have been removed from all groups and can be deleted permanently."
