-extends "contacts/contact_list.haml"
-load i18n

-block title-text
  .title-text
    %h2
      -trans "Failed Contacts"
    %h5
      -trans "All messages to these contacts have failed, this may indicate their number is wrong"
