-load contacts humanize smartmin temba i18n sms

-for item in activity
  %tr{class:"{{item|history_class}}"}
    %td.icon
      %span.det{title:'{% if item.obj.channel %}{{item.obj.channel.get_channel_type_name}} {{item.obj.channel.get_name}}{% endif %}'}
        {{item|activity_icon}}

    %td.details.wrapped
      -if item.type == 'msg'
        -with item.obj as msg
          .activity-message
            -if msg.direction == 'O' and msg.broadcast.recipient_count > 1
              .sent-to
                .summary
                  Broadcast to {{msg.broadcast.recipient_count|intcomma}} recipients

            .activity-body
              -if item.obj.text
                .text{ style:"{% if msg.attachments %}margin-bottom:10px{% endif %}" }
                  {{item.obj.text}}

              -for attachment in msg.attachments
                {% attachment_button attachment %}

      -if item.type == 'broadcast'
        -with item.obj as broadcast
          .activity-broadcast
            -if broadcast.recipient_count > 1
              .sent-to
                .summary
                  Broadcast to {{broadcast.recipient_count|intcomma}} recipients

            .activity-body
              -if broadcast.translated_text
                .text{ style:"{% if broadcast.attachments %}margin-bottom:10px{% endif %}" }
                  {{broadcast.translated_text}}

              -for attachment in broadcast.attachments
                {% attachment_button attachment %}

      -elif item.type == 'channel-event'
        -with item.obj as event
          -if event.event_type == 'mt_miss'
            -trans "Missed call"
          -elif event.event_type == 'new_conversation'
            -trans "Started Conversation"
          -elif event.event_type == 'referral'
            -trans "Referred"
          -elif event.event_type == 'follow'
            -trans "Followed"
          -else
            -trans "Phone call"
            ({{event.extra.duration|format_seconds}})

      -elif item.type == 'call'
        -with item.obj as call
          -if call.status == 'D'
            -trans "Call Started"
          -else
            {{call.get_status_display}}

      -elif item.type == 'run-start' or item.type == 'run-exit'
        -with item.obj as run
          .activity-run
            .activity-body
              .summary
              -if item.type == 'run-exit'
                {{ run.get_exit_type_display }}
              -else
                Started
              %a{href:'{% url "flows.flow_editor" run.flow.uuid %}'}
                {{run.flow.name}}

      -elif item.type == 'event-fire'
        -with item.obj as eventfire
          %a{href:'{%url "campaigns.campaign_read" eventfire.event.campaign.pk %}'}><
            {{eventfire.event.campaign.name}}

          &nbsp;triggered

          %a{href:'{%url "campaigns.campaignevent_read" eventfire.event.pk %}'}
            {{eventfire.event|event_time}}

      -elif item.type == 'webhook-result'
        -with item.obj as result
          -if result.is_success
            -trans "Successfully called"
          -else
            -trans "Failed to call"
          {{result.url|truncatechars:100}}

    %td.created_on
      %span.time
        %span.short
          {{item.time|gmail_time}}
        %span.long.hide
          {{item.time}}

      .log-icon
        -if not user_org.is_anon or perms.contacts.contact_break_anon
          -if item.type == 'msg' or item.type == 'call'
            {% channel_log_link item.obj %}

          -if item.type == 'webhook-result'
            -with item.obj.event as event
              %a{href:"{%url 'api.log_read' event.id %}"}
                .icon-docs-2

-if has_older and not recent_only
  %tr{ ic-append-from:"/contact/history/{{contact.uuid}}/?after={{after}}&before={{before}}", 
       ic-trigger-on:"scrolled-into-view", 
       ic-target:"table.activity tbody.previous", 
       ic-indicator:"#indicator" }

