{% extends "smartmin/read.html" %}
{% load i18n humanize smartmin sms contacts compress temba channels %}

{% block title %}
  <div class="hidden" id="title-text">{{ title|default:"Contact Details" }}</div>
  <temba-contact-name-fetch contact="{{ object.uuid }}" -temba-refreshed="handleContactRefreshed" showLoading>
  </temba-contact-name-fetch>
{% endblock title %}
{% block content %}
  <temba-tabs -temba-context-changed="handleTabChanged"
              index="{{ request.GET.tab }}"
              collapses="true"
              class="flex-grow -mt-2">
    <temba-tab class="chat" icon="message" name="{{ _("Chat") |escapejs }}">
      <div style="border-top-right-radius: var(--curvature);" class="flex flex-grow flex-col overflow-y-auto">
        <temba-contact-chat contact="{{ object.uuid }}" monitor="true" avatar="{{ branding.logos.avatar }}">
        </temba-contact-chat>
      </div>
    </temba-tab>
    <temba-tab icon="info" name="{{ _("Details") |escapejs }}">
      <temba-contact-details contact="{{ object.uuid }}" class="p-4 overflow-y-auto">
      </temba-contact-details>
    </temba-tab>
    <temba-tab icon="fields" name="{{ _("Fields") |escapejs }}">
      <div style="border-top-right-radius: var(--curvature)"
           class="flex flex-grow flex-col p-4 overflow-y-auto">
        <temba-contact-fields timezone="{{ object.org.timezone }}"
                              contact="{{ object.uuid }}"
                              -temba-button-clicked="handleFieldSearch">
          <div slot="empty" class="no-fields p-16 text-center">
            <div class="text-xl mb-4">{% trans "No Fields" %}</div>
            {% blocktrans trimmed %}
              Nothing to see here yet. Create a new field to save data to your contacts.
            {% endblocktrans %}
          </div>
        </temba-contact-fields>
      </div>
    </temba-tab>
    <temba-tab icon="campaign" name="{{ _("Next Up") |escapejs }}" hideEmpty hidden>
      <div style="border-top-right-radius: var(--curvature)"
           class="flex flex-grow flex-col p-4 overflow-y-auto">
        <temba-contact-pending contact="{{ object.uuid }}" -temba-selection="handlePendingClicked">
        </temba-contact-pending>
      </div>
    </temba-tab>
    <temba-tab icon="tickets" name="{{ _("Tickets") |escapejs }}" hideEmpty hidden>
      <div style="border-top-right-radius: var(--curvature);" class="flex flex-grow flex-col overflow-y-auto">
        <temba-contact-tickets agent="{{ user.email }}"
                               contact="{{ object.uuid }}"
                               -temba-refreshed="handleTicketsRefreshed"
                               clickable="true"
                               -temba-button-clicked="handleTicketClicked"
                               class="m-4">
        </temba-contact-tickets>
      </div>
    </temba-tab>
    <temba-tab icon="notes"
               name="{{ _("Notepad") }}"
               activity
               activityColor="#ffbd00"
               selectionBackground="#fff9c2"
               borderColor="#ebdf6f">
      <temba-contact-notepad contact="{{ object.uuid }}">
      </temba-contact-notepad>
    </temba-tab>
  </temba-tabs>
{% endblock content %}
{% block extra-style %}
  {{ block.super }}
  <style type="text/css">
    .urn-link {
      display: inline-block;
    }

    .page-content {
      align-self: auto;
      max-width: 1024px;
    }
  </style>
{% endblock extra-style %}
{% block extra-script %}
  <script type="text/javascript">
    function contactUpdated(evt) {
      const details = document.querySelector("temba-contact-details");
      details.refresh();
      const contentMenu = document.querySelector("temba-content-menu");
      contentMenu.refresh();
    }

    function handleContactRefreshed(evt) {
      var contact = evt.detail.data;

      // if our contact refreshes, refresh our pendingEvents
      var pending = document.querySelector("temba-contact-pending");
      if (pending) {
        pending.refresh();
      }

      var menu = document.querySelector("temba-menu");
      if (menu) {
        menu.refresh();
      }
    }

    function handleTicketsRefreshed(evt) {}

    function handleTabChanged() {
      var tab = document.querySelector("temba-tabs").index;
      window.history.replaceState({
        url: "{% url 'contacts.contact_read' object.uuid %}",
        show: window.location.pathname + "?tab=" + tab
      }, "", "?tab=" + tab);
    }

    function handleFieldSearch(evt) {
      spaGet("/contact/?search=" + encodeURIComponent(evt.detail.key) + "+%3D+" + encodeURIComponent("\"" + evt.detail.value + "\""))
    }

    function handleTicketClicked(evt) {
      var ticket = evt.detail.ticket;
      spaGet("/ticket/all/" + ticket.status + "/" + ticket.uuid + "/");
    }

    function handlePendingClicked(evt) {
      var pending = evt.detail;

      if (pending.type == "campaign_event") {
        spaGet("/campaign/read/" + pending.campaign.uuid + "/");
      } else {
        spaGet("/broadcast/scheduled/");
      }
    }
  </script>
{% endblock extra-script %}
