-extends "contacts/contact_read.html" 
-load i18n

-block extra-style
  {{block.super}}
  :css
    html {
      overflow-y: hidden !important;
    }

    temba-contact-tickets {
      font-size: 1.1em;
    }

    temba-contact-tikets:hover {
      background: pink !important;
    }

-block extra-script
  :javascript
    function contactUpdated() {
      var badges = document.querySelector("temba-contact-badges");
      badges.refresh();
    }

    function handlePendingRefreshed(evt) {
      var pendingEvents = evt.detail.data;
      
      var tabs = document.querySelector("temba-tabs");
      var pendingTab = tabs.getTab(2);
      pendingTab.count = pendingEvents.length;
      tabs.requestUpdate();
    }

    function handleContactRefreshed(evt) {
      var contact = evt.detail.data;
      var tabs = document.querySelector("temba-tabs");

      // update our set field count
      var fields = Object.keys(contact.fields).filter(function (key) {
        return !!contact.fields[key]
      });

      var fieldTab = tabs.getTab(1);
      fieldTab.count = fields.length;

      // render our tabs
      tabs.requestUpdate();

      var store = document.querySelector("temba-store");
      
      var featured = document.querySelector(".featured-fields");
      var all = document.querySelector(".all-fields");

      var featuredCount = store.getFeaturedFields().length;
      var fieldCount = Object.keys(contact.fields).length;
      
      if (all) {
        all.classList.toggle("hidden", featuredCount > 0 && fieldCount-featuredCount === 0);
      }

      // if our contact refreshes, refresh our pendingEvents
      var pending = document.querySelector("temba-contact-pending");
      if (pending) {
        pending.refresh();
      }

      var menu = document.querySelector("temba-menu");
      if (menu) {
        menu.refresh();
      }
    }

    function handleTicketsRefreshed(evt) {
      var openTickets = evt.detail.data.filter(function (ticket) { 
        return ticket.status === "open"
      });      
      
      var tabs = document.querySelector("temba-tabs");
      var ticketsTab = tabs.getTab(3);
      ticketsTab.count = openTickets.length;
      tabs.requestUpdate();

    }

    function handleTabChanged() {
      var tab = document.querySelector("temba-tabs").index;
      window.history.replaceState({ url:"{% url 'contacts.contact_read' object.uuid %}", show: window.location.pathname + "?tab=" + tab }, "", "?tab=" + tab);
    }

    function handleFieldSearch(evt) {
      fetchURL("/contact/?search=" + encodeURIComponent(evt.detail.key) + "+%3D+" + encodeURIComponent("\"" + evt.detail.value + "\""))
    }

    function handlePendingClicked(evt) {
      var pending = evt.detail;
      
      if (pending.type == "campaign_event") {
        gotoURL("/campaign/read/" + pending.campaign.uuid);
      } else {
        gotoURL("/broadcast/scheduled/");
      }
    }

-block spa-title
  %temba-contact-name-fetch(contact="{{object.uuid}}" -temba-refreshed="handleContactRefreshed")

-block subtitle
  .summary.-mt-2
    %temba-contact-badges(contact="{{object.uuid}}")
    
-block content

  %temba-tabs.flex-grow.mt-4(-temba-context-changed="handleTabChanged" index="{{request.GET.tab}}" collapses="true")
    %temba-tab(icon="icon.message" name='{{_("Chat")|escapejs}}')
      .flex.flex-grow.flex-col.overflow-y-auto(style="border-top-right-radius: var(--curvature);")
        %temba-contact-chat(contact="{{object.uuid}}" monitor="true")

    %temba-tab(icon="icon.fields" name='{{_("Fields")|escapejs}}')
      .flex.flex-grow.flex-col.p-4.overflow-y-auto(style="border-top-right-radius: var(--curvature);")
        %temba-contact-fields.featured-fields.pb-4(timezone="{{object.org.timezone}}" contact="{{object.uuid}}" featured="true" -temba-button-clicked="handleFieldSearch")
        %temba-contact-fields.all-fields(timezone="{{object.org.timezone}}" contact="{{object.uuid}}" -temba-button-clicked="handleFieldSearch")
          .no-fields.p-16.text-center(slot="empty")
            .text-xl.mb-4
              -trans "No Fields"

            -blocktrans trimmed
              Nothing to see here yet. Create a new field to save data to your contacts.

    %temba-tab(icon="icon.campaign" name='{{_("Next Up")|escapejs}}')
      .flex.flex-grow.flex-col.p-4.overflow-y-auto(style="border-top-right-radius: var(--curvature);")
        %temba-contact-pending(contact="{{object.uuid}}" -temba-refreshed="handlePendingRefreshed" -temba-selection="handlePendingClicked")

          .no-pending.p-16.text-center(slot="empty")
            .text-xl.mb-4
              -trans "No Upcoming Events"

            -blocktrans trimmed
              Nothing to see here yet. Any messages or flows scheduled to be sent to this contact in the future will be shown here.  

    %temba-tab(icon="icon.tickets" name='{{_("Tickets")|escapejs}}')    
      .flex.flex-grow.flex-col.overflow-y-auto(style="border-top-right-radius: var(--curvature);")
        %temba-contact-tickets(contact="{{object.uuid}}" -temba-refreshed="handleTicketsRefreshed")
          .no-tickets.p-16.text-center(slot="empty")
            .text-xl.mb-4
              -trans "No Tickets"

            -blocktrans trimmed
              Nothing to see here yet. Use the Open Ticket action in one of your flows to open tickets.
