-extends "contacts/contact_list.haml"
-load i18n

-block title-text
  .title-text
    %h2
      -trans "Stopped Contacts"
    %h5
      -trans "These contacts have opted out and you can no longer send them messages, they have been removed from all groups."
