-load contacts humanize smartmin temba i18n sms

-for event in events
  %tr(class="{{event|history_class}}")
    %td.icon
      %span.det(title='{% if event.obj.channel %}{{event.obj.channel.get_channel_type_name}} {{event.obj.channel.get_name}}{% endif %}')
        {{ event|history_icon }}

    %td.details.wrapped.w-full
      -if event.type == 'airtime_transferred'
        -if event.actual_amount > 0
          -blocktrans trimmed with amount=event.actual_amount currency=event.currency
            Transferred <b>{{ amount }}</b> <b>{{ currency }}</b> of airtime
        -else
          -trans "Airtime transfer failed"

      -elif event.type == 'call_started'
        -if event.status == 'D'
          -trans "Call Started"
        -else
          {{ event.status_display }}

      -elif event.type == 'campaign_fired'
        %a(href='{%url "campaigns.campaign_read" event.campaign.id %}')><
          {{ event.campaign.name }}

        -if event.fired_result == 'S'
          &nbsp;skipped
        -else
          &nbsp;triggered

        %a(href='{%url "campaigns.campaignevent_read" event.campaign_event.id %}')
          {{ event.campaign_event.offset_display }} {{ event.campaign_event.relative_to.name }}

      -elif event.type == 'channel_event'
        -if event.channel_event_type == 'mt_miss'
          -trans "Missed outgoing call"
        -elif event.channel_event_type == 'mo_miss'
          -trans "Missed incoming call"
        -elif event.channel_event_type == 'new_conversation'
          -trans "Started Conversation"
        -elif event.channel_event_type == 'welcome_message'
          -trans "Welcome Message Sent"
        -elif event.channel_event_type == 'referral'
          -trans "Referred"
        -elif event.channel_event_type == 'follow'
          -trans "Followed"
        -elif event.channel_event_type == 'stop_contact'
          -trans "Stopped"
        -elif event.channel_event_type == 'mt_call'
          -trans "Outgoing Phone Call"
          ({{ event.duration|format_seconds }})
        -elif event.channel_event_type == 'mo_call'
          -trans "Incoming Phone call"
          ({{ event.duration|format_seconds }})
        -else
          -trans "Unknown/Unsupported"

      -elif event.type == 'contact_field_changed'
        -if event.value
          -blocktrans trimmed with name=event.field.name value=event.value.text
            Field <b>{{ name }}</b> updated to <b>{{ value }}</b>
        -else
          -blocktrans trimmed with name=event.field.name
            Field <b>{{ name }}</b> cleared

      -elif event.type == 'contact_groups_changed'
        -if event.groups_added
          -trans "Added to groups"
          -for group in event.groups_added
            <a href="{% url 'contacts.contact_filter' group.uuid %}">{{ group.name }}</a>{{ forloop|oxford }}
        -if event.groups_added and event.groups_removed
          %br
        -if event.groups_removed
          -trans "Removed from groups"
          -for group in event.groups_removed
            <a href="{% url 'contacts.contact_filter' group.uuid %}">{{ group.name }}</a>{{ forloop|oxford }}

      -elif event.type == 'contact_language_changed'
        -if event.language
          -blocktrans trimmed with language=event.language
            Language updated to <b>{{ language }}</b>
        -else
          -trans "Language cleared"

      -elif event.type == 'contact_name_changed'
        -if event.name
          -blocktrans trimmed with name=event.name
            Name updated to <b>{{ name }}</b>
        -else
          -trans "Name cleared"

      -elif event.type == 'contact_urns_changed'
        -trans "URNs updated to"
        -for urn in event.urns
          <b>{{ urn|format_urn:user_org }}</b>{{ forloop|oxford }}

      -elif event.type == 'error' or event.type == 'failure'
        {{ event.text }}

      -elif event.type == 'email_sent'
        -trans "Email sent to"
        -for address in event.to
          <b>{{ address }}</b>{{ forloop|oxford }}
        -trans "with subject"
        <b>{{ event.subject }}</b>

      -elif event.type == 'flow_entered' or event.type == 'flow_exited'
        .activity-run
          .activity-body
            .summary
            -if event.type == 'flow_exited'
              -if event.status == "I"
                -trans "Interrupted"
              -elif event.status == "X"
                -trans "Expired"
              -elif event.status == "F"
                -trans "Failed"
              -else
                -trans "Completed"
            -else
              -trans "Started"
            %a(href="{% url 'flows.flow_editor' event.flow.uuid %}")
              {{ event.flow.name }}

      -elif event.type == 'input_labels_added'
        -trans "Message labelled as"
        -for label in event.labels
          <a href="{% url 'msgs.msg_filter' label.uuid %}">{{ label.name }}</a>{{ forloop|oxford }}

      -elif event.type == 'broadcast_created'
        .activity-message
          .sent-to
            .summary
              Broadcast to {{event.recipient_count|intcomma}} recipients

          .activity-body
            -if event.msg.text
              .text(style="{% if msg.attachments %}margin-bottom:10px{% endif %}")
                {{ event.msg.text }}
            -for attachment in event.msg.attachments
              {% attachment_button attachment %}

      -elif event.type == 'msg_created' or event.type == 'msg_received' or event.type == "ivr_created"
        .activity-message
          .activity-body
            -if event.msg.text
              .text(style="{% if msg.attachments %}margin-bottom:10px{% endif %}")
                {{ event.msg.text }}
            -for attachment in event.msg.attachments
              {% attachment_button attachment %}

      -elif event.type == 'run_result_changed'
        -blocktrans trimmed with name=event.name category=event.category value=event.value
          Run result <b>{{ name }}</b> updated to <b>{{ value }}</b> with category <b>{{ category }}</b>

      -elif event.type == 'ticket_opened'
        -blocktrans trimmed with subject=event.ticket.subject
          Opened ticket <b>{{ subject }}</b>
      -elif event.type == 'ticket_reopened'
        -blocktrans trimmed with subject=event.ticket.subject
          Reopened ticket <b>{{ subject }}</b>
      -elif event.type == 'ticket_closed'
        -blocktrans trimmed with subject=event.ticket.subject
          Closed ticket <b>{{ subject }}</b>

      -elif event.type == 'webhook_called'
        -if event.status == "success"
          -trans "Successfully called"
        -else
          -trans "Failed to call"
        {{ event.url|truncatechars:100 }}

    %td.created_on
      .time.flex.items-end.justify-end
        %span.short
          {% short_datetime event.created_on|parse_isodate %}
        %span.long.hide
          {% format_datetime event.created_on|parse_isodate %}

    %td.text-center{style:"padding-left:0px"}
      -if event.logs_url
        .text-gray-400.hover-linked(onclick="goto(event)" href="{{ event.logs_url }}")
          .icon-docs-2.pointer-events-none

-if has_older and not recent_only
  %tr{ ic-append-from:"/contact/history/{{contact.uuid}}/?after={{ next_after }}&before={{ next_before }}",
       ic-trigger-on:"scrolled-into-view", 
       ic-target:"table.activity tbody.previous", 
       ic-indicator:"#indicator" }

-if not has_older and not recent_only and start_date
  -if start_date
    %tr.archive-note
      %td(colspan=3)><
        .inline
          -blocktrans trimmed with start=start_date
            Any messages prior to {{ start }} can be found in your
        %a(href="{% url 'archives.archive_message'%}")><
          -trans "archive"
        \.
