-extends 'includes/modax.html'
-load smartmin

-block modal-extra-style
  {{block.super}}
  :css
    input[name="field_value"]:disabled {
      background: #ffffff !important;
    }

    .loader-circles {
      position: absolute;
      left: 150px;
      top: 130px;
    }


-block modal-script
  {{block.super}}
  :javascript
    var input_url = '/contact/update_fields_input/{{contact.id}}/?field=';
    var body = document.querySelector("#update-custom-fields").shadowRoot.querySelector(".modax-body");
    var fieldSelect = body.querySelector("temba-select[name='contact_field']");
    fieldSelect.addEventListener('change', function(event) {
      var selectedField = event.target.values[0].value;
    	$(body).find('.rendered-field-input').attr('ic-src', input_url + selectedField);
      Intercooler.triggerRequest($(body).find('.rendered-field-input'));
    });

    {% if contact_field %}
    window.setTimeout(function(){
      fieldSelect.setSelection("{{contact_field.id}}");
    }, 0);
    {% endif %}


-block fields
  .field-choice
    -render_field 'contact_field'
  .loader-circles.hidden
  .rendered-field-input