-extends "includes/modal.html"

{% load smartmin %}
{% load i18n %}

-block modal
  -block pjax
    -if dep_flows
      .py-2
        -blocktrans trimmed count counter=dep_flows|length
          Used in the flow
          -plural
            Used in the flows
    
        -for flow in dep_flows
          %a{href:"{% url 'flows.flow_editor' flow.uuid%}"}<
            {{flow.name}}
          {{forloop|oxford}}

    -if dep_campaignevents
      .py-2
        -blocktrans trimmed count counter=dep_campaignevents|length
          Used in the campaign event
          -plural
            Used in the campaign events
    
        -for campaign_event in dep_campaignevents
          .inline<
            %a{href:"{% url 'campaigns.campaignevent_read' campaign_event.id %}"}
              {{ campaign_event.campaign.name }} - 
            
              -if campaign_event.offset < 0
                {{campaign_event.abs_offset}} {{campaign_event.get_unit_display|slice:"-1"}}{{campaign_event.offset|pluralize}} Before
              -elif campaign_event.offset == 0
                On
              -else
                {{campaign_event.abs_offset}} {{campaign_event.get_unit_display|slice:"-1"}}{{campaign_event.offset|pluralize}} After
              {{campaign_event.relative_to|title}}
            {{forloop|oxford}}

    -if dep_groups
      .py-2
        -blocktrans trimmed count counter=dep_groups|length
          Used in the group
          -plural
            Used in the groups

        -for group in dep_groups
          %a{href:"{% url 'contacts.contact_filter' group.uuid %}"}<
            {{ group.name }}
          {{forloop|oxford}}
