-extends "contacts/contact_list.html"
-load smartmin
-load i18n

-block title
  {{current_group.name}}
-block subtitle
  -if current_group.is_dynamic
    -trans "Smart group based on:"
    %i {{current_group.query}}

