{% extends "smartmin/base.html" %}

{% load smartmin %}
{% load i18n %}

-block page-top

-block content
  -block pjax

    -if has_uses
      .row
        .span5
          .has-related-flows
            %p
              %b
                {{ object.label }}
            %p
              -trans "cannot be deleted because it is in use. Usage summary:"
            %p
              -trans "Flows:"
              {{ object.flow_count }}
            %p
              -trans "Campaign events:"
              {{ object.campaign_count }}
            %p
              -trans "Contact groups:"
              {{ object.contactgroup_count }}


    -else
      .row
        .span5
          %p
            -trans "Are you sure you want to delete this field?"
          %p
            %b
              {{ object.label }}
          %p
            -trans "Once deleted, field will be gone forever. There is no way to undo this operation."

          <form method="POST">
            {% block delete_form %}{% endblock %}
          </form>





