-extends "contacts/contact_list.html"
-load smartmin
-load i18n

-block title
  -if current_group.is_dynamic
    // TODO new icon for dynamic groups?
    %span.title-icon
      .glyph.icon-users-2
  -else
    %span.title-icon
      .glyph.icon-users-2
  %h2.header-margin
    {{current_group.name}}

  -if current_group.is_dynamic
    %h5.header-margin
      -trans "Dynamic group based on:"
      %i {{current_group.query}}

-block buttons-right
  -block gear-menu
    -include "gear_links_include.haml"

-block post-content
  {{ block.super }}
  - if org_perms.msgs.broadcast_send
    - include "msgs/msg_send_modal.haml"

  - if org_perms.contacts.contactgroup_delete
    .group-deletion.hide
      .title
        -trans "Delete Contact Group"

      .body
        %p
          -trans "Are you sure you want to delete this Contact Group?"
        %p
          %b {{ current_group }}
          %p
            -trans "No contacts will be deleted. However, once this group is deleted, it will be gone forever. There is no way to undo this operation."

      %a#delete-form.posterize{href:'{% url "contacts.contactgroup_delete" current_group.pk %}'}

-block extra-script
  {{ block.super }}

  :javascript
    {% if org_perms.contacts.contactgroup_update %}
    $(".update-contactgroup").live('click', function(){
      var modal = new Modax('{% trans "Update Contact Group" %}', '{% url "contacts.contactgroup_update" current_group.pk %}');
      modal.setIcon('icon-users-2');
      modal.setListeners({
        onSuccess: function(data){location.reload(); },
        onFormLoaded: function(){$('#id_join_flow').select2(); }
      });
      modal.show();
    });
    {% endif %}

    {% if org_perms.contacts.contactgroup_delete %}
    $(".delete-contactgroup").live('click', function(){
      modal = new ConfirmationModal($('.group-deletion > .title').html(), $('.group-deletion > .body').html());
      modal.addClass('alert');
      modal.setListeners({onPrimary: function(){
        $('#delete-form').click();
      }}, false);
      modal.setPrimaryButton('{% trans "Delete" %}');
      modal.show();
   });
   {% endif %}
