-load contacts humanize smartmin temba i18n

-for item in activity
  %tr{class:"{{item|history_class}}"}
    %td.icon
      %span.det{title:'{% if item.obj.channel %}{{item.obj.channel.get_channel_type_name}} {{item.obj.channel.get_name}}{% endif %}'}
        {{item|activity_icon}}

    %td.details.wrapped
      -if item.type == 'msg' or item.type == 'broadcast'
        -if item.type == 'msg'
          -with item.obj as message
            .activity-message
              -if message.direction == 'O'
                -if message.broadcast.recipient_count > 1
                  .sent-to
                    .summary
                      Broadcast to {{message.broadcast.recipient_count|intcomma}} recipients
              .activity-body
                .text
                  {{message.text}}

        -elif item.type == 'broadcast'
          -with item.obj as broadcast
            .activity-broadcast
              -if broadcast.recipient_count > 1
                .sent-to
                  .summary
                    Broadcast to {{broadcast.recipient_count|intcomma}} recipients
              .activity-body
                {{broadcast.translated_text}}

        -for attachment in item.obj.attachments
          -with media_type=attachment|media_type media_content_type=attachment|media_content_type media_url=attachment|media_url extension=attachment|media_url|extension|upper
            .activity-attachment{ id:"attachment-{{ item.obj.id }}-{{ forloop.counter }}" }
              -if media_type == 'image'
                %a.attachment-preview{ href:"#", data-featherlight:'<img class="image-full" src="{{media_url}}"/>' }
                  .attachment-icon.icon-photo
                  {{extension}}

              -elif media_type == 'audio'
                %a.attachment-preview{ href:"#", data-featherlight:'<audio style="width: 360px" controls><source type="{{media_content_type}}" src="{{media_url}}" /></audio>' }
                  .attachment-icon.icon-volume-medium
                  {{extension}}

              -elif media_type == 'video'
                %a.attachment-preview{ href:"#", data-featherlight:'<video controls><source type="{{media_content_type}}" src="{{media_url}}" /></video>' }
                  .attachment-icon.icon-videocam
                  {{extension}}

              -elif media_type == 'geo'
                %a.attachment-preview{ href:"{{item.obj.media|osm_link}}", target:"_loc" }
                  .attachment-icon.icon-pin_drop
                  {{attachment|location}}

              -else
                .attachment-preview
                  .attachment-icon.icon-docs
                  {{extension}}

              -if media_type != 'geo'
                %a.attachment-download{ href:"{{media_url}}" }
                  .icon-file_download

      -elif item.type == 'channel-event'
        -with item.obj as event
          -if event.event_type == 'mt_miss'
            Missed call
          -else
            Phone call ({{event.duration|format_seconds}})

      -elif item.type == 'call'
        -with item.obj as call
          -if call.status == 'D'
            -trans "Call Started"
          -else
            {{call.get_status_display}}

      -elif item.type == 'run-start' or item.type == 'run-exit'
        -with item.obj as run
          .activity-run
            .activity-body
              .summary
              -if item.type == 'run-exit'
                {{ run.get_exit_type_display }}
              -else
                Started
              %a{href:'{% url "flows.flow_editor" run.flow.uuid %}'}
                {{run.flow.name}}

      -elif item.type == 'event-fire'
        -with item.obj as eventfire
          %a{href:'{%url "campaigns.campaign_read" eventfire.event.campaign.pk %}'}><
            {{eventfire.event.campaign.name}}

          &nbsp;triggered

          %a{href:'{%url "campaigns.campaignevent_read" eventfire.event.pk %}'}
            {{eventfire.event|event_time}}

      -elif item.type == 'webhook-result'
        -with item.obj as result
          -if result.is_success
            -trans "Successfully called"
          -else
            -trans "Failed to call"
          {{result.url|truncatechars:100}}

    %td.created_on
      %span.time
        %span.short
          {{item.time|gmail_time}}
        %span.long.hide
          {{item.time}}

      .log-icon
        -if not user_org.is_anon or perms.contacts.contact_break_anon
          -if item.type == 'msg' or item.type == 'call'
            -with item.obj.get_last_log as log
              -if log
                -if log.session
                  %a{href:"{% url 'channels.channellog_session' log.session.id %}"}
                    .icon-docs-2
                -else
                  %a{href:"{% url 'channels.channellog_read' log.id %}"}
                    .icon-docs-2
          -if item.type == 'webhook-result'
            -with item.obj.event as event
              %a{href:"{%url 'api.log_read' event.id %}"}
                .icon-docs-2


-if has_older and not recent
  %tr{ ic-append-from:"/contact/history/{{contact.uuid}}/?after={{after}}&before={{before}}", 
       ic-trigger-on:"scrolled-into-view", 
       ic-target:"table.activity tbody.previous", 
       ic-indicator:"#indicator" }

