-extends 'includes/modal.html'
-load i18n temba smartmin

-block modal
  -if has_uses
    -blocktrans trimmed with name=object.label 
      <b>{{name}}</b> cannot be deleted since it is currently in use.
  -else
    -blocktrans trimmed with name=object.label 
      Are you sure you want to delete <b>{{name}}</b>? This cannot be undone.

    .hidden
      %form(method="POST")
        %input(type="submit" value="{{submit_button_name}}")




