-extends 'includes/modax.haml'
-load i18n

-block form-buttons
  .form-actions
    %input.btn.btn-primary{type:"submit", value:"{{ submit_button_name }}"}
    %a.btn{onclick:"javascript:history.go(-1)"}
      -trans "Cancel"

-block title-icon
  %span.title-icon
    .glyph.icon-users-2
