- extends "contacts/contact_import.html"

- load smartmin temba
-load i18n

- block import-status
  -blocktrans
    We noticed your file contains some extra columns to import, you can add these as custom fields on
    your contact by selecting them below.

  .card.w-full

    %form.smartmin-form.horizontal-form{method:"post", action:"{% url 'contacts.contact_customize' object.pk %}", enctype:"multipart/form-data"}
      -csrf_token
      -if form.non_field_errors
        %div.alert.alert-error.form-errors
          {{ form.non_field_errors }}

      -block fields
        %fieldset
          %table
            -for column_control in column_controls
              %tr.custom-field.flex.w-full.items-center
                %td.field-include-checkbox.mt-2.flex-none
                  {% render_field column_control.include_field %}
                %td.field-form-label.flex-grow
                  %div.pr-4
                    <b>{{ column_control.header|title }}</b>
                    -trans "column as"
                %td.field-as-name.pt-3
                  {% render_field column_control.label_field %}
                %td.field-form-label.for-type.flex-none
                  %div.px-4
                    -blocktrans
                      of type
                %td.field-as-type.for-type.flex-none.pt-3
                  {% render_field column_control.type_field %}

      .flex.mt-4
        %input.button-primary{type:"submit", value:"Add Fields"}
        .ml-4.button-light{onclick:"javascript:history.go(-1)"}
          -trans "Cancel"


-block extra-style
  :css
    #customize-info {
      font-weight: bold;
    }

    .field-as-type {
      width: 120px;
    }

    .field-form-label div {
    }
    .field-as-name  {
      width: 200px;
    }

    .field-as-type {
       width: 120px;
    }

    .field-as-type, .field-as-name {

    }

    .field-form-label {

    }

    .for-type {

    }
