-load i18n

.page-title
  Contacts

.mt-4
  -blocktrans with name=brand.name
    Contacts will automatically be added here as you communicate with them using {{name}}.
    From here you can change a contact's name, organize them into groups and see the communication you've had with each.

.mt-2
  {% url 'contacts.contact_import' as contact_import_url %}
  -blocktrans
    To get started you can
      %a{href:'{{contact_import_url}}'} import contacts
    from a file you create in Excel.
