-load i18n

.flex.flex-col.p-12
  .page-title
    Contacts

  .mt-4
    -blocktrans trimmed with name=brand.name
      Contacts will automatically be added here as you communicate with them using {{name}}.
      From here you can change a contact's name, organize them into groups and see the communication you've had with each.

  .mt-2
    {% url 'contacts.contactimport_create' as contact_import_url %}
    -blocktrans trimmed with url=contact_import_url
      To get started you can <a href="{{ url }}">import</a> contacts from a file you create in Excel.
