-load i18n

.span3
  #big-help.glyph.icon-contact

.span5
  %h2
    -trans "Your Contacts"

  #little-help
  %p
    -blocktrans with name=brand.name
      Contacts will automatically be added here as you communicate with them using {{name}}.
      From here you can change a contact's name, organize them into groups and see the communication you've had with each.

  %p
    {% url 'contacts.contact_import' as contact_import_url %}
    -blocktrans
      To get started you can
        %a{href:'{{contact_import_url}}'} import contacts
      from a file you create in Excel.
