-load i18n

-blocktrans trimmed
  To finish configuring your connection, you'll need to set the following callback URL on your app
  Event Subscription Request URL and enable users to send messages to bot.
  <a href="https://api.slack.com/apis/connections/events-api#the-events-api__subscribing-to-event-types" target="_blank">More info</a>.

.card.mt-6
  .title
    -trans "Request URL"
  .code.inline-block.m-0
    https://{{ channel.callback_domain }}/c/sl/{{ channel.uuid }}/receive/


%h3
  -blocktrans trimmed
    How to setup Request URL and subscribe to events:

%ol.steps.card
  %li
    -blocktrans trimmed
      Copy Request URL, access <a href="https://api.slack.com/apps" target="_blank">https://api.slack.com/apps</a> and select your bot app.
  %li
    -blocktrans trimmed
      From left side menu Features, access Event Subscriptions page, enable Events and paste Request URL into input field.
  %li
    -blocktrans trimmed
      On Events Subscriptions page, Subscribe to bot events (file_created, message.im).
  %li
    -blocktrans trimmed
      Save the changes and then you will be asked to reinstall the app to your slack workspace to complete events subscription.

%h3
  -blocktrans trimmed
    How to enable users to send messages to bot on slack workspace:

%ol.steps.card
  %li
    -blocktrans trimmed
      Access <a href="https://api.slack.com/apps" target="_blank">https://api.slack.com/apps</a>, select your bot app.
  %li
    -blocktrans trimmed
      From left side menu Features, access App Home, in "Show Tabs" card section, turn on "Messages Tab".
  %li
    -blocktrans trimmed
      When the Messages Tab is activated a checkbox will appear, check it to allow users to send Slash commands and messages.
