-load i18n

.span3
  #big-help.glyph.icon-photo

.span5
  %h2
    -trans "Your Flow Images"

  #little-help
  %p
    -blocktrans
      Flow images will be added here as you communicate with your contacts and they send images to flows.
