-extends "smartmin/list.html"
-load smartmin sms contacts temba
-load i18n humanize

-block page-title
  -if current_object
    -trans "Flow Images - "
    {{current_object.name}}
  -else
    {{title}}

-block page-top

-block title-icon
  .title-icon
    %span.glyph.icon-photo

-block content

  #pjax
    -block pjax
      .lp-frame
        .left
          .lp-nav.upper
            .font-normal.uppercase.text-xs.pb-1.text-gray-500
              - trans "Flow Images"
            .inner-scroll
              - for folder in folders
                .lp-nav-item(class="{% if folder.url == request_url %}font-normal{% endif %}")
                  .name(onclick="goto(event)" href='{{ folder.url }}')
                    {{ folder.label }}
                  .count(onclick="goto(event)" href='{{ folder.url }}')
                    {{ folder.count | intcomma }}

          .lp-nav.lower
            .font-normal.uppercase.text-xs.text-gray-500.pb-1
              - trans "Images by Flows"
            .inner-scroll
              - for flow in flows
                .lp-nav-item(class="{% if current_object.uuid == flow.uuid %}font-normal{% endif %}")
                  .name(onclick="goto(event)" href='{% url "flows.flowimage_filter" "flow" flow.uuid %}')
                    {{ flow.name }}
                  .count(onclick="goto(event)" href='{% url "flows.flowimage_filter" "flow" flow.uuid %}')
                    {{ flow.get_images_count | intcomma }}

          .lp-nav.lower
            .font-normal.uppercase.text-xs.text-gray-500.pb-1
              - trans "Images by Groups"
            .inner-scroll
              - for group in groups
                .lp-nav-item(class="{% if current_object.uuid == group.uuid %}font-normal{% endif %}")
                  .name(onclick="goto(event)" href='{% url "flows.flowimage_filter" "group" group.uuid %}')
                    {{ group.name }}
        .right
          - if org_has_flowimages or org_has_flowimages_archived
            - block contacts-list
              .flex.w-full.mb-4.items-end.flex-wrap.justify-end.-mt-2(style="min-height:41px")

                -block action-buttons
                  .list-buttons-container.h-full.mr-2.mt-2.flex-grow
                    .list-buttons.flex.items-center.-mx-2.h-full
                      - if 'download' in actions and org_perms.flows.flowimage_download
                        .button-action.object-btn-download
                          .-mt-1.mr-2.glyph.icon-cloud-download
                          -trans "Download"

                      - if 'restore' in actions and org_perms.flows.flowimage_action_restore
                        .button-action.object-btn-restore
                          .-mt-1.mr-2.glyph.icon-checkmark
                          -trans "Activate"

                      - if 'archive' in actions and org_perms.flows.flowimage_action_archive
                        .button-action.object-btn-archive
                          .-mt-1.mr-2.glyph.icon-box
                          -trans "Archive"

                      - if 'delete' in actions and org_perms.flows.flowimage_action_delete
                        .button-action.object-btn-delete
                          .-mt-1.mr-2.glyph.icon-user-delete
                          -trans "Delete"

                  .flex-grow.ml-1.self-end.items-end
                    .flex.flex-col.pr-12
                      .page-title.leading-tight
                        -block title
                          -if current_group
                            {{current_group.name}}
                          -else
                            {{title}}
                      .subtitle
                        -block subtitle
                  .gear-links
                    -include "gear_links_include.haml"

              %form#search-form.mb-4(method="get")
                %temba-textinput.w-full(placeholder='{% trans "Search" %}' name="search" value="{{search}}")

              -if search_error
                .mb-4.ml-2
                  %span.search-error
                    =search_error
              -elif search
                .mb-4.ml-1.text-base.leading-relaxed
                  -blocktrans with results_count=paginator.count|intcomma count cc=paginator.count
                    Found {{ results_count }} contact matching <i>{{search}}</i>.
                    -plural
                      Found {{ results_count }} contacts matching <i>{{search}}</i>.

              %form#download-images{method:'POST', action:'{% url "flows.flowimage_download" %}', style:'display:none'}
                -csrf_token
                %input#objects{type:'hidden', name:'objects'}
                %input#type{type:'hidden', name:'type'}
                %input#uuid{type:'hidden', name:'uuid'}

              %table.list.object-list.lined.selectable{style: '{% if not org_perms.flows.flowimage_list %}margin-top:10px{% endif %}'}
                -if object_list
                  %tr.flowimages
                    %th.checkbox.object-row-checkbox
                      .glyph.icon-checkbox-unchecked.flowimage-checkbox.object-row-checkbox{'title':'Select/Deselect all items'}
                    %th.select-all-items-text{'style': 'text-align: left'}
                      -trans "Select all items"
                    -if not current_object.flow_type
                      %th
                        -trans "Flow"
                    %th
                      -trans "Image"
                    -for field in contact_fields
                      -if field.show_in_table
                        %th
                          {{ field.label }}
                    %th
                      -trans "Created On"

                    %tbody.infinite-scroll
                      - for object in object_list
                        %tr.flowimage.select-row.object-row(data-uuid="{{object.uuid}}" data-object-id="{{object.id}}" onrowclick='handleRowClicked("{{object.uuid}}")')
                          - if org_perms.flows.flowimage_archived
                            %td.flowimage.checkbox.object-row-checkbox
                              %temba-checkbox(onclick="handleRowSelection(this)")
                          %td.value-text.field_name
                            %span
                              {{ object.contact|name_or_urn:user_org }}
                          -if not current_object.flow_type
                            %td.value-text.field_name{'style': 'text-align: center'}
                              %span
                                {{ object.flow.name }}
                          %td.value-text.field_name{'style': 'text-align: center; min-width: 50px'}
                            -if object.is_playable
                              %a.attachment-preview{
                                href:"#",
                                data-featherlight:'<video class="video-js vjs-default-skin" controls preload="auto"><source type="{{ object.get_content_type }}" src="{{ object.get_url }}" /></video>',
                                data-featherlight-after-content:'initializeVideoPlayer(this.$content[0])',
                                data-featherlight-after-close:'disposeVideoPlayer(this.$content[0])'
                              }
                                .attachment-icon.icon-videocam{'style': 'font-size: 18px;'}
                            -else
                              %a{'href':'#', 'data-featherlight':'<img class="image-full" src="{{ object.get_url }}"/>'}
                                -if object.path_thumbnail
                                  %img.thumbnail{'src':'{{ object.path_thumbnail }}'}
                                -else
                                  .attachment-icon.icon-photo{'style': 'font-size: 18px;'}

                          -for field in contact_fields
                            -if field.show_in_table
                              %td.field
                                {{ object.contact|contact_field:field.key }}

                          %td.value-received.field_received
                            %nobr
                              {{ object.created_on|gmail_time }}

                      -empty
                        %tr
                          %td(colspan="99")
                            -trans "No matching flow images."


              .flex.flex-col.mb-16
                -include "includes/pagination.haml"

                -if paginator.is_es_search and not page_obj.has_next_page and page_obj.number == paginator.num_pages and paginator.count > 10000
                  .text-gray-400.text-sm.self-end.mt-2
                    -trans "To view more than 10,000 search results, save it as a group."

          - if not object_list
            - include "flowimages/empty_include.haml"

-block post-content

-block extra-style
  {{block.super}}
  :css
    .thumbnail {
      width: 50px;
    }

-block extra-script
  {{ block.super }}

  %script{src:"{{ STATIC_URL }}js/jquery.ias.min.js"}

  :javascript

    $('.page-content').on('click', '.object-btn-download', function () {
      var objects = getCheckedIds();
      $('input#objects').val(objects);
      $('form#download-images').submit();
    });

    $(document).ready(function () {
      var ias = $.ias({
        container: ".infinite-scroll",
        item: "tr",
        pagination: ".paginator .span9 .pagination",
        next: "li.next a"
      });
      ias.extension(new IASSpinnerExtension());
      ias.extension(new IASPagingExtension());
        ias.on('next', function(url) {
          if(url == '#'){
            ias.destroy();
            return false;
          } else {
            return true;
          }
        });
    });

    document.querySelectorAll(".download-all-images").forEach(el => {
      el.addEventListener("click", (e) => {
        e.preventDefault();
        let path = document.location.pathname;
        let split = path.split('/');
        if (split[2] === 'filter') {
          $('input#type').val(split[3]);
          $('input#uuid').val(split[4]);
        } else if (split[2] === 'archived') {
          $('input#type').val('archived');
        }
        else {
          $('input#type').val('list');
        }
        $('form#download-images').submit();
      });
    });
